@use "@guebbit/css-toolkit" as guebbit;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "simple-text-icon" !default;

// main
$color: null !default;
$color--light: guebbit.no-null-var(($color, inherit)) !default;
$color--dark: guebbit.no-null-var(($color, inherit)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;

$rotate: 0deg !default;
$scale: 1 !default;
$slide-x: 0 !default;
$slide-y: 0 !default;

$active-rotate: $rotate !default;
$active-scale: $scale !default;
$active-slide-x: $slide-x !default;
$active-slide-y: $slide-y !default;

$duration: 0.3s !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  --#{$css-ui-var-prefix}color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color, #{$color--light});
  --#{$css-ui-var-prefix}rotate: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-rotate, #{$rotate});
  --#{$css-ui-var-prefix}scale: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-scale, #{$scale});
  --#{$css-ui-var-prefix}slide-x: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-slide-x, #{$slide-x});
  --#{$css-ui-var-prefix}slide-y: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-slide-y, #{$slide-y});
  --#{$css-ui-var-prefix}active-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-color, #{$active-color--light});
  --#{$css-ui-var-prefix}active-rotate: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-rotate, #{$active-rotate});
  --#{$css-ui-var-prefix}active-scale: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-scale, #{$active-scale});
  --#{$css-ui-var-prefix}active-slide-x: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-slide-x, #{$active-slide-x});
  --#{$css-ui-var-prefix}active-slide-y: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-slide-y, #{$active-slide-y});
  --#{$css-ui-var-prefix}duration: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-duration, #{$duration});

  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 1em;
  margin: 0.4em;
  text-decoration: none;

  .text-icon{
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.5em;
    color: var(--#{$css-ui-var-prefix}color);
    transform:
            rotateX(var(--#{$css-ui-var-prefix}rotate))
            scale(var(--#{$css-ui-var-prefix}scale))
            translate(var(--#{$css-ui-var-prefix}slide-x), var(--#{$css-ui-var-prefix}slide-y));
    transition:
            transform var(--#{$css-ui-var-prefix}duration),
            color var(--#{$css-ui-var-prefix}duration);

    svg{
      fill: currentcolor;
      width: 1em;
      height: 1em;
    }
  }

  &.column-mode{
    flex-direction: column;
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    .text-icon {
      color: var(--#{$css-ui-var-prefix}active-color);
      transform:
              rotateX(var(--#{$css-ui-var-prefix}active-rotate))
              scale(var(--#{$css-ui-var-prefix}active-scale))
              translate(var(--#{$css-ui-var-prefix}active-slide-x), var(--#{$css-ui-var-prefix}active-slide-y));
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    --#{$css-ui-var-prefix}color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color, #{$color--dark});
    --#{$css-ui-var-prefix}active-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-color, #{$active-color--dark});
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
