/* Main $variables */

.simple-text-icon {
    --color: var(--simple-text-icon-color, rgba(var(----color, inherit)));
  --active-color: var(--simple-text-icon-active-color, rgba(var(----active-color, inherit)));
  --rotate: var(--simple-text-icon-rotate, 0deg);
  --scale: var(--simple-text-icon-scale, 1);
  --slide-x: var(--simple-text-icon-slide-x, 0);
  --slide-y: var(--simple-text-icon-slide-y, 0);
  --active-rotate: var(--simple-text-icon-active-rotate, 0deg);
  --active-scale: var(--simple-text-icon-active-scale, 1);
  --active-slide-x: var(--simple-text-icon-active-slide-x, 0);
  --active-slide-y: var(--simple-text-icon-active-slide-y, 0);
  --duration: var(--simple-text-icon-duration, 0.3s);

  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 1em;
  margin: 0.4em;
  text-decoration: none;

  .text-icon{
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.5em;
    color: var(--color);
    transform:
            rotateX(var(--rotate))
            scale(var(--scale))
            translate(var(--slide-x), var(--slide-y));
    transition:
            transform var(--duration),
            color var(--duration);

    svg{
      fill: currentcolor;
      width: 1em;
      height: 1em;
    }
  }

  &.column-mode{
    flex-direction: column;
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    .text-icon {
      color: var(--active-color);
      transform:
              rotateX(var(--active-rotate))
              scale(var(--active-scale))
              translate(var(--active-slide-x), var(--active-slide-y));
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .simple-text-icon {
      --color: var(--simple-text-icon-color, rgba(var(----color, inherit)));
  --active-color: var(--simple-text-icon-active-color, rgba(var(----active-color, inherit)));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .simple-text-icon {
      --color: var(--simple-text-icon-color, rgba(var(----color, inherit)));
  --active-color: var(--simple-text-icon-active-color, rgba(var(----active-color, inherit)));
  }

}