@use '../../../_generics/variables' as globals;
@forward '../../../_generics/variables';

$css-ui-component-name: 'credit-card' !default;

$duration: 0.6s !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';
