@use "sass:list";

// filled in /global/colors
$g-colors-collection: () !default;

@mixin guebbit-include-brand-colors($brand-list: (), $prefix: "") {
  @each $sname, $scolor in map-get($g-colors-collection, "brands") {
    // if brand list is filled, need to exclude all except the brands in the list
    @if length($brand-list) < 1 OR map-has-key($brand-list, $sname) {
      // if it's a fallback, then I remove the "-fallback" so it will just
      // substitute the original where it needs a fallback
      @if g-ends-with($sname, "-fallback") {
        .#{$prefix}#{list.nth(g-split($sname, "-"), 1)}-color {
          color: $scolor !important;
        }
      } @else {
        // normal
        .#{$prefix}#{$sname}-color {
          color: $scolor !important;

          &::after,
          &::before {
            background: $scolor !important;
          }

          &.hover-bg {
            &:hover {
              color: inherit !important;
              background: $scolor !important;
            }
          }
        }
      }
    }
  }
}

/**
  Flex gap
  @param {Array<name,value>[]} measure-list - postfix name and value
 */
@mixin guebbit-include-flex-gap($measure-list: (), $prefix: "") {
  @each $name, $val in $measure-list {
    .#{$prefix}flex-gap-#{$name} {
      gap: #{$val} !important;
    }
  }
}

/**
  Font size in em & rem
  @param {Array<name,value>[]} measure-list - postfix name and value
 */
@mixin guebbit-include-font-size($measure-list: (), $prefix: "") {
  @each $name, $val in $measure-list {
    .#{$prefix}font-size-#{$name} {
      font-size: #{$val} !important;
    }
  }
}

/**
  t - applies the spacing for margin-top and padding-top
  b - applies the spacing for margin-bottom and padding-bottom
  l - applies the spacing for margin-left and padding-left
  r - applies the spacing for margin-right and padding-right
  x - applies the spacing for both *-left and *-right
  y - applies the spacing for both *-top and *-bottom
  a - applies the spacing for the property in all directions
  @param {Array<name,value>[]} measure-list - postfix name and value
 */
@mixin guebbit-include-margin($measure-list: (), $prefix: "") {
  @each $name, $val in $measure-list {
    .#{$prefix}mt-#{$name} {
      margin-top: #{$val} !important;
    }
    .#{$prefix}mb-#{$name} {
      margin-bottom: #{$val} !important;
    }
    .#{$prefix}ml-#{$name} {
      margin-left: #{$val} !important;
    }
    .#{$prefix}mr-#{$name} {
      margin-right: #{$val} !important;
    }
    .#{$prefix}mx-#{$name} {
      margin-right: #{$val} !important;
      margin-left: #{$val} !important;
    }
    .#{$prefix}my-#{$name} {
      margin-top: #{$val} !important;
      margin-bottom: #{$val} !important;
    }
    .#{$prefix}ma-#{$name} {
      margin: #{$val} !important;
    }
  }
}
// same but for paddings
@mixin guebbit-include-padding($measure-list: (), $prefix: "") {
  @each $name, $val in $measure-list {
    .#{$prefix}pt-#{$name} {
      padding-top: #{$val} !important;
    }
    .#{$prefix}pb-#{$name} {
      padding-bottom: #{$val} !important;
    }
    .#{$prefix}pl-#{$name} {
      padding-left: #{$val} !important;
    }
    .#{$prefix}pr-#{$name} {
      padding-right: #{$val} !important;
    }
    .#{$prefix}px-#{$name} {
      padding-right: #{$val} !important;
      padding-left: #{$val} !important;
    }
    .#{$prefix}py-#{$name} {
      padding-top: #{$val} !important;
      padding-bottom: #{$val} !important;
    }
    .#{$prefix}pa-#{$name} {
      padding: #{$val} !important;
    }
  }
}
