@use '../../../_generics' as generics;
@use 'variables' as vars;

@mixin calendar-card-architecture($prefix: vars.$css-ui-component-prefix) {
    @include generics.generate-vars(vars.$component-variables-map, $prefix);

    @include generics.base-layout();

    position: relative;
    box-shadow: 0 4px 8px generics.base-parameter-rgba(main-color);
    line-height: 1.2;
    border-radius: 12px;
    transition:
        color var(--#{$prefix}duration),
        box-shadow var(--#{$prefix}duration);

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: -0.75em;
        display: inline-block;
        height: 1.5em;
        width: 1em;
        background-color: generics.base-parameter-rgba(main-color);
        z-index: 1;
        border-radius: 24px;
        transition: background-color var(--#{$prefix}duration);
    }

    &::before {
        left: 20%;
    }

    &::after {
        right: 20%;
    }

    & > * {
        &:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    .#{generics.$css-ui-class-prefix}calendar-head {
        text-align: center;
        background-color: generics.base-parameter-rgba(main-color);
        padding: var(--#{$prefix}padding) calc(var(--#{$prefix}padding) * 3);
        transition:
            background-color var(--#{$prefix}duration),
            color var(--#{$prefix}duration);
    }

    .#{generics.$css-ui-class-prefix}calendar-body {
        display: block;
        text-align: center;
        background-color: generics.base-parameter-rgba(main-color);
        transition:
            background-color var(--#{$prefix}duration),
            color var(--#{$prefix}duration);
    }

    .#{generics.$css-ui-class-prefix}calendar-info-day {
        position: relative;
        font-size: 2.5em;
        font-weight: 600;
    }

    small.#{generics.$css-ui-class-prefix}calendar-info-time {
        opacity: 0.75;
    }

    .#{generics.$css-ui-class-prefix}calendar-info-time {
        & > span {
            &::after {
                content: ':';
                margin-left: 0.1em;
                margin-right: 0.05em;
                font-weight: 600;
                transition: color var(--#{$prefix}duration);
            }

            &:last-of-type {
                &::after {
                    content: normal;
                }
            }
        }
    }

    @include generics.interaction-states() {
        box-shadow: 0 6px 16px generics.base-parameter-rgba(active-main-color);

        &::before,
        &::after {
            background-color: generics.base-parameter-rgba(active-main-color);
        }

        .#{generics.$css-ui-class-prefix}calendar-head {
            background-color: generics.base-parameter-rgba(active-main-color);
        }

        .#{generics.$css-ui-class-prefix}calendar-body {
            background-color: generics.base-parameter-rgba(active-main-color);
        }
    }

}