.advancing-moon-reveal{
    --duration: var(--advancing-moon-reveal-duration, 2s);
  --blur-start: var(--advancing-moon-reveal-blur-start, 10px);
  --blur-end: var(--advancing-moon-reveal-blur-end, 0);
  --opacity-start: var(--advancing-moon-reveal-opacity-start, 0.5);
  --opacity-end: var(--advancing-moon-reveal-opacity-end, 1);
  --scale-start: var(--advancing-moon-reveal-scale-start, 0.6);
  --scale-end: var(--advancing-moon-reveal-scale-end, 1);
  --slide-x-start: var(--advancing-moon-reveal-slide-x-start, -60%);
  --slide-x-end: var(--advancing-moon-reveal-slide-x-end, 0);
  --slide-y-start: var(--advancing-moon-reveal-slide-y-start, 0);
  --slide-y-end: var(--advancing-moon-reveal-slide-y-end, 0);

  opacity: var(--opacity-start);
  filter: blur(var(--blur-start));
  transform:
          translate(var(--slide-x-start), var(--slide-y-start))
          scale(var(--scale-start));
  transition:
          filter calc(var(--duration) * 10),
          opacity var(--duration),
          transform calc(var(--duration) * 10);

  &.animation-inverted{
    opacity: var(--opacity-end);
    filter: blur(var(--blur-end));
    transform:
            translate(var(--slide-x-end), var(--slide-y-end))
            scale(var(--scale-end));
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    opacity: var(--opacity-end);
    filter: blur(var(--blur-end));
    transform:
            translate(var(--slide-x-end), var(--slide-y-end))
            scale(var(--scale-end));
    transition:
            filter calc(var(--duration) * 2),
            opacity var(--duration),
            transform calc(var(--duration) * 5);

    &.animation-inverted{
      opacity: var(--opacity-start);
      filter: blur(var(--blur-start));
      transform:
              translate(var(--slide-x-start), var(--slide-y-start))
              scale(var(--scale-start));
    }
  }
}