/* colors */

/* generic */
/* 25deg if vertical */

.effect-mirror-reflectionactive {
  top: var(--active-position-top);
  opacity: var(--active-opacity);
  transform: var(--active-rotation);
  background:
          linear-gradient(
                          to top,
                          transparent,
                          var(--active-color) 15%,
                          var(--active-color)
          );
}

.effect-mirror-reflection{
    --color: var(--effect-mirror-reflection-color, rgba(var(----color, 0 0 0)));
  --active-color: var(--effect-mirror-reflection-active-color, rgba(var(----active-color, 0 0 0)));
  --duration: var(--effect-mirror-reflection-duration, 0.3s);
  --opacity: var(--effect-mirror-reflection-opacity, 0.2);
  --rotation: var(--effect-mirror-reflection-rotation, 35deg);
  --position-top: var(--effect-mirror-reflection-position-top, -70%);
  --active-opacity: var(--effect-mirror-reflection-active-opacity, 0.2);
  --active-rotation: var(--effect-mirror-reflection-active-rotation, 10deg);
  --active-position-top: var(--effect-mirror-reflection-active-position-top, -40%);

  position: absolute;
  content: '';
  z-index: 99;
  width: 200%;
  height: 100%;
  top: var(--position-top);
  left: 0;
  opacity: var(--opacity);
  transform: var(--rotation);
  /* WARNING: Gradient doesn't listen to "background" transition */
  background:
          linear-gradient(
                          to top,
                          transparent,
                          var(--color) 15%,
                          var(--color)
          );
  transition:
          top var(--duration),
          opacity var(--duration),
          transform var(--duration),
          background var(--duration);

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    @extend .effect-mirror-reflectionactive;
  }
}

.effect-mirror-reflection-animate-active,
.effect-mirror-reflection-animate-on-active.active,
.effect-mirror-reflection-animate-on-hover:hover {
  .effect-mirror-reflection {
    @extend .effect-mirror-reflectionactive;
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .effect-mirror-reflection {
      --color: var(--effect-mirror-reflection-color, rgba(var(----color, 255 255 255)));
  --active-color: var(--effect-mirror-reflection-active-color, rgba(var(----active-color, 255 255 255)));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .effect-mirror-reflection {
      --color: var(--effect-mirror-reflection-color, rgba(var(----color, 255 255 255)));
  --active-color: var(--effect-mirror-reflection-active-color, rgba(var(----active-color, 255 255 255)));
  }

}