@use "@guebbit/css-toolkit" as guebbit;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-root-prefix: "--" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "effect-mirror-reflection" !default;

// colors
$color: null !default;
$color--light: guebbit.no-null-var(($color, #000)) !default;
$color--dark: guebbit.no-null-var(($color, #fff)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;

// Translation to rgb format
$rgbcolor: guebbit.hex2rgb($color--light);
$active-rgbcolor: guebbit.hex2rgb($active-color--light);
$rgbcolor--dark: guebbit.hex2rgb($color--dark);
$active-rgbcolor--dark: guebbit.hex2rgb($active-color--dark);

// generic
$duration: 0.3s !default;
$opacity: 0.2 !default;
$rotation: 35deg !default;
$position-top: -70% !default;
$active-opacity: 0.2 !default;
$active-rotation: 10deg !default;  // 25deg if vertical
$active-position-top: -40% !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name}active{
  top: var(--#{$css-ui-var-prefix}active-position-top);
  opacity: var(--#{$css-ui-var-prefix}active-opacity);
  transform: var(--#{$css-ui-var-prefix}active-rotation);
  background:
          linear-gradient(
                          to top,
                          transparent,
                          rgb(var(--#{$css-ui-var-prefix}active-color) 0.9) 15%,
                          rgb(var(--#{$css-ui-var-prefix}active-color) 0.4)
          );
}

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name}{
  --#{$css-ui-var-prefix}color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}color, #{$color--light}));
  --#{$css-ui-var-prefix}active-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-color, #{$active-color--light}));
  --#{$css-ui-var-prefix}color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color, #{$rgbcolor});
  --#{$css-ui-var-prefix}active-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-color, #{$active-rgbcolor});
  --#{$css-ui-var-prefix}duration: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-duration, #{$duration});
  --#{$css-ui-var-prefix}opacity: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-opacity, #{$opacity});
  --#{$css-ui-var-prefix}rotation: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-rotation, #{$rotation});
  --#{$css-ui-var-prefix}position-top: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-position-top, #{$position-top});
  --#{$css-ui-var-prefix}active-opacity: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-opacity, #{$active-opacity});
  --#{$css-ui-var-prefix}active-rotation: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-rotation, #{$active-rotation});
  --#{$css-ui-var-prefix}active-position-top: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-position-top, #{$active-position-top});

  position: absolute;
  content: '';
  z-index: 99;
  width: 200%;
  height: 100%;
  top: var(--#{$css-ui-var-prefix}position-top);
  left: 0;
  opacity: var(--#{$css-ui-var-prefix}opacity);
  transform: var(--#{$css-ui-var-prefix}rotation);
  background:
          linear-gradient(
                          to top,
                          transparent,
                          rgb(var(--#{$css-ui-var-prefix}color) 0.9) 15%,
                          rgb(var(--#{$css-ui-var-prefix}color) 0.4)
          );
  transition:
          transform var(--#{$css-ui-var-prefix}duration),
          top var(--#{$css-ui-var-prefix}duration),
          opacity var(--#{$css-ui-var-prefix}duration);

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    @extend %#{$css-ui-class-prefix}#{$css-ui-component-name}active;
  }
}

.#{$css-ui-class-prefix}#{$css-ui-component-name}-animate-active,
.#{$css-ui-class-prefix}#{$css-ui-component-name}-animate-on-active.active,
.#{$css-ui-class-prefix}#{$css-ui-component-name}-animate-on-hover:hover {
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    @extend %#{$css-ui-class-prefix}#{$css-ui-component-name}active;
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    --#{$css-ui-var-prefix}color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}color, #{$color--dark}));
    --#{$css-ui-var-prefix}active-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-color, #{$active-color--dark}));
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
