/**
 * Return opaque color
 * color-opaque(#fff, rgba(0, 0, 0, .5)) => #808080
 * function credited to https://getbootstrap.com/
 */
/**
 * Tint a color
 */
/**
 * Shade a color
 */
/**
 * Shade the color if the weight is positive, else tint it
 * function credited to https://getbootstrap.com/
 */
/**
 * Return WCAG2.1 relative luminance
 * See https://www.w3.org/TR/WCAG/#dfn-relative-luminance
 * See https://en.wikipedia.org/wiki/Relative_luminance
 * Gives %, less than 50 darker is better, less than 50, lighter.
 * Function like color.channel($color, "lightness", $space: hsl) gives a different %
 */
/**
 * Compares contrast of a given color to the light/dark arguments and returns whichever is most "contrasty"
 */
/**
 * NEW numeric annotation
 * Hex to RGB (only numbers, transparentize would add rgba(*))
 * $color
 * $alpha:
 *    - 0: never 4° digit
 *    - 1: always 4° digit
 *    - 2: 4° digit only when needed
 * $classic: false = new number annotation
 */
/**
 * Create default collection
 * @param $color
 */
/**
 * Giving a list of variables and values,
 * from start to end, try all the values until a non-null is found
 */
/**
 * If the color is the checked one, return inherit
 */
/**
 * This function is to be used to return nested key values within a nested map
 * @parameter {Variable} $map [null] - pass in map to be evaluated
 * @parameter {Variable} $keys [null] - pass in keys to be evaluated
 */
/**
  Split string into lists
 */
/**
  Check if $string ends with $find
 */
/**
 * Use in the parent\container, to be coupled with {build-aspect-ratio-anchor}
 */
/**
 * Use in the child that "gives" form to the parent that has the respective {build-aspect-ratio-container}
 */
/**
 *  aspect ratio shortcut
 */
/**
*	Compatibility mode for browsers
*	@param string $browser: target browser
*	@content
**/
/**
 *	Builder - scrollbars of element
 *	@param string $color
 *	@param pixels $size
 *	@param $background: if false, has default lighten 40%
 */
/**
 *  Create all the needed classes for the requested colors
 *  WARNING: $gradient-* are not meant to be used in color and border classes (because they have gradients)
 *
 *  @param $color-list     - list of colors (like $colors-collection: ("branch": ( "leaf: $color" )))
 *  @param $vars: if true, use css vars instead of rgb
 *  @param $prefix: prefix that applies to classes
 *  @param $prefixV: prefix that applies to vars (if true)
 *  @param $feature-list:  - when filled: becomes a whitelist. May become cumbersome and many are not needed. Use with care.
 *    - text
 *    - background
 *    - border
 *    - pseudo (bg only, text very rarely used)
 *    - hover
 */
/**
 *  Create the CSS VARS (like on root)
 *  WARNING: They will be translated in "RGB" instead of "HEX"
 *
 *  @param $color-list - list of colors (like $colors-collection: ("branch": ( "leaf: $color" )))
 *  @param $prefix
 */
/**
 * CSS single instructions class generator
 * @param measure-list - {Array<name,value>[]} postfix name and value OR just values[] (name and value will be the same)
 */
/**
 *
 * t - applies the spacing for margin-top
 * b - applies the spacing for margin-bottom
 * l - applies the spacing for margin-left
 * r - applies the spacing for margin-right
 * x - applies the spacing for both *-left and *-right
 * y - applies the spacing for both *-top and *-bottom
 * a - applies the spacing for the property in all directions
 *
 * @param {Array<name,value>[]} measure-list - postfix name and value
 */
/**
 *
 * t - applies the spacing for padding-top
 * b - applies the spacing for padding-bottom
 * l - applies the spacing for padding-left
 * r - applies the spacing for padding-right
 * x - applies the spacing for both *-left and *-right
 * y - applies the spacing for both *-top and *-bottom
 * a - applies the spacing for the property in all directions

 * @param {Array<name,value>[]} measure-list - postfix name and value
 */
.icon-showcase-load {
  --color: var(--icon-showcase-load-color, rgba(var(----color, 0 0 0)));
  --progress: var(--icon-showcase-load-progress, rgba(var(----on-color, 255 255 255)));
  --background: var(--icon-showcase-load-background, rgba(var(----global-background, 255 255 255)));
  --size: var(--icon-showcase-load-size, 4em);
  font-size: var(--size);
  background-color: var(--background);
  position: relative;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0.1em;
}
.icon-showcase-load::before {
  content: "";
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  border: 0.1em solid var(--color);
  border-left-color: var(--progress);
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  animation: icon-showcase-load-animation-rotate 1s infinite linear;
}
.icon-showcase-load > * {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  margin: auto;
  color: var(--color);
  font-size: 0.4em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  line-height: 1;
  transform: scale(0) translate3d(0, 0, 0);
  text-align: center;
  animation-name: icon-showcase-load-animation;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
}
.icon-showcase-load > *:nth-child(1) {
  animation-delay: 0s;
}
.icon-showcase-load > *:nth-child(2) {
  animation-delay: 1.3333333333s;
}
.icon-showcase-load > *:nth-child(3) {
  animation-delay: 2.6666666667s;
}
.icon-showcase-load svg {
  fill: currentcolor;
  stroke: currentcolor;
}
@keyframes icon-showcase-load-animation {
  0% {
    transform: scale(0) translate3d(0, 0, 0);
  }
  11% {
    transform: scale(1.2) translate3d(0, 0, 0);
  }
  22% {
    transform: scale(1) translate3d(0, 0, 0);
  }
  33% {
    transform: scale(0) translate3d(0, 0, 0);
  }
}
@keyframes icon-showcase-load-animation-rotate {
  to {
    transform: rotate(360deg);
  }
}

/**
 * Dark Theme (changes from default variables)
 */
/**
 * By class
 */
.theme--dark .icon-showcase-load {
  --color: var(--icon-showcase-load-color, rgba(var(----color, 255 255 255)));
  --progress: var(--icon-showcase-load-progress, rgba(var(----on-color, 0 0 0)));
  --background: var(--icon-showcase-load-background, rgba(var(----global-background, 0 0 0)));
  --size: var(--icon-showcase-load-size, 4em);
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  .icon-showcase-load {
    --color: var(--icon-showcase-load-color, rgba(var(----color, 255 255 255)));
    --progress: var(--icon-showcase-load-progress, rgba(var(----on-color, 0 0 0)));
    --background: var(--icon-showcase-load-background, rgba(var(----global-background, 0 0 0)));
    --size: var(--icon-showcase-load-size, 4em);
  }
}