@use "sass:math";
@use "@guebbit/css-toolkit" as guebbit;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-root-prefix: "--" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "icon-showcase-load" !default;

// Main $variables
$color: null !default;

// LIGHT Theme
$color--light: guebbit.no-null-var(($color, #000)) !default;
$background--light: guebbit.color-contrast($color--light) !default;
$border-color: rgba($color--light, 0.8) !default;
$border-progress: rgba($color--light, 0.2) !default;

// DARK Theme
$color--dark: guebbit.no-null-var(($color, #fff)) !default;
$background--dark: guebbit.color-contrast($color--dark) !default;
$border-color--dark: rgba($color--dark, 0.8) !default;
$border-progress--dark: rgba($color--dark, 0.2) !default;

// generic
$size: 4em !default;
$duration: 4s !default;
$item-number: 3 !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name}{
  --#{$css-ui-var-prefix}color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}color, #{$color--light}));
  --#{$css-ui-var-prefix}border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}border-color, #{$border-color}));
  --#{$css-ui-var-prefix}background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-background, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}global-background, #{$background--light}));
  --#{$css-ui-var-prefix}border-progress: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-progress, #{$border-progress});
  --#{$css-ui-var-prefix}size: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-size, #{$size});

  font-size: var(--#{$css-ui-var-prefix}size);
  background-color: var(--#{$css-ui-var-prefix}background);
  position: relative;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0.1em;

  &::before {
    content: "";
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    border: 0.1em solid var(--#{$css-ui-var-prefix}border-color);
    border-left-color: var(--#{$css-ui-var-prefix}border-progress);
    border-radius: 50%;
    width: 0.8em;
    height: 0.8em;
    animation: #{$css-ui-class-prefix}#{$css-ui-component-name}-animation-rotate 1s infinite linear;
  }

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    margin: auto;
    color: var(--#{$css-ui-var-prefix}color);
    font-size: 0.4em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    line-height: 1;
    transform: scale(0) translate3d(0, 0, 0);
    text-align: center;
    animation-name: #{$css-ui-class-prefix}#{$css-ui-component-name}-animation;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: $duration;
    
    @for $i from 1 through $item-number {
      &:nth-child(#{$i}){
        animation-delay: $duration * math.div(($i - 1), $item-number);
      }
    }
  }

  svg{
    fill: currentcolor;
    stroke: currentcolor;
  }
  
  @keyframes #{$css-ui-class-prefix}#{$css-ui-component-name}-animation {
    0% {  transform: scale(0) translate3d(0, 0, 0); }
    11% { transform: scale(1.2) translate3d(0, 0, 0); }
    22% { transform: scale(1) translate3d(0, 0, 0); }
    33% { transform: scale(0) translate3d(0, 0, 0); }
  }

  @keyframes #{$css-ui-class-prefix}#{$css-ui-component-name}-animation-rotate {
    to { transform: rotate(360deg); }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    --#{$css-ui-var-prefix}color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}color, #{$color--dark}));
    --#{$css-ui-var-prefix}border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}border-color, #{$border-color--dark}));
    --#{$css-ui-var-prefix}background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-background, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}global-background, #{$background--dark}));
    --#{$css-ui-var-prefix}border-progress: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-progress, #{$border-progress});
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}

