@use "../../../node_modules/@guebbit/css-toolkit" as guebbit;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "panel-askew-doors" !default;

// main
$color: null !default;
$color--light: guebbit.no-null-var(($color, #000)) !default;
$color--dark: guebbit.no-null-var(($color, #fff)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;

// LIGHT theme
$left-color: $color--light !default;
$active-left-color: $active-color--light !default;
$right-color: $color--light !default;
$active-right-color: $active-color--light !default;

// DARK theme
$left-color--dark: $color--dark !default;
$active-left-color--dark: $active-color--dark !default;
$right-color--dark: $color--dark !default;
$active-right-color--dark: $active-color--dark !default;

$tilt: 15deg !default;
$duration: 0.5s !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name}animate-active{
  &::before{
    background-color: var(--#{$css-ui-var-prefix}active-left-color);
  }

  &::after{
    background-color: var(--#{$css-ui-var-prefix}active-right-color);
  }

  &::before,
  &::after{
    transform: rotate(var(--#{$css-ui-var-prefix}tilt));
  }
}

%#{$css-ui-class-prefix}#{$css-ui-component-name}open-active{
  &::before{
    transform: (rotate(0) translate(0, -20%));
  }

  &::after{
    transform: (rotate(0) translate(0, 20%));
  }

  &.askew-doors-vertical {
    &::before{
      transform: (rotate(90deg) translate(0, -100%));
    }

    &::after{
      transform: (rotate(90deg) translate(0, 100%));
    }
  }
}

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name}{
  --#{$css-ui-var-prefix}left-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-left-color, #{$left-color});
  --#{$css-ui-var-prefix}active-left-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-left-color, #{$active-left-color});
  --#{$css-ui-var-prefix}right-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-right-color, #{$right-color});
  --#{$css-ui-var-prefix}active-right-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-right-color, #{$active-right-color});
  --#{$css-ui-var-prefix}tilt: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-tilt, #{$tilt});
  --#{$css-ui-var-prefix}duration: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-duration, #{$duration});
  
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before,
  &::after{
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    z-index: -1;
    transition:
            transform var(--#{$css-ui-var-prefix}duration),
            opacity calc(var(--#{$css-ui-var-prefix}duration) * 0.5);
  }

  &::before{
    background-color: var(--#{$css-ui-var-prefix}left-color);
    top: -103%;
    right: -25%;
    transform: rotate(calc(var(--#{$css-ui-var-prefix}tilt) * -1));
  }

  &::after{
    background-color: var(--#{$css-ui-var-prefix}right-color);
    bottom: -103%;
    left: -25%;
    transform: rotate(calc(var(--#{$css-ui-var-prefix}tilt) * -1));
  }

  // askew-doors-vertical

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    @extend %#{$css-ui-class-prefix}#{$css-ui-component-name}animate-active;
  }

  &.animate-open-active,
  &.animate-open-on-active.active,
  &.animate-open-on-hover:hover {
    @extend %#{$css-ui-class-prefix}#{$css-ui-component-name}open-active;
  }
}

.#{$css-ui-class-prefix}#{$css-ui-component-name}-animate-active,
.#{$css-ui-class-prefix}#{$css-ui-component-name}-animate-on-active.active,
.#{$css-ui-class-prefix}#{$css-ui-component-name}-animate-on-hover:hover {
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    @extend %#{$css-ui-class-prefix}#{$css-ui-component-name}animate-active;
  }
}
.#{$css-ui-class-prefix}#{$css-ui-component-name}-animate-open-active,
.#{$css-ui-class-prefix}#{$css-ui-component-name}-animate-open-on-active.active,
.#{$css-ui-class-prefix}#{$css-ui-component-name}-animate-open-on-hover:hover {
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    @extend %#{$css-ui-class-prefix}#{$css-ui-component-name}open-active;
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    --#{$css-ui-var-prefix}left-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-left-color, #{$left-color--dark});
    --#{$css-ui-var-prefix}active-left-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-left-color, #{$active-left-color--dark});
    --#{$css-ui-var-prefix}right-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-right-color, #{$right-color--dark});
    --#{$css-ui-var-prefix}active-right-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-right-color, #{$active-right-color--dark});
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
