@use "sass:math";
@use "@guebbit/css-toolkit" as guebbit;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "raindrop-concentric" !default;

// neutral
$color: null !default;
$color-change: null !default;

// LIGHT theme
$color--light: guebbit.no-null-var(($color, #000)) !default;
$color-change--light: guebbit.no-null-var(($color-change, $color--light)) !default;

// DARK theme
$color--dark: guebbit.no-null-var(($color, #fff)) !default;
$color-change--dark: guebbit.no-null-var(($color-change, $color--dark)) !default;

// generic
$size: 150px !default;
$border-size: 10px !default;
$duration: 15s !default;
$number: 4 !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name}{
  --#{$css-ui-var-prefix}color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color, #{$color--light});
  --#{$css-ui-var-prefix}color-change: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color-change, #{$color-change--light});
  --#{$css-ui-var-prefix}size: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-size, #{$size});
  --#{$css-ui-var-prefix}border-size: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-size, #{$border-size});

  position: absolute;
  transform: translate(-50%, -50%);
  font-size: var(--#{$css-ui-var-prefix}size);

  & > * {
    position: absolute;
    top: -0.5em;
    left: -0.5em;
    width: 1em;
    height: 1em;
    border: var(--#{$css-ui-var-prefix}border-size) solid var(--#{$css-ui-var-prefix}color);
    border-radius: 50%;
    transform: scale(0);
    animation-iteration-count: infinite;

    @for $i from 1 through $number {
      &:nth-child(#{$i}){
        animation-duration: $duration * math.div($i, $number);
      }
    }
  }

  &.animate-once,
  &.animate-active{
    & > * {
      animation-name: #{$css-ui-class-prefix}#{$css-ui-component-name}-animation;
    }
  }

  &.animate-once{
    & > *  {
      animation-iteration-count: 1;
    }
  }

  @keyframes #{$css-ui-class-prefix}#{$css-ui-component-name}-animation {
    80% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: scale(5);
      border-color: var(--#{$css-ui-var-prefix}color-change);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    --#{$css-ui-var-prefix}color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color, #{$color--light});
    --#{$css-ui-var-prefix}color-change: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color-change, #{$color-change--dark});
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
