/* colors */

.scroll-down-arrow{
    --color: var(--scroll-down-arrow-color, rgba(var(----color, 0 0 0)));
  --active-color: var(--scroll-down-arrow-active-color, rgba(var(----active-color, 0 0 0)));
  --size: var(--scroll-down-arrow-size, 2em);
  --duration: var(--scroll-down-arrow-duration, 0.3s);
  --animation-duration: var(--scroll-down-arrow-animation-duration, 3s);
  --active-animation-duration: var(--scroll-down-arrow-active-animation-duration, $active-animation-duration);

  position: relative;
  width: var(--size);
  height: var(--size);
  margin-top: $size;
  cursor: pointer;

  & > div{
    position: absolute;
    width: var(--size);
    height: 0.5em;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation:
            scroll-down-arrow-animation
            var(--animation-duration)
            ease-out infinite;

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      height: 100%;
      width: 51%;
      background-color: var(--color);
      transition: background-color var(--duration);
    }

    &::before {
      left: 0;
      transform: skew(0deg, 30deg);
    }

    &::after {
      right: 0;
      width: 50%;
      transform: skew(0deg, -30deg);
    }

    &:first-child {
      animation-delay: calc(var(--animation-duration) * 0.33);
    }

    &:nth-child(2) {
      animation-delay: calc(var(--animation-duration) * 0.66);
    }
  }

  .scroll-down-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin-top: calc(var(--size) * -0.8);
    color: var(--color);
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .3;
    animation:
            scroll-down-arrow-animation-text
            calc(var(--animation-duration) * 0.33)
            linear alternate infinite;
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    & > div{
      animation-duration: var(--active-animation-duration);

      &:first-child {
        animation-delay: calc(var(--active-animation-duration) * 0.33);
      }

      &:nth-child(2) {
        animation-delay: calc(var(--active-animation-duration) * 0.66);
      }

      &::before,
      &::after {
        background-color: var(--active-color);
      }
    }

    .scroll-down-text {
      color: var(--active-color);
    }
  }

  @keyframes scroll-down-arrow-animation {
    25% {
      opacity: 1;
    }

    33% {
      opacity: 1;
      transform: translateY(30px);
    }

    67% {
      opacity: 1;
      transform: translateY(40px);
    }

    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }

  @keyframes scroll-down-arrow-animation-text{
    to {
      opacity: 1;
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .scroll-down-arrow {
      --color: var(--scroll-down-arrow-color, rgba(var(----color, 255 255 255)));
  --active-color: var(--scroll-down-arrow-active-color, rgba(var(----active-color, 255 255 255)));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .scroll-down-arrow {
      --color: var(--scroll-down-arrow-color, rgba(var(----color, 255 255 255)));
  --active-color: var(--scroll-down-arrow-active-color, rgba(var(----active-color, 255 255 255)));
  }

}