@use "../../../node_modules/@guebbit/css-toolkit" as guebbit;

$scss-library-class-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "status-circle" !default;

// colors
$color: null !default;
$color--light: guebbit.no-null-var(($color, #000)) !default;
$color--dark: guebbit.no-null-var(($color, #fff)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;

// LIGHT theme
$pulse-color: rgba($color--light, 0.3) !default;
$active-pulse-color: rgba($active-color--light, 0.3) !default;

// DARK theme
$pulse-color--dark: rgba($color--dark, 0.3) !default;
$active-pulse-color--dark: rgba($active-color--dark, 0.3) !default;

$duration: 1s !default;

%#{$scss-library-class-prefix}#{$scss-library-component-name},
.#{$scss-library-class-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--light});
  --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-color--light});
  --#{$scss-library-var-prefix}pulse-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-pulse-color, #{$pulse-color});
  --#{$scss-library-var-prefix}active-pulse-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-pulse-color, #{$active-pulse-color});
  --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});

  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
  border-radius: 50%;
  background-color: var(--#{$scss-library-var-prefix}color);
  transition: background-color calc(var(--#{$scss-library-var-prefix}duration) * 0.2);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-color: var(--#{$scss-library-var-prefix}pulse-color);
    transition: transform calc(var(--#{$scss-library-var-prefix}duration) * 0.2);
    z-index: -1;
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--#{$scss-library-var-prefix}active-color);
    animation: #{$scss-library-class-prefix}#{$scss-library-component-name}-animation-main var(--#{$scss-library-var-prefix}duration) infinite;

    &::before {
      background-color: var(--#{$scss-library-var-prefix}active-pulse-color);
      animation: #{$scss-library-class-prefix}#{$scss-library-component-name}-animation-before var(--#{$scss-library-var-prefix}duration) infinite;
    }
  }

  @keyframes #{$scss-library-class-prefix}#{$scss-library-component-name}-animation-main {
    50% {
      transform: scale(1.2);
    }
  }

  @keyframes #{$scss-library-class-prefix}#{$scss-library-component-name}-animation-before {
    0% {
      opacity: 1;
    }

    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}


/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$scss-library-class-prefix}#{$scss-library-component-name},
  .#{$scss-library-class-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--dark});
    --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-color--dark});
    --#{$scss-library-var-prefix}pulse-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-pulse-color, #{$pulse-color--dark});
    --#{$scss-library-var-prefix}active-pulse-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-pulse-color, #{$active-pulse-color--dark});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}

