/* colors */

/* LIGHT theme */

/* DARK theme */

/* Other */

.status-circle {
    --color: var(--status-circle-color, rgba(var(----color, 0 0 0)));
  --pulse-color: var(--status-circle-pulse-color, rgba(var(----color, 0 0 0 / 0.3)));
  --active-color: var(--status-circle-active-color, rgba(var(----active-color, 0 0 0)));
  --active-pulse-color: var(--status-circle-active-pulse-color, rgba(var(----active-color, 0 0 0 / 0.3)));
  --duration: var(--status-circle-duration, 1s);
  --opacity: var(--status-circle-opacity, 0.5);

  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
  border-radius: 50%;
  background-color: var(--color);
  transition: background-color calc(var(--duration) * 0.2);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-color: var(--pulse-color);
    transition: transform calc(var(--duration) * 0.2);
    opacity: var(--opacity);
    z-index: -1;
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--active-color);
    animation: status-circle-animation-main var(--duration) infinite;

    &::before {
      background-color: var(--active-pulse-color);
      animation: status-circle-animation-before var(--duration) infinite;
    }
  }

  @keyframes status-circle-animation-main {
    50% {
      transform: scale(1.2);
    }
  }

  @keyframes status-circle-animation-before {
    0% {
      opacity: 1;
    }

    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .status-circle {
      --color: var(--status-circle-color, rgba(var(----color, 255 255 255)));
  --pulse-color: var(--status-circle-pulse-color, rgba(var(----color, 255 255 255 / 0.3)));
  --active-color: var(--status-circle-active-color, rgba(var(----active-color, 255 255 255)));
  --active-pulse-color: var(--status-circle-active-pulse-color, rgba(var(----active-color, 255 255 255 / 0.3)));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .status-circle {
      --color: var(--status-circle-color, rgba(var(----color, 255 255 255)));
  --pulse-color: var(--status-circle-pulse-color, rgba(var(----color, 255 255 255 / 0.3)));
  --active-color: var(--status-circle-active-color, rgba(var(----active-color, 255 255 255)));
  --active-pulse-color: var(--status-circle-active-pulse-color, rgba(var(----active-color, 255 255 255 / 0.3)));
  }

}