@use "../../../node_modules/@guebbit/css-toolkit" as guebbit;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "trapezoid-form" !default;

// colors
$color: null !default;
$color--light: guebbit.no-null-var(($color, #000)) !default;
$color--dark: guebbit.no-null-var(($color, #fff)) !default;
$on-color: guebbit.color-contrast($color--light) !default;
$on-color--dark: guebbit.color-contrast($color--dark) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;
$active-on-color: guebbit.color-contrast($active-color--light) !default;
$active-on-color--dark: guebbit.color-contrast($active-color--dark) !default;

$opacity: 1 !default;
$duration: 0.3s !default;
$transform-rotate: 2deg !default;
$transform-scale: 1 !default;
$position-top: 5% !default;
$position-left: 0 !default;
$border-size: 2px !default;
$border-radius: 6px !default;

// on active
$active-on-color: guebbit.color-contrast($active-color) !default;
$active-transform-rotate: $transform-rotate !default;
$active-transform-scale: $transform-scale !default;
$active-position-top: $position-top !default;
$active-position-left: $position-left !default;
$active-border-size: $border-size !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name}active{
  background-color: var(--#{$css-ui-var-prefix}active-color);
  top: var(--#{$css-ui-var-prefix}active-position-top);
  left: var(--#{$css-ui-var-prefix}active-position-left);
  transform: perspective(10px) rotateX(var(--#{$css-ui-var-prefix}active-transform-rotate)) scale(var(--#{$css-ui-var-prefix}active-transform-scale));

  &.trapezoid-form-outlined{
      color: var(--#{$css-ui-var-prefix}active-color);
      background-color: transparent;
      border-width: var(--#{$css-ui-var-prefix}active-border-size);
      border-color: var(--#{$css-ui-var-prefix}active-color);
  }
}

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  --#{$css-ui-var-prefix}color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color, #{$color--light});
  --#{$css-ui-var-prefix}on-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-color, #{$on-color});
  --#{$css-ui-var-prefix}active-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-color, #{$active-color--light});
  --#{$css-ui-var-prefix}active-on-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-color, #{$active-on-color});
  --#{$css-ui-var-prefix}transform-rotate: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-transform-rotate, #{$transform-rotate});
  --#{$css-ui-var-prefix}transform-scale: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-transform-scale, #{$transform-scale});
  --#{$css-ui-var-prefix}position-top: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-position-top, #{$position-top});
  --#{$css-ui-var-prefix}position-left: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-position-left, #{$position-left});
  --#{$css-ui-var-prefix}border-size: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-size, #{$border-size});
  --#{$css-ui-var-prefix}active-transform-rotate: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-transform-rotate, #{$active-transform-rotate});
  --#{$css-ui-var-prefix}active-transform-scale: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-transform-scale, #{$active-transform-scale});
  --#{$css-ui-var-prefix}active-position-top: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-position-top, #{$active-position-top});
  --#{$css-ui-var-prefix}active-position-left: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-position-left, #{$active-position-left});
  --#{$css-ui-var-prefix}active-border-size: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-border-size, #{$active-border-size});
  --#{$css-ui-var-prefix}opacity: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-opacity, #{$opacity});
  --#{$css-ui-var-prefix}border-radius: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-radius, #{$border-radius});
  --#{$css-ui-var-prefix}duration: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-duration, #{$duration});

  position: absolute;
  top: var(--#{$css-ui-var-prefix}position-top);
  left: var(--#{$css-ui-var-prefix}position-left);
  width: 100%;
  height: 90%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: perspective(10px) rotateX(var(--#{$css-ui-var-prefix}transform-rotate)) scale(var(--#{$css-ui-var-prefix}transform-scale));
  opacity: var(--#{$css-ui-var-prefix}opacity);
  background-color: var(--#{$css-ui-var-prefix}color);
  color: var(--#{$css-ui-var-prefix}on-color);
  transition-property: transform, opacity, background, top, left, border-color, border-width;
  transition-duration: var(--#{$css-ui-var-prefix}duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: var(--#{$css-ui-var-prefix}border-radius);

  &.trapezoid-form-outlined{
    color: var(--#{$css-ui-var-prefix}color);
    background-color: transparent;
    border-width: var(--#{$css-ui-var-prefix}border-size);
    border-style: solid;
    border-color: var(--#{$css-ui-var-prefix}color);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    @extend %#{$css-ui-class-prefix}#{$css-ui-component-name}active;
  }
}

.#{$css-ui-class-prefix}#{$css-ui-component-name}-animate-active,
.#{$css-ui-class-prefix}#{$css-ui-component-name}-animate-on-active.active,
.#{$css-ui-class-prefix}#{$css-ui-component-name}-animate-on-hover:hover {
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    @extend %#{$css-ui-class-prefix}#{$css-ui-component-name}active;
  }
}



/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    --#{$css-ui-var-prefix}color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color, #{$color--dark});
    --#{$css-ui-var-prefix}on-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-color, #{$on-color--dark});
    --#{$css-ui-var-prefix}active-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-color, #{$active-color--dark});
    --#{$css-ui-var-prefix}active-on-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-color, #{$active-on-color--dark});
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
