@use '../../../_generics/variables' as globals;

$css-ui-component-name: 'event-long-card' !default;

$height: 200px !default;
$padding: 16px !default;
$border-radius: 6px !default;
$duration: globals.$duration !default;
$threshold-mobile: 600px !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';
