@use '../../../_generics/variables' as globals;

$css-ui-component-name: 'info-hover-card' !default;

$icon-size: 100px !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';
