@use '../../../_generics' as generics;
@use 'variables' as vars;

@mixin text-architecture($prefix: vars.$css-ui-component-prefix) {
    @include generics.generate-vars(vars.$component-variables-map, $prefix);

    @include generics.base-layout();

    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 1em;
    margin: 0.4em;
    text-decoration: none;

    .#{generics.$css-ui-class-prefix}text-icon {
        @include generics.base-parameters-color();
        text-align: center;
        margin: 0 auto;
        line-height: 1.5;
        font-size: 1.5em;
        transform: rotateX(var(--#{$prefix}rotate)) scale(var(--#{$prefix}scale)) translate(var(--#{$prefix}slide-x), var(--#{$prefix}slide-y));
        @include generics.transition-properties((transform, color), var(--#{$prefix}duration));

        svg {
            fill: currentcolor;
            width: 1em;
            height: 1em;
        }
    }

    &.#{generics.$css-ui-class-prefix}column-mode {
        flex-direction: column;
    }

    @include generics.interaction-states() {
        .#{generics.$css-ui-class-prefix}text-icon {
            transform: rotate(var(--#{$prefix}active-rotate)) scale(var(--#{$prefix}active-scale)) translate(var(--#{$prefix}active-slide-x), var(--#{$prefix}active-slide-y));
        }

        &.#{generics.$css-ui-class-prefix}squeeze-mode {
            .#{generics.$css-ui-class-prefix}text-icon {
                transform: rotateX(var(--#{$prefix}active-rotate)) scale(var(--#{$prefix}active-scale)) translate(var(--#{$prefix}active-slide-x), var(--#{$prefix}active-slide-y));
            }
        }
    }
}
