@use '../../../_generics/variables' as globals;
@forward '../../../_generics/variables';

$css-ui-component-name: 'text' !default;
$rotate: 0deg !default;
$scale: 1 !default;
$slide-x: 0 !default;
$slide-y: 0 !default;
$active-rotate: 40deg !default;
$active-scale: 1.2 !default;
$active-slide-x: $slide-x !default;
$active-slide-y: $slide-y !default;
$css-ui-component-prefix: globals.$css-ui-var-prefix + $css-ui-component-name + '-';
$duration: 0.2s;

$component-variables-map: (
    rotate: $rotate,
    scale: $scale,
    slide-x: $slide-x,
    slide-y: $slide-y,
    active-rotate: $active-rotate,
    active-scale: $active-scale,
    active-slide-x: $active-slide-x,
    active-slide-y: $active-slide-y,
    duration: $duration
);
