@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "highlight-belt" !default;

// main
$color: null !default;

// LIGHT theme
$color--light: guebbit.noNullVar(($color, #000)) !default;
$fold-color: guebbit.color-shade($color--light, 50%) !default;
$shadow-color: guebbit.hex2rgb(#000) !default;

// DARK theme
$color--dark: guebbit.noNullVar(($color, #fff)) !default;
$fold-color--dark: guebbit.color-shade($color--dark, 50%) !default;
$shadow-color--dark: guebbit.hex2rgb(#000) !default;

$size: 2em !default;
$border-width: 25px !default;
$angle: 30px !default;
$translate: -($angle * 0.5 + $border-width * 0.5 - 3) !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}color: #{$color--light};
  --#{$scss-library-var-prefix}fold-color: #{$fold-color};
  --#{$scss-library-var-prefix}shadow-color: #{$shadow-color};
  --#{$scss-library-var-prefix}size: #{$size};
  --#{$scss-library-var-prefix}border-width: #{$border-width};
  --#{$scss-library-var-prefix}angle: #{$angle};
  --#{$scss-library-var-prefix}translate: #{$translate};

  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(var(--#{$scss-library-var-prefix}translate));
  width: calc(100% + var(--#{$scss-library-var-prefix}angle) + var(--#{$scss-library-var-prefix}border-width) - 6px);
  background-color: var(--#{$scss-library-var-prefix}color);
  color: guebbit.color-contrast($color);
  box-shadow: 0 .5rem 1rem rgba(var(--#{$scss-library-var-prefix}shadow-color), 0.15);
  min-height: var(--#{$scss-library-var-prefix}size);
  border-radius: 4px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: transparent;
  }

  &.bend-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  &.bend-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.bend-bottom-left {
    border-bottom-left-radius: 0;
  }

  &.bend-bottom-right {
    border-bottom-right-radius: 0;
  }

  &.bend-top-left {
    border-top-left-radius: 0;
  }

  &.bend-top-right {
    border-top-right-radius: 0;
  }

  &.bend-bottom,
  &.bend-bottom-left {
    &::before {
      top: 100%;
      border-top: var(--#{$scss-library-var-prefix}border-width) solid var(--#{$scss-library-var-prefix}fold-color);
    }
  }

  &.bend-bottom,
  &.bend-bottom-right {
    &::after {
      top: 100%;
      border-top: var(--#{$scss-library-var-prefix}border-width) solid var(--#{$scss-library-var-prefix}fold-color);
    }
  }

  &.bend-top,
  &.bend-top-left {
    &::before {
      bottom: 100%;
      border-bottom: var(--#{$scss-library-var-prefix}border-width) solid var(--#{$scss-library-var-prefix}fold-color);
    }
  }

  &.bend-top,
  &.bend-top-right {
    &::after {
      bottom: 100%;
      border-bottom: var(--#{$scss-library-var-prefix}border-width) solid var(--#{$scss-library-var-prefix}fold-color);
    }
  }

  &.bend-top,
  &.bend-bottom,
  &.bend-bottom-left,
  &.bend-top-left {
    &::before {
      left: 0;
      border-left: var(--#{$scss-library-var-prefix}border-width) solid transparent;
    }
  }

  &.bend-top,
  &.bend-bottom,
  &.bend-bottom-right,
  &.bend-top-right {
    &::after {
      right: 0;
      border-right: var(--#{$scss-library-var-prefix}border-width) solid transparent;
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-prefix}#{$scss-library-component-name},
  .#{$scss-library-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}color: #{$color--dark};
    --#{$scss-library-var-prefix}fold-color: #{$fold-color--dark};
    --#{$scss-library-var-prefix}shadow-color: #{$shadow-color--dark};
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}
