@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "highlight-belt" !default;
$scss-library-var-prefix: "" !default;

$highlight-belt-color: #fff !default;
$highlight-belt-fold-color: guebbit.color-shade($highlight-belt-color, 50%) !default;
$highlight-belt-shadow: #000 !default;
$highlight-belt-size: 2em !default;
$highlight-belt-border-width: 25px !default;
$highlight-belt-angle: 30px !default;
$highlight-belt-translate: -($highlight-belt-angle * 0.5 + $highlight-belt-border-width * 0.5 - 3) !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}size: #{$highlight-belt-size};
  --#{$scss-library-var-prefix}border-width: #{$highlight-belt-border-width};
  --#{$scss-library-var-prefix}color: #{$highlight-belt-color};
  --#{$scss-library-var-prefix}fold-color: #{$highlight-belt-fold-color};
  --#{$scss-library-var-prefix}shadow: #{$highlight-belt-shadow};
  --#{$scss-library-var-prefix}angle: #{$highlight-belt-angle};
  --#{$scss-library-var-prefix}translate: #{$highlight-belt-translate};

  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(var(--#{$scss-library-var-prefix}translate));
  width: calc(100% + var(--#{$scss-library-var-prefix}angle) + var(--#{$scss-library-var-prefix}border-width) - 6px);
  background-color: var(--#{$scss-library-var-prefix}color);
  color: guebbit.color-contrast($highlight-belt-color);
  box-shadow: 0 .5rem 1rem rgba($highlight-belt-shadow, 0.15);
  min-height: var(--#{$scss-library-var-prefix}size);
  border-radius: 4px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: transparent;
  }

  &.bend-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  &.bend-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.bend-bottom-left {
    border-bottom-left-radius: 0;
  }

  &.bend-bottom-right {
    border-bottom-right-radius: 0;
  }

  &.bend-top-left {
    border-top-left-radius: 0;
  }

  &.bend-top-right {
    border-top-right-radius: 0;
  }

  &.bend-bottom,
  &.bend-bottom-left {
    &::before {
      top: 100%;
      border-top: var(--#{$scss-library-var-prefix}border-width) solid var(--#{$scss-library-var-prefix}fold-color);
    }
  }

  &.bend-bottom,
  &.bend-bottom-right {
    &::after {
      top: 100%;
      border-top: var(--#{$scss-library-var-prefix}border-width) solid var(--#{$scss-library-var-prefix}fold-color);
    }
  }

  &.bend-top,
  &.bend-top-left {
    &::before {
      bottom: 100%;
      border-bottom: var(--#{$scss-library-var-prefix}border-width) solid var(--#{$scss-library-var-prefix}fold-color);
    }
  }

  &.bend-top,
  &.bend-top-right {
    &::after {
      bottom: 100%;
      border-bottom: var(--#{$scss-library-var-prefix}border-width) solid var(--#{$scss-library-var-prefix}fold-color);
    }
  }

  &.bend-top,
  &.bend-bottom,
  &.bend-bottom-left,
  &.bend-top-left {
    &::before {
      left: 0;
      border-left: var(--#{$scss-library-var-prefix}border-width) solid transparent;
    }
  }

  &.bend-top,
  &.bend-bottom,
  &.bend-bottom-right,
  &.bend-top-right {
    &::after {
      right: 0;
      border-right: var(--#{$scss-library-var-prefix}border-width) solid transparent;
    }
  }
}