$scss-library-prefix: "" !default;
$highlight-line-color: rgba(#fff, 70%) !default;
$highlight-line-size: 3px !default;

%#{$scss-library-prefix}highlight-line,
.#{$scss-library-prefix}highlight-line {
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.5em;
    height: 90%;
    z-index: -1;
    width: var(--highlight-line-size, $highlight-line-size);
    background-color: var(--highlight-line-color, $highlight-line-color);
    transform: translateY(-50%) scaleY(0);
    transition: transform 0.2s;
  }

  &.right-highlight {
    &::after {
      left: auto;
      right: -0.5em;
    }
  }

  &.top-highlight,
  &.middle-highlight,
  &.bottom-highlight {
    &::after {
      left: 50%;
      transform: translateX(-50%) scaleX(0);
      width: 90%;
      height: var(--highlight-line-size, $highlight-line-size);
    }
  }

  &.top-highlight {
    &::after {
      top: -0.5em;
    }
  }

  &.bottom-highlight {
    &::after {
      bottom: -0.5em;
      top: auto;
    }
  }
  
  &.middle-highlight {
    &::after {
      top: 50%;
      left: 0;
      width: 100%;
    }
  }

  &.highlight-line-active,
  &.highlight-line-on-active.active,
  &.highlight-line-on-hover:hover {
    &::after {
      transform: translateY(-50%) scaleY(1);
    }

    &.top-highlight,
    &.bottom-highlight {
      &::after {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }
}
