$highlight-line-color: rgba(#fff, 70%) !default;
$highlight-line-size: 3px;

.highlight-line {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.5em;
    height: 90%;
    width: $highlight-line-size;
    background-color: $highlight-line-color;
    transform: translateY(-50%) scaleY(0);
    transition: transform 0.2s;
  }

  &.right-highlight {
    &::after {
      left: auto;
      right: -0.5em;
    }
  }

  &.top-highlight,
  &.bottom-highlight {
    &::after {
      left: 50%;
      transform: translateX(-50%) scaleX(0);
      width: 90%;
      height: $highlight-line-size;
    }
  }

  &.top-highlight {
    &::after {
      top: -0.5em;
    }
  }

  &.bottom-highlight {
    &::after {
      bottom: -0.5em;
      top: auto;
    }
  }

  &.highlight-line-active,
  &.highlight-line-on-active.active,
  &.highlight-line-on-hover:hover {
    &::after {
      transform: translateY(-50%) scaleY(1);
    }

    &.top-highlight,
    &.bottom-highlight {
      &::after {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }
}
