$scss-library-prefix: "" !default;
$highlight-line-color: rgba(#fff, 70%) !default;
$highlight-line-size: 3px !default;
$highlight-line-length: 0 !default;
$highlight-line-distance: -0.5em !default;
$highlight-line-duration: 0.3s !default;
$highlight-line-active-color: $highlight-line-color !default;
$highlight-line-active-size: $highlight-line-size !default;
$highlight-line-active-length: 100% !default;

%#{$scss-library-prefix}highlight-line,
.#{$scss-library-prefix}highlight-line {
  position: relative;
  z-index: 1;

  --highlight-line-color: #{$highlight-line-color};
  --highlight-line-size: #{$highlight-line-size};
  --highlight-line-length: #{$highlight-line-length};
  --highlight-line-distance: #{$highlight-line-distance};
  --highlight-line-duration: #{$highlight-line-duration};
  --highlight-line-active-color: #{$highlight-line-active-color};
  --highlight-line-active-size: #{$highlight-line-active-size};
  --highlight-line-active-length: #{$highlight-line-active-length};

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    height: 0;
    width: 0;
    background-color: var(--highlight-line-color);
    transition:
            background-color var(--highlight-line-duration),
            transform var(--highlight-line-duration),
            width var(--highlight-line-duration),
            height var(--highlight-line-duration),
            all var(--highlight-line-duration);
  }

  &.full-highlight{
    &::after{
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.left-highlight,
  &.right-highlight{
    &::after {
      top: 50%;
      transform: translateY(-50%);
      height: var(--highlight-line-length);
      width: var(--highlight-line-size);
    }
  }

  &.left-highlight {
    &::after {
      left: var(--highlight-line-distance);
    }
  }

  &.right-highlight {
    &::after {
      right: var(--highlight-line-distance);
    }
  }

  &.top-highlight,
  &.middle-highlight,
  &.bottom-highlight {
    &::after {
      left: 50%;
      transform: translateX(-50%);
      width: var(--highlight-line-length);
      height: var(--highlight-line-size);
    }
  }

  &.top-highlight {
    &::after {
      top: var(--highlight-line-distance);
    }
  }

  &.bottom-highlight {
    &::after {
      bottom: var(--highlight-line-distance);
      top: auto;
    }
  }
  
  &.middle-highlight {
    &::after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.from-start-highlight,
  &.from-afar-highlight {
    &.top-highlight {
      &::after {
        top: var(--highlight-line-distance) !important;
      }
    }

    &.middle-highlight{
      &::after {
        top: 50%;
      }
    }
  }

  &.from-start-highlight {
    &.left-highlight,
    &.right-highlight {
      &::after {
        top: 0;
        transform: none !important;
      }
    }

    &.top-highlight,
    &.middle-highlight,
    &.bottom-highlight {
      &::after {
        left: 0;
        transform: none !important;
      }
    }

    &.bottom-highlight {
      &::after {
        top: auto;
      }
    }
  }

  &.from-afar-highlight {
    &.left-highlight,
    &.right-highlight {
      &::after {
        top: 200%;
      }
    }

    &.top-highlight,
    &.middle-highlight,
    &.bottom-highlight {
      &::after {
        left: 200%;
      }
    }

    &.top-highlight,
    &.bottom-highlight {
      &::after {
        top: auto;
      }
    }

    &.from-start-highlight{
      &.left-highlight,
      &.right-highlight {
        &::after {
          top: -200%;
        }
      }

      &.top-highlight,
      &.middle-highlight,
      &.bottom-highlight {
        &::after {
          left: -200%;
        }
      }

      &.top-highlight,
      &.bottom-highlight {
        &::after {
          top: auto;
        }
      }

      &.middle-highlight {
        &::after {
          top: 50%;
        }
      }
    }
  }

  &.highlight-line-active,
  &.highlight-line-on-active.active,
  &.highlight-line-on-hover:hover {
    &::after {
      background-color: var(--highlight-line-active-color);
    }

    &.full-highlight{
      &::after{
        height: 100%;
        width: 120%;
      }
    }

    &.left-highlight,
    &.right-highlight{
      &::after {
        height: var(--highlight-line-active-length);
        width: var(--highlight-line-active-size);
      }
    }

    &.top-highlight,
    &.middle-highlight,
    &.bottom-highlight {
      &::after {
        width: var(--highlight-line-active-length);
        height: var(--highlight-line-active-size);
      }
    }

    &.top-highlight,
    &.bottom-highlight {
      &::after {
        transform: translateX(-50%);
      }
    }

    &.from-afar-highlight {
      &.left-highlight,
      &.right-highlight {
        &::after {
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &.top-highlight,
      &.middle-highlight,
      &.bottom-highlight {
        &::after {
          left: 0;
        }
      }

      &.top-highlight,
      &.bottom-highlight {
        &::after {
          top: auto;
        }
      }

      &.from-start-highlight{
        &.left-highlight,
        &.right-highlight {
          &::after {
            transform: translateY(-50%) !important;
          }
        }
      }
    }
  }
}
