@use 'architecture' as arch;
@use 'variables' as vars;
@forward 'variables';

$component-map: (
    border-size: vars.$border-size,
    padding: vars.$padding
);

@layer composite-components {
    %#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name},
    .#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
        @include arch.event-minimal-card-architecture();
    }
}
