@use '../../../_generics' as generics;
@use 'variables' as vars;

$component-map: (
    border-size: vars.$border-size,
    padding: vars.$padding,
    duration: vars.$duration
);

@mixin simple-blockquote-architecture($prefix: vars.$css-ui-component-prefix) {
    @include generics.generate-vars($component-map, $prefix);

    @include generics.base-layout($prefix);

    position: relative;
    font-style: italic;
    margin: 2em auto;
    padding: var(--#{$prefix}padding);
    font-size: 1.2em;
    border: none;
    background-color: transparent;
    color: inherit;
    transition:
        border-color var(--#{$prefix}duration),
        background-color var(--#{$prefix}duration),
        color var(--#{$prefix}duration);

    cite,
    &::before,
    &::after {
        font-family: Georgia, serif;
        font-size: 4em;
    }

    &::before,
    &::after {
        color: generics.base-parameter-rgba(main-color, $opacity-token: false);
        position: absolute;
        line-height: 0;
        transition: color var(--#{$prefix}duration);
    }

    &::before {
        padding-left: 0.1em;
        left: -0.1em;
        top: 0.5em;
    }

    &::after {
        padding-right: 0.1em;
        right: 0.1em;
        bottom: 0;
    }

    cite {
        color: generics.base-parameter-rgba(main-color, $opacity-token: false);
        display: block;
        font-weight: bold;
        font-size: 0.8em;
        margin-top: 0.2em;
        transition:
            color var(--#{$prefix}duration),
            background-color var(--#{$prefix}duration);

        &::before {
            color: inherit;
            content: '\2014 \2009';
        }
    }

    &.#{generics.$css-ui-class-prefix}quote-left {
        &::before {
            content: '' + vars.$quote-left;
        }
    }

    &.#{generics.$css-ui-class-prefix}quote-right {
        &::after {
            content: '' + vars.$quote-right;
        }
    }

    &.#{generics.$css-ui-class-prefix}cite-right {
        cite {
            text-align: right;
        }
    }

    &.#{generics.$css-ui-class-prefix}cite-center {
        cite {
            text-align: center;
        }
    }

    &.#{generics.$css-ui-class-prefix}border-right {
        border-right: var(--#{$prefix}border-size) solid generics.base-parameter-rgba(main-color, $opacity-token: false);
        padding-right: 3em;
    }

    &.#{generics.$css-ui-class-prefix}border-left {
        border-left: var(--#{$prefix}border-size) solid generics.base-parameter-rgba(main-color, $opacity-token: false);
        padding-left: 3em;
    }

    &.#{generics.$css-ui-class-prefix}border-top {
        border-top: var(--#{$prefix}border-size) solid generics.base-parameter-rgba(main-color, $opacity-token: false);
        padding-top: 2em;
    }

    &.#{generics.$css-ui-class-prefix}border-bottom {
        border-bottom: var(--#{$prefix}border-size) solid generics.base-parameter-rgba(main-color, $opacity-token: false);
        padding-bottom: 3em;
    }

    &.#{generics.$css-ui-class-prefix}cite-tag {
        cite {
            display: inline-block;
            background: generics.base-parameter-rgba(main-color, $opacity-token: false);
            color: generics.base-parameter-rgba(on-main-color, $color-fallback: var(--#{vars.$css-ui-var-prefix}main-color), $opacity-token: false);
            font-size: 0.5em;
            padding: 0 1em;
            margin-top: 1em;
            font-style: normal;
        }
    }

    &.#{generics.$css-ui-class-prefix}quote-sides {
        &::after,
        &::before {
            top: 50%;
            transform: translateY(-50%);
            padding: 0;
        }

        &::before {
            left: -0.6em;
        }

        &::after {
            top: 80%;
            right: -0.5em;
        }
    }

    &.#{generics.$css-ui-class-prefix}center-quote {
        padding-top: 3em;
        padding-bottom: 3em;

        &::before,
        &::after {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }

        &::before {
            top: 0.5em;
        }

        &::after {
            bottom: 0;
        }
    }

    @include generics.interaction-states() {
        &::before,
        &::after {
            color: generics.base-parameter-rgba(active-main-color, $opacity-token: false);
        }

        cite {
            color: generics.base-parameter-rgba(active-main-color, $opacity-token: false);
        }

        &.#{generics.$css-ui-class-prefix}cite-tag {
            cite {
                background: generics.base-parameter-rgba(active-main-color, $opacity-token: false);
            }
        }

        &.#{generics.$css-ui-class-prefix}border-right,
        &.#{generics.$css-ui-class-prefix}border-left,
        &.#{generics.$css-ui-class-prefix}border-top,
        &.#{generics.$css-ui-class-prefix}border-bottom {
            border-color: generics.base-parameter-rgba(active-main-color, $opacity-token: false);
        }
    }

}
