@use '../../../_generics' as generics;
@use 'variables' as vars;

%#{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}-toggle-on-active {
    padding-left: 0;
    padding-right: 0;
    opacity: 0;
    letter-spacing: -0.5em;
}

@mixin special-title-architecture($prefix: vars.$css-ui-component-prefix) {
    @include generics.generate-vars(vars.$component-variables-map, $prefix);

    @include generics.base-layout();

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.1;

    .#{generics.$css-ui-class-prefix}special-title-highlight {
        background-color: generics.base-parameter-rgba(main-color);
    }

    .#{generics.$css-ui-class-prefix}special-title-enlarge,
    .#{generics.$css-ui-class-prefix}special-title-disappear-on-active {
        padding-left: 0.25em;
        padding-right: 0.25em;
    }

    .#{generics.$css-ui-class-prefix}special-title-appear-on-active,
    .#{generics.$css-ui-class-prefix}special-title-disappear-on-active {
        white-space: nowrap;
        transition:
            var(--#{$prefix}line-duration) opacity,
            var(--#{$prefix}line-duration) letter-spacing,
            0.1s padding;
    }

    .#{generics.$css-ui-class-prefix}special-title-appear-on-active {
        @extend %#{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}-toggle-on-active;
    }

    .#{generics.$css-ui-class-prefix}special-title-enlarge {
        font-size: 2em;
        margin-top: var(--#{$prefix}adjust);
    }

    &.#{generics.$css-ui-class-prefix}title-with-shadow {
        text-shadow:
            0 2px 4px generics.base-parameter-rgba(main-color),
            0 4px 5px generics.base-parameter-rgba(main-color),
            0 1px 10px generics.base-parameter-rgba(main-color);
    }

    &.#{generics.$css-ui-class-prefix}title-with-strong-shadow {
        text-shadow:
            0 0 20px generics.base-parameter-rgba(main-color),
            0 0 20px generics.base-parameter-rgba(main-color),
            0 0 20px generics.base-parameter-rgba(main-color);
    }

    &.#{generics.$css-ui-class-prefix}title-with-line,
    &.#{generics.$css-ui-class-prefix}title-with-full-line,
    &.#{generics.$css-ui-class-prefix}title-with-line-border {
        position: relative;
        z-index: 1;
    }

    &.#{generics.$css-ui-class-prefix}title-with-line-border,
    &.#{generics.$css-ui-class-prefix}title-with-line {
        & > * {
            background-color: generics.base-parameter-rgba(main-color);
        }
    }

    &.#{generics.$css-ui-class-prefix}title-with-line,
    &.#{generics.$css-ui-class-prefix}title-with-full-line {
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: generics.base-parameter-rgba(main-color);
            height: var(--#{$prefix}line-height);
            width: 100%;
            z-index: -2;
        }
    }

    &.#{generics.$css-ui-class-prefix}title-with-full-line {
        & > * {
            background-color: generics.base-parameter-rgba(main-color);
        }

        &::before {
            height: 150%;
        }
    }

    &.#{generics.$css-ui-class-prefix}title-with-line-border {
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            z-index: -1;
            border-top: var(--#{$prefix}line-height) var(--#{$prefix}border-style) currentColor;
            border-top-color: generics.base-parameter-rgba(main-color);
        }

        &.#{generics.$css-ui-class-prefix}title-with-line,
        &.#{generics.$css-ui-class-prefix}title-with-full-line {
            &::after {
                border-top-color: currentcolor;
                border-top-color: generics.base-parameter-rgba(main-color);
            }
        }
    }

    @include generics.interaction-states() {
        .#{generics.$css-ui-class-prefix}special-title-appear-on-active {
            padding-left: 0.25em;
            padding-right: 0.25em;
            opacity: 1;
            letter-spacing: initial;
        }

        .#{generics.$css-ui-class-prefix}special-title-disappear-on-active {
            @extend %#{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}-toggle-on-active;
        }
    }

}