@use "@guebbit/css-toolkit" as guebbit;

// ------------------- @import clause -------------------
// ------------------------------------------------------

$css-ui-component-name: "simple-card";
@import "../../../src/molecules/cards/SimpleCard";

$css-ui-component-name: "book-card";

/*
$css-ui-component-name: "book-card" !default;

@forward "../../../src/molecules/cards/SimpleCard";
@use "../../../src/molecules/cards/SimpleCard" as inherited;
*/

// ------------------------------------------------------
// ------------------------------------------------------

$tilt: 21px !default;
$spine-width: 50px !default;
$overlay: rgba(guebbit.no-null-var(($color, #000)), 0.2) !default;
$active-overlay: rgba(guebbit.no-null-var(($color, #000)), 0.4) !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  @extend %#{$css-ui-class-prefix}simple-card;

  --#{$css-ui-var-prefix}overlay: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-overlay, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}overlay, #{$overlay}));
  --#{$css-ui-var-prefix}active-overlay: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-overlay, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-overlay, #{$active-overlay}));
  --#{$css-ui-var-prefix}tilt: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-tilt, #{$tilt});
  --#{$css-ui-var-prefix}spine-width: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-spine-width, #{$spine-width});

  width: auto !important;
  box-shadow: none !important;
  background: transparent;
  perspective: 1200px;

  .card-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  & > div {
    width: 100%;
    height: 100%;
    // box-shadow: var(--simple-card-shadow);
    transition: 0.75s;
    transform-style: preserve-3d;
  }

  .card-icon {
    width: 100%;
    height: auto;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .book-cover,
  .book-spine{
    z-index: 1;

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--#{$css-ui-var-prefix}overlay);
      transition: background var(--#{$css-ui-var-prefix}duration) ease;
      z-index: 0;
    }
  }

  .book-cover {
    position: relative;

    .card-top,
    .card-bottom {
      position: absolute;

      img {
        max-height: 100px;
        max-width: 100px;
      }
    }

    .card-top {
      top: 0;
      left: 0;
    }

    .card-bottom {
      bottom: 0;
      right: 0;
    }
  }

  .book-spine {
    position: absolute;
    bottom: 0;
    top: 0;
    width: var(--#{$css-ui-var-prefix}spine-width);
    overflow: hidden;
    transform: rotateY(-90deg) translateX(calc(var(--#{$css-ui-var-prefix}spine-width) * -1));
    transform-origin: 0 0;

    .card-content {
      left: calc(var(--#{$css-ui-var-prefix}spine-width) * 0.75);
      transform: rotateZ(90deg);
      transform-origin: 0 0;
      padding-top: 0;
      padding-bottom: 0;
      white-space: nowrap;
    }

    .card-background {
      top: 0;
    }

    .card-top,
    .card-bottom {
      display: block;
      position: absolute;
    }

    .card-top {
      top: 0;
    }

    .card-bottom {
      bottom: 0;
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background: transparent;

    .book-cover,
    .book-spine{

      &::before {
        background-color: var(--#{$css-ui-var-prefix}active-overlay);
      }
    }


    & > div {
      transform:
              translate3d(var(--#{$css-ui-var-prefix}tilt), 0, var(--#{$css-ui-var-prefix}tilt))
              rotateY(36deg);
    }
  }
}
