/* ------------------- @import clause ------------------- */
/* ------------------------------------------------------ */
@import "../../../src/molecules/cards/SimpleCard.css";

/*

@import "../../../src/molecules/cards/SimpleCard.css";

*/

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.countdown-card {
  @extend .simple-card;

  display: inline-flex;
  width: auto;
  padding: var(--padding);
  text-align: center;
  line-height: 1.5;

  .timer{
    display: block;
    font-size: 3em;
    font-weight: 600;
  }
}