@use "@guebbit/css-toolkit" as guebbit;
@use "../../utils" as utils;
@use "../../../src/molecules/cards/SimpleCard" as sc;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-root-prefix: "--" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "countdown-card" !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  @include sc.apply();

  display: inline-flex;
  width: auto;
  padding: var(--#{$css-ui-var-prefix}padding);
  text-align: center;
  line-height: 1.5;

  .#{$css-ui-class-prefix}timer{
    display: block;
    font-size: 3em;
    font-weight: 600;
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder {
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    @include sc.dark-apply();
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class} {
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
