
@use "../../../node_modules/@guebbit/css-toolkit" as guebbit;

$scss-library-class-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "credit-card" !default;

// main
$color: null !default;
$color--light: guebbit.no-null-var(($color, #000)) !default;
$color--dark: guebbit.no-null-var(($color, #fff)) !default;

// LIGHT theme
$on-color: guebbit.color-contrast($color--light) !default;
$wave-color: rgba(#000, 0.2) !default;
$chip-color: #fff !default;
$chip-on-color: #4c4c4c !default;

// DARK theme
$on-color--dark: guebbit.color-contrast($color--dark) !default;
$wave-color--dark: rgba(#000, 0.2) !default;
$chip-color--dark: #fff !default;
$chip-on-color--dark: #4c4c4c !default;

// generics
$duration: 0.6s !default;

%#{$scss-library-class-prefix}#{$scss-library-component-name},
.#{$scss-library-class-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--light});
  --#{$scss-library-var-prefix}on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-color, #{$on-color});
  --#{$scss-library-var-prefix}wave-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-wave-color, #{$wave-color});
  --#{$scss-library-var-prefix}chip-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-chip-color, #{$chip-color});
  --#{$scss-library-var-prefix}chip-on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-chip-on-color, #{$chip-on-color});
  --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});

  .credit-card-true {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 63%;
    transform-style: preserve-3d;
    transition: 
            transform var(--#{$scss-library-var-prefix}duration), 
            transform var(--#{$scss-library-var-prefix}duration);
    cursor: pointer;
  }

  .credit-card-front,
  .credit-card-back {
    overflow: hidden;
    width: 100%;
    // -webkit-box-shadow: 1px 5px 6px 0px black;
    // box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
  }

  .credit-card-front,
  .back-card {
    fill: var(--#{$scss-library-var-prefix}color);
  }

  .bottom-card {
    fill: var(--#{$scss-library-var-prefix}wave-color);
  }

  .front,
  .back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
  }

  .back {
    transform: rotateY(180deg);
  }

  // ----- FRONT -----
  .credit-card-logo {
    position: absolute;
    right: 15px;
    top: 20px;
    max-width: 40%;
    max-height: 25%;
  }

  .svg-label-name {
    text-transform: uppercase;
  }

  .credit-card-front {
    .st2 {
      fill: var(--#{$scss-library-var-prefix}on-color);
    }

    .st3 {
      font-family: "Source Code Pro", monospace;
      font-weight: 600;
    }

    .st4 {
      font-size: 54.7817px;
    }

    .st5 {
      font-family: "Source Code Pro", monospace;
      font-weight: 400;
    }

    .st6 {
      font-size: 33.1112px;
    }

    .st7 {
      opacity: 0.6;
      fill: var(--#{$scss-library-var-prefix}on-color);
    }

    .st8 {
      font-size: 24px;
    }

    .st9 {
      font-size: 36.5498px;
    }

    .st10 {
      font-family: "Source Code Pro", monospace;
      font-weight: 300;
    }

    .st11 {
      font-size: 16.1716px;
    }

    .st12 {
      fill: var(--#{$scss-library-var-prefix}chip-on-color);
    }
  }


  .credit-card-chip {
    .st2 {
      fill: var(--#{$scss-library-var-prefix}chip-color);
    }
  }

  // ----- BACK -----
  .credit-card-back {
    fill: var(--#{$scss-library-var-prefix}on-color);

    .st0 {
      fill: none;
      stroke: var(--#{$scss-library-var-prefix}on-color);
      stroke-miterlimit: 10;
    }


    .st2 {
      fill: #111;
    }

    .st3 {
      fill: #f2f2f2;
    }

    .st4 {
      fill: #d8d2db;
    }

    .st5 {
      fill: #c4c4c4;
    }

    .st6 {
      font-family: "Source Code Pro", monospace;
      font-weight: 400;
    }

    .st7 {
      font-size: 27px;
    }

    .st8 {
      opacity: 0.6;
    }

    .st9 {
      fill: var(--#{$scss-library-var-prefix}on-color);
    }

    .st10 {
      font-size: 24px;
    }

    .st11 {
      fill: #eaeaea;
    }

    .st12 {
      font-family: "Rock Salt", cursive;
    }

    .st13 {
      font-size: 37.769px;
    }
  }

  &.card-email-mode {
    .svg-label-identification {
      font-size: 32px;
    }

    .svg-label-expiration,
    .svg-value-expiration,
    .svg-label-security,
    .svg-value-security {
      display: none;
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    .credit-card-true {
      transform: rotateY(180deg);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$scss-library-class-prefix}#{$scss-library-component-name},
  .#{$scss-library-class-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--dark});
    --#{$scss-library-var-prefix}on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-color, #{$on-color--dark});
    --#{$scss-library-var-prefix}wave-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-wave-color, #{$wave-color--dark});
    --#{$scss-library-var-prefix}chip-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-chip-color, #{$chip-color--dark});
    --#{$scss-library-var-prefix}chip-on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-chip-on-color, #{$chip-on-color--dark});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
