.image-hover-card-mobile-mode {
  & > .card-media {
    height: 20%;

    & > img {
      transform: translate(-50%,-50%) scale(1.1);
    }
  }

  & > .card-content {
    opacity: 1;
    height: 60%;
  }
}

.image-hover-card {
  --duration: var(--image-hover-card-duration, 0.5s);

  position: relative;
  width: 100%;
  transition:
          box-shadow var(--duration),
          background-color var(--duration);

  & > .card-media {
    position: absolute;
    top: 20%;
    left: 0;
    height: 100%;
    width: 100%;
    transition: height var(--duration);

    & > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.8);
      transition:
              width var(--duration),
              transform var(--duration);
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  & > .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
            opacity var(--duration),
            height var(--duration),
            padding var(--duration);
  }

  &.contained {
    & > .card-media {
      overflow: hidden;
    }
  }

  &.mobile-active,
  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    @extend .image-hover-card-mobile-mode;
  }

  /* on mobile I want it to be already opened */
  @media (max-width: 600px){
    @extend .image-hover-card-mobile-mode;
  }
}