@use "@guebbit/css-toolkit" as guebbit;
@use "../../utils" as utils;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-root-prefix: "--" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "popup-card" !default;

$threshold-mobile: 600px !default;
$duration: 0.5s !default;

/**
 * Mobile mode
 */
@mixin mobile-mode-builder {
  & > .main-content {
    height: 20%;

    & > * {
      transform: translate(-50%,-50%) scale(1.1);
    }
  }

  & > .popup-content {
    opacity: 1;
    height: 60%;
  }
}


%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  --#{$css-ui-var-prefix}duration: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-duration, #{$duration});

  position: relative;
  width: 100%;
  // margin-top: 25%;
  // margin-bottom: 10%;
  transition:
      box-shadow var(--#{$css-ui-var-prefix}duration),
      background-color var(--#{$css-ui-var-prefix}duration);

  & > .main-content,
  & > .popup-content{
    position: absolute;
    left: 0;
    width: 100%;
  }

  & > .main-content {
    top: 20%;
    height: 100%;
    transition: height $duration;
    z-index: -1;

    & > * {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.8);
      transition:
          width var(--#{$css-ui-var-prefix}duration),
          transform var(--#{$css-ui-var-prefix}duration);
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  & > .popup-content {
    bottom: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
        opacity var(--#{$css-ui-var-prefix}duration),
        height var(--#{$css-ui-var-prefix}duration),
        padding var(--#{$css-ui-var-prefix}duration);
  }

  &.contained {
    & > .main-content {
      overflow: hidden;
    }
  }

  &.mobile-active,
  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    @include mobile-mode-builder;
  }

  // on mobile I want it to be already opened
  @media (max-width: $threshold-mobile){
    @include mobile-mode-builder;
  }
}