@use "@guebbit/css-toolkit" as guebbit;
@use "../../utils" as utils;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-root-prefix: "--" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "simple-card" !default;

// Main $variables
$color: null !default;
$color--light: guebbit.no-null-var(($color, transparent)) !default;
$color--dark: guebbit.no-null-var(($color, transparent)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;

// LIGHT theme
$background: $color--light !default;
$on-background: guebbit.color-contrast($background) !default;
$border-color: $background !default;
$outlined-background: transparent !default;
$outlined-on-background: guebbit.no-target-var(transparent, $color--light) !default;
$plain-color: guebbit.no-target-var(transparent, $color--light) !default;
$header: transparent !default;
$on-header: inherit !default;
$footer: transparent !default;
$on-footer: inherit !default;
$title-color: inherit !default;
$icon-color: currentcolor !default;
$shadow-color: #000 !default;
$shadow-on-color: inherit !default;
$divider-color: guebbit.color-contrast($background) !default;

$active-background: $active-color--light !default;
$active-on-background: guebbit.color-contrast($active-background) !default;
$active-border-color: $active-background !default;
$active-outlined-background: transparent !default;
$active-outlined-on-background: guebbit.no-target-var(transparent, $active-color--light) !default;
$active-plain-color: guebbit.no-target-var(transparent, $active-color--light) !default;
$active-header: $header !default;
$active-on-header: guebbit.color-contrast($active-header) !default;
$active-footer: $footer !default;
$active-on-footer: guebbit.color-contrast($active-footer) !default;
$active-title-color: inherit !default;
$active-icon-color: currentcolor !default;
$active-shadow-color: $shadow-color !default;
$active-shadow-on-color: $shadow-on-color !default;
$active-divider-color: guebbit.color-contrast($active-background) !default;

// DARK theme
$background--dark: $color--dark !default;
$on-background--dark: guebbit.color-contrast($background--dark) !default;
$border-color--dark: $background--dark !default;
$outlined-background--dark: transparent !default;
$outlined-on-background--dark: guebbit.no-target-var(transparent, $color--dark) !default;
$plain-color--dark: guebbit.no-target-var(transparent, $color--dark) !default;
$header--dark: transparent !default;
$on-header--dark: inherit !default;
$footer--dark: transparent !default;
$on-footer--dark: inherit !default;
$title-color--dark: inherit !default;
$icon-color--dark: currentcolor !default;
$shadow-color--dark: #000 !default;
$shadow-on-color--dark: inherit !default;
$divider-color--dark: guebbit.color-contrast($background--dark) !default;

$active-background--dark: $active-color--dark !default;
$active-on-background--dark: guebbit.color-contrast($active-background--dark) !default;
$active-border-color--dark: $active-background--dark !default;
$active-outlined-background--dark: transparent !default;
$active-outlined-on-background--dark: guebbit.no-target-var(transparent, $active-color--dark) !default;
$active-plain-color--dark: guebbit.no-target-var(transparent, $active-color--dark) !default;
$active-header--dark: $header !default;
$active-on-header--dark: guebbit.color-contrast($active-header--dark) !default;
$active-footer--dark: $footer !default;
$active-on-footer--dark: guebbit.color-contrast($active-footer--dark) !default;
$active-title-color--dark: inherit !default;
$active-icon-color--dark: currentcolor !default;
$active-shadow-color--dark: $shadow-color !default;
$active-shadow-on-color--dark: $shadow-on-color !default;
$active-divider-color--dark: guebbit.color-contrast($active-background--dark) !default;

// borders
$border-width: 6px !default;
$border-radius: 6px !default;
$image-border-radius: $border-radius !default;
// dividers (similar to colors but different)
$divider-height: 2px !default;

// generic
$padding: 24px !default;
$duration: 0.3s !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  @include utils.var-builder((
                  (background, $background, color),
                  (on-background, $on-background, on-color),
                  (border-color, $border-color, color),
                  (outlined-background, $outlined-background),
                  (outlined-on-background, $outlined-on-background, color),
                  (plain-color, $plain-color, color),

                  (active-background, $active-background, active-color),
                  (active-on-background, $active-on-background, active-on-color),
                  (active-border-color, $active-border-color, active-color),
                  (active-outlined-background, $active-outlined-background),
                  (active-outlined-on-background, $active-outlined-on-background, active-color),
                  (active-plain-color, $active-plain-color, active-color),

                  (border-width, $border-width),
                  (border-radius, $border-radius),
                  (image-border-radius, $image-border-radius),
                  (divider-height, $divider-height),
                  (padding, $padding),
                  (duration, $duration),

                  (header, $header),
                  (on-header, $on-header),
                  (footer, $footer),
                  (on-footer, $on-footer),
                  (title-color, $title-color),
                  (icon-color, $icon-color),
                  (divider-color, $divider-color),

                  (active-header, $active-header),
                  (active-on-header, $active-on-header),
                  (active-footer, $active-footer),
                  (active-on-footer, $active-on-footer),
                  (active-title-color, $active-title-color),
                  (active-icon-color, $active-icon-color),
                  (active-divider-color, $active-divider-color),
  ), $css-ui-var-prefix, $css-ui-component-name, $css-ui-root-prefix);

  --#{$css-ui-var-prefix}shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-shadow-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-color, #{guebbit.extract-colors($shadow-color)}));
  --#{$css-ui-var-prefix}active-shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-shadow-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-shadow-color, #{guebbit.extract-colors($active-shadow-color)}));

  width: 100%;
  background: var(--#{$css-ui-var-prefix}background);
  color: var(--#{$css-ui-var-prefix}on-background);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border-color: var(--#{$css-ui-var-prefix}border-color);
  border-style: solid;
  border-width: 0;
  border-radius: var(--#{$css-ui-var-prefix}border-radius);
  box-shadow:
          0 2px 4px -1px rgba(var(--#{$css-ui-var-prefix}shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-1, .2)),
          0 4px 5px 0 rgba(var(--#{$css-ui-var-prefix}shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-2, .14)),
          0 1px 10px 0 rgba(var(--#{$css-ui-var-prefix}shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-3, .12));
  transition:
          background var(--#{$css-ui-var-prefix}duration) ease,
          color var(--#{$css-ui-var-prefix}duration) ease,
          border var(--#{$css-ui-var-prefix}duration) ease,
          box-shadow var(--#{$css-ui-var-prefix}duration) ease,
          text-shadow var(--#{$css-ui-var-prefix}duration) ease,
          transform var(--#{$css-ui-var-prefix}duration) ease,
          fill var(--#{$css-ui-var-prefix}duration) ease,
          opacity var(--#{$css-ui-var-prefix}duration) ease;

  & > * {
    &:first-child {
      border-top-left-radius: var(--#{$css-ui-var-prefix}image-border-radius);
      border-top-right-radius: var(--#{$css-ui-var-prefix}image-border-radius);
    }

    &:last-child {
      border-bottom-left-radius: var(--#{$css-ui-var-prefix}image-border-radius);
      border-bottom-right-radius: var(--#{$css-ui-var-prefix}image-border-radius);
    }
  }

  .card-header,
  .card-footer,
  .card-actions {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc(var(--#{$css-ui-var-prefix}padding) * 0.5);
    flex-wrap: wrap;
  }

  .card-header {
    background-color: var(--#{$css-ui-var-prefix}header);
    color: var(--#{$css-ui-var-prefix}on-header);
    padding:
            var(--#{$css-ui-var-prefix}padding)
            var(--#{$css-ui-var-prefix}padding)
            0
            var(--#{$css-ui-var-prefix}padding);
  }

  .card-footer {
    background-color: var(--#{$css-ui-var-prefix}footer);
    color: var(--#{$css-ui-var-prefix}on-footer);
    padding:
            0
            var(--#{$css-ui-var-prefix}padding)
            var(--#{$css-ui-var-prefix}padding)
            var(--#{$css-ui-var-prefix}padding);
  }

  .card-content {
    padding: var(--#{$css-ui-var-prefix}padding);
  }

  .card-image,
  .card-background {
    z-index: -1;
    object-fit: cover;
    flex-shrink: 0;
  }

  .card-background {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .card-title,
  .card-subtitle{
    color: var(--#{$css-ui-var-prefix}title-color);
  }

  .card-title {
    font-size: 1.5em;
  }

  .card-subtitle {
    opacity: 0.85;
    font-size: 0.85em;
  }

  .card-icon {
    font-size: 2em;
    width: 1em;
    height: 1em;
    color: var(--#{$css-ui-var-prefix}icon-color);
    fill: currentcolor;
  }

  .card-divider{
    border: 0;
    width: 100%;
    height: var(--#{$css-ui-var-prefix}divider-height);
    background-color: var(--#{$css-ui-var-prefix}divider-color);
  }

  .card-actions {
    &.card-actions-absolute {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 100%;
      max-height: 100%;
      padding: var(--#{$css-ui-var-prefix}padding);
    }

    &.card-actions-center {
      justify-content: center;
    }

    &.card-actions-end {
      justify-content: flex-end;
    }

    &.card-actions-vertical{
      flex-direction: column;
    }
  }

  .card-alert {
    position: absolute;
    top: 0;
    height: 100%;
    padding: var(--#{$css-ui-var-prefix}padding);
    max-width: calc(var(--#{$css-ui-var-prefix}padding) * 4);
    font-size: calc(var(--#{$css-ui-var-prefix}padding) * 2);

    .card-icon {
      font-size: 1em;
    }
  }

  &.alert-left-top,
  &.alert-left-center {
    .card-content {
      padding-left: calc(var(--#{$css-ui-var-prefix}padding) * 4);
    }

    .card-alert {
      left: 0;
    }
  }

  &.alert-center,
  &.alert-right-center,
  &.alert-left-center{
    .card-alert{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.alert-right-top,
  &.alert-right-center{
    .card-content{
      padding-right: calc(var(--#{$css-ui-var-prefix}padding) * 4);
    }

    .card-alert {
      right: 0;
    }
  }

  &.alert-center{
    .card-content{
      padding-top: calc(var(--#{$css-ui-var-prefix}padding) * 4);
    }

    .card-alert{
      height: auto;
      max-width: none;
      width: 100%;
    }
  }

  &.card-flat {
    box-shadow: none !important;
  }

  &.card-elevated{
    box-shadow:
            0 11px 15px -7px rgba(var(--#{$css-ui-var-prefix}shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-1, .2)),
            0 24px 38px 3px rgba(var(--#{$css-ui-var-prefix}shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-2, .14)),
            0 9px 46px 8px rgba(var(--#{$css-ui-var-prefix}shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-3, .12));
  }

  &.card-shadow {
    text-shadow:
            0 2px 4px -1px rgba(var(--#{$css-ui-var-prefix}shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-1, .2)),
            0 4px 5px 0 rgba(var(--#{$css-ui-var-prefix}shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-2, .14)),
            0 1px 10px 0 rgba(var(--#{$css-ui-var-prefix}shadow--text-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-3, .12));

    .card-title,
    .card-subtitle{
      color: var(--#{$css-ui-var-prefix}shadow-on-color);
    }

    .card-button{
      color: inherit;
    }

    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(var(--#{$css-ui-var-prefix}shadow-color));
      opacity: var(--#{$css-ui-var-prefix}shadow-opacity, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-level-3, 0.75));
      z-index: -1;
    }
  }

  &.card-image-left,
  &.card-image-right{
    flex-direction: row;

    .card-image{
      width: 30%;
    }
  }

  &.card-image-left{
    .card-image{
      border-radius:
              var(--#{$css-ui-var-prefix}image-border-radius)
              0
              0
              var(--#{$css-ui-var-prefix}image-border-radius);
    }
  }

  &.card-image-right{
    .card-image {
      order: 2;
      border-radius:
              0
              var(--#{$css-ui-var-prefix}image-border-radius)
              var(--#{$css-ui-var-prefix}image-border-radius)
              0;
    }
  }

  &.card-blurred{
     background-clip: border-box;
     backdrop-filter: blur(10px);
  }

  &.card-plain {
    background: transparent;
    color: var(--#{$css-ui-var-prefix}plain-color);
  }

  &.card-outlined{
    background-color: var(--#{$css-ui-var-prefix}outlined-background);
    color: var(--#{$css-ui-var-prefix}outlined-on-background);
    border-width: calc(var(--#{$css-ui-var-prefix}border-width) * 0.5);
  }

  &.border-active,
  &.border-on-active.active,
  &.border-on-hover:hover {
    // border: var(--#{$css-ui-var-prefix}border-color) solid var(--#{$css-ui-var-prefix}border-width);
    border-width: var(--#{$css-ui-var-prefix}border-width);
  }

  &.border-left-active,
  &.border-left-on-active.active,
  &.border-left-on-hover:hover {
      border-left: var(--#{$css-ui-var-prefix}border-color)  solid var(--#{$css-ui-var-prefix}border-width) ;
  }

  &.border-right-active,
  &.border-right-on-active.active,
  &.border-right-on-hover:hover {
      border-right: var(--#{$css-ui-var-prefix}border-color)  solid var(--#{$css-ui-var-prefix}border-width) ;
  }

  &.border-top-active,
  &.border-top-on-active.active,
  &.border-top-on-hover:hover {
      border-top: var(--#{$css-ui-var-prefix}border-color)  solid var(--#{$css-ui-var-prefix}border-width) ;
  }

  &.border-bottom-active,
  &.border-bottom-on-active.active,
  &.border-bottom-on-hover:hover {
      border-bottom: var(--#{$css-ui-var-prefix}border-color)  solid var(--#{$css-ui-var-prefix}border-width) ;
  }

  &:not(.animate-active),
  &.animate-on-active:not(.active),
  &.animate-on-hover:not(:hover) {
    .show-on-active{
      display: none;
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background: var(--#{$css-ui-var-prefix}active-background);
    color: var(--#{$css-ui-var-prefix}active-on-background);
    border-color: var(--#{$css-ui-var-prefix}active-border-color);
    box-shadow:
            0 2px 4px -1px rgba(var(--#{$css-ui-var-prefix}active-shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-1, .2)),
            0 4px 5px 0 rgba(var(--#{$css-ui-var-prefix}active-shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-2, .14)),
            0 1px 10px 0 rgba(var(--#{$css-ui-var-prefix}active-shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-3, .12));

    .card-header {
      background-color: var(--#{$css-ui-var-prefix}active-header);
      color: var(--#{$css-ui-var-prefix}active-on-header);
    }

    .card-footer {
      background-color: var(--#{$css-ui-var-prefix}active-footer);
      color: var(--#{$css-ui-var-prefix}active-on-footer);
    }

    .card-title,
    .card-subtitle{
      color: var(--#{$css-ui-var-prefix}active-title-color);
    }

    .card-icon {
      color: var(--#{$css-ui-var-prefix}active-icon-color);
    }

    .card-divider{
      background-color: var(--#{$css-ui-var-prefix}active-divider-color);
    }

    &.card-elevated{
      box-shadow:
              0 11px 15px -7px rgba(var(--#{$css-ui-var-prefix}active-shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-1, .2)),
              0 24px 38px 3px rgba(var(--#{$css-ui-var-prefix}active-shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-2, .14)),
              0 9px 46px 8px rgba(var(--#{$css-ui-var-prefix}active-shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-3, .12));
    }

    &.card-shadow {
      text-shadow:
              0 2px 4px -1px rgba(var(--#{$css-ui-var-prefix}active-shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-1, .2)),
              0 4px 5px 0 rgba(var(--#{$css-ui-var-prefix}active-shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-2, .14)),
              0 1px 10px 0 rgba(var(--#{$css-ui-var-prefix}active-shadow-color) / var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-box-3, .12));

      .card-title,
      .card-subtitle{
        color: var(--#{$css-ui-var-prefix}active-shadow-on-color);
      }

      &::after{
        background-color: rgba(var(--#{$css-ui-var-prefix}active-shadow-color));
      }
    }

    &.card-plain {
      background: transparent;
      color: var(--#{$css-ui-var-prefix}active-plain-color);
    }

    &.card-outlined{
      background-color: var(--#{$css-ui-var-prefix}active-outlined-background);
      color: var(--#{$css-ui-var-prefix}active-outlined-on-background);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    @include utils.var-builder((
                    (background, $background--dark, color),
                    (on-background, $on-background--dark, on-color),
                    (border-color, $border-color--dark, color),
                    (outlined-background, $outlined-background--dark),
                    (outlined-on-background, $outlined-on-background--dark, color),
                    (plain-color, $plain-color--dark, color),

                    (active-background, $active-background--dark, active-color),
                    (active-on-background, $active-on-background--dark, active-on-color),
                    (active-border-color, $active-border-color--dark, active-color),
                    (active-outlined-background, $active-outlined-background--dark),
                    (active-outlined-on-background, $active-outlined-on-background--dark, active-color),
                    (active-plain-color, $active-plain-color--dark, active-color),

                    (header, $header--dark),
                    (on-header, $on-header--dark),
                    (footer, $footer--dark),
                    (on-footer, $on-footer--dark),
                    (title-color, $title-color--dark),
                    (icon-color, $icon-color--dark),
                    (divider-color, $divider-color--dark),

                    (active-header, $active-header--dark),
                    (active-on-header, $active-on-header--dark),
                    (active-footer, $active-footer--dark),
                    (active-on-footer, $active-on-footer--dark),
                    (active-title-color, $active-title-color--dark),
                    (active-icon-color, $active-icon-color--dark),
                    (active-divider-color, $active-divider-color--dark),
    ), $css-ui-var-prefix, $css-ui-component-name, $css-ui-root-prefix);

    --#{$css-ui-var-prefix}shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-shadow-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-color, #{guebbit.extract-colors($shadow-color--dark)}));
    --#{$css-ui-var-prefix}active-shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-shadow-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-shadow-color, #{guebbit.extract-colors($active-shadow-color--dark)}));
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
