@use "@guebbit/css-toolkit" as guebbit;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "blockquote-simple" !default;

// main
$color: null !default;
$color--light: guebbit.no-null-var(($color, #000)) !default;
$color--dark: guebbit.no-null-var(($color, #fff)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;

// LIGHT colors
$background: transparent !default;
$on-background: guebbit.color-contrast($background) !default;
$cite: $color--light !default;
$on-cite: guebbit.color-contrast($cite) !default;
$border-color: $color--light !default;

$active-background: $background !default;
$active-on-background: $on-background !default;
$active-cite: $active-color--light !default;
$active-on-cite: guebbit.color-contrast($active-cite) !default;
$active-border-color: $active-color--light !default;

// DARK colors
$background--dark: transparent !default;
$on-background--dark: guebbit.color-contrast($background--dark) !default;
$cite--dark: $color--dark !default;
$on-cite--dark: guebbit.color-contrast($cite--dark) !default;
$border-color--dark: $color--dark !default;

$active-background--dark: $background--dark !default;
$active-on-background--dark: $on-background--dark !default;
$active-cite--dark: $active-color--dark !default;
$active-on-cite--dark: guebbit.color-contrast($active-cite--dark) !default;
$active-border-color--dark: $active-color--dark !default;

// generic
$border-size: 6px !default;
$padding: 24px !default;
$duration: 0.3s !default;
$quote-left: "\201C" !default;
$quote-right: "\201D" !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  --#{$css-ui-var-prefix}background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-background, #{$background});
  --#{$css-ui-var-prefix}on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-background, #{$on-background});
  --#{$css-ui-var-prefix}cite: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-cite, #{$cite});
  --#{$css-ui-var-prefix}on-cite: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-cite, #{$on-cite});
  --#{$css-ui-var-prefix}border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-color, #{$border-color});
  --#{$css-ui-var-prefix}active-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-background, #{$active-background});
  --#{$css-ui-var-prefix}active-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-background, #{$active-on-background});
  --#{$css-ui-var-prefix}active-cite: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-cite, #{$active-cite});
  --#{$css-ui-var-prefix}active-on-cite: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-cite, #{$active-on-cite});
  --#{$css-ui-var-prefix}active-border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-border-color, #{$active-border-color});
  --#{$css-ui-var-prefix}border-size: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-size, #{$border-size});
  --#{$css-ui-var-prefix}padding: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-padding, #{$padding});
  --#{$css-ui-var-prefix}duration: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-duration, #{$duration});
  // --#{$css-ui-var-prefix}quote-left: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-quote-left, #{$quote-left});
  // --#{$css-ui-var-prefix}quote-right: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-quote-right, #{$quote-right});

  position: relative;
  font-style: italic;
  margin: 2em auto;
  padding: var(--#{$css-ui-var-prefix}padding);
  font-size: 1.2em;
  border: none;
  background-color: var(--#{$css-ui-var-prefix}background);
  color: var(--#{$css-ui-var-prefix}on-background);
  transition:
          border-color var(--#{$css-ui-var-prefix}duration),
          border-color var(--#{$css-ui-var-prefix}duration),
          border-color var(--#{$css-ui-var-prefix}duration);

  cite,
  &::before,
  &::after {
    font-family: Georgia, serif;
    font-size: 4em;
  }

  &::before,
  &::after {
    color: var(--#{$css-ui-var-prefix}cite);
    position: absolute;
    line-height: 0;
    transition: color var(--#{$css-ui-var-prefix}duration);
  }

  &::before {
    padding-left: 0.1em;
    left: -0.1em;
    top: 0.5em;
  }

  &::after {
    padding-right: 0.1em;
    right: 0.1em;
    bottom: 0;
  }

  cite {
    color: var(--#{$css-ui-var-prefix}cite);
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 0.2em;
    transition:
            color var(--#{$css-ui-var-prefix}duration),
            background-color var(--#{$css-ui-var-prefix}duration);

    &::before {
      color: inherit;
      content: "\2014 \2009";
    }
  }

  // ------- CITE and QUOTE modes -------

  &.quote-left{
    &::before{
      content: "" + $quote-left;
      // content: #{var(--#{$css-ui-var-prefix}quote-left)};
    }
  }

  &.quote-right{
    &::after{
      content: "" + $quote-right;
      // content: #{var(--#{$css-ui-var-prefix}quote-right)};
    }
  }

  // .cite-left{}

  &.cite-right {
    cite {
      text-align: right;
    }
  }

  &.cite-center {
    cite {
      text-align: center;
    }
  }

  // ------- BORDER modes -------

  &.border-right {
    border-right: var(--#{$css-ui-var-prefix}border-size) solid var(--#{$css-ui-var-prefix}border-color);
    padding-right: 3em;
  }

  &.border-left {
    border-left: var(--#{$css-ui-var-prefix}border-size) solid var(--#{$css-ui-var-prefix}border-color);
    padding-left: 3em;
  }

  &.border-top {
    border-top: var(--#{$css-ui-var-prefix}border-size) solid var(--#{$css-ui-var-prefix}border-color);
    padding-top: 2em;
  }

  &.border-bottom {
    border-bottom: var(--#{$css-ui-var-prefix}border-size) solid var(--#{$css-ui-var-prefix}border-color);
    padding-bottom: 3em;
  }

  // ------- OTHER modes -------

  &.cite-tag{
    cite{
      display: inline-block;
      background: var(--#{$css-ui-var-prefix}cite);
      color: var(--#{$css-ui-var-prefix}on-cite);
      font-size: 0.5em;
      padding: 0 1em;
      margin-top: 1em;
      font-style: normal;
    }
  }

  &.quote-sides{
    &::after,
    &::before{
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
    }

    &::before {
      left: -0.6em;
    }

    &::after {
      top: 80%;
      right: -0.5em;
    }
  }

  &.center-quote {
    padding-top: 3em;
    padding-bottom: 3em;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }

    &::before {
      top: 0.5em;
    }

    &::after {
      bottom: 0;
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--#{$css-ui-var-prefix}active-background);
    color: var(--#{$css-ui-var-prefix}active-on-background);

    &::before,
    &::after {
      color: var(--#{$css-ui-var-prefix}active-cite);
    }

    cite {
      color: var(--#{$css-ui-var-prefix}active-cite);
    }

    &.cite-tag{
      cite{
        background: var(--#{$css-ui-var-prefix}active-cite);
        color: var(--#{$css-ui-var-prefix}active-on-cite);
      }
    }

    &.border-right,
    &.border-left,
    &.border-top,
    &.border-bottom {
      background-color: var(--#{$css-ui-var-prefix}active-border-color);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    --#{$css-ui-var-prefix}background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-background, #{$background});
    --#{$css-ui-var-prefix}on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-background, #{$on-background--dark});
    --#{$css-ui-var-prefix}cite: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-cite, #{$cite--dark});
    --#{$css-ui-var-prefix}on-cite: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-cite, #{$on-cite--dark});
    --#{$css-ui-var-prefix}border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-color, #{$border-color--dark});
    --#{$css-ui-var-prefix}active-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-background, #{$active-background--dark});
    --#{$css-ui-var-prefix}active-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-background, #{$active-on-background--dark});
    --#{$css-ui-var-prefix}active-cite: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-cite, #{$active-cite--dark});
    --#{$css-ui-var-prefix}active-on-cite: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-cite, #{$active-on-cite--dark});
    --#{$css-ui-var-prefix}active-border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-border-color, #{$active-border-color--dark});
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
