@use '../../../_generics/variables' as globals;
@forward '../../../_generics/variables';

$css-ui-component-name: 'simple-list' !default;

$margin: 0 !default;
$padding: 0.5em !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';
