$alex-warnes-progressions-size: 200px !default;
$alex-warnes-progressions-border-size: 5px !default;
$alex-warnes-progressions-primary: #3ff9dc !default;
$alex-warnes-progressions-secondary: #fb5b53 !default;
$alex-warnes-progressions-background: #1d2630 !default;

.alex-warnes-progressions {
  position: relative;
  width: $alex-warnes-progressions-size;
  height: $alex-warnes-progressions-size;
  display: flex;
  justify-content: center;
  align-items: center;
}