$progression-alex-warnes-size: 200px !default;
$progression-alex-warnes-border-size: 5px !default;
$progression-alex-warnes-primary: #3ff9dc !default;
$progression-alex-warnes-secondary: #fb5b53 !default;
$progression-alex-warnes-background: #1d2630 !default;

.progression-alex-warnes {
  position: relative;
  width: $progression-alex-warnes-size;
  height: $progression-alex-warnes-size;
  display: flex;
  justify-content: center;
  align-items: center;
}