$scss-library-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-component-name: "advancing-moon-reveal" !default;

$duration: 2s !default;
$blur-start: 10px !default;
$blur-end: 0 !default;
$opacity-start: 0.5 !default;
$opacity-end: 1 !default;
$scale-start: 0.6 !default;
$scale-end: 1 !default;
$slide-x-start: -60% !default;
$slide-x-end: 0 !default;
$slide-y-start: 0 !default;
$slide-y-end: 0 !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name}{
  --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});
  --#{$scss-library-var-prefix}blur-start: #{$blur-start};
  --#{$scss-library-var-prefix}blur-end: #{$blur-end};
  --#{$scss-library-var-prefix}opacity-start: #{$opacity-start};
  --#{$scss-library-var-prefix}opacity-end: #{$opacity-end};
  --#{$scss-library-var-prefix}scale-start: #{$scale-start};
  --#{$scss-library-var-prefix}scale-end: #{$scale-end};
  --#{$scss-library-var-prefix}slide-x-start: #{$slide-x-start};
  --#{$scss-library-var-prefix}slide-x-end: #{$slide-x-end};
  --#{$scss-library-var-prefix}slide-y-start: #{$slide-y-start};
  --#{$scss-library-var-prefix}slide-y-end: #{$slide-y-end};

  opacity: var(--#{$scss-library-var-prefix}opacity-start);
  filter: blur(var(--#{$scss-library-var-prefix}blur-start));
  transform:
          translate(var(--#{$scss-library-var-prefix}slide-x-start), var(--#{$scss-library-var-prefix}slide-y-start))
          scale(var(--#{$scss-library-var-prefix}scale-start));
  transition:
          filter calc(var(--#{$scss-library-var-prefix}duration) * 10),
          opacity var(--#{$scss-library-var-prefix}duration),
          transform calc(var(--#{$scss-library-var-prefix}duration) * 10);

  &.animation-inverted{
    opacity: var(--#{$scss-library-var-prefix}opacity-end);
    filter: blur(var(--#{$scss-library-var-prefix}blur-end));
    transform:
            translate(var(--#{$scss-library-var-prefix}slide-x-end), var(--#{$scss-library-var-prefix}slide-y-end))
            scale(var(--#{$scss-library-var-prefix}scale-end));
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    opacity: var(--#{$scss-library-var-prefix}opacity-end);
    filter: blur(var(--#{$scss-library-var-prefix}blur-end));
    transform:
            translate(var(--#{$scss-library-var-prefix}slide-x-end), var(--#{$scss-library-var-prefix}slide-y-end))
            scale(var(--#{$scss-library-var-prefix}scale-end));
    transition:
            filter calc(var(--#{$scss-library-var-prefix}duration) * 2),
            opacity var(--#{$scss-library-var-prefix}duration),
            transform calc(var(--#{$scss-library-var-prefix}duration) * 5);


    &.animation-inverted{
      opacity: var(--#{$scss-library-var-prefix}opacity-start);
      filter: blur(var(--#{$scss-library-var-prefix}blur-start));
      transform:
              translate(var(--#{$scss-library-var-prefix}slide-x-start), var(--#{$scss-library-var-prefix}slide-y-start))
              scale(var(--#{$scss-library-var-prefix}scale-start));
    }
  }
}