
@use "../../../index" as guebbit;

$scss-library-class-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "book-front-load" !default;

// main
$color: null !default;
$color--light: guebbit.no-null-var(($color, #000)) !default;
$color--dark: guebbit.no-null-var(($color, #fff)) !default;

// LIGHT theme
$border-color: $color--light !default;
$background: guebbit.color-contrast($border-color) !default;
$shadow-color: darken($background, 20%) !default;

// DARK theme
$border-color--dark: $color--dark !default;
$background--dark: guebbit.color-contrast($border-color--dark) !default;
$shadow-color--dark: darken($background--dark, 20%) !default;

$size: 100px !default;
$duration: 1s !default;
$multiplier: 1.2 !default;
$number: 3 !default;

%#{$scss-library-class-prefix}#{$scss-library-component-name},
.#{$scss-library-class-prefix}#{$scss-library-component-name}{
  --#{$scss-library-var-prefix}background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-background, #{$background});
  --#{$scss-library-var-prefix}border-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-border-color, #{$border-color});
  --#{$scss-library-var-prefix}shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-shadow-color, #{$shadow-color});
  --#{$scss-library-var-prefix}size: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-size, #{$size});

  position: relative;
  border: 0.05em solid var(--#{$scss-library-var-prefix}border-color);
  background: var(--#{$scss-library-var-prefix}background);
  font-size: var(--#{$scss-library-var-prefix}size);
  width: 1em;
  height: 0.6em;
  transform: translateY(0);
  
  & > *{
    position: absolute;
    left: 50%;
    top: -0.05em;
    margin: 0 auto;
    border-top: 0.05em solid var(--#{$scss-library-var-prefix}border-color);
    border-bottom: 0.05em solid var(--#{$scss-library-var-prefix}border-color);
    border-right: 0.05em solid var(--#{$scss-library-var-prefix}border-color);
    background: var(--#{$scss-library-var-prefix}size);
    width: 0.5em;
    height: 0.6em;
    animation: book-front-load-animation $duration infinite linear;
    animation-fill-mode: forwards;
    transform-origin: 0 50%;

    @for $i from 1 through $number {
      &:nth-child(#{$i}) {
        z-index: -$i;
        animation-delay: $duration * $multiplier * ($i - 1);
      }
    }
  }
}

@keyframes book-front-load-animation {
  0%{
    background: var(--#{$scss-library-var-prefix}background);
    transform: perspective( 600px )
    rotateY( -0deg );
  }

  20%{
    background: var(--#{$scss-library-var-prefix}shadow-color);
  }

  30%{
    transform: perspective( 200px )
    rotateY( -90deg );
    background:var(--#{$scss-library-var-prefix}background);
  }

  60%{
    transform: perspective( 200px )
    rotateY( -180deg );
  }

  100%{
    transform: perspective( 200px )
    rotateY( -180deg );
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$scss-library-class-prefix}#{$scss-library-component-name},
  .#{$scss-library-class-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-background, #{$background--dark});
    --#{$scss-library-var-prefix}border-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-border-color, #{$border-color--dark});
    --#{$scss-library-var-prefix}shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-shadow-color, #{$shadow-color--dark});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
