@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "book-front-load" !default;
$scss-library-var-prefix: "" !default;

$color: #000 !default;

$border: $color !default;
$background: guebbit.color-contrast($border) !default;
$shadow: darken($background, 20%) !default;
$size: 100px !default;
$duration: 1s !default;
$multiplier: 1.2 !default;
$number: 3 !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name}{
  --#{$scss-library-var-prefix}background: #{$background};
  --#{$scss-library-var-prefix}border: #{$border};
  --#{$scss-library-var-prefix}shadow: #{$shadow};
  --#{$scss-library-var-prefix}size: #{$size};

  position: relative;
  border: 0.05em solid var(--#{$scss-library-var-prefix}border);
  background: var(--#{$scss-library-var-prefix}background);
  font-size: var(--#{$scss-library-var-prefix}size);
  width: 1em;
  height: 0.6em;
  transform: translateY(0);
  
  & > *{
    position: absolute;
    left: 50%;
    top: -0.05em;
    margin: 0 auto;
    border-top: 0.05em solid var(--#{$scss-library-var-prefix}border);
    border-bottom: 0.05em solid var(--#{$scss-library-var-prefix}border);
    border-right: 0.05em solid var(--#{$scss-library-var-prefix}border);
    background: var(--#{$scss-library-var-prefix}size);
    width: 0.5em;
    height: 0.6em;
    animation: book-front-load-animation $duration infinite linear;
    animation-fill-mode: forwards;
    transform-origin: 0 50%;

    @for $i from 1 through $number {
      &:nth-child(#{$i}) {
        z-index: -$i;
        animation-delay: $duration * $multiplier * ($i - 1);
      }
    }
  }
}

@keyframes book-front-load-animation {
  0%{
    background: var(--#{$scss-library-var-prefix}background);
    transform: perspective( 600px )
    rotateY( -0deg );
  }

  20%{
    background: var(--#{$scss-library-var-prefix}shadow);
  }

  30%{
    transform: perspective( 200px )
    rotateY( -90deg );
    background:var(--#{$scss-library-var-prefix}background);
  }

  60%{
    transform: perspective( 200px )
    rotateY( -180deg );
  }

  100%{
    transform: perspective( 200px )
    rotateY( -180deg );
  }
}