$book-front-load-background: #fff !default;
$book-front-load-border: #000 !default;
$book-front-load-shadow: darken($book-front-load-background, 20%) !default;
$book-front-load-size: 100px !default;
$book-front-load-duration: 1s !default;
$book-front-load-multiplier: 1.2 !default;
$book-front-load-number: 3 !default;

$scss-library-prefix: "" !default;
$scss-library-component-name: "book-front-load" !default;
$scss-library-var-prefix: "" !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name}{
  --#{$scss-library-var-prefix}background: #{$book-front-load-background};
  --#{$scss-library-var-prefix}border: #{$book-front-load-border};
  --#{$scss-library-var-prefix}shadow: #{$book-front-load-shadow};
  --#{$scss-library-var-prefix}size: #{$book-front-load-size};

  position: relative;
  border: 0.05em solid var(--#{$scss-library-var-prefix}border);
  background: var(--#{$scss-library-var-prefix}background);
  font-size: var(--#{$scss-library-var-prefix}size);
  width: 1em;
  height: 0.6em;
  transform: translateY(0);
  
  & > *{
    position: absolute;
    left: 50%;
    top: -0.05em;
    margin: 0 auto;
    border-top: 0.05em solid var(--#{$scss-library-var-prefix}border);
    border-bottom: 0.05em solid var(--#{$scss-library-var-prefix}border);
    border-right: 0.05em solid var(--#{$scss-library-var-prefix}border);
    background: var(--#{$scss-library-var-prefix}size);
    width: 0.5em;
    height: 0.6em;
    animation: book-front-load-animation $book-front-load-duration infinite linear;
    animation-fill-mode: forwards;
    transform-origin: 0 50%;

    @for $i from 1 through $book-front-load-number {
      &:nth-child(#{$i}) {
        z-index: -$i;
        animation-delay: $book-front-load-duration * $book-front-load-multiplier * $i;
      }
    }
  }
}

@keyframes book-front-load-animation {
  0%{
    background: var(--#{$scss-library-var-prefix}background);
    transform: perspective( 600px )
    rotateY( -0deg );
  }

  20%{
    background: var(--#{$scss-library-var-prefix}shadow);
  }

  30%{
    transform: perspective( 200px )
    rotateY( -90deg );
    background:var(--#{$scss-library-var-prefix}background);
  }

  60%{
    transform: perspective( 200px )
    rotateY( -180deg );
  }

  100%{
    transform: perspective( 200px )
    rotateY( -180deg );
  }
}