@use "../../../index" as guebbit;
$scss-library-prefix: "" !default;
$scss-library-component-name: "effect-mirror-reflection" !default;
$scss-library-var-prefix: "" !default;

$effect-mirror-reflection-color: #fff !default;
$effect-mirror-reflection-reflection: guebbit.hex2rgb($effect-mirror-reflection-color) !default;
$effect-mirror-reflection-duration: 0.2s !default;
$effect-mirror-reflection-opacity: 0.1 !default;
$effect-mirror-reflection-rotation: 35deg !default;
$effect-mirror-reflection-position-top: -90% !default;
$effect-mirror-reflection-active-opacity: 0.2 !default;
$effect-mirror-reflection-active-rotation: 10deg !default;  // 25deg if vertical
$effect-mirror-reflection-active-position-top: -40% !default;

%#{$scss-library-prefix}#{$scss-library-component-name}active{
  transform: rotate(var(--#{$scss-library-var-prefix}active-rotation));
  top: var(--#{$scss-library-var-prefix}active-position-top);
  opacity: var(--#{$scss-library-var-prefix}active-opacity);
}

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name}{
  --#{$scss-library-var-prefix}reflection: #{$effect-mirror-reflection-reflection};
  --#{$scss-library-var-prefix}duration: #{$effect-mirror-reflection-duration};
  --#{$scss-library-var-prefix}opacity: #{$effect-mirror-reflection-opacity};
  --#{$scss-library-var-prefix}rotation: #{$effect-mirror-reflection-rotation};
  --#{$scss-library-var-prefix}position-top: #{$effect-mirror-reflection-position-top};
  --#{$scss-library-var-prefix}active-opacity: #{$effect-mirror-reflection-active-opacity};
  --#{$scss-library-var-prefix}active-rotation: #{$effect-mirror-reflection-active-rotation};
  --#{$scss-library-var-prefix}active-position-top: #{$effect-mirror-reflection-active-position-top};

  position: absolute;
  content: '';
  z-index: 99;
  width: 200%;
  height: 100%;
  top: var(--#{$scss-library-var-prefix}position-top);
  left: 0;
  opacity: var(--#{$scss-library-var-prefix}opacity);
  transform: var(--#{$scss-library-var-prefix}rotation);
  background:
          linear-gradient(
                          to top,
                          transparent,
                          rgba(var(--#{$scss-library-var-prefix}reflection), 0.9) 15%,
                          rgba(var(--#{$scss-library-var-prefix}reflection), 0.4)
          );
  transition:
          transform var(--#{$scss-library-var-prefix}duration),
          top var(--#{$scss-library-var-prefix}duration),
          opacity var(--#{$scss-library-var-prefix}duration);

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    @extend %#{$scss-library-prefix}#{$scss-library-component-name}active;
  }
}

.#{$scss-library-prefix}#{$scss-library-component-name}-animate-active,
.#{$scss-library-prefix}#{$scss-library-component-name}-animate-on-active.active,
.#{$scss-library-prefix}#{$scss-library-component-name}-animate-on-hover:hover {
  .#{$scss-library-prefix}#{$scss-library-component-name} {
    @extend %#{$scss-library-prefix}#{$scss-library-component-name}active;
  }
}