@use "../../../index" as guebbit;

$scss-library-class-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "effect-mirror-reflection" !default;

// colors
$color: null !default;
$color--light: guebbit.noNullVar(($color, #000)) !default;
$color--dark: guebbit.noNullVar(($color, #fff)) !default;
$active-color: null !default;
$active-color--light: guebbit.noNullVar(($active-color, $color--light)) !default;
$active-color--dark: guebbit.noNullVar(($active-color, $color--dark)) !default;

// Translation to rgb format
$rgbcolor: guebbit.hex2rgb($color--light);
$active-rgbcolor: guebbit.hex2rgb($active-color--light);
$rgbcolor--dark: guebbit.hex2rgb($color--dark);
$active-rgbcolor--dark: guebbit.hex2rgb($active-color--dark);

// generic
$duration: 0.3s !default;
$opacity: 0.2 !default;
$rotation: 35deg !default;
$position-top: -70% !default;
$active-opacity: 0.2 !default;
$active-rotation: 10deg !default;  // 25deg if vertical
$active-position-top: -40% !default;

%#{$scss-library-class-prefix}#{$scss-library-component-name}active{
  top: var(--#{$scss-library-var-prefix}active-position-top);
  opacity: var(--#{$scss-library-var-prefix}active-opacity);
  transform: var(--#{$scss-library-var-prefix}active-rotation);
  background:
          linear-gradient(
                          to top,
                          transparent,
                          rgba(var(--#{$scss-library-var-prefix}active-color), 0.9) 15%,
                          rgba(var(--#{$scss-library-var-prefix}active-color), 0.4)
          );
}

%#{$scss-library-class-prefix}#{$scss-library-component-name},
.#{$scss-library-class-prefix}#{$scss-library-component-name}{
  --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$rgbcolor});
  --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-rgbcolor});
  --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});
  --#{$scss-library-var-prefix}opacity: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-opacity, #{$opacity});
  --#{$scss-library-var-prefix}rotation: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-rotation, #{$rotation});
  --#{$scss-library-var-prefix}position-top: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-position-top, #{$position-top});
  --#{$scss-library-var-prefix}active-opacity: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-opacity, #{$active-opacity});
  --#{$scss-library-var-prefix}active-rotation: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-rotation, #{$active-rotation});
  --#{$scss-library-var-prefix}active-position-top: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-position-top, #{$active-position-top});

  position: absolute;
  content: '';
  z-index: 99;
  width: 200%;
  height: 100%;
  top: var(--#{$scss-library-var-prefix}position-top);
  left: 0;
  opacity: var(--#{$scss-library-var-prefix}opacity);
  transform: var(--#{$scss-library-var-prefix}rotation);
  background:
          linear-gradient(
                          to top,
                          transparent,
                          rgba(var(--#{$scss-library-var-prefix}color), 0.9) 15%,
                          rgba(var(--#{$scss-library-var-prefix}color), 0.4)
          );
  transition:
          transform var(--#{$scss-library-var-prefix}duration),
          top var(--#{$scss-library-var-prefix}duration),
          opacity var(--#{$scss-library-var-prefix}duration);

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    @extend %#{$scss-library-class-prefix}#{$scss-library-component-name}active;
  }
}

.#{$scss-library-class-prefix}#{$scss-library-component-name}-animate-active,
.#{$scss-library-class-prefix}#{$scss-library-component-name}-animate-on-active.active,
.#{$scss-library-class-prefix}#{$scss-library-component-name}-animate-on-hover:hover {
  .#{$scss-library-class-prefix}#{$scss-library-component-name} {
    @extend %#{$scss-library-class-prefix}#{$scss-library-component-name}active;
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-class-prefix}#{$scss-library-component-name},
  .#{$scss-library-class-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$rgbcolor--dark});
    --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-rgbcolor--dark});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}
