@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "gear-load" !default;

// main
$color: null !default;
$color--light: guebbit.noNullVar(($color, #000)) !default;
$color--dark: guebbit.noNullVar(($color, #fff)) !default;
$background: null !default;
$background--light: guebbit.noNullVar(($background, #fff)) !default;
$background--dark: guebbit.noNullVar(($background, #2B2A33)) !default;

// LIGHT theme
$first-color: $color--light !default;
$second-color: $color--light !default;

// DARK theme
$first-color--dark: $color--dark !default;
$second-color--dark: $color--dark !default;

// generic
$size: 48px !default;
$duration: 4s !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name}{
  --#{$scss-library-var-prefix}first-color: #{$first-color};
  --#{$scss-library-var-prefix}second-color: #{$second-color};
  --#{$scss-library-var-prefix}background: #{$background};
  --#{$scss-library-var-prefix}size: #{$size};
  --#{$scss-library-var-prefix}duration: #{$duration};

  font-size: var(--#{$scss-library-var-prefix}size);
  position:relative;
  border-radius:50%;
  height: 3.5em;
  width: 3.5em;
  
  &::before{
    content: "";
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    top: 0.9em;
    left: 0.75em;
    border-radius:50%;
    background-image:
                    radial-gradient(at center center, var(--#{$scss-library-var-prefix}background) 23%, var(--#{$scss-library-var-prefix}first-color) 25%, var(--#{$scss-library-var-prefix}first-color) 57%, transparent 59%),
                    linear-gradient(0deg, transparent 40%, var(--#{$scss-library-var-prefix}first-color) 40%, var(--#{$scss-library-var-prefix}first-color) 60%, transparent 60%),
                    linear-gradient(45deg, transparent 43%, var(--#{$scss-library-var-prefix}first-color) 43%, var(--#{$scss-library-var-prefix}first-color) 57%, transparent 57%),
                    linear-gradient(90deg, transparent 40%, var(--#{$scss-library-var-prefix}first-color) 40%, var(--#{$scss-library-var-prefix}first-color) 60%, transparent 60%),
                    linear-gradient(135deg, transparent 43%, var(--#{$scss-library-var-prefix}first-color) 43%, var(--#{$scss-library-var-prefix}first-color) 57%, transparent 57%);
  }
  
  &::after{
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    top: 1.7em;
    left: 1.9em;
    border-radius: 50%;
    background-image:
            radial-gradient(at center center, var(--#{$scss-library-var-prefix}background) 23%, var(--#{$scss-library-var-prefix}second-color) 25%, var(--#{$scss-library-var-prefix}second-color) 57%, transparent 59%),
            linear-gradient(0deg, transparent 40%, var(--#{$scss-library-var-prefix}second-color) 40%, var(--#{$scss-library-var-prefix}second-color) 60%, transparent 60%),
            linear-gradient(45deg, transparent 43%, var(--#{$scss-library-var-prefix}second-color) 43%, var(--#{$scss-library-var-prefix}second-color) 57%, transparent 57%),
            linear-gradient(90deg, transparent 40%, var(--#{$scss-library-var-prefix}second-color) 40%, var(--#{$scss-library-var-prefix}second-color) 60%, transparent 60%),
            linear-gradient(135deg, transparent 43%, var(--#{$scss-library-var-prefix}second-color) 43%, var(--#{$scss-library-var-prefix}second-color) 57%, transparent 57%);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    &::before{
      animation: #{$scss-library-prefix}#{$scss-library-component-name}-animation var(--#{$scss-library-var-prefix}duration) infinite linear;
    }

    &::after{
      animation: #{$scss-library-prefix}#{$scss-library-component-name}-animation var(--#{$scss-library-var-prefix}duration) infinite linear;
      animation-direction: reverse;
    }
  }

  @keyframes #{$scss-library-prefix}#{$scss-library-component-name}-animation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}


/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-prefix}#{$scss-library-component-name},
  .#{$scss-library-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}first-color: #{$first-color--dark};
    --#{$scss-library-var-prefix}second-color: #{$second-color--dark};
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}
