@import "./ProgressionAlexWarnesCore";

.progression-alex-warnes {
    &.gradient-spinner {
        padding: $progression-alex-warnes-border-size;
        border-radius: 50%;
        background: $progression-alex-warnes-secondary;
        background: linear-gradient(0deg, rgba($progression-alex-warnes-secondary, 0.1) 33%, rgba($progression-alex-warnes-secondary, 1) 100%);
        animation: progression-alex-warnes-spin .8s linear infinite;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $progression-alex-warnes-background;
        }
    }
}

@keyframes progression-alex-warnes-spin {
    from {
        transform: rotate(0);
    }

    to{
        transform: rotate(359deg);
    }
}