@use "sass:math";
@use "../../../global" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "raindrop-concentric" !default;

// neutral
$color: null !default;
$color-change: null !default;

// LIGHT theme
$color--light: guebbit.noNullVar(($color, #000)) !default;
$color-change--light: guebbit.noNullVar(($color-change, $color--light)) !default;

// DARK theme
$color--dark: guebbit.noNullVar(($color, #fff)) !default;
$color-change--dark: guebbit.noNullVar(($color-change, $color--dark)) !default;

// generic
$size: 150px !default;
$border-size: 10px !default;
$duration: 15s !default;
$number: 4 !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name}{
  --#{$scss-library-var-prefix}color: #{$color--light};
  --#{$scss-library-var-prefix}color-change: #{$color-change--light};
  --#{$scss-library-var-prefix}size: #{$size};
  --#{$scss-library-var-prefix}border-size: #{$border-size};

  position: absolute;
  transform: translate(-50%, -50%);
  font-size: var(--#{$scss-library-var-prefix}size);

  & > * {
    position: absolute;
    top: -0.5em;
    left: -0.5em;
    width: 1em;
    height: 1em;
    border: var(--#{$scss-library-var-prefix}border-size) solid var(--#{$scss-library-var-prefix}color);
    border-radius: 50%;
    transform: scale(0);
    animation-iteration-count: infinite;

    @for $i from 1 through $number {
      &:nth-child(#{$i}){
        animation-duration: $duration * math.div($i, $number);
      }
    }
  }

  &.animate-once,
  &.animate-active{
    & > * {
      animation-name: #{$scss-library-prefix}#{$scss-library-component-name}-animation;
    }
  }

  &.animate-once{
    & > *  {
      animation-iteration-count: 1;
    }
  }

  @keyframes #{$scss-library-prefix}#{$scss-library-component-name}-animation {
    80% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: scale(5);
    }

    to {
      border-color: var(--#{$scss-library-var-prefix}color-change);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-prefix}#{$scss-library-component-name},
  .#{$scss-library-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}color: #{$color--dark};
    --#{$scss-library-var-prefix}color-change: #{$color-change--dark};
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}
