$scss-library-prefix: "" !default;
$scss-library-component-name: "scroll-down-arrow" !default;
$scss-library-var-prefix: "" !default;

$color: #000 !default;
$size: 2em !default;
$duration: 3s !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name}{
  --#{$scss-library-var-prefix}color: #{$color};
  --#{$scss-library-var-prefix}size: #{$size};
  --#{$scss-library-var-prefix}duration: #{$duration};

  position: relative;
  width: var(--#{$scss-library-var-prefix}size);
  height: var(--#{$scss-library-var-prefix}size);
  margin-top: $size;
  cursor: pointer;

  & > div{
    position: absolute;
    width: var(--#{$scss-library-var-prefix}size);
    height: 0.5em; //TODO
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation:
            #{$scss-library-prefix}#{$scss-library-component-name}-animation
            var(--#{$scss-library-var-prefix}duration)
            ease-out infinite;

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      height: 100%;
      width: 51%;
      background: var(--#{$scss-library-var-prefix}color);
    }

    &::before {
      left: 0;
      transform: skew(0deg, 30deg);
    }

    &::after {
      right: 0;
      width: 50%;
      transform: skew(0deg, -30deg);
    }

    &:first-child {
      animation-delay: calc(var(--#{$scss-library-var-prefix}duration) * 0.33);
    }

    &:nth-child(2) {
      animation-delay: calc(var(--#{$scss-library-var-prefix}duration) * 0.66);
    }
  }

  .scroll-down-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin-top: calc(var(--#{$scss-library-var-prefix}size) * -0.8);
    color: var(--#{$scss-library-var-prefix}color);
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .3;
    animation:
            #{$scss-library-prefix}#{$scss-library-component-name}-animation-text
            calc(var(--#{$scss-library-var-prefix}duration) * 0.33)
            linear alternate infinite;
  }

  @keyframes #{$scss-library-prefix}#{$scss-library-component-name}-animation {
    25% {
      opacity: 1;
    }

    33% {
      opacity: 1;
      transform: translateY(30px);
    }

    67% {
      opacity: 1;
      transform: translateY(40px);
    }

    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }


  @keyframes #{$scss-library-prefix}#{$scss-library-component-name}-animation-text{
    to {
      opacity: 1;
    }
  }
}