@use "../../../global" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "scroll-down-mouse" !default;

// colors
$color: null !default;
$color--light: guebbit.noNullVar(($color, #000)) !default;
$color--dark: guebbit.noNullVar(($color, #fff)) !default;
$active-color: null !default;
$active-color--light: guebbit.noNullVar(($active-color, $color--light)) !default;
$active-color--dark: guebbit.noNullVar(($active-color, $color--dark)) !default;

// generic
$size: 50px !default;
$duration: 1s !default;

%#{$scss-library-prefix}#{$scss-library-component-name}point{
  position: absolute;
  top: 20%;
  left: 50%;
  width: 0.15em;
  height: 0.15em;
  transform: translateX(-50%);
  background-color: var(--#{$scss-library-var-prefix}color);
  border-radius: 100%;
  box-sizing: border-box;
}

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name}{
  --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--light});
  --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-color--light});
  --#{$scss-library-var-prefix}size: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-size, #{$size});
  --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});
  
  position: relative;
  display: block;
  font-size: var(--#{$scss-library-var-prefix}size);
  height: 1.1em;

  & > * {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid var(--#{$scss-library-var-prefix}color);
    border-radius: 50px;
    box-sizing: border-box;
    transition: border-color var(--#{$scss-library-var-prefix}duration);

    &::before {
      @extend %#{$scss-library-prefix}#{$scss-library-component-name}point;
      content: '';
    }
  }

  &.mouse-with-chevron{
    & > *{
      &::after {
        position: absolute;
        top: auto;
        left: 50%;
        border-left: 1px solid var(--#{$scss-library-var-prefix}color);
        border-bottom: 1px solid var(--#{$scss-library-var-prefix}color);
        box-sizing: border-box;
        transform: rotate(-45deg);
        bottom: -0.4em;
        width: 0.4em;
        height: 0.4em;
        content: '';
        margin-left: -0.2em;
      }
    }
  }

  &.mouse-custom-dot{
    & > * {
      &::before {
        @extend %#{$scss-library-prefix}#{$scss-library-component-name}point;
        content: attr(data-label);
        display: flex;
        justify-content: center;
        color: var(--#{$scss-library-var-prefix}color);
        background: transparent;
        font-size: 0.5em;
      }
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    & > * {
      border-color: var(--#{$scss-library-var-prefix}active-color);

      &::before {
        background-color: var(--#{$scss-library-var-prefix}active-color);
        animation:
                #{$scss-library-prefix}#{$scss-library-component-name}-animation
                calc(var(--#{$scss-library-var-prefix}duration) * 1.5)
                infinite
      }
    }

    &.mouse-custom-dot {
      & > * {
        &::before {
          background-color: transparent;
          color: var(--#{$scss-library-var-prefix}active-color);
        }
      }
    }

    &.mouse-with-chevron {
      & > * {
        &::after {
          border-color: var(--#{$scss-library-var-prefix}active-color);
          animation:
                  #{$scss-library-prefix}#{$scss-library-component-name}-animation-chevron
                  calc(var(--#{$scss-library-var-prefix}duration) * 1.5)
                  infinite
        }
      }
    }
  }

  @keyframes #{$scss-library-prefix}#{$scss-library-component-name}-animation {
    0% {
      opacity: 1;
      transform: translate(-50%, 0);
    }

    100% {
      opacity: 0;
      transform: translate(-50%, 20px);
    }
  }

  @keyframes #{$scss-library-prefix}#{$scss-library-component-name}-animation-chevron {
    0% {
      opacity: 1;
      transform: translateY(0) rotate(-45deg);
    }

    100% {
      opacity: 0;
      transform: translateY(10px) rotate(-45deg);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-prefix}#{$scss-library-component-name},
  .#{$scss-library-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--dark});
    --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-color--dark});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}