@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "scroll-down-arrow" !default;

// colors
$color: null !default;
$color--light: guebbit.noNullVar(($color, #000)) !default;
$color--dark: guebbit.noNullVar(($color, #fff)) !default;
$active-color: null !default;
$active-color--light: guebbit.noNullVar(($active-color, $color--light)) !default;
$active-color--dark: guebbit.noNullVar(($active-color, $color--dark)) !default;

$size: 2em !default;
$duration: 0.3s !default;
$animation-duration: 3s !default;
$active-animation-duration: $animation-duration !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name}{
  --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--light});
  --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-color--light});
  --#{$scss-library-var-prefix}size: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-size, #{$size});
  --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});
  --#{$scss-library-var-prefix}animation-duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-animation-duration, #{$animation-duration});
  --#{$scss-library-var-prefix}active-animation-duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-animation-duration, #{$active-animation-duration});

  position: relative;
  width: var(--#{$scss-library-var-prefix}size);
  height: var(--#{$scss-library-var-prefix}size);
  margin-top: $size;
  cursor: pointer;

  & > div{
    position: absolute;
    width: var(--#{$scss-library-var-prefix}size);
    height: 0.5em; //TODO
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation:
            #{$scss-library-prefix}#{$scss-library-component-name}-animation
            var(--#{$scss-library-var-prefix}animation-duration)
            ease-out infinite;

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      height: 100%;
      width: 51%;
      background-color: var(--#{$scss-library-var-prefix}color);
      transition: background-color var(--#{$scss-library-var-prefix}duration);
    }

    &::before {
      left: 0;
      transform: skew(0deg, 30deg);
    }

    &::after {
      right: 0;
      width: 50%;
      transform: skew(0deg, -30deg);
    }

    &:first-child {
      animation-delay: calc(var(--#{$scss-library-var-prefix}animation-duration) * 0.33);
    }

    &:nth-child(2) {
      animation-delay: calc(var(--#{$scss-library-var-prefix}animation-duration) * 0.66);
    }
  }

  .scroll-down-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin-top: calc(var(--#{$scss-library-var-prefix}size) * -0.8);
    color: var(--#{$scss-library-var-prefix}color);
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .3;
    animation:
            #{$scss-library-prefix}#{$scss-library-component-name}-animation-text
            calc(var(--#{$scss-library-var-prefix}animation-duration) * 0.33)
            linear alternate infinite;
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    & > div{
      animation-duration: var(--#{$scss-library-var-prefix}active-animation-duration);
      &:first-child {
        animation-delay: calc(var(--#{$scss-library-var-prefix}active-animation-duration) * 0.33);
      }

      &:nth-child(2) {
        animation-delay: calc(var(--#{$scss-library-var-prefix}active-animation-duration) * 0.66);
      }

      &::before,
      &::after {
        background-color: var(--#{$scss-library-var-prefix}active-color);
      }
    }
    .scroll-down-text {
      color: var(--#{$scss-library-var-prefix}active-color);
    }
  }

  @keyframes #{$scss-library-prefix}#{$scss-library-component-name}-animation {
    25% {
      opacity: 1;
    }

    33% {
      opacity: 1;
      transform: translateY(30px);
    }

    67% {
      opacity: 1;
      transform: translateY(40px);
    }

    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }

  @keyframes #{$scss-library-prefix}#{$scss-library-component-name}-animation-text{
    to {
      opacity: 1;
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-prefix}#{$scss-library-component-name},
  .#{$scss-library-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--dark});
    --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-color--dark});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}