@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "shape-slash-container" !default;

// colors
$color: null !default;
$color--light: guebbit.noNullVar(($color, #000)) !default;
$color--dark: guebbit.noNullVar(($color, #fff)) !default;
$active-color: null !default;
$active-color--light: guebbit.noNullVar(($active-color, $color--light)) !default;
$active-color--dark: guebbit.noNullVar(($active-color, $color--dark)) !default;

$size: 50% !default;
$active-size: 50% !default;
$degree: 20deg !default;
$active-degree: 20deg !default;

$duration: 0.3s !default;

%#{$scss-library-prefix}#{$scss-library-component-name}active{
  left: calc(var(--#{$scss-library-var-prefix}active-size) * -0.25);
  width: calc(var(--#{$scss-library-var-prefix}active-size) *  1.25);
  background-color: var(--#{$scss-library-var-prefix}active-color);
  transform: skewX(var(--#{$scss-library-var-prefix}active-degree));

  &.shape-slash-inverted{
    left: auto;
    right: calc(var(--#{$scss-library-var-prefix}active-size) * -0.25);
    transform: skewX(calc(var(--#{$scss-library-var-prefix}active-degree) * -1));
  }
}

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--light});
  --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-color--light});
  --#{$scss-library-var-prefix}size: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-size, #{$size});
  --#{$scss-library-var-prefix}active-size: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-size, #{$active-size});
  --#{$scss-library-var-prefix}degree: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-degree, #{$degree});
  --#{$scss-library-var-prefix}active-degree: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-degree, #{$active-degree});
  --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});

  position: absolute;
  left: calc(var(--#{$scss-library-var-prefix}size) * -0.25);
  top: 0;
  height: 100%;
  width: calc(var(--#{$scss-library-var-prefix}size) *  1.25);
  z-index: -1;
  background-color: var(--#{$scss-library-var-prefix}color);
  transform: skewX(var(--#{$scss-library-var-prefix}degree));
  transition:
          left var(--#{$scss-library-var-prefix}duration),
          right var(--#{$scss-library-var-prefix}duration),
          width var(--#{$scss-library-var-prefix}duration),
          background-color var(--#{$scss-library-var-prefix}duration),
          transform var(--#{$scss-library-var-prefix}duration);

  &.shape-slash-inverted{
    left: auto;
    right: calc(var(--#{$scss-library-var-prefix}size) * -0.25);
    transform: skewX(calc(var(--#{$scss-library-var-prefix}degree) * -1));
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    @extend %#{$scss-library-prefix}#{$scss-library-component-name}active;
  }
}

.#{$scss-library-prefix}#{$scss-library-component-name}-animate-active,
.#{$scss-library-prefix}#{$scss-library-component-name}-animate-on-active.active,
.#{$scss-library-prefix}#{$scss-library-component-name}-animate-on-hover:hover {
  .#{$scss-library-prefix}#{$scss-library-component-name} {
    @extend %#{$scss-library-prefix}#{$scss-library-component-name}active;
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-prefix}#{$scss-library-component-name},
  .#{$scss-library-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--dark});
    --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-color--dark});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}
