@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "shape-slash-container" !default;
$scss-library-var-prefix: "" !default;

$color: #000 !default;
$size: 50% !default;
$degree: 20deg !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}color: #{$color};
  --#{$scss-library-var-prefix}size: #{$size};
  --#{$scss-library-var-prefix}degree: #{$degree};

  position: absolute;
  left: calc(var(--#{$scss-library-var-prefix}size) * -0.25);
  top: 0;
  height: 100%;
  width: calc(var(--#{$scss-library-var-prefix}size) *  1.25);
  z-index: -1;
  background-color: var(--#{$scss-library-var-prefix}color);
  transform: skewX(var(--#{$scss-library-var-prefix}degree));

  &.shape-slash-inverted{
    left: auto;
    right: calc(var(--#{$scss-library-var-prefix}size) * -0.25);
    transform: skewX(calc(var(--#{$scss-library-var-prefix}degree) * -1));
  }
}