@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "status-circle" !default;
$scss-library-var-prefix: "" !default;

$color: #000 !default;
$color-pulse: rgba($color, 0.3) !default;
$duration: 1s !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}color: #{$color};
  --#{$scss-library-var-prefix}color-pulse: #{$color-pulse};
  --#{$scss-library-var-prefix}duration: #{$duration};

  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
  border-radius: 50%;
  background-color: var(--#{$scss-library-var-prefix}color);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-color: var(--#{$scss-library-var-prefix}color-pulse);
    transition: transform calc(var(--#{$scss-library-var-prefix}duration) * 0.2);
    z-index: -1;
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    animation: #{$scss-library-prefix}#{$scss-library-component-name}-animation-main var(--#{$scss-library-var-prefix}duration) infinite;

    &::before {
      animation: #{$scss-library-prefix}#{$scss-library-component-name}-animation-before var(--#{$scss-library-var-prefix}duration) infinite;
    }
  }
}

@keyframes #{$scss-library-prefix}#{$scss-library-component-name}-animation-main {
  50% {
    transform: scale(1.2);
  }
}

@keyframes #{$scss-library-prefix}#{$scss-library-component-name}-animation-before {
  0% {
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}
