@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "status-circle" !default;
$scss-library-var-prefix: "" !default;

$status-circle-color: #000 !default;
$status-circle-color-pulse: rgba($status-circle-color, 0.3) !default;
$status-circle-duration: 1s !default;

// TODO z-index -1 and centering are not working correctly
// $status-circle-color-pulse: red;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}color: #{$status-circle-color};
  --#{$scss-library-var-prefix}color-pulse: #{$status-circle-color-pulse};
  --#{$scss-library-var-prefix}duration: #{$status-circle-duration};

  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
  border-radius: 50%;
  background-color: var(--#{$scss-library-var-prefix}color);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-color: var(--#{$scss-library-var-prefix}color-pulse);
    transition: transform calc(var(--#{$scss-library-var-prefix}duration) * 0.2);
    z-index: -1;
  }

  &.animate-active {
    animation: status-circle-pulse-main var(--#{$scss-library-var-prefix}duration) infinite;

    &::before {
      animation: status-circle-pulse-before var(--#{$scss-library-var-prefix}duration) infinite;
    }
  }
}

@keyframes status-circle-pulse-main {
  50% {
    transform: scale(1.2);
  }
}

@keyframes status-circle-pulse-before {
  0% {
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}
