@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "trapezoid-form" !default;
$scss-library-var-prefix: "" !default;

$trapezoid-form-color: #000 !default;
$trapezoid-form-opacity: 1 !default;
$trapezoid-form-border: 2px !default;
$trapezoid-form-border-radius: 4px !default;
$trapezoid-form-position-top: 5% !default;
$trapezoid-form-position-left: 5% !default;
$trapezoid-form-position-modifier: 5 !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}color: #{$trapezoid-form-color};
  --#{$scss-library-var-prefix}opacity: #{$trapezoid-form-opacity};
  --#{$scss-library-var-prefix}border: #{$trapezoid-form-border};
  --#{$scss-library-var-prefix}border-radius: #{$trapezoid-form-border-radius};
  --#{$scss-library-var-prefix}position-top: #{$trapezoid-form-position-top};
  --#{$scss-library-var-prefix}position-left: #{$trapezoid-form-position-left};
  --#{$scss-library-var-prefix}position-modifier: #{$trapezoid-form-position-modifier};

  position: absolute;
  top: var(--#{$scss-library-var-prefix}position-top);
  left: var(--#{$scss-library-var-prefix}position-left);
  color: var(--#{$scss-library-var-prefix}color);
  width: 90%;
  height: 80%;
  z-index: -1;
  transform: perspective(10px) rotateX(2deg);
  opacity: var(--#{$scss-library-var-prefix}opacity);
  background-color: currentcolor;
  transition-property: box-shadow, transform, opacity, background, top, left;
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: var(--#{$scss-library-var-prefix}border-radius);

  &.trapezoid-form-outlined{
    background-color: transparent;
    border: var(--#{$scss-library-var-prefix}border) solid currentcolor;
  }

  &.trapezoid-form-big {
    transform: perspective(10px) rotateX(2deg) scale(1.2);
  }

  &.trapezoid-form-bottom {
    top: calc(var(--#{$scss-library-var-prefix}position-top) * var(--#{$scss-library-var-prefix}modifier));
  }

  &.trapezoid-form-left {
    left: calc(var(--#{$scss-library-var-prefix}position-top) * var(--#{$scss-library-var-prefix}modifier));
  }

  &.trapezoid-form-reverse {
    top: 10%;
    transform: perspective(10px) rotateX(-2deg);

    &.trapezoid-form-big {
      transform: perspective(10px) rotateX(-2deg) scale(1.2);
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    transform: perspective(10px) rotateX(-2deg);

    &.trapezoid-form-big {
      transform: perspective(10px) rotateX(-2deg) scale(1.2);
    }
  }
}
