@use '../../../_generics' as generics;
@use '../../../_generics/variables' as globals;
@use 'variables' as vars;

$component-map: (
    pillar-icon-size: vars.$pillar-icon-size,
    pillar-line-size: vars.$pillar-line-size,
    pillar-distance: vars.$pillar-distance,
    slot-distance: vars.$slot-distance
);

@mixin timeline-tree-architecture($prefix: vars.$css-ui-component-prefix) {
    @include generics.generate-vars($component-map, $prefix);

    @include generics.base-layout($prefix);

    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}slot-distance);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: var(--#{$prefix}pillar-distance);
        height: 100%;
        width: var(--#{$prefix}pillar-line-size);
        background-color: generics.base-parameter-rgba(main-color, $opacity-token: false, $opacity-fallback: 0.3);
        z-index: 1;
    }

    .#{generics.$css-ui-class-prefix}timeline-tree-icon {
        position: absolute;
        top: 0;
        left: 0;
        font-size: var(--#{$prefix}pillar-icon-size);
        width: 1em;
        height: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: generics.base-parameter-rgba(on-main-color, $color-fallback: var(--#{vars.$css-ui-var-prefix}main-color), $opacity-token: false);
        background-color: generics.base-parameter-rgba(main-color, $opacity-token: false);
        text-shadow: 2px 2px 4px generics.base-parameter-rgba(main-color, $opacity-token: false, $opacity-fallback: 0.3);
        z-index: 2;
        @include generics.transition-properties((color, background-color, text-shadow), var(--#{globals.$css-ui-var-prefix}duration));

        & > * {
            max-height: 80%;
            max-width: 80%;
            font-size: 80%;
            fill: currentcolor;
        }

        & > svg {
            filter: drop-shadow(2px 2px 4px generics.base-parameter-rgba(main-color, $opacity-token: false, $opacity-fallback: 0.3));
        }
    }

    .#{generics.$css-ui-class-prefix}timeline-tree-item {
        position: relative;
        background-color: transparent;
        color: inherit;
        @include generics.transition-properties((color, background-color), var(--#{globals.$css-ui-var-prefix}duration));
    }

    .#{generics.$css-ui-class-prefix}timeline-tree-slot {
        position: relative;
        padding-left: calc(var(--#{$prefix}pillar-icon-size) + var(--#{$prefix}pillar-distance));

        & > .#{generics.$css-ui-class-prefix}timeline-tree-slot-date {
            display: block;
            margin-top: calc(var(--#{$prefix}slot-distance) * 0.5);
        }
    }

    &.#{generics.$css-ui-class-prefix}timeline-with-balloon {
        .#{generics.$css-ui-class-prefix}timeline-tree-item {
            &::before {
                content: '';
                position: absolute;
                top: 1em;
                right: 100%;
                height: 0;
                width: 0;
                border: 7px solid transparent;
                border-right-color: generics.base-parameter-rgba(main-color, $opacity-token: false, $opacity-fallback: vars.$balloon-opacity);
                transition: border-color var(--#{globals.$css-ui-var-prefix}duration);
            }
        }
    }

    &.#{generics.$css-ui-class-prefix}timeline-with-line {
        .#{generics.$css-ui-class-prefix}timeline-tree-slot {
            &::before {
                content: '';
                position: absolute;
                left: calc(var(--#{$prefix}pillar-icon-size) - var(--#{$prefix}slot-distance) + 2px);
                top: var(--#{$prefix}pillar-distance);
                height: var(--#{$prefix}pillar-line-size);
                width: var(--#{$prefix}pillar-icon-size);
                background-color: generics.base-parameter-rgba(main-color, $opacity-token: false);
                z-index: 1;
            }
        }
    }

    &.#{generics.$css-ui-class-prefix}timeline-with-border {
        gap: 0;

        .#{generics.$css-ui-class-prefix}timeline-tree-icon {
            top: 50%;
            transform: translateY(-50%);
        }

        .#{generics.$css-ui-class-prefix}timeline-tree-item {
            background-color: transparent;
        }

        .#{generics.$css-ui-class-prefix}timeline-tree-slot {
            padding-top: var(--#{$prefix}slot-distance);
            padding-bottom: var(--#{$prefix}slot-distance);

            &::before {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                margin-left: calc(var(--#{$prefix}pillar-distance) * -1);
                width: calc(100% - var(--#{$prefix}pillar-distance) - var(--#{$prefix}pillar-line-size));
                height: var(--#{$prefix}pillar-line-size);
                background-color: generics.base-parameter-rgba(main-color, $opacity-token: false);
            }

            & > .#{generics.$css-ui-class-prefix}timeline-tree-slot-date {
                margin-top: 0;
            }

            &:last-child {
                &::before {
                    content: none;
                }
            }
        }
    }

    &.#{generics.$css-ui-class-prefix}timeline-tree-alternate {
        @media only screen and (min-width: vars.$threshold-mobile) {
            .#{generics.$css-ui-class-prefix}timeline-tree-icon,
            &::before {
                left: 50%;
                transform: translateX(-50%);
            }

            .#{generics.$css-ui-class-prefix}timeline-tree-item {
                margin-left: 0;
                width: calc(50% - var(--#{$prefix}pillar-icon-size));

                &::before {
                    left: 100%;
                    border-color: transparent;
                    border-left-color: generics.base-parameter-rgba(main-color, $opacity-token: false, $opacity-fallback: vars.$balloon-opacity);
                    transition: border-color var(--#{globals.$css-ui-var-prefix}duration);
                }
            }

            .#{generics.$css-ui-class-prefix}timeline-tree-slot {
                padding-left: 0;

                & > .#{generics.$css-ui-class-prefix}timeline-tree-slot-date {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 50%;
                    margin: 0;
                    padding-left: var(--#{$prefix}pillar-icon-size);
                    z-index: 0;
                }

                &:nth-child(even) {
                    & > .#{generics.$css-ui-class-prefix}timeline-tree-slot-date {
                        right: auto;
                        left: 0;
                        text-align: right;
                        padding-left: 0;
                        padding-right: var(--#{$prefix}pillar-icon-size);
                    }

                    .#{generics.$css-ui-class-prefix}timeline-tree-item {
                        margin-left: auto;
                    }
                }
            }

            &.#{generics.$css-ui-class-prefix}timeline-with-balloon {
                .#{generics.$css-ui-class-prefix}timeline-tree-slot {
                    &:nth-child(even) {
                        .#{generics.$css-ui-class-prefix}timeline-tree-item {
                            &::before {
                                left: auto;
                                right: 100%;
                                border-left-color: transparent;
                                border-right-color: generics.base-parameter-rgba(main-color, $opacity-token: false, $opacity-fallback: vars.$balloon-opacity);
                            }
                        }
                    }
                }
            }

            &.#{generics.$css-ui-class-prefix}timeline-with-line {
                .#{generics.$css-ui-class-prefix}timeline-tree-slot {
                    &::before {
                        left: auto;
                        right: 50%;
                    }

                    &:nth-child(even) {
                        &::before {
                            right: auto;
                            left: 50%;
                        }
                    }
                }
            }
        }
    }

    &.#{generics.$css-ui-class-prefix}timeline-tree-slot.animate-active,
    &.animate-on-active .#{generics.$css-ui-class-prefix}timeline-tree-slot.active,
    &.animate-on-hover .#{generics.$css-ui-class-prefix}timeline-tree-slot:hover {
        .#{generics.$css-ui-class-prefix}timeline-tree-icon {
            background-color: generics.base-parameter-active-rgba(main-color, $opacity-token: false);
            color: generics.base-parameter-active-rgba(on-main-color, $active-color-fallback: var(--#{vars.$css-ui-var-prefix}active-main-color), $opacity-token: false);
        }

        .#{generics.$css-ui-class-prefix}timeline-tree-item {
            background-color: generics.base-parameter-active-rgba(main-color, $opacity-token: false, $active-opacity-fallback: 0.1);
            color: generics.base-parameter-active-rgba(main-color, $opacity-token: false);
        }
    }

}
