@use '../../../_generics' as generics;
@use '../../molecules/card-simple/architecture' as simple-card-arch;
@use '../../molecules/card-simple/variables' as simple-card-vars;
@use 'variables' as vars;

$component-map: ();
$simple-card-color-map: (
    border-width: simple-card-vars.$border-width,
    border-radius: simple-card-vars.$border-radius,
    rounded-border-radius: simple-card-vars.$rounded-border-radius,
    image-border-radius: simple-card-vars.$image-border-radius,
    image-aspect-ratio: simple-card-vars.$image-aspect-ratio,
    divider-height: simple-card-vars.$divider-height,
    alert-size: simple-card-vars.$alert-size,
    padding: simple-card-vars.$padding,
    overlay-opacity: simple-card-vars.$overlay-opacity,
    active-overlay-opacity: simple-card-vars.$active-overlay-opacity
);

@mixin pricing-card-architecture($prefix: vars.$css-ui-component-prefix) {
    @include generics.generate-vars($simple-card-color-map, $prefix);
    @include simple-card-arch.simple-card-architecture($prefix);
    @include generics.generate-vars($component-map, $prefix);
    @include generics.base-layout($prefix);

    align-items: center;
    gap: var(--#{$prefix}padding, #{simple-card-vars.$padding});
    padding: calc(var(--#{$prefix}padding, #{simple-card-vars.$padding}) * 2.5) var(--#{$prefix}padding, #{simple-card-vars.$padding});
    font-size: 1.2em;

    .#{generics.$css-ui-class-prefix}card-header,
    .#{generics.$css-ui-class-prefix}card-footer,
    .#{generics.$css-ui-class-prefix}card-content {
        padding: 0;
    }

    .#{generics.$css-ui-class-prefix}card-header,
    .#{generics.$css-ui-class-prefix}card-footer {
        position: absolute;
        left: 0;
        width: 100%;
        line-height: 2.5;
        justify-content: center;
    }

    .#{generics.$css-ui-class-prefix}card-header {
        top: 0;
    }

    .#{generics.$css-ui-class-prefix}card-footer {
        bottom: 0;
    }

    .#{generics.$css-ui-class-prefix}card-title {
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 0.5em;
    }

    .#{generics.$css-ui-class-prefix}card-price {
        text-align: center;
        color: generics.base-parameter-rgba(main-color, $opacity-token: false);
        font-weight: 900;
        font-size: 5em;
        line-height: 0.8;
        transition: color var(--#{vars.$css-ui-var-prefix}duration, 0.3s);

        .#{generics.$css-ui-class-prefix}card-currency {
            margin-right: 8px;
            font-weight: 600;
            font-size: 30%;
            vertical-align: text-top;
        }
    }

    @include generics.interaction-states() {
        .#{generics.$css-ui-class-prefix}card-price {
            color: generics.base-parameter-active-rgba(main-color, $opacity-token: false);
        }
    }

}
