/* Main $variables */

/* LIGHT theme */

/* DARK theme */

/* generic */

/* constants */

.corner-ribbon {
    --background: var(--corner-ribbon-background, rgba(var(----color, 0 0 0)));
  --on-background: var(--corner-ribbon-on-background, rgba(var(----on-color, 255 255 255)));
  --fold-color: var(--corner-ribbon-fold-color, rgba(var(----shadow-color, 0 0 0)));
  --shadow-color: var(--corner-ribbon-shadow-color, var(----shadow-color, 0 0 0));
  --size: var(--corner-ribbon-size, 150px);
  --height: var(--corner-ribbon-height, calc(var(--size) * 0.33 - 2px));
  --font-size: var(--corner-ribbon-font-size, 18px);
  --padding: var(--corner-ribbon-padding, calc(var(--size) * 0.1));

  width: var(--size);
  height: var(--size);
  overflow: hidden;
  position: absolute;

  &::before,
  &::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid var(--fold-color);
  }

  & > * {
    position: absolute;
    display: block;
    width: calc(var(--size) * 1.5);
    padding: var(--padding) 0;
    background-color: var(--background);
    box-shadow: 0 5px 10px rgb(var(--shadow-color) / .1);
    color: var(--on-background);
    text-shadow: 0 1px 1px rgb(var(--shadow-color) / var(----shadow-box-1, .2));
    line-height: 1;
    font-size: var(--font-size);
    text-align: center;
    min-height: var(--height);

    /* for text-rotation */
    & > * {
      display: inline-block;
      transform: rotate(180deg);
    }
  }

  &.ribbon-top-left {
    top: -1.5%;
    left: -1.5%;

    &::before,
    &::after {
      border-top-color: transparent;
      border-left-color: transparent;
    }

    &::before {
      top: 0;
      right: 0;
    }

    &::after {
      bottom: 0;
      left: 0;
    }

    & > * {
      right: -16%;
      top: 20%;
      transform: rotate(-45deg);
    }
  }

  &.ribbon-top-right {
    top: -1.5%;
    right: -1.5%;

    &::before,
    &::after {
      border-top-color: transparent;
      border-right-color: transparent;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    & > * {
      left: -16%;
      top: 20%;
      transform: rotate(45deg);
    }
  }

  &.ribbon-bottom-left {
    bottom: -1.5%;
    left: -1.5%;

    &::before,
    &::after {
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &::before {
      bottom: 0;
      right: 0;
    }

    &::after {
      top: 0;
      left: 0;
    }

    & > * {
      right: -16%;
      bottom: 20%;
      transform: rotate(225deg);
    }
  }

  &.ribbon-bottom-right {
    bottom: -1.5%;
    right: -1.5%;

    &::before,
    &::after {
      border-bottom-color: transparent;
      border-right-color: transparent;
    }

    &::before {
      bottom: 0;
      left: 0;
    }

    &::after {
      top: 0;
      right: 0;
    }

    & > * {
      left: -16%;
      bottom: 20%;
      transform: rotate(-225deg);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .corner-ribbon {
      --background: var(--corner-ribbon-background, rgba(var(----color, 255 255 255)));
  --on-background: var(--corner-ribbon-on-background, rgba(var(----on-color, 0 0 0)));
  --fold-color: var(--corner-ribbon-fold-color, rgba(var(----shadow-color, 128 128 128)));
  --shadow-color: var(--corner-ribbon-shadow-color, var(----shadow-color, 0 0 0));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .corner-ribbon {
      --background: var(--corner-ribbon-background, rgba(var(----color, 255 255 255)));
  --on-background: var(--corner-ribbon-on-background, rgba(var(----on-color, 0 0 0)));
  --fold-color: var(--corner-ribbon-fold-color, rgba(var(----shadow-color, 128 128 128)));
  --shadow-color: var(--corner-ribbon-shadow-color, var(----shadow-color, 0 0 0));
  }

}