/* Main $variables */

/* LIGHT theme */

/* DARK theme */

.highlight-belt {
    --color: var(--highlight-belt-color, rgba(var(----color, 0 0 0)));
  --on-color: var(--highlight-belt-on-color, rgba(var(----on-color, 255 255 255)));
  --fold-color: var(--highlight-belt-fold-color, rgba(var(----shadow-color, 0 0 0)));
  --shadow-color: var(--highlight-belt-shadow-color, var(----shadow-color, 0 0 0));
  --size: var(--highlight-belt-size, 2em);
  --border-width: var(--highlight-belt-border-width, 25px);
  --angle: var(--highlight-belt-angle, 30px);
  --translate: var(--highlight-belt-translate, $translate);

  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(var(--translate));
  width: calc(100% + var(--angle) + var(--border-width) - 6px);
  background-color: var(--color);
  color: var(--on-color);
  box-shadow: 0 .5rem 1rem rgb(var(--shadow-color) / .15);
  min-height: var(--size);
  border-radius: 4px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: transparent;
  }

  &.bend-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  &.bend-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.bend-bottom-left {
    border-bottom-left-radius: 0;
  }

  &.bend-bottom-right {
    border-bottom-right-radius: 0;
  }

  &.bend-top-left {
    border-top-left-radius: 0;
  }

  &.bend-top-right {
    border-top-right-radius: 0;
  }

  &.bend-bottom,
  &.bend-bottom-left {
    &::before {
      top: 100%;
      border-top: var(--border-width) solid var(--fold-color);
    }
  }

  &.bend-bottom,
  &.bend-bottom-right {
    &::after {
      top: 100%;
      border-top: var(--border-width) solid var(--fold-color);
    }
  }

  &.bend-top,
  &.bend-top-left {
    &::before {
      bottom: 100%;
      border-bottom: var(--border-width) solid var(--fold-color);
    }
  }

  &.bend-top,
  &.bend-top-right {
    &::after {
      bottom: 100%;
      border-bottom: var(--border-width) solid var(--fold-color);
    }
  }

  &.bend-top,
  &.bend-bottom,
  &.bend-bottom-left,
  &.bend-top-left {
    &::before {
      left: 0;
      border-left: var(--border-width) solid transparent;
    }
  }

  &.bend-top,
  &.bend-bottom,
  &.bend-bottom-right,
  &.bend-top-right {
    &::after {
      right: 0;
      border-right: var(--border-width) solid transparent;
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .highlight-belt {
      --color: var(--highlight-belt-color, rgba(var(----color, 255 255 255)));
  --on-color: var(--highlight-belt-on-color, rgba(var(----on-color, 0 0 0)));
  --fold-color: var(--highlight-belt-fold-color, rgba(var(----shadow-color, 128 128 128)));
  --shadow-color: var(--highlight-belt-shadow-color, var(----shadow-color, 0 0 0));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .highlight-belt {
      --color: var(--highlight-belt-color, rgba(var(----color, 255 255 255)));
  --on-color: var(--highlight-belt-on-color, rgba(var(----on-color, 0 0 0)));
  --fold-color: var(--highlight-belt-fold-color, rgba(var(----shadow-color, 128 128 128)));
  --shadow-color: var(--highlight-belt-shadow-color, var(----shadow-color, 0 0 0));
  }

}