/* Main $variables */

.highlight-border {
    --color: var(--highlight-border-color, rgba(var(----color, 0 0 0)));
  --size: var(--highlight-border-size, 2px);
  --duration: var(--highlight-border-duration, 0.2s);
  --padding: var(--highlight-border-padding, 1em 2em);

  position: relative;
  display: inline-block;
  padding: var(--padding);
  transition: all var(--duration) ease;
  z-index: 1;

  .highlight-border-top,
  .highlight-border-bottom,
  .highlight-border-left,
  .highlight-border-right {
    position: absolute;
    background: var(--color);
    transition: width var(--duration), height var(--duration), background var(--duration);
    /* transition-timing-function: ease, ease; */
  }

  .highlight-border-top,
  .highlight-border-bottom {
    height: var(--size);
    width: 0;
    right: 0;

    &.highlight-border-reverse {
      right: inherit;
      left: 0;
    }

    &.highlight-border-reveal {
      height: 0;
      width: 100%;
    }
  }

  .highlight-border-top {
    top: 0;
  }

  .highlight-border-bottom {
    bottom: 0;
  }

  .highlight-border-left,
  .highlight-border-right {
    height: 0;
    width: var(--size);
    top: 0;

    &.highlight-border-reverse {
      top: inherit;
      bottom: 0;
    }

    &.highlight-border-reveal {
      height: 100%;
      width: 0;
    }
  }

  .highlight-border-left {
    left: 0;
  }

  .highlight-border-right {
    right: 0;
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    .highlight-border-top,
    .highlight-border-bottom,
    .highlight-border-left,
    .highlight-border-right {
      transition:
              width calc(var(--duration) * 2),
              height calc(var(--duration) * 2),
              background calc(var(--duration) * 2);
    }

    .highlight-border-top,
    .highlight-border-bottom {
      width: 100%;

      &.highlight-border-reveal {
        height: var(--size);
      }
    }

    .highlight-border-left,
    .highlight-border-right {
      height: 100%;

      &.highlight-border-reveal {
        width: var(--size);
      }
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .highlight-border {
      --color: var(--highlight-border-color, rgba(var(----color, 255 255 255)));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .highlight-border {
      --color: var(--highlight-border-color, rgba(var(----color, 255 255 255)));
  }

}