@use "@guebbit/css-toolkit" as guebbit;
@use "../../utils" as utils;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-root-prefix: "--" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "highlight-popup" !default;

// Main $variables
$color: null !default;
$color--light: guebbit.no-null-var(($color, #000)) !default;
$color--dark: guebbit.no-null-var(($color, #fff)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;

$duration: 0.3s !default;
$delay: $duration * 0.9 !default;
$width: 1px !default;
$padding: 1em 2em !default;

@mixin apply($prefix: $css-ui-var-prefix, $name: $css-ui-component-name) {
  @include utils.var-builder((
                  (color, guebbit.extract-colors($color--light), color),
                  (active-color, guebbit.extract-colors($active-color--light), color),

                  (duration, $duration),
                  (delay, $delay),
                  (padding, $padding),
                  (border-width, $width),
  ), $prefix, $css-ui-component-name, $css-ui-root-prefix);


  position: relative;
  z-index: 1;
  padding: var(--#{$prefix}padding);
  transition: background-color var(--#{$prefix}duration) ease-out;

  &::before,
  &::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    transition:
            background-color var(--#{$prefix}duration) ease-out,
            opacity var(--#{$prefix}duration) ease-out,
            transform var(--#{$prefix}duration) ease-out;
  }

  &.#{$css-ui-class-prefix}highlight-popup-horizontal,
  &.#{$css-ui-class-prefix}highlight-popup-vertical,
  &.#{$css-ui-class-prefix}highlight-popup-explosion,
  &.#{$css-ui-class-prefix}highlight-popup-fill,
  &.#{$css-ui-class-prefix}highlight-popup-drop,
  &.#{$css-ui-class-prefix}highlight-popup-bounce{
    &::before{
      background-color: var(--#{$prefix}color);
    }
  }

  &.#{$css-ui-class-prefix}highlight-border{
    &::after{
      border: var(--#{$prefix}border-width) solid var(--#{$prefix}color);
    }
  }

  &.#{$css-ui-class-prefix}highlight-popup-horizontal,
  &.#{$css-ui-class-prefix}highlight-popup-vertical{
    &::before{
      opacity: 0;
    }
  }

  &.#{$css-ui-class-prefix}highlight-popup-horizontal{
    &::before{
      transform: scale(0, 1);
    }
  }

  &.#{$css-ui-class-prefix}highlight-popup-vertical{
    &::before{
      transform: scale(1, 0);
    }
  }

  &.#{$css-ui-class-prefix}highlight-popup-explosion{
    &::before{
      opacity: 0;
      transform: scale(0, 0);
    }
  }

  &.#{$css-ui-class-prefix}highlight-popup-fill{
    &::before{
      transition: border-radius var(--#{$prefix}duration) ease-out;
      transform: scale(0, 0);
      opacity: 0;
      border-radius: 50%;
    }
  }

  &.#{$css-ui-class-prefix}highlight-popup-drop{
    &::before{
      opacity: 0;
      transform: scale(1.3, 1.3);
    }
  }

  &.#{$css-ui-class-prefix}highlight-popup-bounce{
    &::before{
      opacity: 0;
      transform: scale(0, 0);
    }
  }

  &.#{$css-ui-class-prefix}animate-active,
  &.#{$css-ui-class-prefix}animate-on-active.active,
  &.#{$css-ui-class-prefix}animate-on-hover:hover {
    &.#{$css-ui-class-prefix}highlight-popup-horizontal,
    &.#{$css-ui-class-prefix}highlight-popup-vertical,
    &.#{$css-ui-class-prefix}highlight-popup-explosion,
    &.#{$css-ui-class-prefix}highlight-popup-fill,
    &.#{$css-ui-class-prefix}highlight-popup-drop,
    &.#{$css-ui-class-prefix}highlight-popup-bounce{
      &::before{
        background-color: var(--#{$prefix}active-color);
      }
    }

    &.#{$css-ui-class-prefix}highlight-border{
      &::after{
        border-color: var(--#{$prefix}active-color);
      }
    }

    &.#{$css-ui-class-prefix}highlight-popup-horizontal,
    &.#{$css-ui-class-prefix}highlight-popup-vertical{
      &::before{
        opacity: 1;
        transform: scale(1, 1);
      }

      &::after{
        transform: scale(1, .1);
        opacity: 0;
      }
    }

    &.#{$css-ui-class-prefix}highlight-popup-explosion{
      &::before{
        opacity: 1;
        transform: scale(1, 1);
      }

      &::after{
        transform: scale(0, 0);
        opacity: 0;
      }
    }

    &.#{$css-ui-class-prefix}highlight-popup-fill{
      &::before{
        opacity: 1;
        border-radius: 0;
        transform: scale(1, 1);
      }

      &::after{
        opacity: 0;
      }
    }

    &.#{$css-ui-class-prefix}highlight-popup-drop{
      &::before{
        opacity: 1;
        transform: scale(1, 1);
      }

      &::after{
        opacity: 0;
        transform: scale(0, 0);
      }
    }

    &.#{$css-ui-class-prefix}highlight-popup-bounce{
      span {
        transform: scale(1.2, 1.2);
      }

      &::after{
        opacity: 0;
      }

      &::before{
        opacity: 1;
        transform: scale(1, 1);
        animation-name: #{$css-ui-class-prefix}#{$name}-animation;
        animation-duration: var(--#{$prefix}duration);
        animation-delay: var(--#{$prefix}delay);
      }
      @keyframes #{$css-ui-class-prefix}#{$name}-animation {
        0%{
          transform: scale(1, 1)
        }

        50% {
          transform: scale(1.1, 1.1)
        }

        100%{
          transform: scale(1, 1)
        }
      }
    }
  }
}

@mixin dark-apply($prefix: $css-ui-var-prefix, $name: $css-ui-component-name) {
  @include utils.var-builder((
                  (color, guebbit.extract-colors($color--dark), color),
                  (active-color, guebbit.extract-colors($active-color--dark), active-color),
  ), $prefix, $name, $css-ui-root-prefix);
}

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  @include apply();
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    @include dark-apply();
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
