/* Main $variables */

.highlight-rollup {
    --color: var(--highlight-rollup-color, rgba(var(----color, 0 0 0)));
  --active-color: var(--highlight-rollup-active-color, rgba(var(----active-color, 0 0 0)));
  --duration: var(--highlight-rollup-duration, 0.3s);
  --skew: var(--highlight-rollup-skew, -45deg);
  --skew-distance: var(--highlight-rollup-skew-distance, -20px);
  --padding: var(--highlight-rollup-padding, 1em 2em);

  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: var(--padding);
  transition: background-color var(--duration) ease;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--color);
    transition:
            background-color var(--duration),
            height var(--duration),
            width var(--duration),
            left var(--duration),
            transform calc(var(--duration) * 0.5);
    transition-timing-function: ease, ease, ease, ease, ease-in;
  }

  &.highlight-rollup-reverse {
    &::after {
      top: inherit;
      bottom: 0;
    }
  }

  &.highlight-rollup-horizontal {
    &::after {
      width: 0;
      height: 110%;
    }

    &.highlight-rollup-reverse {
      &::after {
        left: inherit;
        right: 0;
      }
    }
  }

  &.highlight-rollup-skew{
    overflow: hidden;

    &::after{
      height: 110%;
      /* width: 0; */
      left: -110%;
      transform:
              skewX(var(--skew))
              translateX(calc(-100% - var(--skew-distance)));
    }

    &.highlight-rollup-reverse{
      &::after{
        left: 210%;
      }
    }

    &.highlight-rollup-horizontal{
      /* TODO ---- */

      &.highlight-rollup-reverse{
        /* TODO ---- */
      }
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    &::after {
      background-color: var(--active-color);
      top: auto;
      bottom: 0;
      height: 100%;
    }

    &.highlight-rollup-reverse {
      &::after {
        top: 0;
        bottom: auto;
        height: 100%;
      }
    }

    &.highlight-rollup-horizontal {
      &::after {
        left: auto;
        right: 0;
        width: 110%;
      }

      &.highlight-rollup-reverse {
        &::after {
          left: 0;
          right: auto;
          width: 110%;
        }
      }
    }

    &.highlight-rollup-skew{
      &::after {
        background-color: var(--active-color);
        width: calc(100% + var(--skew-distance) * -2.5);
        transform: skewX(var(--skew)) translateX(var(--skew-distance));
        left: -5%;
      }

      /* &.highlight-rollup-reverse{ */
      /* &::after{ */
      /* left: 5%; */
      /* } */
      /* } */

      &.highlight-rollup-horizontal{
        &::after{
          /* transform: skewY(var(--skew)) translateX(var(--skew-distance)); */
        }

        &.highlight-rollup-reverse{
          /* TODO ---- */
        }
      }
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .highlight-rollup {
    .highlight-rollup {
        --color: var(--highlight-rollup-color, rgba(var(----color, 255 255 255)));
  --active-color: var(--highlight-rollup-active-color, rgba(var(----active-color, 255 255 255)));
    }
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .highlight-rollup {
    .highlight-rollup {
        --color: var(--highlight-rollup-color, rgba(var(----color, 255 255 255)));
  --active-color: var(--highlight-rollup-active-color, rgba(var(----active-color, 255 255 255)));
    }
  }

}