@use '../../../_generics' as generics;
@use 'architecture' as arch;
@use 'variables' as vars;
@forward 'variables';

%#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name},
.#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
    @include generics.base-parameters-background();
    @include generics.base-parameters-on-background();
    @include arch.cyberpunk-button-architecture();
}

@keyframes #{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}-glitch {
    0% {
        clip-path: var(--#{vars.$css-ui-var-prefix}#{vars.$css-ui-component-name}-slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--#{vars.$css-ui-var-prefix}#{vars.$css-ui-component-name}-slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--#{vars.$css-ui-var-prefix}#{vars.$css-ui-component-name}-slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--#{vars.$css-ui-var-prefix}#{vars.$css-ui-component-name}-slice-3);
        transform: translate(0, 5px);
    }

    40% {
        clip-path: var(--#{vars.$css-ui-var-prefix}#{vars.$css-ui-component-name}-slice-2);
        transform: translate(-5px, 0);
    }

    50% {
        clip-path: var(--#{vars.$css-ui-var-prefix}#{vars.$css-ui-component-name}-slice-3);
        transform: translate(5px, 0);
    }

    60% {
        clip-path: var(--#{vars.$css-ui-var-prefix}#{vars.$css-ui-component-name}-slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--#{vars.$css-ui-var-prefix}#{vars.$css-ui-component-name}-slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--#{vars.$css-ui-var-prefix}#{vars.$css-ui-component-name}-slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--#{vars.$css-ui-var-prefix}#{vars.$css-ui-component-name}-slice-1);
        transform: translate(-10px, 0);
    }

    100% {
        clip-path: var(--#{vars.$css-ui-var-prefix}#{vars.$css-ui-component-name}-slice-1);
        transform: translate(-20px, -10px);
    }
}