@use '@guebbit/css-toolkit' as guebbit;
@use '../../../_generics/variables' as globals;


$css-ui-component-name: 'simple-button' !default;


// -----------------------------------------------------------------------------
// Generic / layout
// -----------------------------------------------------------------------------
$padding: 8px !default;
$duration: 0.3s !default;
$border-radius: 2px !default;
$tonal-opacity: 0.9 !default;
$outlined-border-width: 2px !default;
