@use '../../../_generics/variables' as globals;
@forward '../../../_generics/variables';

$css-ui-component-name: 'simple-button' !default;

$padding: 8px !default;
$border-radius: 2px !default;
$tonal-opacity: 0.9 !default;
$outlined-border-width: 2px !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';
