@use "@guebbit/css-toolkit" as guebbit;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "calendar-card" !default;

// main
$color: null !default;
$color--light: guebbit.no-null-var(($color, #000)) !default;
$color--dark: guebbit.no-null-var(($color, #fff)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;

// LIGHT theme
$header: $color--light !default;
$on-header: guebbit.color-contrast($header) !default;
$background: guebbit.color-tint($header, 80%) !default;
$on-background: guebbit.color-contrast($background) !default;
$clip-color: guebbit.color-shade($header, 40%) !default;
$shadow-color: guebbit.hex2rgb(#000) !default;

$active-header: $active-color--light !default;
$active-on-header: guebbit.color-contrast($active-header) !default;
$active-background: guebbit.color-tint($active-header, 80%) !default;
$active-on-background: guebbit.color-contrast($active-background) !default;
$active-clip-color: guebbit.color-shade($active-header, 40%) !default;
$active-shadow-color: guebbit.hex2rgb(#000) !default;

// DARK theme
$header--dark: $color--dark !default;
$on-header--dark: guebbit.color-contrast($header) !default;
$background--dark: guebbit.color-tint($header, 80%) !default;
$on-background--dark: guebbit.color-contrast($background) !default;
$clip-color--dark: guebbit.color-shade($header, 40%) !default;
$shadow-color--dark: guebbit.hex2rgb(#000) !default;

$active-header--dark: $active-color--dark !default;
$active-on-header--dark: guebbit.color-contrast($active-header--dark) !default;
$active-background--dark: guebbit.color-tint($active-header--dark, 80%) !default;
$active-on-background--dark: guebbit.color-contrast($active-background--dark) !default;
$active-clip-color--dark: guebbit.color-shade($active-header--dark, 40%) !default;
$active-shadow-color--dark: guebbit.hex2rgb(#000) !default;

// generic
$padding: 24px !default;
$duration: 0.3s !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  --#{$css-ui-var-prefix}header: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-header, #{$header});
  --#{$css-ui-var-prefix}on-header: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-header, #{$on-header});
  --#{$css-ui-var-prefix}background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-background, #{$background});
  --#{$css-ui-var-prefix}on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-background, #{$on-background});
  --#{$css-ui-var-prefix}clip-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-clip-color, #{$clip-color});
  --#{$css-ui-var-prefix}shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-shadow-color, #{$shadow-color});
  --#{$css-ui-var-prefix}active-header: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-header, #{$active-header});
  --#{$css-ui-var-prefix}active-on-header: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-header, #{$active-on-header});
  --#{$css-ui-var-prefix}active-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-background, #{$active-background});
  --#{$css-ui-var-prefix}active-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-background, #{$active-on-background});
  --#{$css-ui-var-prefix}active-clip-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-clip-color, #{$active-clip-color});
  --#{$css-ui-var-prefix}active-shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-shadow-color, #{$active-shadow-color});
  --#{$css-ui-var-prefix}padding: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-padding, #{$padding});
  --#{$css-ui-var-prefix}duration: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-duration, #{$duration});

  position: relative;
  color: var(--#{$css-ui-var-prefix}on-background);
  box-shadow:
          0 2px 4px -1px rgb(var(--#{$css-ui-var-prefix}shadow-color) .2),
          0 4px 5px 0 rgb(var(--#{$css-ui-var-prefix}shadow-color) .14),
          0 1px 10px 0 rgb(var(--#{$css-ui-var-prefix}shadow-color) .12);
  line-height: 1.2;
  border-radius: 12px;
  transition:
          color var(--#{$css-ui-var-prefix}duration),
          box-shadow var(--#{$css-ui-var-prefix}duration);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -0.75em;
    display: inline-block;
    height: 1.5em;
    width: 1em;
    background-color: var(--#{$css-ui-var-prefix}clip-color);
    z-index: 1;
    border-radius: 24px;
    transition: background-color var(--#{$css-ui-var-prefix}duration);
  }

  &::before {
    left: 20%;
  }

  &::after {
    right: 20%;
  }

  & > * {
    &:first-child{
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child{
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .calendar-head{
    text-align: center;
    background-color: var(--#{$css-ui-var-prefix}header);
    color: var(--#{$css-ui-var-prefix}on-header);
    padding: var(--#{$css-ui-var-prefix}padding) calc(var(--#{$css-ui-var-prefix}padding) * 3);
    transition:
            background-color var(--#{$css-ui-var-prefix}duration),
            color var(--#{$css-ui-var-prefix}duration);
  }

  .calendar-body{
    display: block;
    text-align: center;
    background-color: var(--#{$css-ui-var-prefix}background);
    padding: var(--#{$css-ui-var-prefix}padding);
    transition: background-color var(--#{$css-ui-var-prefix}duration);
  }

  .calendar-info-day{
    position: relative;
    font-size: 2.5em;
    font-weight: 600;
  }

  small.calendar-info-time{
    opacity: 0.75;
  }

  .calendar-info-time{
    & > span{
      &::after{
        content: ":";
        margin-left: 0.1em;
        margin-right: 0.05em;
        font-weight: 600;
        color: var(--#{$css-ui-var-prefix}header);
        transition: color var(--#{$css-ui-var-prefix}duration);
      }

      &:last-of-type{
        &::after{
          content: normal;
        }
      }
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    color: var(--#{$css-ui-var-prefix}on-background);
    box-shadow:
            0 2px 4px -1px rgb(var(--#{$css-ui-var-prefix}active-shadow-color) .2),
            0 4px 5px 0 rgb(var(--#{$css-ui-var-prefix}active-shadow-color) .14),
            0 1px 10px 0 rgb(var(--#{$css-ui-var-prefix}active-shadow-color) .12);

    &::before,
    &::after {
      background-color: var(--#{$css-ui-var-prefix}active-clip-color);
    }

    .calendar-head{
      background-color: var(--#{$css-ui-var-prefix}active-header);
      color: var(--#{$css-ui-var-prefix}active-on-header);
    }

    .calendar-body{
      background-color: var(--#{$css-ui-var-prefix}active-background);
    }

    .calendar-info-time{
      & > span{
        &::after{
          color: var(--#{$css-ui-var-prefix}active-header);
        }
      }
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    --#{$css-ui-var-prefix}header: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-header, #{$header--dark});
    --#{$css-ui-var-prefix}on-header: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-header, #{$on-header--dark});
    --#{$css-ui-var-prefix}background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-background, #{$background--dark});
    --#{$css-ui-var-prefix}on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-background, #{$on-background--dark});
    --#{$css-ui-var-prefix}clip-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-clip-color, #{$clip-color--dark});
    --#{$css-ui-var-prefix}shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-shadow-color, #{$shadow-color--dark});
    --#{$css-ui-var-prefix}active-header: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-header, #{$active-header--dark});
    --#{$css-ui-var-prefix}active-on-header: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-header, #{$active-on-header--dark});
    --#{$css-ui-var-prefix}active-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-background, #{$active-background--dark});
    --#{$css-ui-var-prefix}active-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-background, #{$active-on-background--dark});
    --#{$css-ui-var-prefix}active-clip-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-clip-color, #{$active-clip-color--dark});
    --#{$css-ui-var-prefix}active-shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-shadow-color, #{$active-shadow-color--dark});
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
