/* Main $variables */

/* LIGHT theme */

/* DARK theme */

/* generic */

.calendar-card {
    --header: var(--calendar-card-header, rgba(var(----color, 0 0 0)));
  --on-header: var(--calendar-card-on-header, rgba(var(----on-color, 255 255 255)));
  --background: var(--calendar-card-background, rgba(var(----color, 204 204 204)));
  --on-background: var(--calendar-card-on-background, rgba(var(----on-color, 0 0 0)));
  --clip-color: var(--calendar-card-clip-color, 102 102 102);
  --shadow-color: var(--calendar-card-shadow-color, var(----shadow-color, 0 0 0));
  --active-header: var(--calendar-card-active-header, rgba(var(----active-color, 0 0 0)));
  --active-on-header: var(--calendar-card-active-on-header, rgba(var(----active-on-color, 255 255 255)));
  --active-background: var(--calendar-card-active-background, rgba(var(----active-color, 204 204 204)));
  --active-on-background: var(--calendar-card-active-on-background, rgba(var(----active-on-color, 0 0 0)));
  --active-clip-color: var(--calendar-card-active-clip-color, 102 102 102);
  --active-shadow-color: var(--calendar-card-active-shadow-color, var(----active-shadow-color, 0 0 0));
  --padding: var(--calendar-card-padding, 24px);
  --duration: var(--calendar-card-duration, 0.3s);

  position: relative;
  color: var(--on-background);
  box-shadow:
          0 2px 4px -1px rgb(var(--shadow-color) / var(----shadow-box-1, .2)),
          0 4px 5px 0 rgb(var(--shadow-color) / var(----shadow-box-2, .14)),
          0 1px 10px 0 rgb(var(--shadow-color) / var(----shadow-box-3, .12));
  line-height: 1.2;
  border-radius: 12px;
  transition:
          color var(--duration),
          box-shadow var(--duration);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -0.75em;
    display: inline-block;
    height: 1.5em;
    width: 1em;
    background-color: var(--clip-color);
    z-index: 1;
    border-radius: 24px;
    transition: background-color var(--duration);
  }

  &::before {
    left: 20%;
  }

  &::after {
    right: 20%;
  }

  & > * {
    &:first-child{
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child{
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .calendar-head{
    text-align: center;
    background-color: var(--header);
    color: var(--on-header);
    padding: var(--padding) calc(var(--padding) * 3);
    transition:
            background-color var(--duration),
            color var(--duration);
  }

  .calendar-body{
    display: block;
    text-align: center;
    background-color: var(--background);
    color: var(--on-background);
    padding: var(--padding);
    transition: background-color var(--duration), color var(--duration);
  }

  .calendar-info-day{
    position: relative;
    font-size: 2.5em;
    font-weight: 600;
  }

  small.calendar-info-time{
    opacity: 0.75;
  }

  .calendar-info-time{
    & > span{
      &::after{
        content: ":";
        margin-left: 0.1em;
        margin-right: 0.05em;
        font-weight: 600;
        color: var(--header);
        transition: color var(--duration);
      }

      &:last-of-type{
        &::after{
          content: normal;
        }
      }
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    color: var(--on-background);
    box-shadow:
            0 2px 4px -1px rgb(var(--active-shadow-color) / var(----shadow-box-1, .2)),
            0 4px 5px 0 rgb(var(--active-shadow-color) / var(----shadow-box-2, .14)),
            0 1px 10px 0 rgb(var(--active-shadow-color) / var(----shadow-box-3, .12));

    &::before,
    &::after {
      background-color: var(--active-clip-color);
    }

    .calendar-head{
      background-color: var(--active-header);
      color: var(--active-on-header);
    }

    .calendar-body{
      background-color: var(--active-background);
      color: var(--active-on-background);
    }

    .calendar-info-time{
      & > span{
        &::after{
          color: var(--active-header);
        }
      }
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .calendar-card {
      --header: var(--calendar-card-header, rgba(var(----active-color, 255 255 255)));
  --on-header: var(--calendar-card-on-header, rgba(var(----active-on-color, 255 255 255)));
  --background: var(--calendar-card-background, rgba(var(----color, 255 255 255)));
  --on-background: var(--calendar-card-on-background, rgba(var(----on-color, 0 0 0)));
  --clip-color: var(--calendar-card-clip-color, 153 153 153);
  --shadow-color: var(--calendar-card-shadow-color, var(----shadow-color, 0 0 0));
  --active-header: var(--calendar-card-active-header, rgba(var(----active-color, 255 255 255)));
  --active-on-header: var(--calendar-card-active-on-header, rgba(var(----active-on-color, 0 0 0)));
  --active-background: var(--calendar-card-active-background, rgba(var(----active-color, 255 255 255)));
  --active-on-background: var(--calendar-card-active-on-background, rgba(var(----active-on-color, 0 0 0)));
  --active-clip-color: var(--calendar-card-active-clip-color, 153 153 153);
  --active-shadow-color: var(--calendar-card-active-shadow-color, var(----active-shadow-color, 0 0 0));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .calendar-card {
      --header: var(--calendar-card-header, rgba(var(----active-color, 255 255 255)));
  --on-header: var(--calendar-card-on-header, rgba(var(----active-on-color, 255 255 255)));
  --background: var(--calendar-card-background, rgba(var(----color, 255 255 255)));
  --on-background: var(--calendar-card-on-background, rgba(var(----on-color, 0 0 0)));
  --clip-color: var(--calendar-card-clip-color, 153 153 153);
  --shadow-color: var(--calendar-card-shadow-color, var(----shadow-color, 0 0 0));
  --active-header: var(--calendar-card-active-header, rgba(var(----active-color, 255 255 255)));
  --active-on-header: var(--calendar-card-active-on-header, rgba(var(----active-on-color, 0 0 0)));
  --active-background: var(--calendar-card-active-background, rgba(var(----active-color, 255 255 255)));
  --active-on-background: var(--calendar-card-active-on-background, rgba(var(----active-on-color, 0 0 0)));
  --active-clip-color: var(--calendar-card-active-clip-color, 153 153 153);
  --active-shadow-color: var(--calendar-card-active-shadow-color, var(----active-shadow-color, 0 0 0));
  }

}