@use '../../../_generics/variables' as globals;
@forward '../../../_generics/variables';

$css-ui-component-name: 'simple-text-icon' !default;

$rotate: 0deg !default;
$scale: 1 !default;
$slide-x: 0 !default;
$slide-y: 0 !default;

$active-rotate: $rotate !default;
$active-scale: $scale !default;
$active-slide-x: $slide-x !default;
$active-slide-y: $slide-y !default;

$duration: 0.3s !default;
