// =============================================================================
// SimpleTextIcon – Component Entry
// =============================================================================
@use '../../../_generics' as generics;
@use 'variables' as vars;
@forward 'variables';


$component-color-map: (
    rotate: vars.$rotate,
    scale: vars.$scale,
    slide-x: vars.$slide-x,
    slide-y: vars.$slide-y,
    active-rotate: vars.$active-rotate,
    active-scale: vars.$active-scale,
    active-slide-x: vars.$active-slide-x,
    active-slide-y: vars.$active-slide-y,
    duration: vars.$duration,
);

%#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name},
.#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
    @include generics.generate-vars($component-color-map, vars.$css-ui-component-prefix);

    @include generics.base-layout(vars.$css-ui-component-prefix);
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 1em;
    margin: 0.4em;
    text-decoration: none;

    .text-icon {
        text-align: center;
        margin: 0 auto;
        line-height: 1.5;
        font-size: 1.5em;
        transform: rotateX(var(--#{vars.$css-ui-prefix}#{vars.$css-ui-component-name}-rotate)) scale(var(--#{vars.$css-ui-prefix}#{vars.$css-ui-component-name}-scale)) translate(var(--#{vars.$css-ui-prefix}#{vars.$css-ui-component-name}-slide-x), var(--#{vars.$css-ui-prefix}#{vars.$css-ui-component-name}-slide-y));
        @include generics.transition-properties(
            (transform, color),
            var(--#{vars.$css-ui-prefix}#{vars.$css-ui-component-name}-duration)
        );

        svg {
            fill: var(--#{vars.$css-ui-prefix}main-color, currentColor);
            width: 1em;
            height: 1em;
        }
    }

    &.column-mode {
        flex-direction: column;
    }

    @include generics.interaction-states {
        .text-icon {
            transform: rotateX(var(--#{vars.$css-ui-prefix}#{vars.$css-ui-component-name}-active-rotate)) scale(var(--#{vars.$css-ui-prefix}#{vars.$css-ui-component-name}-active-scale)) translate(var(--#{vars.$css-ui-prefix}#{vars.$css-ui-component-name}-active-slide-x), var(--#{vars.$css-ui-prefix}#{vars.$css-ui-component-name}-active-slide-y));
        }
    }
}
