/* Main $variables */

/* LIGHT theme */

/* DARK heme */

/* generics */

.button-parallelogram {
    --color: var(--button-parallelogram-color, rgba(var(----color, 0 0 0)));
  --on-color: var(--button-parallelogram-on-color, rgba(var(----on-color, 255 255 255)));
  --focus-color: var(--button-parallelogram-focus-color, rgba(var(----color, 0 0 0)));
  --active-color: var(--button-parallelogram-active-color, rgba(var(----active-color, 0 0 0)));
  --active-on-color: var(--button-parallelogram-active-on-color, rgba(var(----active-on-color, 255 255 255)));
  --active-focus-color: var(--button-parallelogram-active-focus-color, rgba(var(----active-color, 0 0 0)));
  --tilt: var(--button-parallelogram-tilt, 10deg);
  --active-tilt: var(--button-parallelogram-active-tilt, -10deg);
  --duration: var(--button-parallelogram-duration, 0.3s);
  --padding: var(--button-parallelogram-padding, 8px);

    position: relative;
    z-index: 1;
    padding: var(--padding) calc(var(--padding) * 2.5);

    &::after{
        content: '';
        position: absolute;
        top: 10%;
        left: -10%;
        width: 120%;
        height: 80%;
        border-radius: 4px;
        z-index: -1;
        background: var(--color);
        transform: skew(var(--tilt));
        transition:
                transform var(--duration),
                background var(--duration),
                border var(--duration);
        opacity: 0.5;
    }

    &.animate-active,
    &.animate-on-active.active,
    &.animate-on-hover:hover {
        &::after{
            background: var(--active-color);
            transform: skew(var(--active-tilt));
        }
    }

    &.focus-active,
    &.focus-on-active.active,
    &.focus-on-hover:hover {
        &::after{
            border-left: 2em solid var(--focus-color);
            border-right: 2em solid var(--focus-color);
        }
    }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
    
    .button-parallelogram {
          --color: var(--button-parallelogram-color, rgba(var(----color, 255 255 255)));
  --on-color: var(--button-parallelogram-on-color, rgba(var(----on-color, 0 0 0)));
  --focus-color: var(--button-parallelogram-focus-color, rgba(var(----color, 255 255 255)));
  --active-color: var(--button-parallelogram-active-color, rgba(var(----active-color, 255 255 255)));
  --active-on-color: var(--button-parallelogram-active-on-color, rgba(var(----active-on-color, 0 0 0)));
  --active-focus-color: var(--button-parallelogram-active-focus-color, rgba(var(----active-color, 255 255 255)));
    }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
    
    .button-parallelogram {
          --color: var(--button-parallelogram-color, rgba(var(----color, 255 255 255)));
  --on-color: var(--button-parallelogram-on-color, rgba(var(----on-color, 0 0 0)));
  --focus-color: var(--button-parallelogram-focus-color, rgba(var(----color, 255 255 255)));
  --active-color: var(--button-parallelogram-active-color, rgba(var(----active-color, 255 255 255)));
  --active-on-color: var(--button-parallelogram-active-on-color, rgba(var(----active-on-color, 0 0 0)));
  --active-focus-color: var(--button-parallelogram-active-focus-color, rgba(var(----active-color, 255 255 255)));
    }

}