/* ------------------- @import clause ------------------- */
/* ------------------------------------------------------ */
@import "../../../src/atoms/buttons/SimpleButton.css";

/*

@import "../../../src/atoms/buttons/SimpleButton.css";

*/

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.button-large-icon {
  @extend .simple-button;

    --active-outlined-on-background: var(--button-large-icon-active-outlined-on-background, rgba(var(----active-on-color, inherit)));
  --active-plain-color: var(--button-large-icon-active-plain-color, rgba(var(----active-on-color, inherit)));
  --duration: var(--button-large-icon-duration, 0.3s);
  --size: var(--button-large-icon-size, 90px);

  --on-background: rgb(var(----global-on-background));

  font-size: var(--size);
  min-width: 1em;
  min-height: 1em;
  background: transparent;
  text-decoration: none;
  overflow: hidden;
  transition: all calc(var(--duration) * 0.25) cubic-bezier(0.31, -0.105, 0.43, 1.59);

  &::before,
  .button-image,
  .button-icon {
    position: absolute;
    transition:
            all var(--duration) cubic-bezier(0.31, -0.105, 0.43, 1.59),
            background var(--duration);
  }

  &::before {
    content: "";
    z-index: -1;
    background-color: var(--background);
    width: 120%;
    height: 120%;
    top: 90%;
    left: -120%;
  }

  .button-icon,
  .button-image{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .button-icon {
    font-size: 0.5em;
  }

  .button-image{
    width: 1em;
    height: 1em;
    object-fit: cover;
  }

  &.button-circular{
    &::before{
      border-radius: 50%;
    }
  }

  &.button-rounded{
    &::before{
      transform: rotate(45deg);
    }
  }

  &.button-outlined{
    &::before {
      background-color: var(--outlined-background);
    }
  }

  &.button-small {
    font-size: calc(var(--size) * 0.5);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background: transparent;

    &::before {
      top: -10%;
      left: -10%;
      background: var(--active-background);
    }

    img{
      opacity: 0.5;
      transition: opacity var(--duration) ease-in-out;
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .button-large-icon {
      --active-outlined-on-background: var(--button-large-icon-active-outlined-on-background, rgba(var(----active-on-color, inherit)));
  --active-plain-color: var(--button-large-icon-active-plain-color, rgba(var(----active-on-color, inherit)));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .button-large-icon {
      --active-outlined-on-background: var(--button-large-icon-active-outlined-on-background, rgba(var(----active-on-color, inherit)));
  --active-plain-color: var(--button-large-icon-active-plain-color, rgba(var(----active-on-color, inherit)));
  }

}