@use "../../../node_modules/@guebbit/css-toolkit" as guebbit;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "simple-button" !default;

// colors
$color: null !default;
$color--light: guebbit.no-null-var(($color, transparent)) !default;
$color--dark: guebbit.no-null-var(($color, transparent)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;

// LIGHT theme
$background: $color--light !default;
$on-background: guebbit.color-contrast($color--light) !default;
$shadow-color: guebbit.hex2rgb(#000) !default;
$outlined-background: transparent !default;
$outlined-on-background: guebbit.no-transparent-var($color--light) !default;
$border-color: guebbit.no-transparent-var($color--light) !default;
$tonal-background: rgba($color--light, 0.1) !default;
$tonal-on-background: guebbit.no-transparent-var($color--light) !default;
$plain-color: guebbit.no-transparent-var($color--light) !default;

$active-background: $active-color--light !default;
$active-on-background: guebbit.color-contrast($active-background) !default;
$active-shadow-color: $shadow-color !default;
$active-outlined-background: transparent !default;
$active-outlined-on-background: guebbit.no-transparent-var($active-color--light) !default;
$active-border-color: guebbit.no-transparent-var($active-color--light) !default;
$active-tonal-background: rgba($active-color--light, 0.2) !default;
$active-tonal-on-background: guebbit.no-transparent-var($active-color--light) !default;
$active-plain-color: guebbit.no-transparent-var($active-color--light) !default;

// DARK theme
$background--dark: $color--dark !default;
$on-background--dark: guebbit.color-contrast($color--dark) !default;
$shadow-color--dark: guebbit.hex2rgb(#000) !default;
$outlined-background--dark: transparent !default;
$outlined-on-background--dark: guebbit.no-transparent-var($color--dark) !default;
$border-color--dark: guebbit.no-transparent-var($color--dark) !default;
$tonal-background--dark: rgba($color--dark, 0.1) !default;
$tonal-on-background--dark: guebbit.no-transparent-var($color--dark) !default;
$plain-color--dark: guebbit.no-transparent-var($color--dark) !default;

$active-background--dark: $active-color--dark !default;
$active-on-background--dark: guebbit.color-contrast($active-background) !default;
$active-shadow-color--dark: $shadow-color !default;
$active-outlined-background--dark: transparent !default;
$active-outlined-on-background--dark: guebbit.no-transparent-var($active-color--dark) !default;
$active-border-color--dark: guebbit.no-transparent-var($active-color--dark) !default;
$active-tonal-background--dark: rgba($active-color--dark, 0.2) !default;
$active-tonal-on-background--dark: guebbit.no-transparent-var($active-color--dark) !default;
$active-plain-color--dark: guebbit.no-transparent-var($active-color--dark) !default;


// generic
$outlined-border-width: 2px !default;
$padding: 8px !default;
$duration: 0.3s !default;
$border-radius: 2px !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  --#{$css-ui-var-prefix}background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-background, #{$background});
  --#{$css-ui-var-prefix}on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-background, #{$on-background});
  --#{$css-ui-var-prefix}shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-shadow-color, #{$shadow-color});
  --#{$css-ui-var-prefix}border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-color, #{$border-color});
  --#{$css-ui-var-prefix}outlined-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-outlined-background, #{$outlined-background});
  --#{$css-ui-var-prefix}outlined-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-outlined-on-background, #{$outlined-on-background});
  --#{$css-ui-var-prefix}tonal-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-tonal-background, #{$tonal-background});
  --#{$css-ui-var-prefix}tonal-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-tonal-on-background, #{$tonal-on-background});
  --#{$css-ui-var-prefix}plain-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-plain-color, #{$plain-color});
  --#{$css-ui-var-prefix}active-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-background, #{$active-background});
  --#{$css-ui-var-prefix}active-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-background, #{$active-on-background});
  --#{$css-ui-var-prefix}active-shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-shadow-color, #{$active-shadow-color});
  --#{$css-ui-var-prefix}active-border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-border-color, #{$active-border-color});
  --#{$css-ui-var-prefix}active-outlined-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-outlined-background, #{$active-outlined-background});
  --#{$css-ui-var-prefix}active-outlined-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-outlined-on-background, #{$active-outlined-on-background});
  --#{$css-ui-var-prefix}active-tonal-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-tonal-background, #{$active-tonal-background});
  --#{$css-ui-var-prefix}active-tonal-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-tonal-on-background, #{$active-tonal-on-background});
  --#{$css-ui-var-prefix}active-plain-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-plain-color, #{$active-plain-color});
  --#{$css-ui-var-prefix}outlined-border-width: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-outlined-border-width, #{$outlined-border-width});
  --#{$css-ui-var-prefix}padding: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-padding, #{$padding});
  --#{$css-ui-var-prefix}duration: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-duration, #{$duration});
  --#{$css-ui-var-prefix}border-radius: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-radius, #{$border-radius});
 
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  // letter-spacing: 0.08em;
  // line-height: 2;
  text-transform: uppercase;
  gap: calc(var(--#{$css-ui-var-prefix}padding) * 2.5);
  padding: var(--#{$css-ui-var-prefix}padding) calc(var(--#{$css-ui-var-prefix}padding) * 2.5);
  background-color: var(--#{$css-ui-var-prefix}background);
  color: var(--#{$css-ui-var-prefix}on-background);
  border-color: var(--#{$css-ui-var-prefix}border-color);
  border-radius: var(--#{$css-ui-var-prefix}border-radius);
  box-shadow:
          0 2px 4px -1px rgb(var(--#{$css-ui-var-prefix}shadow-color) .2),
          0 4px 5px 0 rgb(var(--#{$css-ui-var-prefix}shadow-color) .14),
          0 1px 10px 0 rgb(var(--#{$css-ui-var-prefix}shadow-color) .12);
  cursor: pointer;
  transition-property: box-shadow, transform, opacity, background, color, border;
  transition-duration: var(--#{$css-ui-var-prefix}duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .button-icon {
    height: 1em;
    width: 1em;
    fill: currentcolor;
  }

  .button-image{
    height: 2em;
    width: 2em;
    object-fit: cover;
    border-radius: var(--#{$css-ui-var-prefix}border-radius);
  }

  &.button-small{
    font-size: 0.75em;
    gap: calc(var(--#{$css-ui-var-prefix}padding) * 1.25);
    padding: calc(var(--#{$css-ui-var-prefix}padding) * 0.5) calc(var(--#{$css-ui-var-prefix}padding) * 1.25);
  }

  &.button-plain,
  &.button-tonal,
  &.button-shadowless {
    box-shadow: none !important;
  }

  &.button-icon-only{
    padding: calc(var(--#{$css-ui-var-prefix}padding) * 2);
  }

  &.button-rounded{
    border-radius: 28%;

    .button-image{
      border-radius: 28%;
    }
  }

  &.button-circular{
    border-radius: 50%;

    .button-image{
      border-radius: 50%;
    }
  }

  &.button-pill{
    border-radius: 5em;

    .button-image{
      border-radius: 5em;
    }
  }


  &.button-outlined{
    background-color: var(--#{$css-ui-var-prefix}outlined-background);
    color: var(--#{$css-ui-var-prefix}outlined-on-background);
    border-width: var(--#{$css-ui-var-prefix}outlined-border-width);
    border-style: solid;
  }

  &.button-tonal{
    background-color: var(--#{$css-ui-var-prefix}tonal-background);
    color: var(--#{$css-ui-var-prefix}tonal-on-background);
  }

  &.button-plain {
    background: transparent;
    color: var(--#{$css-ui-var-prefix}plain-color);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--#{$css-ui-var-prefix}active-background);
    color: var(--#{$css-ui-var-prefix}active-on-background);
    border-color: var(--#{$css-ui-var-prefix}active-border-color);
    box-shadow:
            0 5px 5px -3px rgb(var(--#{$css-ui-var-prefix}active-shadow-color) .2),
            0 8px 10px 1px rgb(var(--#{$css-ui-var-prefix}active-shadow-color) .14),
            0 3px 14px 2px rgb(var(--#{$css-ui-var-prefix}active-shadow-color) .12);

    &.button-outlined {
      background-color: var(--#{$css-ui-var-prefix}active-outlined-background);
      color: var(--#{$css-ui-var-prefix}active-outlined-on-background);
    }

    &.button-tonal {
      background-color: var(--#{$css-ui-var-prefix}active-tonal-background);
      color: var(--#{$css-ui-var-prefix}active-tonal-on-background);
    }

    &.button-plain {
      background: transparent;
      color: var(--#{$css-ui-var-prefix}active-plain-color);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    --#{$css-ui-var-prefix}background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-background, #{$background--dark});
    --#{$css-ui-var-prefix}on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-background, #{$on-background--dark});
    --#{$css-ui-var-prefix}shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-shadow-color, #{$shadow-color--dark});
    --#{$css-ui-var-prefix}border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-color, #{$border-color--dark});
    --#{$css-ui-var-prefix}outlined-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-outlined-background, #{$outlined-background--dark});
    --#{$css-ui-var-prefix}outlined-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-outlined-on-background, #{$outlined-on-background--dark});
    --#{$css-ui-var-prefix}tonal-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-tonal-background, #{$tonal-background--dark});
    --#{$css-ui-var-prefix}tonal-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-tonal-on-background, #{$tonal-on-background--dark});
    --#{$css-ui-var-prefix}plain-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-plain-color, #{$plain-color--dark});
    --#{$css-ui-var-prefix}active-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-background, #{$active-background--dark});
    --#{$css-ui-var-prefix}active-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-background, #{$active-on-background--dark});
    --#{$css-ui-var-prefix}active-shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-shadow-color, #{$active-shadow-color--dark});
    --#{$css-ui-var-prefix}active-border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-border-color, #{$active-border-color--dark});
    --#{$css-ui-var-prefix}active-outlined-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-outlined-background, #{$active-outlined-background--dark});
    --#{$css-ui-var-prefix}active-outlined-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-outlined-on-background, #{$active-outlined-on-background--dark});
    --#{$css-ui-var-prefix}active-tonal-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-tonal-background, #{$active-tonal-background--dark});
    --#{$css-ui-var-prefix}active-tonal-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-tonal-on-background, #{$active-tonal-on-background--dark});
    --#{$css-ui-var-prefix}active-plain-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-plain-color, #{$active-plain-color--dark});
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
