@import "index";
@import "SimpleButton";

$scss-library-prefix: "" !default;
$button-brand-icon-size: 90px !default;
$button-brand-icon-color: #000 !default;
$button-brand-icon-background: guebbit-contrast($button-brand-icon-color) !default;
$button-brand-icon-active-color: #000 !default;
$button-brand-icon-active-background: guebbit-contrast($button-brand-icon-active-color) !default;
$button-brand-icon-duration: 0.35s !default;

%#{$scss-library-prefix}button-brand-icon,
.#{$scss-library-prefix}button-brand-icon {
  @extend %simple-button;

  font-size: var(--button-brand-icon-size, $button-brand-icon-size);
  min-width: 1em;
  min-height: 1em;
  color: var(--button-brand-icon-color, $button-brand-icon-color);
  text-decoration: none;
  overflow: hidden;
  transition: all var(--button-brand-icon-duration, $button-brand-icon-duration) cubic-bezier(0.31, -0.105, 0.43, 1.59);

  &::before,
  .button-image,
  .button-icon {
    position: absolute;
    transition: all var(--button-brand-icon-duration, $button-brand-icon-duration) cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }

  &::before {
    content: "";
    z-index: -1;
    background-color: var(--button-brand-icon-background, $button-brand-icon-background);
    width: 120%;
    height: 120%;
    top: 90%;
    left: -120%;
  }

  .button-icon,
  .button-image{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .button-icon {
    font-size: 0.5em;
  }

  .button-image{
    width: 1em;
    height: 1em;
    object-fit: cover;
  }

  &.button-circular{
    &::before{
      border-radius: 50%;
    }
  }

  &.button-rounded{
    &::before{
      transform: rotate(45deg);
    }
  }

  &.button-plain,
  &.button-outlined{
    --simple-button-color: #{$button-brand-icon-color};
    --simple-button-active-color: #{$button-brand-icon-active-color};
    --simple-button-outlined-border-color: #{$button-brand-icon-color};
    --simple-button-active-outlined-border-color: #{$button-brand-icon-active-color};
  }

  &.button-small {
    font-size: calc(var(--button-brand-icon-size, $button-brand-icon-size) * 0.5);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    color: var(--button-brand-icon-active-color, $button-brand-icon-active-color);

    &::before {
      top: -10%;
      left: -10%;
      background: var(--button-brand-icon-active-background, $button-brand-icon-active-background);
    }

    img{
      opacity: 0.5;
      transition: opacity var(--button-brand-icon-duration, $button-brand-icon-duration) ease-in-out;
    }
  }
}
