$scss-library-prefix: "" !default;
$scss-library-component-name: "button-parallelogram" !default;
$scss-library-var-prefix: "" !default;

$button-parallelogram-color: #000 !default;
$button-parallelogram-active-color: $button-parallelogram-color !default;
$button-parallelogram-duration: 0.3s !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}color: #{$button-parallelogram-color};
    --#{$scss-library-var-prefix}active-color: #{$button-parallelogram-active-color};
    --#{$scss-library-var-prefix}duration: #{$button-parallelogram-duration};

    position: relative;
    z-index: 1;

    &::after{
        content: '';
        position: absolute;
        top: 10%;
        left: -10%;
        width: 120%;
        height: 80%;
        border-radius: 4px;
        z-index: -1;
        transition:
                transform var(--#{$scss-library-var-prefix}duration),
                background var(--#{$scss-library-var-prefix}duration),
                border var(--#{$scss-library-var-prefix}duration);
        opacity: 0.5;
    }

    &::after{
        background: var(--#{$scss-library-var-prefix}color);
        transform: skew(10deg);
    }

    &.animate-active,
    &.animate-on-active.active,
    &.animate-on-hover:hover {
        &::after{
            background: var(--#{$scss-library-var-prefix}active-color);
            transform: skew(-10deg);
            // border-left: 2.6em solid $button-parallelogram-active-color;
        }
    }
}