@use "../../../index" as guebbit;

$scss-library-class-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "button-parallelogram" !default;

// main
$color: null !default;
$color--light: guebbit.no-null-var(($color, #000)) !default;
$color--dark: guebbit.no-null-var(($color, #fff)) !default;
$active-color: null !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;

// LIGHT theme
$on-color: guebbit.color-contrast($color--light) !default;
$active-on-color: guebbit.color-contrast($active-color--light) !default;
$focus-color: $color--light !default;
$active-focus-color: $active-color--light !default;

// DARK heme
$on-color--dark: guebbit.color-contrast($color--dark) !default;
$active-on-color--dark: guebbit.color-contrast($active-color--dark) !default;
$focus-color--dark: $color--dark !default;
$active-focus-color--dark: $active-color--dark !default;

// generics
$tilt: 10deg !default;
$active-tilt: -10deg !default;
$duration: 0.3s !default;
$padding: 8px !default;

%#{$scss-library-class-prefix}#{$scss-library-component-name},
.#{$scss-library-class-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--light});
    --#{$scss-library-var-prefix}on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-color, #{$on-color});
    --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-color--light});
    --#{$scss-library-var-prefix}active-on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-on-color, #{$active-on-color});
    --#{$scss-library-var-prefix}focus-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-focus-color, #{$focus-color});
    --#{$scss-library-var-prefix}active-focus-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-focus-color, #{$active-focus-color});
    --#{$scss-library-var-prefix}tilt: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-tilt, #{$tilt});
    --#{$scss-library-var-prefix}active-tilt: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-tilt, #{$active-tilt});
    --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});
    --#{$scss-library-var-prefix}padding: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-padding, #{$padding});

    position: relative;
    z-index: 1;
    padding: var(--#{$scss-library-var-prefix}padding) calc(var(--#{$scss-library-var-prefix}padding) * 2.5);

    &::after{
        content: '';
        position: absolute;
        top: 10%;
        left: -10%;
        width: 120%;
        height: 80%;
        border-radius: 4px;
        z-index: -1;
        background: var(--#{$scss-library-var-prefix}color);
        transform: skew(var(--#{$scss-library-var-prefix}tilt));
        transition:
                transform var(--#{$scss-library-var-prefix}duration),
                background var(--#{$scss-library-var-prefix}duration),
                border var(--#{$scss-library-var-prefix}duration);
        opacity: 0.5;
    }

    &.animate-active,
    &.animate-on-active.active,
    &.animate-on-hover:hover {
        &::after{
            background: var(--#{$scss-library-var-prefix}active-color);
            transform: skew(var(--#{$scss-library-var-prefix}active-tilt));
        }
    }

    &.focus-active,
    &.focus-on-active.active,
    &.focus-on-hover:hover {
        &::after{
            border-left: 2em solid var(--#{$scss-library-var-prefix}focus-color);
            border-right: 2em solid var(--#{$scss-library-var-prefix}focus-color);
        }
    }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
    %#{$scss-library-class-prefix}#{$scss-library-component-name},
    .#{$scss-library-class-prefix}#{$scss-library-component-name} {
        --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--dark});
        --#{$scss-library-var-prefix}on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-color, #{$on-color--dark});
        --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-color--dark});
        --#{$scss-library-var-prefix}active-on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-on-color, #{$active-on-color--dark});
        --#{$scss-library-var-prefix}focus-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-focus-color, #{$focus-color--dark});
        --#{$scss-library-var-prefix}active-focus-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-focus-color, #{$active-focus-color--dark});
    }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
    @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
    @include theme-dark-builder;
}