@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "button-parallelogram" !default;
$scss-library-var-prefix: "" !default;

$color: #000 !default;
$on-color: guebbit.color-contrast($color) !default;
$active-color: $color !default;
$active-on-color: guebbit.color-contrast($active-color) !default;
$focus-color: $active-color !default;
$duration: 0.3s !default;
$padding: 8px !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}color: #{$color};
    --#{$scss-library-var-prefix}on-color: #{$on-color};
    --#{$scss-library-var-prefix}active-color: #{$active-color};
    --#{$scss-library-var-prefix}active-on-color: #{$active-on-color};
    --#{$scss-library-var-prefix}focus-color: #{$focus-color};
    --#{$scss-library-var-prefix}duration: #{$duration};
    --#{$scss-library-var-prefix}padding: #{$padding};

    position: relative;
    z-index: 1;
    padding: var(--#{$scss-library-var-prefix}padding) calc(var(--#{$scss-library-var-prefix}padding) * 2.5);

    &::after{
        content: '';
        position: absolute;
        top: 10%;
        left: -10%;
        width: 120%;
        height: 80%;
        border-radius: 4px;
        z-index: -1;
        transition:
                transform var(--#{$scss-library-var-prefix}duration),
                background var(--#{$scss-library-var-prefix}duration),
                border var(--#{$scss-library-var-prefix}duration);
        opacity: 0.5;
    }

    &::after{
        background: var(--#{$scss-library-var-prefix}color);
        transform: skew(10deg);
    }

    &.animate-active,
    &.animate-on-active.active,
    &.animate-on-hover:hover {
        &::after{
            background: var(--#{$scss-library-var-prefix}active-color);
            transform: skew(-10deg);
            border-left: 2em solid var(--#{$scss-library-var-prefix}focus-color);
            border-right: 2em solid var(--#{$scss-library-var-prefix}focus-color);
        }
    }
}