@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "cyberpunk-button" !default;

// main
$primary: null !default;
$active-primary: null !default;
$secondary: null !default;
$active-secondary: null !default;

// LIGHT theme
$primary--light: guebbit.noNullVar(($primary, #f2e900)) !default;
$active-primary--light: guebbit.noNullVar(($active-primary, $primary--light)) !default;
$on-primary: guebbit.color-contrast($primary--light) !default;
$active-on-primary: guebbit.color-contrast($active-primary--light) !default;
$secondary--light: guebbit.noNullVar(($secondary, #f11)) !default;
$active-secondary--light: guebbit.noNullVar(($active-secondary, $secondary--light)) !default;

// DARK theme
$primary--dark: guebbit.noNullVar(($primary, #f2e900)) !default;
$active-primary--dark: guebbit.noNullVar(($active-primary, $primary--dark)) !default;
$on-primary--dark: guebbit.color-contrast($primary--dark) !default;
$active-on-primary--dark: guebbit.color-contrast($active-primary--dark) !default;
$secondary--dark: guebbit.noNullVar(($secondary, #f11)) !default;
$active-secondary--dark: guebbit.noNullVar(($active-secondary, $secondary--dark)) !default;

$duration: 1s !default;

%#{$scss-library-prefix}#{$scss-library-component-name}-extend {
  position:relative;
  min-width: 300px;
  display: block;
  background: linear-gradient(45deg, transparent 5%, var(--#{$scss-library-var-prefix}primary) 5%);
  color: var(--#{$scss-library-var-prefix}on-primary);
  border:0;
  font-size: 30px;
  letter-spacing:3px;
  line-height:2.5;
  box-shadow: 6px 0 0 var(--#{$scss-library-var-prefix}secondary);
  outline: transparent;
  text-transform: uppercase;
}

%#{$scss-library-prefix}#{$scss-library-component-name}-extend-active {
  background: linear-gradient(45deg, transparent 5%, var(--#{$scss-library-var-prefix}active-primary) 5%);
  color: var(--#{$scss-library-var-prefix}active-on-primary);
  box-shadow: 6px 0 0 var(--#{$scss-library-var-prefix}active-secondary);
}

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}primary: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-primary, #{$primary--dark});
  --#{$scss-library-var-prefix}primary: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-primary, #{$primary--light});
  --#{$scss-library-var-prefix}on-primary: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-primary, #{$on-primary});
  --#{$scss-library-var-prefix}active-primary: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-primary, #{$active-primary--dark});
  --#{$scss-library-var-prefix}active-secondary: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-secondary, #{$active-secondary--dark});
  --#{$scss-library-var-prefix}active-on-primary: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-on-primary, #{$active-on-primary});
  --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});
  --#{$scss-library-var-prefix}slice-0: inset(50% 50% 50% 50%);
  --#{$scss-library-var-prefix}slice-1: inset(80% -6px 0 0);
  --#{$scss-library-var-prefix}slice-2: inset(50% -6px 30% 0);
  --#{$scss-library-var-prefix}slice-3: inset(10% -6px 85% 0);
  --#{$scss-library-var-prefix}slice-4: inset(40% -6px 43% 0);
  --#{$scss-library-var-prefix}slice-5: inset(80% -6px 5% 0);

  @extend %#{$scss-library-prefix}#{$scss-library-component-name}-extend;

  &::after{
    @extend %#{$scss-library-prefix}#{$scss-library-component-name}-extend;

    content: attr(data-flicker-text);
    position:absolute;
    inset: 0;
    background: linear-gradient(45deg,transparent 3%, var(--#{$scss-library-var-prefix}secondary) 3%, var(--#{$scss-library-var-prefix}secondary) 5%, var(--#{$scss-library-var-prefix}primary) 5%);
    text-shadow: -3px -3px 0 var(--#{$scss-library-var-prefix}secondary), 3px 3px 0 var(--#{$scss-library-var-prefix}secondary);
    clip-path: var(--#{$scss-library-var-prefix}slice-0);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    @extend %#{$scss-library-prefix}#{$scss-library-component-name}-extend-active;

    &::after{
      @extend %#{$scss-library-prefix}#{$scss-library-component-name}-extend-active;
      animation: var(--#{$scss-library-var-prefix}duration) #{$scss-library-prefix}#{$scss-library-component-name}-glitch infinite;
      animation-timing-function: steps(2,end);
    }
  }
}

@keyframes #{$scss-library-prefix}#{$scss-library-component-name}-glitch{
  0%{
    clip-path:var(--#{$scss-library-var-prefix}slice-1);
    transform:translate(-20px,-10px);
  }

  10%{
    clip-path:var(--#{$scss-library-var-prefix}slice-3);
    transform:translate(10px,10px);
  }

  20%{
    clip-path:var(--#{$scss-library-var-prefix}slice-1);
    transform:translate(-10px,10px);
  }

  30%{
    clip-path:var(--#{$scss-library-var-prefix}slice-3);
    transform:translate(0,5px);
  }

  40%{
    clip-path:var(--#{$scss-library-var-prefix}slice-2);
    transform:translate(-5px,0);
  }

  50%{
    clip-path:var(--#{$scss-library-var-prefix}slice-3);
    transform:translate(5px,0);
  }

  60%{
    clip-path:var(--#{$scss-library-var-prefix}slice-4);
    transform:translate(5px,10px);
  }

  70%{
    clip-path:var(--#{$scss-library-var-prefix}slice-2);
    transform:translate(-10px,10px);
  }

  80%{
    clip-path:var(--#{$scss-library-var-prefix}slice-5);
    transform:translate(20px,-10px);
  }

  90%{
    clip-path:var(--#{$scss-library-var-prefix}slice-1);
    transform:translate(-10px,0);
  }

  100%{
    clip-path:var(--#{$scss-library-var-prefix}slice-1);
    transform:translate(-20px,-10px);
  }
}


/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-prefix}#{$scss-library-component-name},
  .#{$scss-library-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}primary: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-primary, #{$primary--dark});
    --#{$scss-library-var-prefix}secondary: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-secondary, #{$secondary--dark});
    --#{$scss-library-var-prefix}on-primary: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-primary, #{$on-primary--dark});
    --#{$scss-library-var-prefix}active-primary: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-primary, #{$active-primary--dark});
    --#{$scss-library-var-prefix}active-secondary: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-secondary, #{$active-secondary--dark});
    --#{$scss-library-var-prefix}active-on-primary: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-on-primary, #{$active-on-primary--dark});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}