@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "simple-button" !default;
$scss-library-var-prefix: "" !default;


$simple-button-color: transparent !default;
$simple-button-on-color: guebbit.color-contrast($simple-button-color) !default;
$simple-button-shadow-color: guebbit.hex2rgb(#000) !default;
$simple-button-outlined-border-width: 2px !default;
$simple-button-outlined-color: transparent !default;
$simple-button-outlined-on-color: $simple-button-color !default;
$simple-button-outlined-border-color: $simple-button-color !default;
$simple-button-tonal-color: rgba($simple-button-color, 0.1) !default;
$simple-button-tonal-on-color: $simple-button-color !default;
$simple-button-plain-color: $simple-button-color !default;
$simple-button-active-color: $simple-button-color !default;
$simple-button-active-on-color: guebbit.color-contrast($simple-button-active-color) !default;
$simple-button-active-shadow-color: $simple-button-shadow-color !default;
$simple-button-active-outlined-color: transparent !default;
$simple-button-active-outlined-on-color: $simple-button-active-color !default;
$simple-button-active-outlined-border-color: $simple-button-active-color !default;
$simple-button-active-tonal-color: rgba($simple-button-active-color, 0.2) !default;
$simple-button-active-tonal-on-color: $simple-button-active-color !default;
$simple-button-active-plain-color: $simple-button-active-color !default;

$simple-button-padding: 8px !default;
$simple-button-duration: 0.3s !default;
$simple-button-border-radius: 2px !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}color: #{$simple-button-color};
  --#{$scss-library-var-prefix}on-color: #{$simple-button-on-color};
  --#{$scss-library-var-prefix}shadow-color: #{$simple-button-shadow-color};
  --#{$scss-library-var-prefix}outlined-border-width: #{$simple-button-outlined-border-width};
  --#{$scss-library-var-prefix}outlined-color: #{$simple-button-outlined-color};
  --#{$scss-library-var-prefix}outlined-on-color: #{$simple-button-outlined-on-color};
  --#{$scss-library-var-prefix}tonal-color: #{$simple-button-tonal-color};
  --#{$scss-library-var-prefix}tonal-on-color: #{$simple-button-tonal-on-color};
  --#{$scss-library-var-prefix}plain-color: #{$simple-button-plain-color};
  --#{$scss-library-var-prefix}active-color: #{$simple-button-active-color};
  --#{$scss-library-var-prefix}active-on-color: #{$simple-button-active-on-color};
  --#{$scss-library-var-prefix}active-shadow-color: #{$simple-button-active-shadow-color};
  --#{$scss-library-var-prefix}active-outlined-color: #{$simple-button-active-outlined-color};
  --#{$scss-library-var-prefix}active-outlined-on-color: #{$simple-button-active-outlined-on-color};
  --#{$scss-library-var-prefix}active-tonal-color: #{$simple-button-active-tonal-color};
  --#{$scss-library-var-prefix}active-tonal-on-color: #{$simple-button-active-tonal-on-color};
  --#{$scss-library-var-prefix}active-plain-color: #{$simple-button-active-plain-color};

  --#{$scss-library-var-prefix}padding: #{$simple-button-padding};
  --#{$scss-library-var-prefix}duration: #{$simple-button-duration};
  --#{$scss-library-var-prefix}border-radius: #{$simple-button-border-radius};
 
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  // letter-spacing: 0.08em;
  // line-height: 2;
  text-transform: uppercase;
  gap: calc(var(--#{$scss-library-var-prefix}padding) * 2.5);
  padding: var(--#{$scss-library-var-prefix}padding) calc(var(--#{$scss-library-var-prefix}padding) * 2.5);
  background-color: var(--#{$scss-library-var-prefix}color);
  color: var(--#{$scss-library-var-prefix}on-color);
  border-radius: var(--#{$scss-library-var-prefix}border-radius);
  box-shadow:
          0 2px 4px -1px rgba(var(--#{$scss-library-var-prefix}shadow-color), .2),
          0 4px 5px 0 rgba(var(--#{$scss-library-var-prefix}shadow-color), .14),
          0 1px 10px 0 rgba(var(--#{$scss-library-var-prefix}shadow-color), .12);
  cursor: pointer;
  transition-property: box-shadow, transform, opacity, background, color, border;
  transition-duration: var(--#{$scss-library-var-prefix}duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .button-icon {
    height: 1em;
    width: 1em;
    fill: currentcolor;
  }

  .button-image{
    height: 2em;
    width: 2em;
    object-fit: cover;
    border-radius: var(--#{$scss-library-var-prefix}border-radius);
  }

  &.button-small{
    font-size: 0.75em;
    gap: calc(var(--#{$scss-library-var-prefix}padding) * 1.25);
    padding: calc(var(--#{$scss-library-var-prefix}padding) * 0.5) calc(var(--#{$scss-library-var-prefix}padding) * 1.25);
  }

  &.button-plain,
  &.button-tonal,
  &.button-shadowless {
    box-shadow: none !important;
  }

  &.button-icon-only{
    padding: calc(var(--#{$scss-library-var-prefix}padding) * 2);
  }

  &.button-rounded{
    border-radius: 28%;

    .button-image{
      border-radius: 28%;
    }
  }

  &.button-circular{
    border-radius: 50%;

    .button-image{
      border-radius: 50%;
    }
  }

  &.button-pill{
    border-radius: 5em;

    .button-image{
      border-radius: 5em;
    }
  }


  &.button-outlined{
    background-color: var(--#{$scss-library-var-prefix}outlined-color);
    color: var(--#{$scss-library-var-prefix}outlined-on-color);
    border-color: var(--#{$scss-library-var-prefix}outlined-border-color);
    border-width: var(--#{$scss-library-var-prefix}outlined-border-width);
    border-style: solid;
  }

  &.button-tonal{
    background-color: var(--#{$scss-library-var-prefix}tonal-color);
    color: var(--#{$scss-library-var-prefix}tonal-on-color);
  }

  &.button-plain {
    background: transparent;
    color: var(--#{$scss-library-var-prefix}plain-color);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--#{$scss-library-var-prefix}active-color);
    color: var(--#{$scss-library-var-prefix}active-on-color);
    box-shadow:
            0 5px 5px -3px rgba(var(--#{$scss-library-var-prefix}active-shadow-color), .2),
            0 8px 10px 1px rgba(var(--#{$scss-library-var-prefix}active-shadow-color), .14),
            0 3px 14px 2px rgba(var(--#{$scss-library-var-prefix}active-shadow-color), .12);

    &.button-outlined {
      background-color: var(--#{$scss-library-var-prefix}active-outlined-color);
      color: var(--#{$scss-library-var-prefix}active-outlined-on-color);
      border-color: var(--#{$scss-library-var-prefix}active-outlined-border-color);
    }

    &.button-tonal {
      background-color: var(--#{$scss-library-var-prefix}active-tonal-color);
      color: var(--#{$scss-library-var-prefix}active-tonal-on-color);
    }

    &.button-plain {
      background: transparent;
      color: var(--#{$scss-library-var-prefix}active-plain-color);
    }
  }
}