/* ------------------- @import clause ------------------- */
/* ------------------------------------------------------ */
@import "../../../src/molecules/panels/SimplePanel.css";

/*

@import "../../../src/molecules/panels/SimplePanel.css";

*/

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.action-panel {
  @extend .simple-panel, .shadow-text-mode;

    --padding: var(--action-panel-padding, 24px);

  .panel-content{
    padding: var(--padding);

    & > *{
      &:not(:last-child) {
        margin-bottom: var(--padding);
      }
    }
  }

  .panel-title {
    position: relative;
    line-height: 1.4;
    font-size: 1.5em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
  }

  .panel-actions {
    display: flex;
    gap: calc(var(--padding) * 0.5);
    flex-wrap: wrap;
  }

  &.panel-left-actions,
  &.panel-right-actions{
    .panel-content{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--padding);
    }
  }

  &.panel-right-actions{
    .panel-content{
      flex-direction: row-reverse;
    }
  }
}