@use "@guebbit/css-toolkit" as guebbit;

// ------------------- @import clause -------------------
// ------------------------------------------------------

$css-ui-component-name: "simple-panel";
@import "../../../src/molecules/panels/SimplePanel";

$css-ui-component-name: "action-panel";

/*
$css-ui-component-name: "action-panel" !default;

@forward "../../../src/molecules/panels/SimplePanel";
@use "../../../src/molecules/panels/SimplePanel" as inherited;
*/

// ------------------------------------------------------
// ------------------------------------------------------




$padding: 24px !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  @extend %#{$css-ui-class-prefix}simple-panel, .shadow-text-mode;

  --#{$css-ui-var-prefix}padding: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-padding, #{$padding});

  .panel-content{
    padding: var(--#{$css-ui-var-prefix}padding);

    & > *{
      &:not(:last-child) {
        margin-bottom: var(--#{$css-ui-var-prefix}padding);
      }
    }
  }

  .panel-title {
    position: relative;
    line-height: 1.4;
    font-size: 1.5em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
  }

  .panel-actions {
    display: flex;
    gap: calc(var(--#{$css-ui-var-prefix}padding) * 0.5);
    flex-wrap: wrap;
  }

  &.panel-left-actions,
  &.panel-right-actions{
    .panel-content{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--#{$css-ui-var-prefix}padding);
    }
  }

  &.panel-right-actions{
    .panel-content{
      flex-direction: row-reverse;
    }
  }
}