@use "@guebbit/css-toolkit" as guebbit;
@use "../../utils" as utils;
@use "../../atoms/panels/SimplePanel" as sp;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-root-prefix: "--" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "action-panel" !default;

$padding: 24px !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  @include sp.apply-with-text-shadow();

  @include utils.var-builder((
                  (padding, $padding),
  ), $css-ui-var-prefix, $css-ui-component-name, $css-ui-root-prefix);

  .#{$css-ui-class-prefix}panel-content{
    padding: var(--#{$css-ui-var-prefix}padding);

    & > *{
      &:not(:last-child) {
        margin-bottom: var(--#{$css-ui-var-prefix}padding);
      }
    }
  }

  .#{$css-ui-class-prefix}panel-title {
    position: relative;
    line-height: 1.4;
    font-size: 1.5em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
  }

  .#{$css-ui-class-prefix}panel-actions {
    display: flex;
    gap: calc(var(--#{$css-ui-var-prefix}padding) * 0.5);
    flex-wrap: wrap;
  }

  &.#{$css-ui-class-prefix}panel-left-actions,
  &.#{$css-ui-class-prefix}panel-right-actions{
    .#{$css-ui-class-prefix}panel-content{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--#{$css-ui-var-prefix}padding);
    }
  }

  &.#{$css-ui-class-prefix}panel-right-actions{
    .#{$css-ui-class-prefix}panel-content{
      flex-direction: row-reverse;
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder {
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    @include sp.dark-apply();
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class} {
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
