@use "@guebbit/css-toolkit" as guebbit;

$css-ui-class-prefix: "" !default;
$css-ui-component-name: "simple-panel" !default;
$css-ui-var-prefix: "" !default;

$duration: 0.3s !default;
$shadow-opacity: 0.4 !default;
$shadow-color: guebbit.hex2rgb(#000) !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  --#{$css-ui-var-prefix}shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-shadow-color, #{$shadow-color});
  --#{$css-ui-var-prefix}shadow-opacity: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-shadow-opacity, #{$shadow-opacity});
  --#{$css-ui-var-prefix}duration: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-duration, #{$duration});
  --#{$css-ui-var-prefix}background-image: none;
  --#{$css-ui-var-prefix}aspect-ratio: 0;
  
  position: relative;
  z-index: 1;
  display: flex;

  .panel-content {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .panel-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    padding-bottom: var(--aspect-ratio);
    transition:
            transform var(--#{$css-ui-var-prefix}duration),
            background-image var(--#{$css-ui-var-prefix}duration),
            opacity var(--#{$css-ui-var-prefix}duration);
    background-image: var(--#{$css-ui-var-prefix}background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;

    iframe {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
    }
  }

  video.panel-background,
  img.panel-background{
    object-fit: cover;
  }

  // Add shadow (OPTIONAL ELEMENT)
  .panel-shadow {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: var(--#{$css-ui-var-prefix}shadow-opacity);
    background: var(--#{$css-ui-var-prefix}shadow-color);
  }

  &.shadow-text-mode{
    .panel-content {
      text-shadow: 2px 2px 4px var(--#{$css-ui-var-prefix}shadow-color);
    }
  }

  // centered
  &.centered-mode{
    align-items: center;
    justify-content: center;

    .panel-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // bottom
  &.bottom-mode {
    align-items: flex-end;

    .panel-content {
      display: flex;
      align-items: flex-end;
    }
  }

  // content set the size of panel
  &.content-size-mode{
    .panel-content{
      position: absolute;
      top: 0;
    }

    .panel-background{
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }

    iframe{
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}