$blockquote-great-color: #000 !default;
$blockquote-great-cite-color: $blockquote-great-color !default;
$blockquote-great-cite-text-color: #fff !default;

.blockquote-great {
  position: relative;
  z-index: 1;
  font-size: 1.5em;

  cite {
    font-size: 0.5em;
    font-style: normal;
    background: $blockquote-great-cite-color;
    color: $blockquote-great-cite-text-color;
    height: 3em;
    line-height: 3em;
    display: inline-block;
    padding: 0 24px;
    margin-top: 2em;
  }

  p {
    text-align: center;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &::before,
  &::after {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 4em;
    line-height: 1;
    color: $blockquote-great-color;
  }

  &::before {
    content: "\201C";
    top: -0.3em;
    left: -0.5em;
  }

  &::after {
    content: "\201D";
    bottom: -0.3em;
    right: -0.5em;
  }
}
