@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "calendar-card" !default;
$scss-library-var-prefix: "" !default;

$calendar-card-header-color: #000 !default;
$calendar-card-header-on-color: guebbit.color-contrast($calendar-card-header-color) !default;
$calendar-card-body-color: guebbit.color-tint($calendar-card-header-color, 80%) !default;
$calendar-card-body-on-color: guebbit.color-contrast($calendar-card-body-color) !default;
$calendar-card-clip-color: guebbit.color-shade($calendar-card-header-color, 40%) !default;
$calendar-card-shadow-color: guebbit.hex2rgb(#000) !default;
$calendar-card-padding: 24px !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}header-color: #{$calendar-card-header-color};
  --#{$scss-library-var-prefix}header-on-color: #{$calendar-card-header-on-color};
  --#{$scss-library-var-prefix}body-color: #{$calendar-card-body-color};
  --#{$scss-library-var-prefix}body-on-color: #{$calendar-card-body-on-color};
  --#{$scss-library-var-prefix}clip-color: #{$calendar-card-clip-color};
  --#{$scss-library-var-prefix}shadow-color: #{$calendar-card-shadow-color};
  --#{$scss-library-var-prefix}padding: #{$calendar-card-padding};

  position: relative;
  color: var(--#{$scss-library-var-prefix}body-on-color);
  box-shadow:
          0 2px 4px -1px rgba(var(--#{$scss-library-var-prefix}shadow-color), .2),
          0 4px 5px 0 rgba(var(--#{$scss-library-var-prefix}shadow-color), .14),
          0 1px 10px 0 rgba(var(--#{$scss-library-var-prefix}shadow-color), .12);
  line-height: 1.2;
  border-radius: 12px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -0.75em;
    display: inline-block;
    height: 1.5em;
    width: 1em;
    background-color: var(--#{$scss-library-var-prefix}clip-color);
    z-index: 1;
    border-radius: 24px;
  }

  &::before {
    left: 20%;
  }

  &::after {
    right: 20%;
  }

  & > * {
    &:first-child{
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child{
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .calendar-head{
    text-align: center;
    background-color: var(--#{$scss-library-var-prefix}header-color);
    color: var(--#{$scss-library-var-prefix}header-on-color);
    padding: var(--#{$scss-library-var-prefix}padding) calc(var(--#{$scss-library-var-prefix}padding) * 3);
  }

  .calendar-body{
    display: block;
    text-align: center;
    background-color: var(--#{$scss-library-var-prefix}body-color);
    padding: var(--#{$scss-library-var-prefix}padding);
  }

  .calendar-info-day{
    position: relative;
    font-size: 2.5em;
    font-weight: 600;
  }

  small.calendar-info-time{
    opacity: 0.75;
  }

  .calendar-info-time{
    & > span{
      &::after{
        content: ":";
        margin-left: 0.1em;
        margin-right: 0.05em;
        font-weight: 600;
        color: var(--#{$scss-library-var-prefix}header-color);
      }

      &:last-of-type{
        &::after{
          content: normal;
        }
      }
    }
  }
}
