$scss-library-prefix: "" !default;

%#{$scss-library-prefix}calendar-card,
.#{$scss-library-prefix}calendar-card {
  display: block;
  position: relative;
  max-width: 300px;
  border-radius: 10px;
  margin: 20px auto;
  // @include builder_shadow($black);
  .calendar-clip{
    content: '';
    position: absolute;
    top: -20px;
    display: inline-block;
    height: 40px;
    width: 20px;
    background-color: red;
    z-index: 200;
    border-radius: 24px;
    &:nth-of-type(1){
      left: 50px;
    }
    &:nth-of-type(2){
      right: 50px;
    }
  }
  .calendar-head{
    text-align: center;
    background-color: $secondary-color;
    color: $white;
    padding: 12px;
    border-radius: 10px 10px 0 0;
  }
  .calendar-body{
    border-radius: 0 0 10px 10px;
    text-align: center;
    background-color: pink;
    padding: 12px;
  }
  .day,
  .dayW,
  .month,
  .monthW,
  .date,
  .timer{
    margin: 0;
  }
  .day{
    display: block;
    position: relative;
    font-size: 5em;
  }
  .dayW{
    display: block;
    font-size: 2em;
  }
  .monthW{
    margin: 0;
    display: block;
    font-size: 2em;
  }
  .date{
    font-size: 2em;
    & > span{
      &::after{
        content: "/";
        margin-left: 0.2em;
        font-size: 1.5em;
        color: $secondary-color;
      }
      &:last-of-type{
        &::after{
          content: normal;
        }
      }
    }
  }
  .timer{
    font-size: 2em;
    & > span{
      &::after{
        content: ":";
        color: $secondary-color;
        margin-left: 0.2em;
      }
      &:last-of-type{
        &::after{
          content: normal;
        }
      }
    }
  }
  &.folded-corner{
    .calendar-body{
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        border-width: 2em 2em 0 0;
        border-style: solid;
        border-color: darkred red;
      }
    }
  }
  &.mini{
    .calendar-clip{
      background-color: $secondary-color;
    }
    .calendar-head{
      display: none;
    }
    .calendar-body{
      border-radius: 10px;
    }
  }
}
