@use "../../global" as *;

$scss-library-prefix: "" !default;
$scss-library-component-name: "countdown-card" !default;
$scss-library-var-prefix: "" !default;

$countdown-card-color: #000 !default;
$countdown-card-on-color: color-contrast($countdown-card-color) !default;
$countdown-card-padding: 24px !default;
$countdown-card-shadow-color: hex2rgb(#000) !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}color: #{$countdown-card-color};
  --#{$scss-library-var-prefix}on-color: #{$countdown-card-on-color};
  --#{$scss-library-var-prefix}padding: #{$countdown-card-padding};
  --#{$scss-library-var-prefix}shadow-color: #{$countdown-card-shadow-color};

  display: inline-flex;
  flex-direction: column;
  background: var(--#{$scss-library-var-prefix}color);
  color: var(--#{$scss-library-var-prefix}on-color);
  border-radius: 6px;
  box-shadow:
          0 2px 4px -1px rgba(var(--#{$scss-library-var-prefix}shadow-color), .2),
          0 4px 5px 0 rgba(var(--#{$scss-library-var-prefix}shadow-color), .14),
          0 1px 10px 0 rgba(var(--#{$scss-library-var-prefix}shadow-color), .12);
  padding: var(--#{$scss-library-var-prefix}padding);
  text-align: center;
  line-height: 1.5;

  .timer{
    display: block;
    font-size: 3em;
    font-weight: 600;
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-prefix}#{$scss-library-component-name},
  .#{$scss-library-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}central-color: #{$central-color--dark};
    --#{$scss-library-var-prefix}satellite-color: #{$satellite-color--dark};
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}
