$status-circle-color: #000 !default;
$status-circle-speed: 1s !default;

.status-circle {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
  border-radius: 50%;
  background-color: $status-circle-color;

  &::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-color: rgba($status-circle-color, 0.3);
    transition: transform 0.2s;
  }

  &.pulse-mode {
    animation: status-circle-pulse-main $status-circle-speed infinite;

    &::before {
      animation: status-circle-pulse-before $status-circle-speed infinite;
    }
  }
}

@keyframes status-circle-pulse-main {
  50% {
    transform: scale(1.2);
  }
}

@keyframes status-circle-pulse-before {
  0% {
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}
