@use '../../../_generics/variables' as globals;

$css-ui-component-name: 'choose-option-card' !default;

$disabled-opacity: 0.5 !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';
