@use '../../../_generics' as generics;
@use 'variables' as vars;
@forward 'variables';

$component-map: (
    disabled-opacity: vars.$disabled-opacity,
);

%#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name},
.#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
    @include generics.generate-vars($component-map, vars.$css-ui-component-prefix);
    @include generics.elevation-generator(2);
    @include generics.elevation-transition();
    @include generics.transition-properties(
            (box-shadow, transform, opacity, background, color, border),
        var(--#{vars.$css-ui-class-prefix}duration)
    );
    @include generics.base-layout(vars.$css-ui-component-prefix);
    @extend %#{generics.$css-ui-class-prefix}simple-card !optional;
    @extend .card-plain !optional;

    .list-container {
        @extend %#{generics.$css-ui-class-prefix}simple-list !optional;
        @extend .animate-on-active !optional;
        @extend .animate-on-hover !optional;

        .item-title {
            font-size: 1em;
        }

        .item-sub-title {
            font-size: 0.8em;
        }

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: background-color var(--simple-list-duration, 0.3s);
            padding-right: var(--simple-card-padding, 24px);

            .list-icon {
                background-color: rgba(var(--#{generics.$css-ui-prefix}main-color) / 0.3);
                color: rgba(var(--#{generics.$css-ui-prefix}main-color) / 1);
            }

            .list-button {
                background: transparent;
                color: rgba(var(--#{generics.$css-ui-prefix}main-color) / 0.5);
            }

            &.active {
                .list-icon {
                    background-color: rgba(var(--#{generics.$css-ui-prefix}active-main-color) / 1);
                    color: rgba(var(--#{generics.$css-ui-prefix}active-on-main-color, var(--#{generics.$css-ui-prefix}active-main-color)) / 1);
                }

                .list-button {
                    color: rgba(var(--#{generics.$css-ui-prefix}active-main-color) / 1);
                }
            }

            &.disabled {
                cursor: default;
                opacity: var(--#{vars.$css-ui-component-prefix}disabled-opacity);
            }

            &:hover {
                &:not(.disabled) {
                    background-color: rgba(var(--#{generics.$css-ui-prefix}active-main-color) / 0.2);
                }
            }
        }
    }

    .list-button {
        @extend .#{generics.$css-ui-class-prefix}simple-button !optional;
        @extend .button-icon-only !optional;
        @extend .button-flat !optional;
        @extend .button-rounded !optional;
        @extend .button-plain !optional;

        font-size: 0.75em;
    }

    .list-icon {
        @extend .#{generics.$css-ui-class-prefix}simple-button !optional;
        @extend .button-icon-only !optional;
        @extend .button-flat !optional;
        @extend .button-rounded !optional;

        font-size: 0.5em;
        margin-right: 1em;
    }

    .card-title {
        border-left: 8px solid rgba(var(--#{generics.$css-ui-prefix}main-color) / 1);
        padding: var(--simple-card-padding, 24px);
        margin-left: calc(var(--simple-card-padding, 24px) * -1);
    }
}
