@use "../../../index" as guebbit;

$scss-library-component-name: "choose-option-card" !default;

@forward "../../../components/molecules/cards/SimpleCard";
@use "../../../components/molecules/cards/SimpleCard" as inherited;
@use "../../../components/atoms/buttons/SimpleButton" as rollup with (
  $scss-library-var-prefix: inherited.$scss-library-var-prefix + "button-",
);
@use "../../../components/molecules/lists/SimpleList" as popup with (
  $scss-library-var-prefix: inherited.$scss-library-var-prefix + "list-",
);



// LIGHT theme
$selected-color: inherited.$active-color--light !default;
$selected-on-color: guebbit.color-contrast($selected-color) !default;
$hover-color: rgba($selected-color, 0.2) !default;
$hover-on-color: $selected-on-color !default;
$inactive-color: #ccc !default;
$inactive-on-color: guebbit.color-contrast($inactive-color) !default;

// DARK theme
$selected-color--dark: inherited.$active-color--dark !default;
$selected-on-color--dark: guebbit.color-contrast($selected-color--dark) !default;
$hover-color--dark: rgba($selected-color--dark, 0.2) !default;
$hover-on-color--dark: $selected-on-color !default;
$inactive-color--dark: #ccc !default;
$inactive-on-color--dark: guebbit.color-contrast($inactive-color--dark) !default;

// generics
$disabled-opacity: 0.5 !default;


%#{inherited.$scss-library-class-prefix}#{$scss-library-component-name},
.#{inherited.$scss-library-class-prefix}#{$scss-library-component-name} {
  @extend %#{inherited.$scss-library-class-prefix}simple-card;

  --#{inherited.$scss-library-var-prefix}selected-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-selected-color, #{$selected-color});
  --#{inherited.$scss-library-var-prefix}selected-on-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-selected-on-color, #{$selected-on-color});
  --#{inherited.$scss-library-var-prefix}hover-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-hover-color, #{$hover-color});
  --#{inherited.$scss-library-var-prefix}hover-on-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-hover-on-color, #{$hover-on-color});
  --#{inherited.$scss-library-var-prefix}inactive-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-inactive-color, #{$inactive-color});
  --#{inherited.$scss-library-var-prefix}inactive-on-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-inactive-on-color, #{$inactive-on-color});
  --#{inherited.$scss-library-var-prefix}disabled-opacity: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-disabled-opacity, #{$disabled-opacity});

  .list-container{
    @extend %#{inherited.$scss-library-class-prefix}simple-list, .animate-on-active, .animate-on-hover;
    --#{inherited.$scss-library-var-prefix}background: var(--#{inherited.$scss-library-var-prefix}background);
    --#{inherited.$scss-library-var-prefix}on-background: var(--#{inherited.$scss-library-var-prefix}on-background);
    --#{inherited.$scss-library-var-prefix}active-color: transparent;
    --#{inherited.$scss-library-var-prefix}active-on-color: inherit;
    // --#{inherited.$scss-library-var-prefix}active-color: blue; // var(--#{inherited.$scss-library-var-prefix}active-color);
    // --#{inherited.$scss-library-var-prefix}active-on-color: red; // var(--#{inherited.$scss-library-var-prefix}active-on-color);

    .item-title{
      font-size: 1em;
    }

    .item-sub-title{
      font-size: 0.8em;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: background-color var(--#{inherited.$scss-library-var-prefix}duration);
      padding-right: var(--#{inherited.$scss-library-var-prefix}padding);

      .list-icon{
        background-color: var(--#{inherited.$scss-library-var-prefix}inactive-color);
        color: var(--#{inherited.$scss-library-var-prefix}inactive-on-color);
      }

      .list-button{
        background: transparent;
        color: var(--#{inherited.$scss-library-var-prefix}inactive-color);
      }

      &.active {
        .list-icon{
          background-color: var(--#{inherited.$scss-library-var-prefix}selected-color);
          color: var(--#{inherited.$scss-library-var-prefix}selected-on-color);
        }

        .list-button{
          color: var(--#{inherited.$scss-library-var-prefix}selected-color);
        }
      }

      &.disabled{
        cursor: default;
        opacity: var(--#{inherited.$scss-library-var-prefix}disabled-opacity);
      }

      &:hover{
        &:not(.disabled){
          background-color: var(--#{inherited.$scss-library-var-prefix}hover-color);
          color: var(--#{inherited.$scss-library-var-prefix}hover-on-color);
        }
      }
    }
  }

  .list-button{
    @extend %#{inherited.$scss-library-class-prefix}simple-button, .button-icon-only, .button-shadowless, .button-rounded, .button-plain;
    font-size: 0.75em;
  }

  .list-icon {
    @extend %#{inherited.$scss-library-class-prefix}simple-button, .button-icon-only, .button-shadowless, .button-rounded;
    font-size: 0.5em;
    margin-right: 1em;
  }

  .card-title{
    border-left: 8px solid var(--#{inherited.$scss-library-var-prefix}border-color);
    padding: var(--#{inherited.$scss-library-var-prefix}padding);
    margin-left: calc(var(--#{inherited.$scss-library-var-prefix}padding) * -1);
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{inherited.$scss-library-class-prefix}#{$scss-library-component-name},
  .#{inherited.$scss-library-class-prefix}#{$scss-library-component-name} {
    --#{inherited.$scss-library-var-prefix}selected-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-selected-color, #{$selected-color--dark});
    --#{inherited.$scss-library-var-prefix}selected-on-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-selected-on-color, #{$selected-on-color--dark});
    --#{inherited.$scss-library-var-prefix}hover-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-hover-color, #{$hover-color--dark});
    --#{inherited.$scss-library-var-prefix}hover-on-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-hover-on-color, #{$hover-on-color--dark});
    --#{inherited.$scss-library-var-prefix}inactive-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-inactive-color, #{$inactive-color--dark});
    --#{inherited.$scss-library-var-prefix}inactive-on-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-inactive-on-color, #{$inactive-on-color--dark});
  }
}

/**
 * By class
 */
.#{inherited.$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}
