@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "event-lite-card" !default;
$scss-library-var-prefix: "" !default;

// main
$color: transparent !default;
$active-color: $color !default;

// colors
$background: $color !default;
$on-background: guebbit.color-contrast($background) !default;
$title-color: inherit !default;
$date-color: inherit !default;
$border-color: $color !default;
$shadow-color: guebbit.hex2rgb(#000) !default;

// on active
$active-background: $background !default;
$active-on-background: guebbit.color-contrast($active-background) !default;
$active-title-color: $title-color !default;
$active-date-color: $date-color !default;
$active-border-color: $border-color !default;
$active-shadow-color: $shadow-color !default;

// generic
$height: 160px !default;
$padding: 24px !default;
$border-radius: 6px !default;
$border-width: 2px !default;
$duration: 0.3s !default;
$threshold: 600px !default;

@mixin event-lite-card-mobile-mode{
  height: auto;
  flex-direction: column;
  gap: var(--#{$scss-library-var-prefix}padding);

  .event-date {
    display: grid;
    grid-template-areas:
      'first second'
      'first third';

    .event-date-day {
      grid-area: first;
      padding-right: 0.3em;
    }

    .event-date-month {
      grid-area: second;
    }

    .event-date-year{
      grid-area: third;
    }
  }

  .event-image{
    width: 100%;
    height: var(--#{$scss-library-var-prefix}height);
  }
}

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}background: #{$background};
  --#{$scss-library-var-prefix}on-background: #{$on-background};
  --#{$scss-library-var-prefix}title-color: #{$title-color};
  --#{$scss-library-var-prefix}date-color: #{$date-color};
  --#{$scss-library-var-prefix}border-color: #{$border-color};
  --#{$scss-library-var-prefix}shadow-color: #{$shadow-color};
  --#{$scss-library-var-prefix}active-background: #{$active-background};
  --#{$scss-library-var-prefix}active-on-background: #{$active-on-background};
  --#{$scss-library-var-prefix}active-title-color: #{$active-title-color};
  --#{$scss-library-var-prefix}active-date-color: #{$active-date-color};
  --#{$scss-library-var-prefix}active-border-color: #{$active-border-color};
  --#{$scss-library-var-prefix}active-shadow-color: #{$active-shadow-color};
  --#{$scss-library-var-prefix}height: #{$height};
  --#{$scss-library-var-prefix}padding: #{$padding};
  --#{$scss-library-var-prefix}border-radius: #{$border-radius};
  --#{$scss-library-var-prefix}border-width: #{$border-width};

  height: var(--#{$scss-library-var-prefix}height);
  padding: var(--#{$scss-library-var-prefix}padding);
  background-color: var(--#{$scss-library-var-prefix}background);
  color: var(--#{$scss-library-var-prefix}on-background);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-color: var(--#{$scss-library-var-prefix}border-color);
  border-style: solid;
  border-width: 0;
  border-radius: var(--#{$scss-library-var-prefix}border-radius);
  box-shadow:
          0 2px 4px -1px rgba(var(--#{$scss-library-var-prefix}shadow-color), .2),
          0 4px 5px 0 rgba(var(--#{$scss-library-var-prefix}shadow-color), .14),
          0 1px 10px 0 rgba(var(--#{$scss-library-var-prefix}shadow-color), .12);
  transition:
          color var(--#{$scss-library-var-prefix}duration),
          background-color var(--#{$scss-library-var-prefix}duration),
          border-color var(--#{$scss-library-var-prefix}duration),
          border-width var(--#{$scss-library-var-prefix}duration);

  .event-image{
    width: calc(var(--#{$scss-library-var-prefix}height) - (var(--#{$scss-library-var-prefix}padding)) * 2);
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }

  .event-date,
  .event-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .event-date {
    display: block;
    font-weight: 600;
    color: var(--#{$scss-library-var-prefix}date-color);
    text-align: center;
    font-size: 14px;
    transition: color var(--#{$scss-library-var-prefix}duration);

    span{
      display: block;
    }

    .event-date-day{
      font-size: 2.5em;
      font-weight: 600;
      line-height: 1.5;
    }

    .event-date-month,
    .event-date-year{
      opacity: 0.5;
    }

    .event-date-month{
      font-size: 1.2em;
    }
  }

  .event-title{
    color: var(--#{$scss-library-var-prefix}title-color);
    font-weight: 600;
    transition: color var(--#{$scss-library-var-prefix}duration);
  }

  //.event-place {
  //  text-align: center;
  //}

  .event-actions {
    gap: 1em;
  }

  &.border-active,
  &.border-on-active.active,
  &.border-on-hover:hover {
    border-width: var(--#{$scss-library-var-prefix}border-size);
    // margin: calc(var(--#{$scss-library-var-prefix}border-size) * -1);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--#{$scss-library-var-prefix}active-background);
    color: var(--#{$scss-library-var-prefix}active-on-background);

    .event-date {
      color: var(--#{$scss-library-var-prefix}active-date-color);
    }

    .event-title {
      color: var(--#{$scss-library-var-prefix}active-title-color);
    }

    &.border-active,
    &.border-on-active.active,
    &.border-on-hover:hover {
      border-color: var(--#{$scss-library-var-prefix}active-border-color);
    }
  }

  &.mobile-active{
    @include event-lite-card-mobile-mode;
  }

  @media (max-width: $threshold){
    @include event-lite-card-mobile-mode;
  }
}


