@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "event-minimal-card" !default;
$scss-library-var-prefix: "" !default;

// main
$color: transparent !default;
$active-color: $color !default;

// colors
$background: $color !default;
$on-background: guebbit.color-contrast($background) !default;
$title-color: inherit !default;
$date-color: $color !default;
$border-color: guebbit.color-contrast($color) !default;

// active
$active-background: $active-color !default;
$active-on-background: guebbit.color-contrast($active-background) !default;
$active-title-color: $title-color !default;
$active-date-color: $date-color !default;
$active-border-color: $border-color !default;

// generic
$border-size: 2px !default;
$padding: 6px !default;
$duration: 0.3s !default;
$threshold-mobile: 600px !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}background: #{$background};
  --#{$scss-library-var-prefix}on-background: #{$on-background};
  --#{$scss-library-var-prefix}title-color: #{$title-color};
  --#{$scss-library-var-prefix}date-color: #{$date-color};
  --#{$scss-library-var-prefix}border-color: #{$border-color};
  --#{$scss-library-var-prefix}active-background: #{$active-background};
  --#{$scss-library-var-prefix}active-on-background: #{$active-on-background};
  --#{$scss-library-var-prefix}active-title-color: #{$active-title-color};
  --#{$scss-library-var-prefix}active-date-color: #{$active-date-color};
  --#{$scss-library-var-prefix}active-border-color: #{$active-border-color};
  --#{$scss-library-var-prefix}border-size: #{$border-size};
  --#{$scss-library-var-prefix}padding: #{$padding};
  --#{$scss-library-var-prefix}duration: #{$duration};

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--#{$scss-library-var-prefix}padding);
  background-color: var(--#{$scss-library-var-prefix}background);
  color: var(--#{$scss-library-var-prefix}on-background);
  padding: var(--#{$scss-library-var-prefix}padding) calc(var(--#{$scss-library-var-prefix}padding) * 2);
  border-width: var(--#{$scss-library-var-prefix}border-size);
  border-color: transparent;
  border-bottom-width: 0;
  border-bottom-style: solid;
  transition:
          color var(--#{$scss-library-var-prefix}duration),
          background-color var(--#{$scss-library-var-prefix}duration),
          border-color var(--#{$scss-library-var-prefix}duration),
          border-width var(--#{$scss-library-var-prefix}duration);

  .event-date,
  .event-title{
    transition: color var(--#{$scss-library-var-prefix}duration);
  }

  .event-date {
    display: grid;
    grid-template-areas:
      'first second'
      'first third';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4em;
    color: var(--#{$scss-library-var-prefix}date-color);
    transition: color var(--#{$scss-library-var-prefix}duration);

    & > *{
      line-height: 1.2;
      display: inline-flex;

      &:nth-child(1){
        grid-area: first;
        align-items: center;
        padding-right: 0.2em;
      }

      &:nth-child(2){
        grid-area: second;
        align-items: flex-end;
        opacity: 0.6;
        font-size: 0.3em;
      }

      &:nth-child(3){
        grid-area: third;
        align-items: flex-start;
        font-size: 0.3em;
      }
    }
  }

  .event-title{
    font-size: 1.8em;
    font-weight: 600;
    opacity: 0.8;
    color: var(--#{$scss-library-var-prefix}title-color);
    transition: color var(--#{$scss-library-var-prefix}duration);
  }

  &.border-active,
  &.border-on-active.active,
  &.border-on-hover:hover {
    border-color: var(--#{$scss-library-var-prefix}border-color);
    border-bottom-width: var(--#{$scss-library-var-prefix}border-size);
    margin-bottom: calc(var(--#{$scss-library-var-prefix}border-size) * -1);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--#{$scss-library-var-prefix}active-background);
    color: var(--#{$scss-library-var-prefix}active-on-background);

    .event-date {
      color: var(--#{$scss-library-var-prefix}active-date-color);
    }

    .event-title {
      color: var(--#{$scss-library-var-prefix}active-title-color);
    }

    &.border-active,
    &.border-on-active.active,
    &.border-on-hover:hover {
      border-color: var(--#{$scss-library-var-prefix}active-border-color);
    }
  }
}