@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "event-long-card" !default;
$scss-library-var-prefix: "" !default;


// main
$color: transparent !default;
$active-color: $color !default;

// colors
$background: $color !default;
$on-background: guebbit.color-contrast($background) !default;
$date: transparent !default;
$on-date: inherit !default;
$title-color: inherit !default;
$icon-color: currentcolor !default;
$shadow-color: guebbit.hex2rgb(#000) !default;

// active
$active-background: $active-color !default;
$active-on-background: guebbit.color-contrast($active-background) !default;
$active-date: $date !default;
$active-on-date: $on-date !default;
$active-title-color: $title-color !default;
$active-icon-color: $icon-color !default;
$active-shadow-color: $shadow-color !default;

// generic
$height: 200px !default;
$padding: 16px !default;
$border-radius: 6px !default;
$duration: 0.3s !default;
$mobile-threshold: 600px !default;


%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}background: #{$background};
  --#{$scss-library-var-prefix}on-background: #{$on-background};
  --#{$scss-library-var-prefix}date: #{$date};
  --#{$scss-library-var-prefix}on-date: #{$on-date};
  --#{$scss-library-var-prefix}title-color: #{$title-color};
  --#{$scss-library-var-prefix}icon-color: #{$icon-color};
  --#{$scss-library-var-prefix}shadow-color: #{$shadow-color};
  --#{$scss-library-var-prefix}active-background: #{$active-background};
  --#{$scss-library-var-prefix}active-on-background: #{$active-on-background};
  --#{$scss-library-var-prefix}active-date: #{$active-date};
  --#{$scss-library-var-prefix}active-on-date: #{$active-on-date};
  --#{$scss-library-var-prefix}active-title-color: #{$active-title-color};
  --#{$scss-library-var-prefix}active-icon-color: #{$active-icon-color};
  --#{$scss-library-var-prefix}active-shadow-color: #{$active-shadow-color};
  --#{$scss-library-var-prefix}height: #{$height};
  --#{$scss-library-var-prefix}padding: #{$padding};
  --#{$scss-library-var-prefix}border-radius: #{$border-radius};
  --#{$scss-library-var-prefix}duration: #{$duration};
  
  position: relative;
  z-index: 1;
  display: flex;
  height: var(--#{$scss-library-var-prefix}height);
  width: 100%;
  padding: 0;
  border-radius: var(--event-long-card-border-radius, $border-radius);
  background-color: var(--#{$scss-library-var-prefix}background);
  color: var(--#{$scss-library-var-prefix}on-background);
  box-shadow:
          0 2px 4px -1px rgba(var(--#{$scss-library-var-prefix}shadow-color), .2),
          0 4px 5px 0 rgba(var(--#{$scss-library-var-prefix}shadow-color), .14),
          0 1px 10px 0 rgba(var(--#{$scss-library-var-prefix}shadow-color), .12);
  transition:
          background-color var(--#{$scss-library-var-prefix}duration) ease,
          color var(--#{$scss-library-var-prefix}duration) ease,
          box-shadow var(--#{$scss-library-var-prefix}duration) ease;

  .card-title,
  .card-subtitle{
    color: var(--#{$scss-library-var-prefix}title-color);
    transition: color var(--#{$scss-library-var-prefix}duration) ease;
  }

  .card-title{
    font-size: 1.5em;
    font-weight: 600;
  }
  
  .card-icon {
    font-size: 1.5em;
    width: 1em;
    height: 1em;
    color: var(--#{$scss-library-var-prefix}icon-color);
    fill: currentcolor;
    transition: 
            color var(--#{$scss-library-var-prefix}duration) ease, 
            transform var(--#{$scss-library-var-prefix}duration) ease;
  }

  .event-date,
  .card-image {
    width: var(--#{$scss-library-var-prefix}height);
    margin: 0;
  }


  .event-date {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: var(--#{$scss-library-var-prefix}date);
    color: var(--#{$scss-library-var-prefix}on-date);
    padding: calc(var(--#{$scss-library-var-prefix}padding) * 0.5) 0 calc(var(--#{$scss-library-var-prefix}padding) * 0.5) 0;
    text-align: center;
    text-transform: uppercase;
    transition:
            background-color var(--#{$scss-library-var-prefix}duration) ease,
            color var(--#{$scss-library-var-prefix}duration) ease;

    & > span {
      display: block;
      line-height: 1;
      font-size: 1.5em;

      &:nth-child(1) {
        font-size: 5em;
        font-weight: 300;
      }

      &:nth-child(2){
        font-size: 2em;
        font-weight: 900;
      }

      &:nth-child(3){
        font-size: 1.2em;
      }

      &:nth-child(4){
        font-size: 0.75em;
      }
    }
  }

  .card-image{
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--#{$scss-library-var-prefix}padding) 2em var(--#{$scss-library-var-prefix}padding) var(--#{$scss-library-var-prefix}padding);
  }

  .card-actions {
    display: flex;
    gap: 1em;

    & > * {
      display: block;
    }

    &.card-actions-absolute {
      padding: 0;
      gap: 0;
      flex-direction: column;
      & > * {
        padding: 0.5em;
      }
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--#{$scss-library-var-prefix}active-background);
    color: var(--#{$scss-library-var-prefix}active-on-background);
    box-shadow:
            0 7px 9px -4px rgba(var(--#{$scss-library-var-prefix}active-shadow-color), .2),
            0 14px 21px 2px rgba(var(--#{$scss-library-var-prefix}active-shadow-color), .14),
            0 5px 26px 4px rgba(var(--#{$scss-library-var-prefix}active-shadow-color), .12);

    .card-title,
    .card-subtitle{
      color: var(--#{$scss-library-var-prefix}active-title-color);
    }

    .event-date {
      background-color: var(--#{$scss-library-var-prefix}active-date);
      color: var(--#{$scss-library-var-prefix}active-on-date);
    }

    .card-icon {
      color: var(--#{$scss-library-var-prefix}active-icon-color);
    }
  }

  @media (max-width: $mobile-threshold){
    flex-wrap: wrap;
    height: auto;

    .card-date,
    .card-image {
      width: 50%;
    }

    .card-content {
      gap: var(--#{$scss-library-var-prefix}padding);
      padding: var(--#{$scss-library-var-prefix}padding);
    }
  }
}