@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "image-slash-card" !default;

@forward "../../../components/molecules/cards/SimpleCard" with (
  $scss-library-prefix: $scss-library-prefix !default,
  $scss-library-var-prefix: $scss-library-var-prefix !default,
  $scss-library-component-name: "simple-card",
);
@use "../../../components/molecules/cards/SimpleCard" as inherited;

$button-background: inherited.$color--light !default;
$button-on-background: guebbit.color-contrast($button-background) !default;

$button-background--dark: inherited.$color--dark !default;
$button-on-background--dark: guebbit.color-contrast($button-background--dark) !default;

$height: 400px !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  @extend %#{$scss-library-prefix}simple-card;
  --#{$scss-library-var-prefix}button-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-button-background, #{$button-background});
  --#{$scss-library-var-prefix}button-on-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-button-on-background, #{$button-on-background});
  --#{$scss-library-var-prefix}height: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-height, #{$height});

  flex-direction: row;
  // WARNING height is necessary only because *border-width* doesn't get % values, only statics
  min-height: var(--#{$scss-library-var-prefix}height);
  text-shadow:
          0 2px 4px -1px rgba(var(--#{$scss-library-var-prefix}shadow-text-color), .2),
          0 4px 5px 0 rgba(var(--#{$scss-library-var-prefix}shadow-text-color), .14),
          0 1px 10px 0 rgba(var(--#{$scss-library-var-prefix}shadow--textcolor), .12);

  .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-image-wrapper{
    position: relative;
    width: 55%;
    flex-shrink: 0;
    border-radius: var(--#{$scss-library-var-prefix}border-radius) 0 0 var(--#{$scss-library-var-prefix}border-radius);

    &::after{
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-style: solid;
      border-width: var(--#{$scss-library-var-prefix}height) calc(var(--#{$scss-library-var-prefix}height) * 0.2) 0 0;
      border-color: transparent var(--#{$scss-library-var-prefix}background) transparent transparent;
    }

    .card-actions {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      flex-direction: column;
      z-index: 2;

      & > * {
        background: var(--#{$scss-library-var-prefix}button-background);
        color: var(--#{$scss-library-var-prefix}button-on-background);

        // TODO dynamic number
        &:nth-child(1){
          top: 15%;
          right: -15%;
        }

        &:nth-child(2){
          top: 30%;
          right: 30%;
        }

        &:nth-child(3){
          top: 45%;
          right: 90%;
        }

        &:nth-child(n+4){
          display: none;
        }
      }
    }
  }

  &.card-image-right{
    .card-image-wrapper{
      order: 2;
      border-radius: 0 var(--#{$scss-library-var-prefix}border-radius) var(--#{$scss-library-var-prefix}border-radius) 0;

      &::after{
        border-width: var(--#{$scss-library-var-prefix}height) 0 0 calc(var(--#{$scss-library-var-prefix}height) * 0.2);
        border-color: transparent transparent transparent var(--#{$scss-library-var-prefix}background);
      }

      .card-actions {
        right: auto;
        left: 0;

        & > * {
          &:nth-child(1){
            left: -15%;
          }

          &:nth-child(2){
            left: 30%;
          }

          &:nth-child(3){
            left: 90%;
          }
        }
      }
    }
  }
}


/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-prefix}#{$scss-library-component-name},
  .#{$scss-library-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}button-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-button-background, #{$button-background--dark});
    --#{$scss-library-var-prefix}button-on-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-button-on-background, #{$button-on-background--dark});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}
