@import "components/molecules/cards/SimpleCard";

$scss-library-prefix: "" !default;
$info-hover-card-height: 300px !default;
$info-hover-card-icon-size: 100px !default;
$info-hover-card-duration: 0.5s !default;
$info-hover-card-padding: $simple-card-padding !default;

%#{$scss-library-prefix}info-hover-card,
.#{$scss-library-prefix}info-hover-card {
  --simple-card-duration: #{var(--info-hover-card-duration, $info-hover-card-duration)};

  @extend %simple-card;

  height: $info-hover-card-height;
  text-align: center;
  transition: all var(--info-hover-card-duration, $info-hover-card-duration) ease;

  .icon-wrapper {
    position: relative;
    top: 20%;
    display: inline-block;
    transition: all var(--info-hover-card-duration, $info-hover-card-duration) ease;

    & > * {
      display: block;
      margin: 0 auto;
      width: var(--info-hover-card-icon-size, $info-hover-card-icon-size);
      height: var(--info-hover-card-icon-size, $info-hover-card-icon-size);
    }
  }

  .card-header,
  .card-content{
    padding-top: 0;
    transition: all var(--info-hover-card-duration, $info-hover-card-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .card-header{
    top: 20%;
    padding-bottom: 0;
    justify-content: center;
  }

  .card-title{
    line-height: 2;
  }

  .card-content {
    position: relative;
    bottom: var(--info-hover-card-padding, $info-hover-card-padding);
    padding: var(--info-hover-card-padding, $info-hover-card-padding);
    opacity: 0;
    transform: scale(0);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    .icon-wrapper,
    .card-header{
      top: -20%;
    }

    .card-content {
      opacity: 1;
      transform: scale(1);
    }
  }
}