@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "overflow-card" !default;
$scss-library-var-prefix: "" !default;

@forward "../../../components/molecules/cards/SimpleCard" with (
  $scss-library-prefix: $scss-library-prefix !default,
  $scss-library-var-prefix: $scss-library-var-prefix !default,
  $scss-library-component-name: "simple-card",
  $padding: 48px !default,
);
@use "../../../components/molecules/cards/SimpleCard" as inherited;

$threshold-mobile: 600px !default;


%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  @extend %#{$scss-library-prefix}simple-card;

  .card-image {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    max-height: 200%;
    z-index: 0;
  }

  .card-content {
    padding:
            var(--#{$scss-library-var-prefix}padding)
            var(--#{$scss-library-var-prefix}padding)
            var(--#{$scss-library-var-prefix}padding)
            30%;

    & > *:not(:last-child) {
      margin-bottom: calc(var(--#{$scss-library-var-prefix}padding) * 0.75);
    }

    .card-title {
      display: inline-block;
      font-size: 2.5em;
      white-space: nowrap;
    }
  }

  @media (max-width: $threshold-mobile) {
    .card-image {
      left: 50%;
      z-index: -1;
    }

    .card-content {
      padding: calc(var(--#{$scss-library-var-prefix}padding) * 0.5);
    }
  }
}