@use "../../../index" as guebbit;

// ------------------- @import clause -------------------
// ------------------------------------------------------

$scss-library-component-name: "simple-card";
@import "../../../components/molecules/cards/SimpleCard";

$scss-library-component-name: "pricing-card";

/*
$scss-library-component-name: "pricing-card" !default;

@forward "../../../components/molecules/cards/SimpleCard";
@use "../../../components/molecules/cards/SimpleCard" as inherited;
*/

// ------------------------------------------------------
// ------------------------------------------------------

$price-color: $color--light !default;
$active-price-color: $active-color--light !default;
$price-color--dark: $color--dark !default;
$active-price-color--dark: $active-color--dark !default;

$padding: 48px !default;

%#{$scss-library-class-prefix}#{$scss-library-component-name},
.#{$scss-library-class-prefix}#{$scss-library-component-name} {
  @extend %#{$scss-library-class-prefix}simple-card;

  --#{$scss-library-var-prefix}price-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-price-color, #{$price-color});
  --#{$scss-library-var-prefix}active-price-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-price-color, #{$active-price-color});
  --#{$scss-library-var-prefix}padding: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-padding, #{$padding});

  align-items: center;
  gap: var(--#{$scss-library-var-prefix}padding);
  padding: calc(var(--#{$scss-library-var-prefix}padding) * 1.5) var(--#{$scss-library-var-prefix}padding);
  font-size: 1.2em;

  .card-header,
  .card-footer,
  .card-content{
    padding: 0;
  }

  .card-header,
  .card-footer {
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 2.5;
    justify-content: center;
  }

  .card-header {
    top: 0;
  }

  .card-footer {
    bottom: 0;
  }

  .card-title {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  .card-price {
    text-align: center;
    color: var(--#{$scss-library-var-prefix}price-color);
    font-weight: 900;
    font-size: 5em;
    letter-spacing: -0.1em;
    line-height: 0.8;
    transition: color var(--#{$scss-library-var-prefix}duration);

    .card-currency {
      margin-right: 8px;
      font-weight: 600;
      font-size: 30%;
      vertical-align: text-top;
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    .card-price {
      color: var(--#{$scss-library-var-prefix}active-price-color);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$scss-library-class-prefix}#{$scss-library-component-name},
  .#{$scss-library-class-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}price-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-price-color, #{$price-color--dark});
    --#{$scss-library-var-prefix}active-price-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-price-color, #{$active-price-color--dark});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}