@use "../../../index" as guebbit;

$scss-library-component-name: "pricing-card" !default;

@forward "../../../components/molecules/cards/SimpleCard";
@use "../../../components/molecules/cards/SimpleCard" as inherited;

$price-color: inherited.$color--light !default;
$active-price-color: inherited.$active-color--light !default;
$price-color--dark: inherited.$color--dark !default;
$active-price-color--dark: inherited.$active-color--dark !default;

$padding: 48px !default;

%#{inherited.$scss-library-class-prefix}#{$scss-library-component-name},
.#{inherited.$scss-library-class-prefix}#{$scss-library-component-name} {
  @extend %#{inherited.$scss-library-class-prefix}simple-card;
  --#{inherited.$scss-library-var-prefix}price-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-price-color, #{$price-color});
  --#{inherited.$scss-library-var-prefix}active-price-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-active-price-color, #{$active-price-color});
  --#{inherited.$scss-library-var-prefix}padding: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-padding, #{$padding});

  align-items: center;
  gap: var(--#{inherited.$scss-library-var-prefix}padding);
  padding: calc(var(--#{inherited.$scss-library-var-prefix}padding) * 1.5) var(--#{inherited.$scss-library-var-prefix}padding);
  font-size: 1.2em;

  .card-header,
  .card-footer,
  .card-content{
    padding: 0;
  }

  .card-header,
  .card-footer {
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 2.5;
    justify-content: center;
  }

  .card-header {
    top: 0;
  }

  .card-footer {
    bottom: 0;
  }

  .card-title {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  .card-price {
    text-align: center;
    color: var(--#{inherited.$scss-library-var-prefix}price-color);
    font-weight: 900;
    font-size: 5em;
    letter-spacing: -0.1em;
    line-height: 0.8;
    transition: color var(--#{inherited.$scss-library-var-prefix}duration);

    .card-currency {
      margin-right: 8px;
      font-weight: 600;
      font-size: 30%;
      vertical-align: text-top;
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    .card-price {
      color: var(--#{inherited.$scss-library-var-prefix}active-price-color);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{inherited.$scss-library-class-prefix}#{$scss-library-component-name},
  .#{inherited.$scss-library-class-prefix}#{$scss-library-component-name} {
    --#{inherited.$scss-library-var-prefix}price-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-price-color, #{$price-color--dark});
    --#{inherited.$scss-library-var-prefix}active-price-color: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-active-price-color, #{$active-price-color--dark});
  }
}

/**
 * By class
 */
.#{inherited.$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}