@use '../../../_generics' as generics;
@use 'variables' as vars;

@mixin _highlight-line-move($prefix) {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(var(#{$prefix}distance));
    }
}

@mixin _highlight-line-scale($prefix) {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@mixin _highlight-line-opacity($prefix) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@mixin highlight-line-architecture($prefix: vars.$css-ui-component-prefix) {
    @include generics.generate-vars(vars.$component-variables-map, $prefix);

    @keyframes running-_#{$prefix}move {
        @include _highlight-line-move($prefix);
    }

    @keyframes running-_#{$prefix}scale {
        @include _highlight-line-scale($prefix);
    }

    @keyframes running-_#{$prefix}opacity {
        @include _highlight-line-opacity($prefix);
    }

    width: 100%;
    height: 1em;

    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: var(#{$prefix}length);
        height: var(#{$prefix}size);
        background-color: var(#{$prefix}background-color);
        border-radius: var(#{$prefix}border-radius);
        transform-origin: var(#{$prefix}transform-origin);
        transform: scaleX(0);
        opacity: var(#{$prefix}opacity);
    }

    &::after {
        animation: var(#{$prefix}duration) var(#{$prefix}animation-timing-function)
            var(#{$prefix}animation-delay) var(#{$prefix}animation-direction)
            var(#{$prefix}animation-fill-mode) var(#{$prefix}animation-play-state)
            running-_#{$prefix}scale;
    }

    // State
    &:hover::before,
    &:focus::before {
        opacity: 1;
        transform: scaleX(1);
        animation: var(#{$prefix}duration) var(#{$prefix}animation-timing-function)
            0s var(#{$prefix}animation-direction)
            var(#{$prefix}animation-fill-mode) var(#{$prefix}animation-play-state)
            running-_#{$prefix}opacity;
    }

    &:hover::after,
    &:focus::after {
        height: var(#{$prefix}active-size);
        width: var(#{$prefix}active-length);
        transform: translateY(var(#{$prefix}distance));
        animation: var(#{$prefix}duration) var(#{$prefix}animation-timing-function)
            var(#{$prefix}animation-delay) var(#{$prefix}animation-direction)
            var(#{$prefix}animation-fill-mode) var(#{$prefix}animation-play-state)
            running-_#{$prefix}move;
    }
}
