$scss-library-prefix: "" !default;
$simple-text-icon-duration: 0.4s !default;

%#{$scss-library-prefix}simple-text-icon,
.#{$scss-library-prefix}simple-text-icon {
  position: relative;
  display: inline-flex;
  gap: 1em;
  margin: 0.4em;
  text-decoration: none;
  transition: transform var(--simple-text-icon-duration, $simple-text-icon-duration), color var(--simple-text-icon-duration, $simple-text-icon-duration);

  .text-icon{
    text-align: center;
    margin: 0 auto;
    transition: transform var(--simple-text-icon-duration, $simple-text-icon-duration), color var(--simple-text-icon-duration, $simple-text-icon-duration);
    line-height: 1.5;
    font-size: 1.5em;

    svg{
      width: 1em;
      height: 1em;
    }
  }

  &.column-mode{
    flex-direction: column;
  }

  &.active,
  &.icon-highlight:hover{
    .text-icon{
      transform: translateY(-10px);
      color: inherit;
    }
  }
}