@use "../../../index" as guebbit;

$scss-library-class-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "simple-text-icon" !default;

// main
$color: null !default;
$color--light: guebbit.noNullVar(($color, inherit)) !default;
$color--dark: guebbit.noNullVar(($color, inherit)) !default;
$active-color: null !default;
$active-color--light: guebbit.noNullVar(($active-color, $color--light)) !default;
$active-color--dark: guebbit.noNullVar(($active-color, $color--dark)) !default;

$rotate: 0deg !default;
$scale: 1 !default;
$slide-x: 0 !default;
$slide-y: 0 !default;

$active-rotate: $rotate !default;
$active-scale: $scale !default;
$active-slide-x: $slide-x !default;
$active-slide-y: $slide-y !default;

$duration: 0.3s !default;

%#{$scss-library-class-prefix}#{$scss-library-component-name},
.#{$scss-library-class-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--light});
  --#{$scss-library-var-prefix}rotate: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-rotate, #{$rotate});
  --#{$scss-library-var-prefix}scale: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-scale, #{$scale});
  --#{$scss-library-var-prefix}slide-x: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-slide-x, #{$slide-x});
  --#{$scss-library-var-prefix}slide-y: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-slide-y, #{$slide-y});
  --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-color--light});
  --#{$scss-library-var-prefix}active-rotate: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-rotate, #{$active-rotate});
  --#{$scss-library-var-prefix}active-scale: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-scale, #{$active-scale});
  --#{$scss-library-var-prefix}active-slide-x: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-slide-x, #{$active-slide-x});
  --#{$scss-library-var-prefix}active-slide-y: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-slide-y, #{$active-slide-y});
  --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});

  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 1em;
  margin: 0.4em;
  text-decoration: none;

  .text-icon{
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.5em;
    color: var(--#{$scss-library-var-prefix}color);
    transform:
            rotateX(var(--#{$scss-library-var-prefix}rotate))
            scale(var(--#{$scss-library-var-prefix}scale))
            translate(var(--#{$scss-library-var-prefix}slide-x), var(--#{$scss-library-var-prefix}slide-y));
    transition:
            transform var(--#{$scss-library-var-prefix}duration),
            color var(--#{$scss-library-var-prefix}duration);

    svg{
      fill: currentcolor;
      width: 1em;
      height: 1em;
    }
  }

  &.column-mode{
    flex-direction: column;
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    .text-icon {
      color: var(--#{$scss-library-var-prefix}active-color);
      transform:
              rotateX(var(--#{$scss-library-var-prefix}active-rotate))
              scale(var(--#{$scss-library-var-prefix}active-scale))
              translate(var(--#{$scss-library-var-prefix}active-slide-x), var(--#{$scss-library-var-prefix}active-slide-y));
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-class-prefix}#{$scss-library-component-name},
  .#{$scss-library-class-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--dark});
    --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-color--dark});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
