@import "index";

$scss-library-prefix: "" !default;
$special-title-color: #000 !default;
$special-title-on-color: guebbit-contrast($special-title-color) !default;
$special-title-adjust: 0 !default;
$special-title-shadow-color: #000 !default;
$special-title-shadow:
        0 2px 4px rgba($special-title-shadow-color, .2),
        0 4px 5px rgba($special-title-shadow-color, .14),
        0 1px 10px rgba($special-title-shadow-color, .12) !default;
$special-title-strong-shadow:
        0 0 20px rgba($special-title-shadow-color, .8),
        0 0 20px rgba($special-title-shadow-color, .6),
        0 0 20px rgba($special-title-shadow-color, .4) !default;
$special-title-border-style: solid !default;
$special-title-line-background: #fff !default;
$special-title-line-color: $special-title-color !default;
$special-title-line-on-color: guebbit-contrast($special-title-line-color) !default;
$special-title-line-height: 0.2em !default;
$special-title-line-duration: 0.2s !default;

%special-title-appear-disappear-hidden{
  padding-left: 0;
  padding-right: 0;
  opacity: 0;
  letter-spacing: -0.5em;
}

%#{$scss-library-prefix}special-title,
.#{$scss-library-prefix}special-title {
  --special-title-color: #{$special-title-color};
  --special-title-on-color: #{$special-title-on-color};
  --special-title-adjust: #{$special-title-adjust};
  --special-title-shadow-color: #{$special-title-shadow-color};
  --special-title-shadow: #{$special-title-shadow};
  --special-title-strong-shadow: #{$special-title-strong-shadow};
  --special-title-border-style: #{$special-title-border-style};
  --special-title-line-background: #{$special-title-line-background};
  --special-title-line-color: #{$special-title-line-color};
  --special-title-line-on-color: #{$special-title-line-on-color};
  --special-title-line-height: #{$special-title-line-height};
  --special-title-line-duration: #{$special-title-line-duration};

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.1;

  .special-title-color {
    color: var(--special-title-color);
  }

  .special-title-highlight {
    background-color: var(--special-title-color);
    color: var(--special-title-on-color);
  }

  .special-title-enlarge,
  .special-title-disappear-on-active {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  .special-title-appear-on-active,
  .special-title-disappear-on-active{
    white-space: nowrap;
    transition: var(--special-title-line-duration) opacity, var(--special-title-line-duration) letter-spacing, 0.1s padding;
  }

  .special-title-appear-on-active{
    @extend %special-title-appear-disappear-hidden;
  }

  .special-title-enlarge {
    font-size: 2em;
    margin-top: var(--special-title-adjust);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    .special-title-appear-on-active {
      padding-left: 0.25em;
      padding-right: 0.25em;
      opacity: 1;
      letter-spacing: initial;
    }

    .special-title-disappear-on-active{
      @extend %special-title-appear-disappear-hidden;
    }
  }

  &.title-with-shadow {
    text-shadow: var(--special-title-shadow);
  }

  &.title-with-strong-shadow {
    text-shadow: var(--special-title-strong-shadow);
  }

  &.title-with-line,
  &.title-with-full-line,
  &.title-with-line-border {
    position: relative;
    z-index: 1;
  }

  &.title-with-line,
  &.title-with-full-line {
    & > * {
      background-color: var(--special-title-line-background);
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--special-title-line-color);
      height: var(--special-title-line-height);
      width: 100%;
      z-index: -2;
    }
  }

  &.title-with-full-line{
    color: var(--special-title-on-color);

    &::before {
      height: 150%;
    }
  }

  &.title-with-line-border {
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      z-index: -1;
      border-top: var(--special-title-line-height) var(--special-title-border-style) var(--special-title-color);
    }

    &.title-with-line,
    &.title-with-full-line {
      &::after{
        border-top-color: var(--special-title-line-on-color);
      }
    }
  }
}
