@use "../../global" as *;

$scss-library-prefix: "" !default;
$scss-library-component-name: "special-title" !default;
$scss-library-var-prefix: "" !default;

$color: #000 !default;
$on-color: color-contrast($color) !default;
$adjust: 0 !default;
$shadow-color: hex2rgb(#000) !default;
$border-style: solid !default;
$line-background: #fff !default;
$line-color: $color !default;
$line-on-color: color-contrast($line-color) !default;
$line-height: 0.2em !default;
$line-duration: 0.2s !default;

%#{$scss-library-prefix}#{$scss-library-component-name}-toggle-on-active{
  padding-left: 0;
  padding-right: 0;
  opacity: 0;
  letter-spacing: -0.5em;
}

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}color: #{$color};
  --#{$scss-library-var-prefix}on-color: #{$on-color};
  --#{$scss-library-var-prefix}adjust: #{$adjust};
  --#{$scss-library-var-prefix}shadow-color: #{$shadow-color};
  --#{$scss-library-var-prefix}border-style: #{$border-style};
  --#{$scss-library-var-prefix}line-background: #{$line-background};
  --#{$scss-library-var-prefix}line-color: #{$line-color};
  --#{$scss-library-var-prefix}line-on-color: #{$line-on-color};
  --#{$scss-library-var-prefix}line-height: #{$line-height};
  --#{$scss-library-var-prefix}line-duration: #{$line-duration};

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.1;

  .special-title-color {
    color: var(--#{$scss-library-var-prefix}color);
  }

  .special-title-highlight {
    background-color: var(--#{$scss-library-var-prefix}color);
    color: var(--#{$scss-library-var-prefix}on-color);
  }

  .special-title-enlarge,
  .special-title-disappear-on-active {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  .special-title-appear-on-active,
  .special-title-disappear-on-active{
    white-space: nowrap;
    transition: var(--#{$scss-library-var-prefix}line-duration) opacity, var(--#{$scss-library-var-prefix}line-duration) letter-spacing, 0.1s padding;
  }

  .special-title-appear-on-active{
    @extend %#{$scss-library-prefix}#{$scss-library-component-name}-toggle-on-active;
  }

  .special-title-enlarge {
    font-size: 2em;
    margin-top: var(--#{$scss-library-var-prefix}adjust);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    .special-title-appear-on-active {
      padding-left: 0.25em;
      padding-right: 0.25em;
      opacity: 1;
      letter-spacing: initial;
    }

    .special-title-disappear-on-active{
      @extend %#{$scss-library-prefix}#{$scss-library-component-name}-toggle-on-active;
    }
  }

  &.title-with-shadow {
    text-shadow:
            0 2px 4px rgba(var(--#{$scss-library-var-prefix}shadow-color), .2),
            0 4px 5px rgba(var(--#{$scss-library-var-prefix}shadow-color), .14),
            0 1px 10px rgba(var(--#{$scss-library-var-prefix}shadow-color), .12);
  }

  &.title-with-strong-shadow {
    text-shadow:
            0 0 20px rgba(var(--#{$scss-library-var-prefix}shadow-color), .8),
            0 0 20px rgba(var(--#{$scss-library-var-prefix}shadow-color), .6),
            0 0 20px rgba(var(--#{$scss-library-var-prefix}shadow-color), .4);
  }

  &.title-with-line,
  &.title-with-full-line,
  &.title-with-line-border {
    position: relative;
    z-index: 1;
  }

  &.title-with-line,
  &.title-with-full-line {
    & > * {
      background-color: var(--#{$scss-library-var-prefix}line-background);
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--#{$scss-library-var-prefix}line-color);
      height: var(--#{$scss-library-var-prefix}line-height);
      width: 100%;
      z-index: -2;
    }
  }

  &.title-with-full-line{
    color: var(--#{$scss-library-var-prefix}on-color);

    &::before {
      height: 150%;
    }
  }

  &.title-with-line-border {
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      z-index: -1;
      border-top: var(--#{$scss-library-var-prefix}line-height) var(--#{$scss-library-var-prefix}border-style) var(--#{$scss-library-var-prefix}color);
    }

    &.title-with-line,
    &.title-with-full-line {
      &::after{
        border-top-color: var(--#{$scss-library-var-prefix}line-on-color);
      }
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-prefix}#{$scss-library-component-name},
  .#{$scss-library-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}central-color: #{$central-color--dark};
    --#{$scss-library-var-prefix}satellite-color: #{$satellite-color--dark};
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}
