@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "svg-title" !default;

// main
$color: null !default;
$color--light: guebbit.noNullVar(($color, inherit)) !default;
$color--dark: guebbit.noNullVar(($color, inherit)) !default;
$background: null !default;
$background--light: guebbit.noNullVar(($background, #fff)) !default;
$background--dark: guebbit.noNullVar(($background, #2B2A33)) !default;

$on-color: guebbit.color-contrast($color--light) !default;
$on-color--dark: guebbit.color-contrast($color--dark) !default;
$shadow-color: guebbit.hex2rgb(#000) !default;
$shadow-color--dark: guebbit.hex2rgb(#000) !default;

// generic
$line-height: 0.2em !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}color: #{$color--light};
  --#{$scss-library-var-prefix}on-color: #{$on-color};
  --#{$scss-library-var-prefix}background: #{$background--light};
  --#{$scss-library-var-prefix}shadow-color: #{$shadow-color};
  --#{$scss-library-var-prefix}line-height: #{$line-height};
  --#{$scss-library-var-prefix}image: "";

  line-height: 1.1;
  text-align: center;
  position: relative;
  text-decoration: none;
  text-shadow:
          0 2px 4px rgba(var(--#{$scss-library-var-prefix}shadow-color), .2),
          0 4px 5px rgba(var(--#{$scss-library-var-prefix}shadow-color), .14),
          0 1px 10px rgba(var(--#{$scss-library-var-prefix}shadow-color), .12);
  color: var(--#{$scss-library-var-prefix}on-color);
  z-index: 1;

  .svg-title-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    color: var(--#{$scss-library-var-prefix}color);
    background-color: var(--#{$scss-library-var-prefix}background);
    fill: currentcolor;
    stroke: currentcolor;
    height: 1em;
    width: 1em;
  }

  &.svg-title-line{
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -2;
      background-color: var(--#{$scss-library-var-prefix}color);
      height: var(--#{$scss-library-var-prefix}line-height);
      width: 100%;
    }
  }

  &.svg-title-custom-bg{
    &::after {
      content:"";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      width: 100%;
      height: 100%;
      background: var(--#{$scss-library-var-prefix}background) no-repeat var(--#{$scss-library-var-prefix}image);
      background-position: 50% 50%;
    }
  }
}
/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-prefix}#{$scss-library-component-name},
  .#{$scss-library-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}color: #{$color--dark};
    --#{$scss-library-var-prefix}on-color: #{$on-color--dark};
    --#{$scss-library-var-prefix}background: #{$background--dark};
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}
