@use '../../../_generics' as generics;
@use '../../../_generics/variables' as globals;
@use 'variables' as vars;

$component-map: (
    height: vars.$height,
    padding: vars.$padding,
    border-radius: vars.$border-radius,
    border-width: vars.$border-width
);

@mixin event-lite-card-architecture($prefix: vars.$css-ui-component-prefix) {
    @include generics.generate-vars($component-map, $prefix);

    @include generics.base-layout($prefix);

    height: var(--#{$prefix}height);
    padding: var(--#{$prefix}padding);
    background-color: generics.base-parameter-rgba(main-color, $opacity-token: false, $opacity-fallback: 0);
    color: inherit;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: generics.base-parameter-rgba(main-color, $opacity-token: false);
    border-style: solid;
    border-width: 0;
    box-shadow:
        0 2px 4px -1px generics.base-parameter-rgba(main-color, $opacity-token: false, $opacity-fallback: 0.2),
        0 4px 5px 0 generics.base-parameter-rgba(main-color, $opacity-token: false, $opacity-fallback: 0.14),
        0 1px 10px 0 generics.base-parameter-rgba(main-color, $opacity-token: false, $opacity-fallback: 0.12);
    @include generics.transition-properties((color, background-color, border-color, border-width), var(--#{globals.$css-ui-var-prefix}duration));

    .#{generics.$css-ui-class-prefix}event-image {
        width: calc(var(--#{$prefix}height) - var(--#{$prefix}padding) * 2);
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
    }

    .#{generics.$css-ui-class-prefix}event-date,
    .#{generics.$css-ui-class-prefix}event-actions {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .#{generics.$css-ui-class-prefix}event-date {
        display: block;
        font-weight: 600;
        color: inherit;
        text-align: center;
        font-size: 14px;
        @include generics.transition-properties((color), var(--#{globals.$css-ui-var-prefix}duration));

        span {
            display: block;
        }

        .#{generics.$css-ui-class-prefix}event-date-day {
            font-size: 2.5em;
            font-weight: 600;
            line-height: 1.5;
        }

        .#{generics.$css-ui-class-prefix}event-date-month,
        .#{generics.$css-ui-class-prefix}event-date-year {
            opacity: 0.5;
        }

        .#{generics.$css-ui-class-prefix}event-date-month {
            font-size: 1.2em;
        }
    }

    .#{generics.$css-ui-class-prefix}event-title {
        color: inherit;
        font-weight: 600;
        @include generics.transition-properties((color), var(--#{globals.$css-ui-var-prefix}duration));
    }

    .#{generics.$css-ui-class-prefix}event-actions {
        gap: 1em;
    }

    &.#{generics.$css-ui-class-prefix}border-active,
    &.#{generics.$css-ui-class-prefix}border-on-active.active,
    &.#{generics.$css-ui-class-prefix}border-on-hover:hover {
        border-width: var(--#{$prefix}border-width);
    }

    @include generics.interaction-states() {
        background-color: generics.base-parameter-rgba(active-main-color, $opacity-token: false, $opacity-fallback: 0.1);
        color: generics.base-parameter-rgba(active-main-color, $opacity-token: false);
        box-shadow:
            0 2px 4px -1px generics.base-parameter-rgba(active-main-color, $opacity-token: false, $opacity-fallback: 0.2),
            0 4px 5px 0 generics.base-parameter-rgba(active-main-color, $opacity-token: false, $opacity-fallback: 0.14),
            0 1px 10px 0 generics.base-parameter-rgba(active-main-color, $opacity-token: false, $opacity-fallback: 0.12);

        &.#{generics.$css-ui-class-prefix}border-active,
        &.#{generics.$css-ui-class-prefix}border-on-active.active,
        &.#{generics.$css-ui-class-prefix}border-on-hover:hover {
            border-color: generics.base-parameter-rgba(active-main-color, $opacity-token: false);
        }
    }

    &.#{generics.$css-ui-class-prefix}mobile-active {
        height: auto;
        flex-direction: column;
        gap: var(--#{$prefix}padding);

        .#{generics.$css-ui-class-prefix}event-date {
            display: grid;
            grid-template-areas:
                'first second'
                'first third';

            .#{generics.$css-ui-class-prefix}event-date-day {
                grid-area: first;
                padding-right: 0.3em;
            }

            .#{generics.$css-ui-class-prefix}event-date-month {
                grid-area: second;
            }

            .#{generics.$css-ui-class-prefix}event-date-year {
                grid-area: third;
            }
        }

        .#{generics.$css-ui-class-prefix}event-image {
            width: 100%;
            height: var(--#{$prefix}height);
        }
    }

    @media (max-width: vars.$threshold-mobile) {
        height: auto;
        flex-direction: column;
        gap: var(--#{$prefix}padding);

        .#{generics.$css-ui-class-prefix}event-date {
            display: grid;
            grid-template-areas:
                'first second'
                'first third';

            .#{generics.$css-ui-class-prefix}event-date-day {
                grid-area: first;
                padding-right: 0.3em;
            }

            .#{generics.$css-ui-class-prefix}event-date-month {
                grid-area: second;
            }

            .#{generics.$css-ui-class-prefix}event-date-year {
                grid-area: third;
            }
        }

        .#{generics.$css-ui-class-prefix}event-image {
            width: 100%;
            height: var(--#{$prefix}height);
        }
    }

}
