/**
 * Use in the parent\container, to be coupled with {build-aspect-ratio-anchor}
 */
@mixin build-aspect-ratio-container($ratio: 100%){
  position: relative;

  &::before{
    content: "";
    display: block;
    padding-top: 100%;
  }
}

/**
 * Use in the child that "gives" form to the parent that has the respective {build-aspect-ratio-container}
 */
@mixin build-aspect-ratio-anchor($ratio: 100%){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 *  aspect ratio shortcut
 */
@mixin build-aspect-ratio($ratio: 100%){
  @include build-aspect-ratio-container($ratio);

  & > * {
    @include build-aspect-ratio-anchor($ratio);
  }
}