/**
  t - applies the spacing for margin-top
  b - applies the spacing for margin-bottom
  l - applies the spacing for margin-left
  r - applies the spacing for margin-right
  x - applies the spacing for both *-left and *-right
  y - applies the spacing for both *-top and *-bottom
  a - applies the spacing for the property in all directions
  @param {Array<name,value>[]} measure-list - postfix name and value
 */
@mixin create-space-margin($measure-list: (), $important: false, $prefix: "", $delimiter: "-") {
  @each $name, $val in $measure-list {
    .#{$prefix}mt#{$delimiter}#{$name} {
      margin-top: #{$val} #{if($important == true, "!important", "")};
    }
    .#{$prefix}mb#{$delimiter}#{$name} {
      margin-bottom: #{$val} #{if($important == true, "!important", "")};
    }
    .#{$prefix}ml#{$delimiter}#{$name} {
      margin-left: #{$val} #{if($important == true, "!important", "")};
    }
    .#{$prefix}mr#{$delimiter}#{$name} {
      margin-right: #{$val} #{if($important == true, "!important", "")};
    }
    .#{$prefix}mx#{$delimiter}#{$name} {
      margin-right: #{$val} #{if($important == true, "!important", "")};
      margin-left: #{$val} #{if($important == true, "!important", "")};
    }
    .#{$prefix}my#{$delimiter}#{$name} {
      margin-top: #{$val} #{if($important == true, "!important", "")};
      margin-bottom: #{$val} #{if($important == true, "!important", "")};
    }
    .#{$prefix}ma#{$delimiter}#{$name} {
      margin: #{$val} #{if($important == true, "!important", "")};
    }
  }
}