@use '../../../_generics/variables' as globals;
@forward '../../../_generics/variables';

$css-ui-component-name: 'highlight-rollup' !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';

// -----------------------------------------------------------------------------
// Layout / animation
// -----------------------------------------------------------------------------
$skew: -45deg !default;
$skew-distance: -20px !default;
$padding: 1em 2em !default;
