@use '../../../_generics' as generics;
@use 'variables' as vars;
@forward 'variables';

$component-map: ();

%#{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name},
.#{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
    @extend %#{generics.$css-ui-class-prefix}simple-card !optional;

    display: inline-flex;
    width: auto;
    padding: var(--simple-card-padding, 24px);
    text-align: center;
    line-height: 1.5;

    .timer {
        display: block;
        font-size: 3em;
        font-weight: 600;
    }
}
