$brand-facebook: #3b5998;
$brand-youtube: #cc181e;
$brand-twitter: #3cf;
$brand-skype: #00aff0;
$brand-linkedin: #1565c0;
$brand-whatsapp: #4ac959;
$brand-telegram: #08c;
$brand-twitch: #6441a4;
$brand-pinterest: #e60023;
$brand-reddit: #ff4301;
$brand-tumblr: #35465c;
$brand-patreon: #f96854;
$brand-kickstarter: #05ce78;
$brand-instagram: #f09433;
$brand-tiktok: #25f4ee;
$brand-google: #dc4a38;
$brand-paypal: #003087;
$brand-paypal2: #f2b938;
$advanced-brand-instagram: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
$advanced-brand-tiktok: linear-gradient(90deg, #25f4ee 0%, #000 30%, #000 50%, #000 70%, #fe2c55 100%);