@use "../functions/colors" as *;

$brand-facebook: #3b5998;
$brand-youtube: #cc181e;
$brand-twitter: #3cf;
$brand-skype: #00aff0;
$brand-linkedin: #1565c0;
$brand-whatsapp: #4ac959;
$brand-telegram: #08c;
$brand-twitch: #6441a4;
$brand-pinterest: #e60023;
$brand-reddit: #ff4301;
$brand-tumblr: #35465c;
$brand-patreon: #f96854;
$brand-kickstarter: #05ce78;
$brand-instagram: #f09433;
$brand-tiktok: #25f4ee;
$brand-google: #dc4a38;
$brand-paypal: #003087;
$brand-paypal2: #f2b938;

$colors-collection: map-merge(
  $colors-collection,
  (
    "brand": (
      "facebook":   $brand-facebook,
      "youtube":    $brand-youtube,
      "twitter":    $brand-twitter,
      "skype":      $brand-skype,
      "linkedin":   $brand-linkedin,
      "whatsapp":	$brand-whatsapp,
      "telegram":	$brand-telegram,
      "twitch":		$brand-twitch,
      "pinterest":	$brand-pinterest,
      "reddit":		$brand-reddit,
      "tumblr":		$brand-tumblr,
      "patreon":	$brand-patreon,
      "kickstarter":$brand-kickstarter,
      "instagram": 	$brand-instagram,
      "tiktok":     $brand-tiktok,
      "google":	    $brand-google,
      "paypal":	    $brand-paypal,
      "paypal2":    $brand-paypal2,
    )
  )
);