@import "../functions/colors";

$flatrica-green: #06a763 !default;
$manga-red: #d41816 !default;

$flatrica-green-100: tint-color($flatrica-green, 80%);
$flatrica-green-200: tint-color($flatrica-green, 60%);
$flatrica-green-300: tint-color($flatrica-green, 40%);
$flatrica-green-400: tint-color($flatrica-green, 20%);
$flatrica-green-500: $flatrica-green;
$flatrica-green-600: shade-color($flatrica-green, 20%);
$flatrica-green-700: shade-color($flatrica-green, 40%);
$flatrica-green-800: shade-color($flatrica-green, 60%);
$flatrica-green-900: shade-color($flatrica-green, 80%);

$manga-red-100: tint-color($manga-red, 80%);
$manga-red-200: tint-color($manga-red, 60%);
$manga-red-300: tint-color($manga-red, 40%);
$manga-red-400: tint-color($manga-red, 20%);
$manga-red-500: $manga-red;
$manga-red-600: shade-color($manga-red, 20%);
$manga-red-700: shade-color($manga-red, 40%);
$manga-red-800: shade-color($manga-red, 60%);
$manga-red-900: shade-color($manga-red, 80%);

$guebbit-colors-collection: () !default;
$guebbit-colors-collection: map-merge(
                $guebbit-colors-collection,
                (
                        "core": (
                                "flatrica-green": $flatrica-green,
                                "manga-red": $manga-red,
                        ),
                        "flatrica-green": (
                                "100": $flatrica-green-100,
                                "200": $flatrica-green-200,
                                "300": $flatrica-green-300,
                                "400": $flatrica-green-400,
                                "500": $flatrica-green-500,
                                "600": $flatrica-green-600,
                                "700": $flatrica-green-700,
                                "800": $flatrica-green-800,
                                "900": $flatrica-green-900,
                        ),
                        "manga-red": (
                                "100": $manga-red-100,
                                "200": $manga-red-200,
                                "300": $manga-red-300,
                                "400": $manga-red-400,
                                "500": $manga-red-500,
                                "600": $manga-red-600,
                                "700": $manga-red-700,
                                "800": $manga-red-800,
                                "900": $manga-red-900,
                        ),
                )
);