@import "../functions/colors";

// Google Color Palette inspired from:
// http://www.google.com/design/spec/style/color.html
// https://github.com/twbs/bootstrap/blob/ce114117a8710016022c40e717cb1f3ec95a5d7f/scss/_variables.scss#L43

// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


// Color system

// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
$black:   #000 !default;
$white:   #fff !default;
$grey:    #6c757d !default;
$grey-dark: #343a40 !default;
// scss-docs-end color-variables

// scss-docs-start material-collection
$guebbit-colors-collection: () !default;
$guebbit-colors-collection: map-merge(
        $guebbit-colors-collection,
        (
                "primary": (
                        "blue":       $blue,
                        "indigo":     $indigo,
                        "purple":     $purple,
                        "pink":       $pink,
                        "red":        $red,
                        "orange":     $orange,
                        "yellow":     $yellow,
                        "green":      $green,
                        "teal":       $teal,
                        "cyan":       $cyan,
                        "black":      $black,
                        "white":      $white,
                        "gray":       $grey,
                        "gray-dark":  $grey-dark,
                ),
                "grey": (
                        "100": #f8f9fa,
                        "200": #e9ecef,
                        "300": #dee2e6,
                        "400": #ced4da,
                        "500": #adb5bd,
                        "600": $grey,
                        "700": #495057,
                        "800": $grey-dark,
                        "900": #212529,
                ),
                "blue": (
                        "100": tint-color($blue, 80%),
                        "200": tint-color($blue, 60%),
                        "300": tint-color($blue, 40%),
                        "400": tint-color($blue, 20%),
                        "500": $blue,
                        "600": shade-color($blue, 20%),
                        "700": shade-color($blue, 40%),
                        "800": shade-color($blue, 60%),
                        "900": shade-color($blue, 80%),
                ),
                "indigo": (
                        "100": tint-color($indigo, 80%),
                        "200": tint-color($indigo, 60%),
                        "300": tint-color($indigo, 40%),
                        "400": tint-color($indigo, 20%),
                        "500": $indigo,
                        "600": shade-color($indigo, 20%),
                        "700": shade-color($indigo, 40%),
                        "800": shade-color($indigo, 60%),
                        "900": shade-color($indigo, 80%),
                ),
                "purple": (
                        "100": tint-color($purple, 80%),
                        "200": tint-color($purple, 60%),
                        "300": tint-color($purple, 40%),
                        "400": tint-color($purple, 20%),
                        "500": $purple,
                        "600": shade-color($purple, 20%),
                        "700": shade-color($purple, 40%),
                        "800": shade-color($purple, 60%),
                        "900": shade-color($purple, 80%),
                ),
                "pink": (
                        "100": tint-color($pink, 80%),
                        "200": tint-color($pink, 60%),
                        "300": tint-color($pink, 40%),
                        "400": tint-color($pink, 20%),
                        "500": $pink,
                        "600": shade-color($pink, 20%),
                        "700": shade-color($pink, 40%),
                        "800": shade-color($pink, 60%),
                        "900": shade-color($pink, 80%),
                ),
                "red": (
                        "100": tint-color($red, 80%),
                        "200": tint-color($red, 60%),
                        "300": tint-color($red, 40%),
                        "400": tint-color($red, 20%),
                        "500": $red,
                        "600": shade-color($red, 20%),
                        "700": shade-color($red, 40%),
                        "800": shade-color($red, 60%),
                        "900": shade-color($red, 80%),
                ),
                "orange": (
                        "100": tint-color($orange, 80%),
                        "200": tint-color($orange, 60%),
                        "300": tint-color($orange, 40%),
                        "400": tint-color($orange, 20%),
                        "500": $orange,
                        "600": shade-color($orange, 20%),
                        "700": shade-color($orange, 40%),
                        "800": shade-color($orange, 60%),
                        "900": shade-color($orange, 80%),
                ),
                "yellow": (
                        "100": tint-color($yellow, 80%),
                        "200": tint-color($yellow, 60%),
                        "300": tint-color($yellow, 40%),
                        "400": tint-color($yellow, 20%),
                        "500": $yellow,
                        "600": shade-color($yellow, 20%),
                        "700": shade-color($yellow, 40%),
                        "800": shade-color($yellow, 60%),
                        "900": shade-color($yellow, 80%),
                ),
                "green": (
                        "100": tint-color($green, 80%),
                        "200": tint-color($green, 60%),
                        "300": tint-color($green, 40%),
                        "400": tint-color($green, 20%),
                        "500": $green,
                        "600": shade-color($green, 20%),
                        "700": shade-color($green, 40%),
                        "800": shade-color($green, 60%),
                        "900": shade-color($green, 80%),
                ),
                "teal": (
                        "100": tint-color($teal, 80%),
                        "200": tint-color($teal, 60%),
                        "300": tint-color($teal, 40%),
                        "400": tint-color($teal, 20%),
                        "500": $teal,
                        "600": shade-color($teal, 20%),
                        "700": shade-color($teal, 40%),
                        "800": shade-color($teal, 60%),
                        "900": shade-color($teal, 80%),
                ),
                "cyan": (
                        "100": tint-color($cyan, 80%),
                        "200": tint-color($cyan, 60%),
                        "300": tint-color($cyan, 40%),
                        "400": tint-color($cyan, 20%),
                        "500": $cyan,
                        "600": shade-color($cyan, 20%),
                        "700": shade-color($cyan, 40%),
                        "800": shade-color($cyan, 60%),
                        "900": shade-color($cyan, 80%),
                ),
        )
);
// scss-docs-end material-collection