@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$timeline-tree-pillar-color: #000 !default;
$timeline-tree-pillar-on-color: guebbit.color-contrast($timeline-tree-pillar-color) !default;
$timeline-tree-pillar-opacity: 0.5 !default;
$timeline-tree-pillar-icon-size: 40px !default;
$timeline-tree-pillar-icon-shadow: #000 !default;
$timeline-tree-pillar-size: 4px !default;
$timeline-tree-slot-color: inherit !default;
$timeline-tree-slot-on-color: inherit !default;
$timeline-tree-slot-distance: 24px !default;
$timeline-tree-threshold: 600px !default;
$timeline-tree-pillar-distance: $timeline-tree-pillar-icon-size * 0.5 - $timeline-tree-pillar-size * 0.5 !default;

%#{$scss-library-prefix}timeline-tree,
.#{$scss-library-prefix}timeline-tree {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--timeline-tree-slot-distance, $timeline-tree-slot-distance);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: var(--timeline-tree-pillar-distance, $timeline-tree-pillar-distance);
    height: 100%;
    width: var(--timeline-tree-pillar-size, $timeline-tree-pillar-size);
    background-color: var(--timeline-tree-pillar-color, $timeline-tree-pillar-color);
    opacity: var(--timeline-tree-pillar-opacity, $timeline-tree-pillar-opacity);
    z-index: 1;
  }

  .timeline-tree-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--timeline-tree-pillar-icon-size, $timeline-tree-pillar-icon-size);
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--timeline-tree-pillar-on-color, $timeline-tree-pillar-on-color);
    background-color: var(--timeline-tree-pillar-color, $timeline-tree-pillar-color);
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(var(--timeline-tree-pillar-icon-shadow, $timeline-tree-pillar-icon-shadow), 0.3);

    & > * {
      max-height: 80%;
      max-width: 80%;
      font-size: 80%;
      fill: currentcolor;
    }

    & > svg{
      filter: drop-shadow(2px 2px 4px rgba(var(--timeline-tree-pillar-icon-shadow, $timeline-tree-pillar-icon-shadow), 0.3));
    }
  }

  .timeline-tree-item {
    position: relative;
    background-color: var(--timeline-tree-slot-color, $timeline-tree-slot-color);
    color: var(--timeline-tree-slot-on-color, $timeline-tree-slot-on-color);
  }

  .timeline-tree-slot {
    position: relative;
    padding-left: calc(var(--timeline-tree-pillar-icon-size, $timeline-tree-pillar-icon-size) + var(--timeline-tree-pillar-distance, $timeline-tree-pillar-distance));

    // slot date can be put inside card (and have custom CSS) or outside and have this CSS
    & > .timeline-tree-slot-date {
      display: block;
      margin-top: calc(var(--timeline-tree-slot-distance, $timeline-tree-slot-distance) * 0.5);
    }
  }

  &.timeline-with-balloon {
    .timeline-tree-item {
      &::before {
        content: '';
        position: absolute;
        top: 1em;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right-color: var(--timeline-tree-slot-color, $timeline-tree-slot-color);
      }
    }
  }

  &.timeline-with-line {
    .timeline-tree-slot{
      &::before {
        content: '';
        position: absolute;
        left: calc(var(--timeline-tree-pillar-icon-size, $timeline-tree-pillar-icon-size) - var(--timeline-tree-slot-distance, $timeline-tree-slot-distance));
        top: var(--timeline-tree-pillar-distance, $timeline-tree-pillar-distance);
        height: var(--timeline-tree-pillar-size, $timeline-tree-pillar-size);
        width: var(--timeline-tree-pillar-icon-size, $timeline-tree-pillar-icon-size);
        background-color: var(--timeline-tree-pillar-color, $timeline-tree-pillar-color);
        opacity: var(--timeline-tree-pillar-opacity, $timeline-tree-pillar-opacity);
        z-index: 1;
      }
    }
  }

  &.timeline-with-border{
    gap: 0;

    .timeline-tree-icon{
      top: 50%;
      transform: translateY(-50%);
    }

    .timeline-tree-item {
      background-color: transparent;
    }

    .timeline-tree-slot{
      padding-top: var(--timeline-tree-slot-distance, $timeline-tree-slot-distance);
      padding-bottom: var(--timeline-tree-slot-distance, $timeline-tree-slot-distance);

      &::before{
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        margin-left: calc(var(--timeline-tree-pillar-distance, $timeline-tree-pillar-distance) * -1);
        width: calc(100% - var(--timeline-tree-pillar-distance, $timeline-tree-pillar-distance) - var(--timeline-tree-pillar-size, $timeline-tree-pillar-size));
        height: var(--timeline-tree-pillar-size, $timeline-tree-pillar-size);
        background-color: var(--timeline-tree-pillar-color, $timeline-tree-pillar-color);
        opacity: var(--timeline-tree-pillar-opacity, $timeline-tree-pillar-opacity);
      }

      & > .timeline-tree-slot-date {
        margin-top: 0;
      }

      &:last-child{
        &::before{
          content: none;
        }
      }
    }
  }

  // DESKTOP ONLY
  &.timeline-tree-alternate{
    @media only screen and (min-width: $timeline-tree-threshold) {
      .timeline-tree-icon,
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }

      .timeline-tree-item {
        margin-left: 0;
        width: calc(50% - var(--timeline-tree-pillar-icon-size, $timeline-tree-pillar-icon-size));

        &::before {
          left: 100%;
          border-color: transparent;
          border-left-color: var(--timeline-tree-slot-color, $timeline-tree-slot-color);
        }
      }

      .timeline-tree-slot {
        padding-left: 0;
        // padding-right: calc(var(--timeline-tree-pillar-icon-size, $timeline-tree-pillar-icon-size) + var(--timeline-tree-pillar-distance, $timeline-tree-pillar-distance));

        // slot date can be put inside card (and have custom CSS) or outside and have this CSS
        & > .timeline-tree-slot-date {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 50%;
          margin: 0;
          padding-left: var(--timeline-tree-pillar-icon-size, $timeline-tree-pillar-icon-size);
          z-index: 0;
        }

        &:nth-child(even) {
          & > .timeline-tree-slot-date {
            right: auto;
            left: 0;
            text-align: right;
            padding-left: 0;
            padding-right: var(--timeline-tree-pillar-icon-size, $timeline-tree-pillar-icon-size);
          }

          .timeline-tree-item {
            margin-left: auto;
          }
        }
      }

      &.timeline-with-balloon {
        .timeline-tree-slot {
          &:nth-child(even) {
            .timeline-tree-item {
              &::before {
                left: auto;
                right: 100%;
                border-left-color: transparent;
                border-right-color: var(--timeline-tree-slot-color, $timeline-tree-slot-color);
              }
            }
          }
        }
      }

      &.timeline-with-line {
        .timeline-tree-slot{
          &::before {
            left: auto;
            right: 50%;
          }

          &:nth-child(even) {
            &::before{
              right: auto;
              left: 50%;
            }
          }
        }
      }

    }
  }
}