// TODO resolve or WARNING ratio & fixed height\width spine bug and image position bug
@use "../../../index" as guebbit;
@import "components/molecules/cards/SimpleCard";

$scss-library-prefix: "" !default;
$scss-library-component-name: "book-card" !default;
$scss-library-var-prefix: "" !default;

$book-card-color: #000 !default;
$book-card-tilt: 3 !default;
$book-card-spine-width: 50px !default;
$book-card-overlay: rgba($book-card-color, 0.2) !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  @extend %simple-card;
  --#{$scss-library-var-prefix}color: #{$book-card-color};
  --#{$scss-library-var-prefix}tilt: #{$book-card-tilt};
  --#{$scss-library-var-prefix}spine-width: #{$book-card-spine-width};
  --#{$scss-library-var-prefix}overlay: #{$book-card-overlay};

  //--simple-card-text-color: #{var(--book-card-color, $book-card-color)};
  //--simple-card-active-text-color: #{var(--book-card-color, $book-card-color)};
  //--simple-card-shadow: #{$simple-card-shadow};

  width: auto !important;
  box-shadow: none !important;
  perspective: 1200px;

  .card-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  & > div {
    width: 100%;
    height: 100%;
    // box-shadow: var(--simple-card-shadow);
    transition: 0.75s;
    transform-style: preserve-3d;
  }

  .card-icon {
    width: 100%;
    height: auto;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .book-cover,
  .book-spine{
    z-index: 1;

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--#{$scss-library-var-prefix}overlay);
      z-index: 0;
    }
  }

  .book-cover {
    position: relative;

    .card-top,
    .card-bottom {
      position: absolute;

      img {
        max-height: 100px;
        max-width: 100px;
      }
    }

    .card-top {
      top: 0;
      left: 0;
    }

    .card-bottom {
      bottom: 0;
      right: 0;
    }
  }

  .book-spine {
    position: absolute;
    bottom: 0;
    top: 0;
    width: var(--#{$scss-library-var-prefix}spine-width);
    overflow: hidden;
    transform: rotateY(-90deg) translateX(calc(var(--#{$scss-library-var-prefix}spine-width) * -1));
    transform-origin: 0 0;

    .card-content {
      left: calc(var(--#{$scss-library-var-prefix}spine-width) * 0.75);
      transform: rotateZ(90deg);
      transform-origin: 0 0;
      padding-top: 0;
      padding-bottom: 0;
      white-space: nowrap;
    }

    .card-background {
      top: 0;
    }

    .card-top,
    .card-bottom {
      display: block;
      position: absolute;
    }

    .card-top {
      top: 0;
    }

    .card-bottom {
      bottom: 0;
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    & > div {
      transform:
        translateX(calc(2 * var(--#{$scss-library-var-prefix}tilt)))
        translateZ(calc(7 * var(--#{$scss-library-var-prefix}tilt)))
        translateX(calc(7 * var(--#{$scss-library-var-prefix}tilt)))
        rotateY(calc(12 * var(--#{$scss-library-var-prefix}tilt)));
    }
  }
}
