@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "countdown-card" !default;

@forward "SimpleCard" with (
  $scss-library-prefix: $scss-library-prefix !default,
  $scss-library-var-prefix: $scss-library-var-prefix !default,
  $scss-library-dark-theme-class: $scss-library-dark-theme-class !default,
  $scss-library-component-name: "simple-card",
);
@use "SimpleCard" as inherited;


%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  @extend %#{$scss-library-prefix}simple-card;

  display: inline-flex;
  width: auto;
  padding: var(--#{$scss-library-var-prefix}padding);
  text-align: center;
  line-height: 1.5;

  .timer{
    display: block;
    font-size: 3em;
    font-weight: 600;
  }
}
