@use "../../../index" as guebbit;

$scss-library-component-name: "countdown-card" !default;

@forward "../../../components/molecules/cards/SimpleCard";
@use "../../../components/molecules/cards/SimpleCard" as inherited;

%#{inherited.$scss-library-class-prefix}#{$scss-library-component-name},
.#{inherited.$scss-library-class-prefix}#{$scss-library-component-name} {
  @extend %#{inherited.$scss-library-class-prefix}simple-card;

  display: inline-flex;
  width: auto;
  padding: var(--#{inherited.$scss-library-var-prefix}padding);
  text-align: center;
  line-height: 1.5;

  .timer{
    display: block;
    font-size: 3em;
    font-weight: 600;
  }
}
