@use "../../../index" as guebbit;

$scss-library-class-prefix: "" !default;
$scss-library-component-name: "image-hover-card" !default;
$scss-library-var-prefix: "" !default;

$threshold-mobile: 600px !default;
$duration: 0.5s !default;

@mixin mobile-mode-builder {
  & > .card-image {
    height: 20%;

    & > img {
      transform: translate(-50%,-50%) scale(1.1);
    }
  }

  & > .card-content {
    opacity: 1;
    height: 60%;
  }
}


%#{$scss-library-class-prefix}#{$scss-library-component-name},
.#{$scss-library-class-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});

  position: relative;
  width: 100%;
  transition:
          box-shadow var(--#{$scss-library-var-prefix}duration),
          background-color var(--#{$scss-library-var-prefix}duration);

  & > .card-image {
    position: absolute;
    top: 20%;
    left: 0;
    height: 100%;
    width: 100%;
    transition: height $duration;

    & > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.8);
      transition:
              width var(--#{$scss-library-var-prefix}duration),
              transform var(--#{$scss-library-var-prefix}duration);
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  & > .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
            opacity var(--#{$scss-library-var-prefix}duration),
            height var(--#{$scss-library-var-prefix}duration),
            padding var(--#{$scss-library-var-prefix}duration);
  }

  &.contained {
    & > .card-image {
      overflow: hidden;
    }
  }

  &.mobile-active,
  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    @include mobile-mode-builder;
  }

  // on mobile I want it to be already opened
  @media (max-width: $threshold-mobile){
    @include mobile-mode-builder;
  }
}