@use "../../../index" as guebbit;
@use "../../../components/atoms/buttons/SimpleButton" as button;

$scss-library-prefix: "" !default;
$scss-library-component-name: "simple-card" !default;
$scss-library-var-prefix: "" !default; // $scss-library-prefix + $scss-library-component-name

// main
$color: transparent !default;
$on-color: guebbit.color-contrast($color) !default;

// colors
$background: $color !default;
$text-color: $on-color !default;
$title-color: inherit !default;
$icon-color: currentcolor !default;

// shadow
$shadow-color: #000 !default;
$shadow-text-color: guebbit.color-contrast($shadow-color) !default;
$shadow-title-color: inherit !default;
$shadow-opacity: 0.75 !default;
$shadow:
        0 2px 4px -1px rgba($shadow-color, .2),
        0 4px 5px 0 rgba($shadow-color, .14),
        0 1px 10px 0 rgba($shadow-color, .12) !default;

//borders
$border-color: $text-color !default;
$border-width: 2px !default;
$border-radius: 6px !default;
$image-border-radius: $border-radius !default;

//dividers
$divider-height: 2px !default;
$divider-color: $text-color !default;

// generic
$padding: 24px !default;
$duration: 0.3s !default;

// active-changes
$elevated-shadow:
        0 11px 15px -7px rgba($shadow-color, 0.2),
        0 24px 38px 3px rgba($shadow-color, 0.14),
        0 9px 46px 8px rgba($shadow-color, 0.12) !default;
$active-background: $background !default;
$active-text-color: guebbit.color-contrast($active-background) !default;
$active-title-color: inherit !default;
$active-icon-color: currentcolor !default;
$active-shadow-color: $shadow-color !default;
$active-shadow:
        0 7px 9px -4px rgba($active-shadow-color, .2),
        0 14px 21px 2px rgba($active-shadow-color, .14),
        0 5px 26px 4px rgba($active-shadow-color, .12) !default;


%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}background: #{$background};
  --#{$scss-library-var-prefix}text-color: #{$text-color};
  --#{$scss-library-var-prefix}title-color: #{$title-color};
  --#{$scss-library-var-prefix}icon-color: #{$icon-color};

  --#{$scss-library-var-prefix}shadow-color: #{$shadow-color};
  --#{$scss-library-var-prefix}shadow-text-color: #{$shadow-text-color};
  --#{$scss-library-var-prefix}shadow-title-color: #{$shadow-title-color};
  --#{$scss-library-var-prefix}shadow-opacity: #{$shadow-opacity};
  --#{$scss-library-var-prefix}shadow: #{$shadow};

  --#{$scss-library-var-prefix}border-color: #{$border-color};
  --#{$scss-library-var-prefix}border-width: #{$border-width};
  --#{$scss-library-var-prefix}border-radius: #{$border-radius};
  --#{$scss-library-var-prefix}image-border-radius: #{$image-border-radius};

  --#{$scss-library-var-prefix}divider-height: #{$divider-height};
  --#{$scss-library-var-prefix}divider-color: #{$divider-color};

  --#{$scss-library-var-prefix}padding: #{$padding};
  --#{$scss-library-var-prefix}duration: #{$duration};

  --#{$scss-library-var-prefix}active-background: #{$active-background};
  --#{$scss-library-var-prefix}active-title-color: #{$active-title-color};
  --#{$scss-library-var-prefix}active-text-color: #{$active-text-color};
  --#{$scss-library-var-prefix}active-icon-color: #{$active-icon-color};
  --#{$scss-library-var-prefix}active-shadow-color: #{$active-shadow-color};
  --#{$scss-library-var-prefix}elevated-shadow: #{$elevated-shadow};

  width: 100%;
  background: var(--#{$scss-library-var-prefix}background);
  color: var(--#{$scss-library-var-prefix}text-color);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border-color: var(--#{$scss-library-var-prefix}border-color);
  border-style: solid;
  border-width: 0;
  border-radius: var(--#{$scss-library-var-prefix}border-radius);
  box-shadow: var(--#{$scss-library-var-prefix}shadow);
  transition: all var(--#{$scss-library-var-prefix}duration) ease;

  // background-clip: border-box;
  // backdrop-filter: blur(10px);
  
  & > * {
    &:first-child {
      border-top-left-radius: var(--#{$scss-library-var-prefix}image-border-radius);
      border-top-right-radius: var(--#{$scss-library-var-prefix}image-border-radius);
    }

    &:last-child {
      border-bottom-left-radius: var(--#{$scss-library-var-prefix}image-border-radius);
      border-bottom-right-radius: var(--#{$scss-library-var-prefix}image-border-radius);
    }
  }

  .card-header,
  .card-footer,
  .card-actions {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc(var(--#{$scss-library-var-prefix}padding) * 0.5);
    flex-wrap: wrap;
    transition: all var(--#{$scss-library-var-prefix}duration) ease;
  }

  .card-header {
    padding:
            var(--#{$scss-library-var-prefix}padding)
            var(--#{$scss-library-var-prefix}padding)
            0
            var(--#{$scss-library-var-prefix}padding);
  }

  .card-footer {
    padding:
            0
            var(--#{$scss-library-var-prefix}padding)
            var(--#{$scss-library-var-prefix}padding)
            var(--#{$scss-library-var-prefix}padding);
  }

  .card-content {
    padding: var(--#{$scss-library-var-prefix}padding);
  }

  .card-button{
    @extend %simple-button;

    transition: all var(--#{$scss-library-var-prefix}duration) ease;
  }

  .card-image,
  .card-background {
    z-index: -1;
    object-fit: cover;
    transition: all var(--#{$scss-library-var-prefix}duration) ease;
    flex-shrink: 0;
  }

  .card-background {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .card-title,
  .card-subtitle{
    color: var(--#{$scss-library-var-prefix}title-color);
    transition: all var(--#{$scss-library-var-prefix}duration) ease;
  }

  .card-title {
    font-size: 1.5em;
  }

  .card-subtitle {
    opacity: 0.85;
    font-size: 0.85em;
  }

  .card-icon {
    font-size: 2em;
    width: 1em;
    height: 1em;
    color: var(--#{$scss-library-var-prefix}icon-color);
    fill: currentcolor;
    transition: color var(--#{$scss-library-var-prefix}duration) ease, transform var(--#{$scss-library-var-prefix}duration) ease;
  }

  .card-divider{
    border: 0;
    width: 100%;
    height: var(--#{$scss-library-var-prefix}divider-height);
    background-color: var(--#{$scss-library-var-prefix}divider-color);
  }

  .card-actions {
    &.card-actions-absolute {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 100%;
      max-height: 100%;
      padding: var(--#{$scss-library-var-prefix}padding);
    }

    &.card-actions-center {
      justify-content: center;
    }

    &.card-actions-end {
      justify-content: flex-end;
    }

    &.card-actions-vertical{
      flex-direction: column;
    }
  }

  .card-alert {
    position: absolute;
    top: 0;
    height: 100%;
    padding: var(--#{$scss-library-var-prefix}padding);
    max-width: calc(var(--#{$scss-library-var-prefix}padding) * 4);
    font-size: calc(var(--#{$scss-library-var-prefix}padding) * 2);

    .card-icon {
      font-size: 1em;
    }
  }

  &.alert-left-top,
  &.alert-left-center {
    .card-content {
      padding-left: calc(var(--#{$scss-library-var-prefix}padding) * 4);
    }

    .card-alert {
      left: 0;
    }
  }

  &.alert-center,
  &.alert-right-center,
  &.alert-left-center{
    .card-alert{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.alert-right-top,
  &.alert-right-center{
    .card-content{
      padding-right: calc(var(--#{$scss-library-var-prefix}padding) * 4);
    }

    .card-alert {
      right: 0;
    }
  }

  &.alert-center{
    .card-content{
      padding-top: calc(var(--#{$scss-library-var-prefix}padding) * 4);
    }

    .card-alert{
      height: auto;
      max-width: none;
      width: 100%;
    }
  }

  &.card-boxshadowless {
    box-shadow: none;
  }

  &.card-elevated{
    box-shadow: var(--#{$scss-library-var-prefix}elevated-shadow);
  }

  &.card-shadow {
    color: var(--#{$scss-library-var-prefix}shadow-text-color);

    .card-title,
    .card-subtitle{
      color: var(--#{$scss-library-var-prefix}shadow-title-color);
    }

    .card-button{
      color: inherit;
    }

    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--#{$scss-library-var-prefix}shadow-color);
      opacity: var(--#{$scss-library-var-prefix}shadow-opacity);
      z-index: -1;
    }
  }

  &.card-image-left,
  &.card-image-right{
    flex-direction: row;

    .card-image{
      width: 30%;
    }
  }

  &.card-image-left{
    .card-image{
      border-radius:
              var(--#{$scss-library-var-prefix}image-border-radius)
              0
              0
              var(--#{$scss-library-var-prefix}image-border-radius);
    }
  }

  &.card-image-right{
    .card-image {
      order: 2;
      border-radius:
              0
              var(--#{$scss-library-var-prefix}image-border-radius)
              var(--#{$scss-library-var-prefix}image-border-radius)
              0;
    }
  }

  &:not(.animate-active),
  &.animate-on-active:not(.active),
  &.animate-on-hover:not(:hover) {
    .show-on-active{
      display: none;
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--#{$scss-library-var-prefix}active-background);
    color: var(--#{$scss-library-var-prefix}active-text-color);
    box-shadow: var(--#{$scss-library-var-prefix}active-shadow);

    .card-title,
    .card-subtitle{
      color: var(--#{$scss-library-var-prefix}active-title-color);
    }

    .card-icon {
      color: var(--#{$scss-library-var-prefix}active-icon-color);
      fill: var(--#{$scss-library-var-prefix}active-icon-color);
    }

    .hide-on-active {
      display: none;
    }
  }

  &.border-active,
  &.border-on-active.active,
  &.border-on-hover:hover {
    // border: var(--#{$scss-library-var-prefix}border-color) solid var(--#{$scss-library-var-prefix}border-width);
    border-width: var(--#{$scss-library-var-prefix}border-width);
  }

  &.border-left-active,
  &.border-left-on-active.active,
  &.border-left-on-hover:hover {
      border-left: var(--#{$scss-library-var-prefix}border-color)  solid var(--#{$scss-library-var-prefix}border-width) ;
  }

  &.border-right-active,
  &.border-right-on-active.active,
  &.border-right-on-hover:hover {
      border-right: var(--#{$scss-library-var-prefix}border-color)  solid var(--#{$scss-library-var-prefix}border-width) ;
  }

  &.border-top-active,
  &.border-top-on-active.active,
  &.border-top-on-hover:hover {
      border-top: var(--#{$scss-library-var-prefix}border-color)  solid var(--#{$scss-library-var-prefix}border-width) ;
  }

  &.border-bottom-active,
  &.border-bottom-on-active.active,
  &.border-bottom-on-hover:hover {
      border-bottom: var(--#{$scss-library-var-prefix}border-color)  solid var(--#{$scss-library-var-prefix}border-width) ;
  }

  &.shadow-active,
  &.shadow-on-active.active,
  &.shadow-on-hover:hover {
    box-shadow: var(--#{$scss-library-var-prefix}active-shadow, $active-shadow);
  }

  &.grayscale-active,
  &.grayscale-on-active.active,
  &.grayscale-on-hover:hover {
    .card-image,
    .card-background {
      filter: grayscale(1);
    }
  }

  &.grayscale-reverse-active,
  &.grayscale-reverse-on-active.active,
  &.grayscale-reverse-on-hover:hover {
    .card-image,
    .card-background {
      filter: grayscale(0);
    }
  }
}
