@import "index";
@import "components/atoms/buttons/SimpleButton";


$scss-library-prefix: "" !default;
$simple-card-background: transparent !default;
$simple-card-text-color: guebbit-contrast($simple-card-background) !default;
$simple-card-title-color: inherit !default;
$simple-card-shadow-color: #000 !default;
$simple-card-shadow-text-color: guebbit-contrast($simple-card-shadow-color) !default;
$simple-card-shadow-title-color: inherit !default;
$simple-card-shadow-opacity: 0.75 !default;
$simple-card-shadow:
        0 2px 4px -1px rgba($simple-card-shadow-color, .2),
        0 4px 5px 0 rgba($simple-card-shadow-color, .14),
        0 1px 10px 0 rgba($simple-card-shadow-color, .12) !default;
$simple-card-icon-color: currentcolor !default;
$simple-card-border-color: $simple-card-text-color !default;
$simple-card-border-width: 2px !default;
$simple-card-border-radius: 6px !default;
$simple-card-image-border-radius: $simple-card-border-radius !default;
$simple-card-padding: 24px !default;
$simple-card-duration: 0.3s !default;
$simple-card-divider-height: 2px !default;
$simple-card-divider-color: $simple-card-text-color !default;
// active-changes
$simple-card-active-background: $simple-card-background !default;
$simple-card-active-text-color: guebbit-contrast($simple-card-active-background) !default;
$simple-card-active-title-color: inherit !default;
$simple-card-active-icon-color: currentcolor !default;
$simple-card-active-shadow-color: $simple-card-shadow-color !default;
$simple-card-active-shadow:
        0 7px 9px -4px rgba($simple-card-active-shadow-color, .2),
        0 14px 21px 2px rgba($simple-card-active-shadow-color, .14),
        0 5px 26px 4px rgba($simple-card-active-shadow-color, .12) !default;
$simple-card-shadow-elevated:
        0 11px 15px -7px rgba($simple-card-shadow-color, 0.2),
        0 24px 38px 3px rgba($simple-card-shadow-color, 0.14),
        0 9px 46px 8px rgba($simple-card-shadow-color, 0.12) !default;


%#{$scss-library-prefix}simple-card,
.#{$scss-library-prefix}simple-card {
  width: 100%;
  background: var(--simple-card-background, $simple-card-background);
  color: var(--simple-card-text-color, $simple-card-text-color);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border-color: var(--simple-card-border-color, $simple-card-border-color);
  border-style: solid;
  border-width: 0;
  border-radius: var(--simple-card-border-radius, $simple-card-border-radius);
  box-shadow: var(--simple-card-shadow, $simple-card-shadow);
  transition: all var(--simple-card-duration, $simple-card-duration) ease;

  // background-clip: border-box;
  // backdrop-filter: blur(10px);
  
  & > * {
    &:first-child {
      border-top-left-radius: var(--simple-card-image-border-radius, $simple-card-image-border-radius);
      border-top-right-radius: var(--simple-card-image-border-radius, $simple-card-image-border-radius);
    }

    &:last-child {
      border-bottom-left-radius: var(--simple-card-image-border-radius, $simple-card-image-border-radius);
      border-bottom-right-radius: var(--simple-card-image-border-radius, $simple-card-image-border-radius);
    }
  }

  .card-header,
  .card-footer,
  .card-actions {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc(var(--simple-card-padding, $simple-card-padding) * 0.5);
    flex-wrap: wrap;
    transition: all var(--simple-card-duration, $simple-card-duration) ease;
  }

  .card-header {
    padding: var(--simple-card-padding, $simple-card-padding) var(--simple-card-padding, $simple-card-padding) 0 var(--simple-card-padding, $simple-card-padding);
  }

  .card-footer {
    padding: 0 var(--simple-card-padding, $simple-card-padding) var(--simple-card-padding, $simple-card-padding) var(--simple-card-padding, $simple-card-padding);
  }

  .card-content {
    padding: var(--simple-card-padding, $simple-card-padding);
  }

  .card-button{
    @extend %simple-button;

    transition: all var(--simple-card-duration, $simple-card-duration) ease;
  }

  .card-image,
  .card-background {
    z-index: -1;
    object-fit: cover;
    transition: all var(--simple-card-duration, $simple-card-duration) ease;
    flex-shrink: 0;
  }

  .card-background {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .card-title,
  .card-subtitle{
    color: var(--simple-card-title-color, $simple-card-title-color);
    transition: all var(--simple-card-duration, $simple-card-duration) ease;
  }

  .card-title {
    font-size: 1.5em;
  }

  .card-subtitle {
    opacity: 0.85;
    font-size: 0.85em;
  }

  .card-icon {
    font-size: 2em;
    width: 1em;
    height: 1em;
    color: var(--simple-card-icon-color, $simple-card-icon-color);
    fill: currentcolor;
    transition: color var(--simple-card-duration, $simple-card-duration) ease, transform var(--simple-card-duration, $simple-card-duration) ease;
  }

  .card-divider{
    border: 0;
    width: 100%;
    height: var(--simple-card-divider-height, $simple-card-divider-height);
    background-color: var(--simple-card-divider-color, $simple-card-divider-color);
  }

  .card-actions {
    &.card-actions-absolute {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 100%;
      max-height: 100%;
      padding: var(--simple-card-padding, $simple-card-padding);
    }

    &.card-actions-center {
      justify-content: center;
    }

    &.card-actions-end {
      justify-content: flex-end;
    }

    &.card-actions-vertical{
      flex-direction: column;
    }
  }

  .card-alert {
    position: absolute;
    top: 0;
    height: 100%;
    padding: var(--simple-card-padding, $simple-card-padding);
    max-width: calc(var(--simple-card-padding, $simple-card-padding) * 4);
    font-size: calc(var(--simple-card-padding, $simple-card-padding) * 2);

    .card-icon {
      font-size: 1em;
    }
  }

  &.alert-left-top,
  &.alert-left-center {
    .card-content {
      padding-left: calc(var(--simple-card-padding, $simple-card-padding) * 4);
    }

    .card-alert {
      left: 0;
    }
  }

  &.alert-center,
  &.alert-right-center,
  &.alert-left-center{
    .card-alert{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.alert-right-top,
  &.alert-right-center{
    .card-content{
      padding-right: calc(var(--simple-card-padding, $simple-card-padding) * 4);
    }

    .card-alert {
      right: 0;
    }
  }

  &.alert-center{
    .card-content{
      padding-top: calc(var(--simple-card-padding, $simple-card-padding) * 4);
    }

    .card-alert{
      height: auto;
      max-width: none;
      width: 100%;
    }
  }

  &.card-boxshadowless {
    box-shadow: none;
  }

  &.card-elevated{
    box-shadow: var(--pricing-card-shadow-elevated, $simple-card-shadow-elevated);
  }

  &.card-shadow {
    color: var(--simple-card-shadow-text-color, $simple-card-shadow-text-color);

    .card-title,
    .card-subtitle{
      color: var(--simple-card-shadow-title-color, $simple-card-shadow-title-color);
    }

    .card-button{
      color: inherit;
    }

    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--simple-card-shadow-color, $simple-card-shadow-color);
      opacity: var(--simple-card-shadow-opacity, $simple-card-shadow-opacity);
      z-index: -1;
    }
  }

  &.card-image-left,
  &.card-image-right{
    flex-direction: row;

    .card-image{
      width: 30%;
    }
  }

  &.card-image-left{
    .card-image{
      border-radius: var(--simple-card-image-border-radius, $simple-card-image-border-radius) 0 0 var(--simple-card-image-border-radius, $simple-card-image-border-radius);
    }
  }

  &.card-image-right{
    .card-image {
      order: 2;
      border-radius: 0 var(--simple-card-image-border-radius, $simple-card-image-border-radius) var(--simple-card-image-border-radius, $simple-card-image-border-radius) 0;
    }
  }

  &:not(.animate-active),
  &.animate-on-active:not(.active),
  &.animate-on-hover:not(:hover) {
    .show-on-active{
      display: none;
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--simple-card-active-background, $simple-card-active-background);
    color: var(--simple-card-active-text-color, $simple-card-active-text-color);
    box-shadow: var(--simple-card-active-shadow, $simple-card-active-shadow);

    .card-title,
    .card-subtitle{
      color: var(--simple-card-active-title-color, $simple-card-active-title-color);
    }

    .card-icon {
      color: var(--simple-card-active-icon-color, $simple-card-active-icon-color);
      fill: var(--simple-card-active-icon-color, $simple-card-active-icon-color);
    }

    .hide-on-active {
      display: none;
    }
  }

  &.border-active,
  &.border-on-active.active,
  &.border-on-hover:hover {
    // border: var(--simple-card-border-color, $simple-card-border-color) solid var(--simple-card-border-width, $simple-card-border-width);
    border-width: var(--simple-card-border-width, $simple-card-border-width);
  }

  &.border-left-active,
  &.border-left-on-active.active,
  &.border-left-on-hover:hover {
      border-left: var(--simple-card-border-color, $simple-card-border-color)  solid var(--simple-card-border-width, $simple-card-border-width) ;
  }

  &.border-right-active,
  &.border-right-on-active.active,
  &.border-right-on-hover:hover {
      border-right: var(--simple-card-border-color, $simple-card-border-color)  solid var(--simple-card-border-width, $simple-card-border-width) ;
  }

  &.border-top-active,
  &.border-top-on-active.active,
  &.border-top-on-hover:hover {
      border-top: var(--simple-card-border-color, $simple-card-border-color)  solid var(--simple-card-border-width, $simple-card-border-width) ;
  }

  &.border-bottom-active,
  &.border-bottom-on-active.active,
  &.border-bottom-on-hover:hover {
      border-bottom: var(--simple-card-border-color, $simple-card-border-color)  solid var(--simple-card-border-width, $simple-card-border-width) ;
  }

  &.shadow-active,
  &.shadow-on-active.active,
  &.shadow-on-hover:hover {
    box-shadow: var(--simple-card-active-shadow, $simple-card-active-shadow);
  }

  &.grayscale-active,
  &.grayscale-on-active.active,
  &.grayscale-on-hover:hover {
    .card-image,
    .card-background {
      filter: grayscale(1);
    }
  }

  &.grayscale-reverse-active,
  &.grayscale-reverse-on-active.active,
  &.grayscale-reverse-on-hover:hover {
    .card-image,
    .card-background {
      filter: grayscale(0);
    }
  }
}
