@import "index";

$scss-library-prefix: "" !default;
$simple-card-color: #000 !default;
$simple-card-background: transparent !default;
$simple-card-text-color: guebbit-contrast($simple-card-background) !default;
$simple-card-shadow-color: #000 !default;
$simple-card-icon-color: $simple-card-color !default;
$simple-card-border-color: $simple-card-color !default;
$simple-card-border-width: 6px !default;
$simple-card-border-radius: 6px !default;
$simple-card-image-border-radius: $simple-card-border-radius !default;
$simple-card-padding: 24px !default;
$simple-card-duration: 0.3s !default;


.#{$scss-library-prefix}simple-card {
  width: 100%;
  background: $simple-card-background;
  color: $simple-card-text-color;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: $simple-card-border-radius;
  box-shadow: 0 .5rem 1rem rgba($simple-card-shadow-color, 0.15);
  transition: all $simple-card-duration ease-out;

  & > * {
    &:first-child {
      border-top-left-radius: $simple-card-image-border-radius;
      border-top-right-radius: $simple-card-image-border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $simple-card-image-border-radius;
      border-bottom-right-radius: $simple-card-image-border-radius;
    }
  }

  .card-header,
  .card-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $simple-card-padding * 0.5;
    flex-wrap: wrap;
  }

  .card-header {
    padding: $simple-card-padding $simple-card-padding 0 $simple-card-padding;

    .card-actions {
      position: absolute;
      top: 0;
      right: 0;
      padding: $simple-card-padding;
    }
  }

  .card-actions {
    &.card-actions-center {
      justify-content: center;
    }

    &.card-actions-end {
      justify-content: flex-end;
    }
  }

  .card-content {
    padding: $simple-card-padding;
  }

  .card-image,
  .card-background {
    transition: $simple-card-duration ease-out;
  }

  .card-image{
    z-index: -1;
  }

  .card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .card-title {
    font-size: 1.5em;
  }

  .card-subtitle {
    opacity: 0.85;
    font-size: 0.85em;
  }

  .card-icon {
    font-size: 2em;
    width: 1em;
    height: 1em;
    color: $simple-card-icon-color;
    fill: $simple-card-icon-color;
  }

  .card-alert {
    position: absolute;
    top: 0;
    height: 100%;
    padding: $simple-card-padding;
    max-width: $simple-card-padding * 4;

    .card-icon {
      font-size: $simple-card-padding * 2;
    }
  }

  &.alert-left-top,
  &.alert-left-center {
    .card-content {
      padding-left: $simple-card-padding * 4;
    }

    .card-alert {
      left: 0;
    }
  }

  &.alert-center,
  &.alert-right-center,
  &.alert-left-center{
    .card-alert{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.alert-right-top,
  &.alert-right-center{
    .card-content{
      padding-right: $simple-card-padding * 4;
    }

    .card-alert {
      right: 0;
    }
  }

  &.alert-center{
    .card-content{
      padding-top: $simple-card-padding * 4;
    }

    .card-alert{
      height: auto;
      max-width: none;
      width: 100%;
    }
  }

  &.card-borderless {
    box-shadow: none;
  }

  &.card-shadow {
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $simple-card-shadow-color;
      opacity: 0.5;
      z-index: -1;
    }
  }

  &:hover {
    transition-timing-function: ease-in;

    .card-image,
    .card-background {
      transition-timing-function: ease-in;
    }
  }

  &.border-active,
  &.border-on-active.active,
  &.border-on-hover:hover {
    .card-header,
    .card-content {
      border-left: $simple-card-border-color solid $simple-card-border-width;
    }
  }

  &.shadow-active,
  &.shadow-on-active.active,
  &.shadow-on-hover:hover {
    box-shadow: 0 0 2em rgba($simple-card-shadow-color, 0.5) !important;
  }

  &.grayscale-active,
  &.grayscale-on-active.active,
  &.grayscale-on-hover:hover {
    .card-image,
    .card-background {
      filter: grayscale(1);
    }
  }

  &.grayscale-reverse-active,
  &.grayscale-reverse-on-active.active,
  &.grayscale-reverse-on-hover:hover {
    .card-image,
    .card-background {
      filter: grayscale(0);
    }
  }
}
