@use '../../../_generics' as generics;
@use 'variables' as vars;

$component-variables-map: (
    line-height: vars.$line-height
);

@mixin svg-title-architecture($prefix: vars.$css-ui-component-prefix) {
    @include generics.generate-vars($component-variables-map, $prefix);

    @include generics.base-layout($prefix);

    line-height: 1.1;
    text-align: center;
    position: relative;
    text-decoration: none;
    text-shadow:
        0 2px 4px rgba(var(--#{vars.$css-ui-var-prefix}main-color) / var(--#{vars.$css-ui-var-prefix}main-color-opacity, 1)),
        0 4px 5px rgba(var(--#{vars.$css-ui-var-prefix}main-color) / var(--#{vars.$css-ui-var-prefix}main-color-opacity, 1)),
        0 1px 10px rgba(var(--#{vars.$css-ui-var-prefix}main-color) / var(--#{vars.$css-ui-var-prefix}main-color-opacity, 1));
    z-index: 1;

    .#{generics.$css-ui-class-prefix}svg-title-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        background-color: rgba(var(--#{vars.$css-ui-var-prefix}main-color) / var(--#{vars.$css-ui-var-prefix}main-color-opacity, 1));
        fill: currentcolor;
        fill: rgba(var(--#{vars.$css-ui-var-prefix}main-color) / var(--#{vars.$css-ui-var-prefix}main-color-opacity, 1));
        stroke: currentcolor;
        stroke: rgba(var(--#{vars.$css-ui-var-prefix}main-color) / var(--#{vars.$css-ui-var-prefix}main-color-opacity, 1));
        height: 1em;
        width: 1em;
    }

    &.#{generics.$css-ui-class-prefix}svg-title-line {
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -2;
            background-color: rgba(var(--#{vars.$css-ui-var-prefix}main-color) / var(--#{vars.$css-ui-var-prefix}main-color-opacity, 1));
            height: var(--#{$prefix}line-height);
            width: 100%;
        }
    }

    &.#{generics.$css-ui-class-prefix}svg-title-custom-bg {
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            width: 100%;
            height: 100%;
            background: rgba(var(--#{vars.$css-ui-var-prefix}main-color) / var(--#{vars.$css-ui-var-prefix}main-color-opacity, 1)) no-repeat var(--#{$prefix}image);
            background-position: 50% 50%;
        }
    }

}
