@use '@guebbit/css-toolkit' as guebbit;

/*
@include guebbit.create-class("text-align", ("right", "left", "center"), true);

@include guebbit.create-helper-margin(
            ((auto, auto), (6, 6px), (12, 12px), (24, 24px), (36, 36px), (48, 48px))
);

@include guebbit.create-helper-padding(
            ((6, 6px), (12, 12px), (24, 24px), (36, 36px), (48, 48px))
);

@include guebbit.create-class(
        "font-size",
            ((n2, 0.6em), (n1, 0.8em), (1, 1.2em), (2, 1.5em), (3, 2em))
);
*/

/**
 * Custom CSS to extend vitepress docs
 */
.vp-code{
  max-height: 500px;
  overflow: auto;
}

.vp-doc h2:not(:where(.vp-raw *)){
  margin-top: 5em;
}

.dev-section{
  position: relative;
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px 12px;
  margin: 48px 0;

  & > * {
    flex-shrink: 0;
    max-width: 100%;
    // min-width: 200px;
  }

  &.with-border{
    border: 1px solid var(--vp-c-divider-light);
  }

  &.with-restrictions {
    & > * {
      max-width: 400px;
    }
  }

  &.with-overflow,
  &.without-restrictions {
    & > * {
      width: 100%;
    }
  }

  &.with-overflow {
    max-width: none;
    width: 1000px;
  }
}

hr.divider{
  margin: 48px 0;
}