@use '../../../_generics' as generics;
@use '../../atoms/card/architecture' as card-arch;
@use '../../atoms/card/variables' as card-vars;
@use 'variables' as vars;

$component-map: (
    height: vars.$height
);
$card-color-map: (
    border-width: card-vars.$border-width,
    border-radius: card-vars.$border-radius,
    rounded-border-radius: card-vars.$rounded-border-radius,
    image-border-radius: card-vars.$image-border-radius,
    image-aspect-ratio: card-vars.$image-aspect-ratio,
    divider-height: card-vars.$divider-height,
    alert-size: card-vars.$alert-size,
    padding: card-vars.$padding,
    overlay-opacity: card-vars.$overlay-opacity,
    active-overlay-opacity: card-vars.$active-overlay-opacity
);

@mixin image-slash-card-architecture($prefix: vars.$css-ui-component-prefix) {
    @include generics.generate-vars($component-map, $prefix);
    @include generics.base-layout($prefix);
    @include generics.generate-vars($card-color-map, $prefix);
    @include card-arch.card-architecture($prefix);

    flex-direction: row;
    min-height: var(--#{$prefix}height);

    .#{generics.$css-ui-class-prefix}card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .#{generics.$css-ui-class-prefix}card-media-wrapper {
        position: relative;
        width: 55%;
        flex-shrink: 0;
        border-radius: var(--#{$prefix}border-radius, #{card-vars.$border-radius}) 0 0 var(--#{$prefix}border-radius, #{card-vars.$border-radius});

        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            border-style: solid;
            border-width: var(--#{$prefix}height) calc(var(--#{$prefix}height) * 0.2) 0 0;
            border-color: transparent generics.base-parameter-rgba(main-background, $color-fallback: 255 255 255, $opacity-token: false) transparent transparent;
        }

        .#{generics.$css-ui-class-prefix}card-actions {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            flex-direction: column;
            z-index: 2;
            font-size: 1.5em;

            & > * {
                background: generics.base-parameter-rgba(main-color, $opacity-token: false);
                color: generics.base-parameter-rgba(on-main-color, $color-fallback: var(--#{vars.$css-ui-var-prefix}main-color), $opacity-token: false);

                &:nth-child(1) {
                    top: 15%;
                    right: -15%;
                }

                &:nth-child(2) {
                    top: 30%;
                    right: 30%;
                }

                &:nth-child(3) {
                    top: 45%;
                    right: 90%;
                }

                &:nth-child(n + 4) {
                    display: none;
                }
            }
        }
    }

    &.#{generics.$css-ui-class-prefix}card-media-right {
        .#{generics.$css-ui-class-prefix}card-media-wrapper {
            order: 2;
            border-radius: 0 var(--#{$prefix}border-radius, #{card-vars.$border-radius}) var(--#{$prefix}border-radius, #{card-vars.$border-radius}) 0;

            &::after {
                border-width: var(--#{$prefix}height) 0 0 calc(var(--#{$prefix}height) * 0.2);
                border-color: transparent transparent transparent generics.base-parameter-rgba(main-background, $color-fallback: 255 255 255, $opacity-token: false);
            }

            .#{generics.$css-ui-class-prefix}card-actions {
                right: auto;
                left: 0;

                & > * {
                    &:nth-child(1) {
                        left: -15%;
                    }

                    &:nth-child(2) {
                        left: 30%;
                    }

                    &:nth-child(3) {
                        left: 90%;
                    }
                }
            }
        }
    }

}
