@use '../../../_generics/variables' as globals;
@forward '../../../_generics/variables';

$css-ui-component-name: 'image-slash-card' !default;

$height: 400px !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';
