@use '../../../_generics' as generics;
@use 'variables' as vars;

/// -----------------------------------------------------------------------------
/// Component token map
/// -----------------------------------------------------------------------------
$component-variables-map: (
    size: vars.$size,
    border-width: vars.$border-width,
    angle: vars.$angle,
    translate: vars.$translate
);

@mixin highlight-belt-architecture($prefix: vars.$css-ui-component-prefix) {
    @include generics.generate-vars($component-variables-map, $prefix);

    @include generics.base-layout($prefix);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(var(--#{$prefix}translate));
    width: calc(100% + var(--#{$prefix}angle) + var(--#{$prefix}border-width) - 6px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    min-height: var(--#{$prefix}size);
    border-radius: 4px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        background-color: transparent;
    }

    &.#{generics.$css-ui-class-prefix}bend-top {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    &.#{generics.$css-ui-class-prefix}bend-bottom {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.#{generics.$css-ui-class-prefix}bend-bottom-left {
        border-bottom-left-radius: 0;
    }

    &.#{generics.$css-ui-class-prefix}bend-bottom-right {
        border-bottom-right-radius: 0;
    }

    &.#{generics.$css-ui-class-prefix}bend-top-left {
        border-top-left-radius: 0;
    }

    &.#{generics.$css-ui-class-prefix}bend-top-right {
        border-top-right-radius: 0;
    }

    &.#{generics.$css-ui-class-prefix}bend-bottom,
    &.#{generics.$css-ui-class-prefix}bend-bottom-left {
        &::before {
            top: 100%;
            border-top: var(--#{$prefix}border-width) solid currentColor;
            border-top-color: rgba(var(--#{vars.$css-ui-var-prefix}main-color) / var(--#{vars.$css-ui-var-prefix}main-color-opacity, 1));
        }
    }

    &.#{generics.$css-ui-class-prefix}bend-bottom,
    &.#{generics.$css-ui-class-prefix}bend-bottom-right {
        &::after {
            top: 100%;
            border-top: var(--#{$prefix}border-width) solid currentColor;
            border-top-color: rgba(var(--#{vars.$css-ui-var-prefix}main-color) / var(--#{vars.$css-ui-var-prefix}main-color-opacity, 1));
        }
    }

    &.#{generics.$css-ui-class-prefix}bend-top,
    &.#{generics.$css-ui-class-prefix}bend-top-left {
        &::before {
            bottom: 100%;
            border-bottom: var(--#{$prefix}border-width) solid currentColor;
            border-bottom-color: rgba(var(--#{vars.$css-ui-var-prefix}main-color) / var(--#{vars.$css-ui-var-prefix}main-color-opacity, 1));
        }
    }

    &.#{generics.$css-ui-class-prefix}bend-top,
    &.#{generics.$css-ui-class-prefix}bend-top-right {
        &::after {
            bottom: 100%;
            border-bottom: var(--#{$prefix}border-width) solid currentColor;
            border-bottom-color: rgba(var(--#{vars.$css-ui-var-prefix}main-color) / var(--#{vars.$css-ui-var-prefix}main-color-opacity, 1));
        }
    }

    &.#{generics.$css-ui-class-prefix}bend-top,
    &.#{generics.$css-ui-class-prefix}bend-bottom,
    &.#{generics.$css-ui-class-prefix}bend-bottom-left,
    &.#{generics.$css-ui-class-prefix}bend-top-left {
        &::before {
            left: 0;
            border-left: var(--#{$prefix}border-width) solid transparent;
        }
    }

    &.#{generics.$css-ui-class-prefix}bend-top,
    &.#{generics.$css-ui-class-prefix}bend-bottom,
    &.#{generics.$css-ui-class-prefix}bend-bottom-right,
    &.#{generics.$css-ui-class-prefix}bend-top-right {
        &::after {
            right: 0;
            border-right: var(--#{$prefix}border-width) solid transparent;
        }
    }

}
