$great-blockquote-color: #00bcd4 !default;
$great-blockquote-cite-text: #fff !default;

.great-blockquote {
  position: relative;
  z-index: 1;
  font-size: 1.5em;

  cite {
    font-size: 0.5em;
    font-style: normal;
    background: $great-blockquote-color;
    color: $great-blockquote-cite-text;
    height: 3em;
    line-height: 3em;
    display: inline-block;
    padding: 0 24px;
    margin-top: 2em;
  }

  p {
    text-align: center;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &::before,
  &::after {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 4em;
    line-height: 1;
    color: $great-blockquote-color;
  }

  &::before {
    content: "\201C";
    top: -0.3em;
    left: -0.5em;
  }

  &::after {
    content: "\201D";
    bottom: -0.3em;
    right: -0.5em;
  }
}
