$material-quote-border: 6px !default;
$material-quote-color: #00bcd4 !default;

.simple-blockquote {
  position: relative;
  font-style: italic;
  margin: 2em auto;
  padding: 1em 2.5em 2em;
  font-size: 1.2em;
  border: none;

  cite,
  &::before,
  &::after {
    color: $material-quote-color;
    font-family: Georgia, serif;
    font-size: 4em;
    position: absolute;
  }

  &::before,
  &::after {
    line-height: 0;
  }

  &::before {
    content: "\201C";
    padding-left: 0.1em;
    left: -0.1em;
    top: 0.5em;
  }

  &::after {
    padding-right: 0.1em;
    right: 0.1em;
    bottom: 0;
  }

  cite {
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 0.2em;

    &::before {
      color: inherit;
      content: "\2014 \2009";
    }
  }

  // ------- CITE modes -------

  &.right-cite {
    cite {
      text-align: right;
    }
  }

  &.center-cite {
    cite {
      text-align: center;
    }
  }

  // ------- BORDER modes -------

  &.border-right {
    border-right: $material-quote-border solid $material-quote-color;
    padding-right: 3em;
  }

  &.border-left {
    border-left: $material-quote-border solid $material-quote-color;
    padding-left: 3em;
  }

  &.border-top {
    border-top: $material-quote-border solid $material-quote-color;
    padding-top: 2em;
  }

  &.border-bottom {
    border-bottom: $material-quote-border solid $material-quote-color;
    padding-bottom: 3em;
  }

  // ------- OTHER modes -------
  &.full {
    background-color: rgba($material-quote-color, 0.1);
  }

  &.no-quote {
    &::before,
    &::after {
      content: none;
    }
  }

  &.center-quote {
    padding-top: 4em;
    padding-bottom: 6em;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }

    &::before {
      top: 0.5em;
    }

    &::after {
      bottom: 0;
    }
  }

  &.double-quote {
    &::after {
      content: "\201D";
    }
  }
}
