@use '../../../_generics/variables' as globals;

$css-ui-component-name: 'simple-panel' !default;

$duration: 0.3s !default;
$overlay-opacity: 0.75 !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';
