@use '../../../_generics/variables' as globals;

$css-ui-component-name: 'simple-card' !default;

$border-width: 6px !default;
$border-radius: 6px !default;
$rounded-border-radius: 30px !default;
$image-border-radius: 6px !default;
$image-aspect-ratio: null !default;
$divider-height: 2px !default;
$alert-size: 1.5em !default;
$padding: 24px !default;
$duration: globals.$duration !default;
$overlay-opacity: 0.75 !default;
$active-overlay-opacity: 0.75 !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';
