@use '../../../_generics' as generics;
@use 'variables' as vars;

/// -----------------------------------------------------------------------------
/// Component token map
/// -----------------------------------------------------------------------------
$component-map: (
    size: vars.$size,
    duration: vars.$duration
);

/// Internal placeholder for the dot/point element
%#{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}point {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 0.15em;
    height: 0.15em;
    transform: translateX(-50%);
    background-color: generics.base-parameter-rgba(main-color);
    border-radius: 100%;
    box-sizing: border-box;
}

@mixin scroll-down-mouse-architecture($prefix: vars.$css-ui-component-prefix) {
    @include generics.generate-vars($component-map, $prefix);

    @include generics.base-layout($prefix);

    position: relative;
    display: block;
    font-size: var(--#{$prefix}size);
    height: 1.1em;

    & > * {
        position: absolute;
        top: 0;
        left: 50%;
        width: 30px;
        height: 50px;
        margin-left: -15px;
        border: 2px solid currentcolor;
        border-color: generics.base-parameter-rgba(main-color);
        border-radius: 50px;
        box-sizing: border-box;
        transition: border-color var(--#{$prefix}duration);

        &::before {
            @extend %#{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}point;

            content: '';
        }
    }

    &.#{generics.$css-ui-class-prefix}mouse-with-chevron {
        & > * {
            &::after {
                position: absolute;
                top: auto;
                left: 50%;
                border-left: 1px solid currentcolor;
                border-bottom: 1px solid currentcolor;
                border-left-color: generics.base-parameter-rgba(main-color);
                border-bottom-color: generics.base-parameter-rgba(main-color);
                box-sizing: border-box;
                transform: rotate(-45deg);
                bottom: -0.4em;
                width: 0.4em;
                height: 0.4em;
                content: '';
                margin-left: -0.2em;
            }
        }
    }

    &.#{generics.$css-ui-class-prefix}mouse-custom-dot {
        & > * {
            &::before {
                @extend %#{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}point;

                content: attr(data-label);
                display: flex;
                justify-content: center;
                background: transparent;
                font-size: 0.5em;
            }
        }
    }

    @include generics.interaction-states() {
        & > * {
            border-color: currentcolor;
            border-color: generics.base-parameter-active-rgba(main-color);

            &::before {
                background-color: generics.base-parameter-active-rgba(main-color);
                animation: #{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}-animation calc(var(--#{$prefix}duration) * 1.5) infinite;
            }
        }

        &.#{generics.$css-ui-class-prefix}mouse-custom-dot {
            & > * {
                &::before {
                    background-color: transparent;
                }
            }
        }

        &.#{generics.$css-ui-class-prefix}mouse-with-chevron {
            & > * {
                &::after {
                    border-color: currentcolor;
                    border-color: generics.base-parameter-active-rgba(main-color);
                    animation: #{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}-animation-chevron calc(var(--#{$prefix}duration) * 1.5) infinite;
                }
            }
        }
    }

    @keyframes #{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}-animation {
        0% {
            opacity: 1;
            transform: translate(-50%, 0);
        }

        100% {
            opacity: 0;
            transform: translate(-50%, 20px);
        }
    }

    @keyframes #{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}-animation-chevron {
        0% {
            opacity: 1;
            transform: translateY(0) rotate(-45deg);
        }

        100% {
            opacity: 0;
            transform: translateY(10px) rotate(-45deg);
        }
    }

}
