@use 'sass:list';
@use 'variables' as globals;
@use 'utils' as generics;
@use 'csstoolkit' as guebbit;

@mixin color-parameters($prefix: '') {
    background-color: var(--#{$prefix}background);
    color: var(--#{$prefix}on-background);
}

// WARNING: Should not have the component name in the prefix
@mixin color-parameters-main($prefix: '') {
    background-color: rgba(var(--#{$prefix}main-color) / var(--#{$prefix}main-color-opacity, 1));
    color: rgba(var(--#{$prefix}on-main-color) / var(--#{$prefix}on-main-color-opacity, 1));

    @include generics.interaction-states {
        background-color: rgba(var(--#{$prefix}active-main-color) / var(--#{$prefix}active-main-color-opacity, 1));
        color: rgba(var(--#{$prefix}active-on-main-color) / var(--#{$prefix}active-on-main-color-opacity, 1));
    }
}

// WARNING: Should not have the component name in the prefix
@mixin border-parameters-main($prefix: '') {
    border-color: rgba(var(--#{$prefix}main-color) / var(--#{$prefix}main-color-opacity, 1));

    @include generics.interaction-states {
        border-color: rgba(var(--#{$prefix}active-main-color) / var(--#{$prefix}active-main-color-opacity, 1));
    }
}

/// Builds a complete `transition` shorthand declaration for one or more CSS properties.
///
/// This mixin generates the final CSS `transition` value automatically,
/// so you can define transitions consistently using:
/// - a list of properties,
/// - a shared duration value (or CSS variable),
/// - and a timing function.
@mixin transition-properties($properties: all, $value, $timing: ease) {
    $transition-list: ();

    @if $properties == all {
        transition: all #{guebbit.resolve-var($value)} #{$timing};
    } @else {
        @each $prop in $properties {
            $transition-list: list.append($transition-list, #{$prop} #{guebbit.resolve-var($value)} #{$timing}, comma);
        }

        transition: $transition-list;
    }
}

@mixin base-layout($prefix: '') {
    @include color-parameters-main();

    padding: var(--#{$prefix}padding);
    margin: var(--#{$prefix}margin);
    border-color: var(--#{$prefix}border-color);
    border-radius: var(--#{$prefix}border-radius);
    border-width: var(--#{$prefix}border-width);
}
