@mixin position-base-layout($z-index: 1, $position: relative) {
    position: $position;
    z-index: $z-index;
}

@mixin position-full-layout($z-index: 1, $position: relative){
    @include position-base-layout($z-index, $position);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin position-center-layout($z-index: 1, $position: relative){
    @include position-base-layout($z-index, $position);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

@mixin pseudo-fill-base-layout($z-index: 1, $content: '') {
    content: $content;
    @include position-base-layout($z-index, 'absolute');
    @include position-full-layout($z-index, 'absolute');
}
