// Global CSS-UI theme/token prefixes shared across modules.
$css-ui-dark-theme-class: 'theme--dark' !default;
$css-ui-var-prefix: '' !default;
$css-ui-root-prefix: 'g-theme-' !default;
$css-ui-base-prefix: '' !default;
$css-ui-semantic-prefix: '' !default;
$css-ui-component-prefix: '' !default;
$css-ui-state-prefix: '' !default;
$css-ui-class-prefix: '' !default;
