// =============================================================================
// SvgTitle – Component Entry
// =============================================================================
@use '../../../_generics' as generics;
@use 'variables' as vars;
@forward 'variables';


$component-color-map: (
    line-height: vars.$line-height,
);

%#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name},
.#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
    @include generics.generate-vars($component-color-map, vars.$css-ui-component-prefix);

    @include generics.base-layout(vars.$css-ui-component-prefix);
    line-height: 1.1;
    text-align: center;
    position: relative;
    text-decoration: none;
    text-shadow:
        0 2px 4px var(--#{vars.$css-ui-prefix}main-color, currentColor),
        0 4px 5px var(--#{vars.$css-ui-prefix}main-color, currentColor),
        0 1px 10px var(--#{vars.$css-ui-prefix}main-color, currentColor);
    z-index: 1;

    .svg-title-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        background-color: var(--#{vars.$css-ui-prefix}main-color, currentColor);
        fill: var(--#{vars.$css-ui-prefix}main-color, currentColor);
        stroke: var(--#{vars.$css-ui-prefix}main-color, currentColor);
        height: 1em;
        width: 1em;
    }

    &.svg-title-line {
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -2;
            background-color: var(--#{vars.$css-ui-prefix}main-color, currentColor);
            height: var(--#{vars.$css-ui-prefix}#{vars.$css-ui-component-name}-line-height);
            width: 100%;
        }
    }

    &.svg-title-custom-bg {
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            width: 100%;
            height: 100%;
            background: var(--#{vars.$css-ui-prefix}main-color, currentColor) no-repeat var(--#{vars.$css-ui-prefix}#{vars.$css-ui-component-name}-image);
            background-position: 50% 50%;
        }
    }
}
