/* ------------------- @import clause ------------------- */
/* ------------------------------------------------------ */
@import "../../../src/molecules/cards/SimpleCard.css";
@import "../../../src/atoms/buttons/SimpleButton.css";
@import "../../../src/molecules/lists/SimpleList.css";

/*

@import "../../../src/molecules/cards/SimpleCard.css";

@use "../../../src/atoms/buttons/SimpleButton" as rollup with (
@use "../../../src/molecules/lists/SimpleList" as popup with (
*/

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

/* LIGHT theme */

/* DARK theme */

/* generics */

.choose-option-card {
  @extend .simple-card, .card-plain;

    --selected-color: var(--choose-option-card-selected-color, transparent);
  --selected-on-color: var(--choose-option-card-selected-on-color, inherit);
  --hover-color: var(--choose-option-card-hover-color, 0 0 0 / 0.2);
  --hover-on-color: var(--choose-option-card-hover-on-color, inherit);
  --inactive-color: var(--choose-option-card-inactive-color, 204 204 204);
  --inactive-on-color: var(--choose-option-card-inactive-on-color, 0 0 0);
  --disabled-opacity: var(--choose-option-card-disabled-opacity, 0.5);

  .list-container{
    @extend .simple-list, .animate-on-active, .animate-on-hover;

    --background: var(--background);
    --on-background: var(--on-background);
    --active-color: transparent;
    --active-on-color: inherit;
    /* --active-color: blue; // var(--active-color); */
    /* --active-on-color: red; // var(--active-on-color); */

    .item-title{
      font-size: 1em;
    }

    .item-sub-title{
      font-size: 0.8em;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: background-color var(--duration);
      padding-right: var(--padding);

      .list-icon{
        background-color: var(--inactive-color);
        color: var(--inactive-on-color);
      }

      .list-button{
        background: transparent;
        color: var(--inactive-color);
      }

      &.active {
        --list-active-background: var(--active-color);
        --list-active-on-background: var(--active-on-color);

        .list-icon{
          background-color: var(--selected-color);
          color: var(--selected-on-color);
        }

        .list-button{
          color: var(--selected-color);
        }
      }

      &.disabled{
        cursor: default;
        opacity: var(--disabled-opacity);
      }

      &:hover{
        &:not(.disabled){
          background-color: var(--hover-color);
          color: var(--hover-on-color);
        }
      }
    }
  }

  .list-button{
    @extend .simple-button, .button-icon-only, .button-flat, .button-rounded, .button-plain;

    font-size: 0.75em;
  }

  .list-icon {
    @extend .simple-button, .button-icon-only, .button-flat, .button-rounded;

    font-size: 0.5em;
    margin-right: 1em;
  }

  .card-title{
    border-left: 8px solid var(--border-color);
    padding: var(--padding);
    margin-left: calc(var(--padding) * -1);
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .choose-option-card {
      --selected-color: var(--choose-option-card-selected-color, transparent);
  --selected-on-color: var(--choose-option-card-selected-on-color, inherit);
  --hover-color: var(--choose-option-card-hover-color, 0 0 0 / 0.2);
  --hover-on-color: var(--choose-option-card-hover-on-color, inherit);
  --inactive-color: var(--choose-option-card-inactive-color, 204 204 204);
  --inactive-on-color: var(--choose-option-card-inactive-on-color, 0 0 0);
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .choose-option-card {
      --selected-color: var(--choose-option-card-selected-color, transparent);
  --selected-on-color: var(--choose-option-card-selected-on-color, inherit);
  --hover-color: var(--choose-option-card-hover-color, 0 0 0 / 0.2);
  --hover-on-color: var(--choose-option-card-hover-on-color, inherit);
  --inactive-color: var(--choose-option-card-inactive-color, 204 204 204);
  --inactive-on-color: var(--choose-option-card-inactive-on-color, 0 0 0);
  }

}