@use "@guebbit/css-toolkit" as guebbit;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-root-prefix: "--" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "event-lite-card" !default;

// Main $variables
$color: null !default;
$color--light: guebbit.no-null-var(($color, transparent)) !default;
$color--dark: guebbit.no-null-var(($color, transparent)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;

// LIGHT colors
$background: $color--light !default;
$on-background: guebbit.color-contrast($background) !default;
$title-color: inherit !default;
$date-color: inherit !default;
$border-color: guebbit.color-contrast($background) !default;
$shadow-color: guebbit.hex2rgb(#000) !default;

$active-background: $active-color--light !default;
$active-on-background: guebbit.color-contrast($active-background) !default;
$active-title-color: $title-color !default;
$active-date-color: $date-color !default;
$active-border-color: $active-background !default;
$active-shadow-color: $shadow-color !default;

// DARK colors
$background--dark: $color--dark !default;
$on-background--dark: guebbit.color-contrast($background--dark) !default;
$title-color--dark: inherit !default;
$date-color--dark: inherit !default;
$border-color--dark: $background--dark !default;
$shadow-color--dark: guebbit.hex2rgb(#000) !default;

$active-background--dark: $active-color--dark !default;
$active-on-background--dark: guebbit.color-contrast($active-background--dark) !default;
$active-title-color--dark: $title-color--dark !default;
$active-date-color--dark: $date-color--dark !default;
$active-border-color--dark: $active-background--dark !default;
$active-shadow-color--dark: $shadow-color--dark !default;

// generic
$height: 160px !default;
$padding: 24px !default;
$border-radius: 6px !default;
$border-width: 2px !default;
$duration: 0.3s !default;
$threshold-mobile: 600px !default;

/**
 * Mobile mode
 */
@mixin mobile-mode-builder{
  height: auto;
  flex-direction: column;
  gap: var(--#{$css-ui-var-prefix}padding);

  .event-date {
    display: grid;
    grid-template-areas:
      'first second'
      'first third';

    .event-date-day {
      grid-area: first;
      padding-right: 0.3em;
    }

    .event-date-month {
      grid-area: second;
    }

    .event-date-year{
      grid-area: third;
    }
  }

  .event-image{
    width: 100%;
    height: var(--#{$css-ui-var-prefix}height);
  }
}

/**
 * Class
 */
%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  --#{$css-ui-var-prefix}background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-background, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}background, #{$background}));
  --#{$css-ui-var-prefix}on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-background, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}on-background, #{$on-background}));
  --#{$css-ui-var-prefix}title-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-title-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}title-color, #{$title-color}));
  --#{$css-ui-var-prefix}date-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-date-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}date-color, #{$date-color}));
  --#{$css-ui-var-prefix}border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}border-color, #{$border-color}));
  --#{$css-ui-var-prefix}shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-shadow-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-color, #{$shadow-color}));
  --#{$css-ui-var-prefix}active-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-background, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-background, #{$active-background}));
  --#{$css-ui-var-prefix}active-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active--on-background, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-on-background, #{$active-on-background}));
  --#{$css-ui-var-prefix}active-title-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-title-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-title-color, #{$active-title-color}));
  --#{$css-ui-var-prefix}active-date-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-date-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-date-color, #{$active-date-color}));
  --#{$css-ui-var-prefix}active-border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-border-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-border-color, #{$active-border-color}));
  --#{$css-ui-var-prefix}active-shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-shadow-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-shadow-color, #{$active-shadow-color}));
  --#{$css-ui-var-prefix}height: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-height, #{$height});
  --#{$css-ui-var-prefix}padding: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-padding, #{$padding});
  --#{$css-ui-var-prefix}border-radius: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-radius, #{$border-radius});
  --#{$css-ui-var-prefix}border-width: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-width, #{$border-width});
  --#{$css-ui-var-prefix}duration: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-duration, #{$duration});

  height: var(--#{$css-ui-var-prefix}height);
  padding: var(--#{$css-ui-var-prefix}padding);
  background-color: var(--#{$css-ui-var-prefix}background);
  color: var(--#{$css-ui-var-prefix}on-background);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-color: var(--#{$css-ui-var-prefix}border-color);
  border-style: solid;
  border-width: 0;
  border-radius: var(--#{$css-ui-var-prefix}border-radius);
  box-shadow:
          0 2px 4px -1px rgb(var(--#{$css-ui-var-prefix}shadow-color) .2),
          0 4px 5px 0 rgb(var(--#{$css-ui-var-prefix}shadow-color) .14),
          0 1px 10px 0 rgb(var(--#{$css-ui-var-prefix}shadow-color) .12);
  transition:
          color var(--#{$css-ui-var-prefix}duration),
          background-color var(--#{$css-ui-var-prefix}duration),
          border-color var(--#{$css-ui-var-prefix}duration),
          border-width var(--#{$css-ui-var-prefix}duration);

  .event-image{
    width: calc(var(--#{$css-ui-var-prefix}height) - (var(--#{$css-ui-var-prefix}padding)) * 2);
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }

  .event-date,
  .event-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .event-date {
    display: block;
    font-weight: 600;
    color: var(--#{$css-ui-var-prefix}date-color);
    text-align: center;
    font-size: 14px;
    transition: color var(--#{$css-ui-var-prefix}duration);

    span{
      display: block;
    }

    .event-date-day{
      font-size: 2.5em;
      font-weight: 600;
      line-height: 1.5;
    }

    .event-date-month,
    .event-date-year{
      opacity: 0.5;
    }

    .event-date-month{
      font-size: 1.2em;
    }
  }

  .event-title{
    color: var(--#{$css-ui-var-prefix}title-color);
    font-weight: 600;
    transition: color var(--#{$css-ui-var-prefix}duration);
  }

  .event-actions {
    gap: 1em;
  }

  &.border-active,
  &.border-on-active.active,
  &.border-on-hover:hover {
    border-width: var(--#{$css-ui-var-prefix}border-size);
    // margin: calc(var(--#{$css-ui-var-prefix}border-size) * -1);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--#{$css-ui-var-prefix}active-background);
    color: var(--#{$css-ui-var-prefix}active-on-background);

    .event-date {
      color: var(--#{$css-ui-var-prefix}active-date-color);
    }

    .event-title {
      color: var(--#{$css-ui-var-prefix}active-title-color);
    }

    &.border-active,
    &.border-on-active.active,
    &.border-on-hover:hover {
      border-color: var(--#{$css-ui-var-prefix}active-border-color);
    }
  }

  &.mobile-active {
    @include mobile-mode-builder;
  }

  @media (max-width: $threshold-mobile){
    @include mobile-mode-builder;
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    --#{$css-ui-var-prefix}background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-background, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}background, #{$background--dark}));
    --#{$css-ui-var-prefix}on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-background, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}on-background, #{$on-background--dark}));
    --#{$css-ui-var-prefix}title-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-title-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}title-color, #{$title-color--dark}));
    --#{$css-ui-var-prefix}date-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-date-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}date-color, #{$date-color--dark}));
    --#{$css-ui-var-prefix}border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}border-color, #{$border-color--dark}));
    --#{$css-ui-var-prefix}shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-shadow-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}shadow-color, #{$shadow-color--dark}));
    --#{$css-ui-var-prefix}active-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-background, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-background, #{$active-background--dark}));
    --#{$css-ui-var-prefix}active-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-background, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-on-background, #{$active-on-background--dark}));
    --#{$css-ui-var-prefix}active-title-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-title-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-title-color, #{$active-title-color--dark}));
    --#{$css-ui-var-prefix}active-date-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-date-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-date-color, #{$active-date-color--dark}));
    --#{$css-ui-var-prefix}active-border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-border-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-border-color, #{$active-border-color--dark}));
    --#{$css-ui-var-prefix}active-shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-shadow-color, var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}active-shadow-color, #{$active-shadow-color--dark}));
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
