/* Main $variables */

/* LIGHT colors */

/* DARK colors */

/* generic */

@mixin mobile-mode-builder{
  flex-direction: column;
  gap: calc(var(--padding) * 4);
}

.event-minimal-card {
    --background: var(--event-minimal-card-background, rgba(var(----color, transparent)));
  --on-background: var(--event-minimal-card-on-background, rgba(var(----on-color, inherit)));
  --border-color: var(--event-minimal-card-border-color, rgba(var(----color, inherit)));
  --title-color: var(--event-minimal-card-title-color, rgba(var(----on-color, inherit)));
  --date-color: var(--event-minimal-card-date-color, rgba(var(----on-color, inherit)));
  --active-background: var(--event-minimal-card-active-background, rgba(var(----active-color, transparent)));
  --active-on-background: var(--event-minimal-card-active-on-background, rgba(var(----active-on-color, inherit)));
  --active-border-color: var(--event-minimal-card-active-border-color, rgba(var(----active-color, inherit)));
  --active-title-color: var(--event-minimal-card-active-title-color, rgba(var(----active-on-color, inherit)));
  --active-date-color: var(--event-minimal-card-active-date-color, rgba(var(----active-on-color, inherit)));
  --padding: var(--event-minimal-card-padding, 6px);
  --duration: var(--event-minimal-card-duration, 0.3s);
  --border-size: var(--event-minimal-card-border-size, 2px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  color: var(--on-background);
  gap: var(--padding);
  padding: var(--padding) calc(var(--padding) * 2);
  border-bottom: var(--border-size) solid transparent;
  transition:
          color var(--duration),
          background-color var(--duration),
          border-color var(--duration),
          border-width var(--duration);

  .event-date,
  .event-title{
    transition: color var(--duration);
  }

  .event-date {
    display: grid;
    grid-template-areas:
      'first second'
      'first third';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4em;
    color: var(--date-color);
    transition: color var(--duration);

    & > *{
      line-height: 1.2;
      display: inline-flex;

      &:nth-child(1){
        grid-area: first;
        align-items: center;
        padding-right: 0.2em;
      }

      &:nth-child(2){
        grid-area: second;
        align-items: flex-end;
        opacity: 0.6;
        font-size: 0.3em;
      }

      &:nth-child(3){
        grid-area: third;
        align-items: flex-start;
        font-size: 0.3em;
      }
    }
  }

  .event-title{
    font-size: 1.8em;
    font-weight: 600;
    opacity: 0.8;
    color: var(--title-color);
    transition: color var(--duration);
  }

  &.border-active,
  &.border-on-active.active,
  &.border-on-hover:hover {
    border-color: var(--border-color);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--active-background);
    color: var(--active-on-background);

    .event-date {
      color: var(--active-date-color);
    }

    .event-title{
      color: var(--active-title-color);
    }

    &.border-active,
    &.border-on-active.active,
    &.border-on-hover:hover {
      border-color: var(--active-border-color);
    }
  }

  &.mobile-active{
    @include mobile-mode-builder;
  }

  @media (max-width: $threshold-mobile){
    @include mobile-mode-builder;
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .event-minimal-card {
      --background: var(--event-minimal-card-background, rgba(var(----color, transparent)));
  --on-background: var(--event-minimal-card-on-background, rgba(var(----on-color, inherit)));
  --border-color: var(--event-minimal-card-border-color, rgba(var(----color, inherit)));
  --title-color: var(--event-minimal-card-title-color, rgba(var(----on-color, inherit)));
  --date-color: var(--event-minimal-card-date-color, rgba(var(----on-color, inherit)));
  --active-background: var(--event-minimal-card-active-background, rgba(var(----active-color, transparent)));
  --active-on-background: var(--event-minimal-card-active-on-background, rgba(var(----active-on-color, inherit)));
  --active-border-color: var(--event-minimal-card-active-border-color, rgba(var(----active-color, inherit)));
  --active-title-color: var(--event-minimal-card-active-title-color, rgba(var(----active-on-color, inherit)));
  --active-date-color: var(--event-minimal-card-active-date-color, rgba(var(----active-on-color, inherit)));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .event-minimal-card {
      --background: var(--event-minimal-card-background, rgba(var(----color, transparent)));
  --on-background: var(--event-minimal-card-on-background, rgba(var(----on-color, inherit)));
  --border-color: var(--event-minimal-card-border-color, rgba(var(----color, inherit)));
  --title-color: var(--event-minimal-card-title-color, rgba(var(----on-color, inherit)));
  --date-color: var(--event-minimal-card-date-color, rgba(var(----on-color, inherit)));
  --active-background: var(--event-minimal-card-active-background, rgba(var(----active-color, transparent)));
  --active-on-background: var(--event-minimal-card-active-on-background, rgba(var(----active-on-color, inherit)));
  --active-border-color: var(--event-minimal-card-active-border-color, rgba(var(----active-color, inherit)));
  --active-title-color: var(--event-minimal-card-active-title-color, rgba(var(----active-on-color, inherit)));
  --active-date-color: var(--event-minimal-card-active-date-color, rgba(var(----active-on-color, inherit)));
  }

}