/* Main $variables */

/* LIGHT colors */

/* DARK colors */

/* generic */

/**
 * Mobile mode
 */
@mixin mobile-mode-builder{
  height: auto;
  flex-direction: column;
  gap: var(--padding);

  .event-date {
    display: grid;
    grid-template-areas:
      'first second'
      'first third';

    .event-date-day {
      grid-area: first;
      padding-right: 0.3em;
    }

    .event-date-month {
      grid-area: second;
    }

    .event-date-year{
      grid-area: third;
    }
  }

  .event-image{
    width: 100%;
    height: var(--height);
  }
}

/**
 * Class
 */
.event-lite-card {
    --background: var(--event-lite-card-background, rgba(var(----color, transparent)));
  --on-background: var(--event-lite-card-on-background, rgba(var(----on-color, inherit)));
  --border-color: var(--event-lite-card-border-color, rgba(var(----color, inherit)));
  --title-color: var(--event-lite-card-title-color, rgba(var(----on-color, inherit)));
  --date-color: var(--event-lite-card-date-color, rgba(var(----on-color, inherit)));
  --shadow-color: var(--event-lite-card-shadow-color, var(----shadow-color, 0 0 0));
  --active-background: var(--event-lite-card-active-background, rgba(var(----active-color, transparent)));
  --active-on-background: var(--event-lite-card-active-on-background, rgba(var(----active-on-color, inherit)));
  --active-border-color: var(--event-lite-card-active-border-color, rgba(var(----active-color, transparent)));
  --active-title-color: var(--event-lite-card-active-title-color, rgba(var(----active-on-color, inherit)));
  --active-date-color: var(--event-lite-card-active-date-color, rgba(var(----active-on-color, inherit)));
  --active-shadow-color: var(--event-lite-card-active-shadow-color, var(----active-shadow-color, 0 0 0));
  --height: var(--event-lite-card-height, 160px);
  --padding: var(--event-lite-card-padding, 24px);
  --border-radius: var(--event-lite-card-border-radius, 6px);
  --border-width: var(--event-lite-card-border-width, 2px);
  --duration: var(--event-lite-card-duration, 0.3s);

  height: var(--height);
  padding: var(--padding);
  background-color: var(--background);
  color: var(--on-background);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 0;
  border-radius: var(--border-radius);
  box-shadow:
          0 2px 4px -1px rgb(var(--shadow-color) / var(----shadow-box-1, .2)),
          0 4px 5px 0 rgb(var(--shadow-color) / var(----shadow-box-2, .14)),
          0 1px 10px 0 rgb(var(--shadow-color) / var(----shadow-box-3, .12));
  transition:
          color var(--duration),
          background-color var(--duration),
          border-color var(--duration),
          border-width var(--duration);

  .event-image{
    width: calc(var(--height) - (var(--padding)) * 2);
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }

  .event-date,
  .event-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .event-date {
    display: block;
    font-weight: 600;
    color: var(--date-color);
    text-align: center;
    font-size: 14px;
    transition: color var(--duration);

    span{
      display: block;
    }

    .event-date-day{
      font-size: 2.5em;
      font-weight: 600;
      line-height: 1.5;
    }

    .event-date-month,
    .event-date-year{
      opacity: 0.5;
    }

    .event-date-month{
      font-size: 1.2em;
    }
  }

  .event-title{
    color: var(--title-color);
    font-weight: 600;
    transition: color var(--duration);
  }

  .event-actions {
    gap: 1em;
  }

  &.border-active,
  &.border-on-active.active,
  &.border-on-hover:hover {
    border-width: var(--border-size);
    /* margin: calc(var(--border-size) * -1); */
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--active-background);
    color: var(--active-on-background);
    box-shadow:
            0 2px 4px -1px rgb(var(--active-shadow-color) / var(----shadow-box-1, .2)),
            0 4px 5px 0 rgb(var(--active-shadow-color) / var(----shadow-box-2, .14)),
            0 1px 10px 0 rgb(var(--active-shadow-color) / var(----shadow-box-3, .12));

    .event-date {
      color: var(--active-date-color);
    }

    .event-title {
      color: var(--active-title-color);
    }

    &.border-active,
    &.border-on-active.active,
    &.border-on-hover:hover {
      border-color: var(--active-border-color);
    }
  }

  &.mobile-active {
    @include mobile-mode-builder;
  }

  @media (max-width: $threshold-mobile){
    @include mobile-mode-builder;
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .event-lite-card {
      --background: var(--event-lite-card-background, rgba(var(----color, transparent)));
  --on-background: var(--event-lite-card-on-background, rgba(var(----on-color, inherit)));
  --border-color: var(--event-lite-card-border-color, rgba(var(----color, transparent)));
  --title-color: var(--event-lite-card-title-color, rgba(var(----on-color, inherit)));
  --date-color: var(--event-lite-card-date-color, rgba(var(----on-color, inherit)));
  --shadow-color: var(--event-lite-card-shadow-color, var(----shadow-color, 0 0 0));
  --active-background: var(--event-lite-card-active-background, rgba(var(----active-color, transparent)));
  --active-on-background: var(--event-lite-card-active-on-background, rgba(var(----active-on-color, inherit)));
  --active-border-color: var(--event-lite-card-active-border-color, rgba(var(----active-color, transparent)));
  --active-title-color: var(--event-lite-card-active-title-color, rgba(var(----active-on-color, inherit)));
  --active-date-color: var(--event-lite-card-active-date-color, rgba(var(----active-on-color, inherit)));
  --active-shadow-color: var(--event-lite-card-active-shadow-color, var(----active-shadow-color, 0 0 0));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .event-lite-card {
      --background: var(--event-lite-card-background, rgba(var(----color, transparent)));
  --on-background: var(--event-lite-card-on-background, rgba(var(----on-color, inherit)));
  --border-color: var(--event-lite-card-border-color, rgba(var(----color, transparent)));
  --title-color: var(--event-lite-card-title-color, rgba(var(----on-color, inherit)));
  --date-color: var(--event-lite-card-date-color, rgba(var(----on-color, inherit)));
  --shadow-color: var(--event-lite-card-shadow-color, var(----shadow-color, 0 0 0));
  --active-background: var(--event-lite-card-active-background, rgba(var(----active-color, transparent)));
  --active-on-background: var(--event-lite-card-active-on-background, rgba(var(----active-on-color, inherit)));
  --active-border-color: var(--event-lite-card-active-border-color, rgba(var(----active-color, transparent)));
  --active-title-color: var(--event-lite-card-active-title-color, rgba(var(----active-on-color, inherit)));
  --active-date-color: var(--event-lite-card-active-date-color, rgba(var(----active-on-color, inherit)));
  --active-shadow-color: var(--event-lite-card-active-shadow-color, var(----active-shadow-color, 0 0 0));
  }

}