@use "@guebbit/css-toolkit" as guebbit;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "event-minimal-card" !default;

// main
$color: null !default;
$color--light: guebbit.no-null-var(($color, transparent)) !default;
$color--dark: guebbit.no-null-var(($color, transparent)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;

// LIGHT colors
$background: $color--light !default;
$on-background: guebbit.color-contrast($background) !default;
$title-color: inherit !default;
$date-color: inherit !default;
$border-color: guebbit.color-contrast($background) !default;

$active-background: $active-color--light !default;
$active-on-background: guebbit.color-contrast($active-background) !default;
$active-title-color: $title-color !default;
$active-date-color: $date-color !default;
$active-border-color: guebbit.color-contrast($active-background) !default;

// DARK colors
$background--dark: $color--dark !default;
$on-background--dark: guebbit.color-contrast($background--dark) !default;
$title-color--dark: inherit !default;
$date-color--dark: inherit !default;
$border-color--dark: guebbit.color-contrast($background--dark) !default;

$active-background--dark: $active-color--dark !default;
$active-on-background--dark: guebbit.color-contrast($active-background--dark) !default;
$active-title-color--dark: $title-color--dark !default;
$active-date-color--dark: $date-color--dark !default;
$active-border-color--dark: guebbit.color-contrast($active-background--dark) !default;

// generic
$border-size: 2px !default;
$padding: 6px !default;
$duration: 0.3s !default;
$threshold-mobile: 600px !default;

@mixin mobile-mode-builder{
  flex-direction: column;
  gap: calc(var(--#{$css-ui-var-prefix}padding) * 4);
}

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  --#{$css-ui-var-prefix}background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-background, #{$background});
  --#{$css-ui-var-prefix}on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-background, #{$on-background});
  --#{$css-ui-var-prefix}title-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-title-color, #{$title-color});
  --#{$css-ui-var-prefix}date-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-date-color, #{$date-color});
  --#{$css-ui-var-prefix}border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-color, #{$border-color});
  --#{$css-ui-var-prefix}active-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-background, #{$active-background});
  --#{$css-ui-var-prefix}active-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-background, #{$active-on-background});
  --#{$css-ui-var-prefix}active-title-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-title-color, #{$active-title-color});
  --#{$css-ui-var-prefix}active-date-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-date-color, #{$active-date-color});
  --#{$css-ui-var-prefix}active-border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-border-color, #{$active-border-color});
  --#{$css-ui-var-prefix}border-size: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-size, #{$border-size});
  --#{$css-ui-var-prefix}padding: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-padding, #{$padding});
  --#{$css-ui-var-prefix}duration: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-duration, #{$duration});

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--#{$css-ui-var-prefix}background);
  color: var(--#{$css-ui-var-prefix}on-background);
  gap: var(--#{$css-ui-var-prefix}padding);
  padding: var(--#{$css-ui-var-prefix}padding) calc(var(--#{$css-ui-var-prefix}padding) * 2);
  border-bottom: var(--#{$css-ui-var-prefix}border-size) solid transparent;
  transition:
          color var(--#{$css-ui-var-prefix}duration),
          background-color var(--#{$css-ui-var-prefix}duration),
          border-color var(--#{$css-ui-var-prefix}duration),
          border-width var(--#{$css-ui-var-prefix}duration);

  .event-date,
  .event-title{
    transition: color var(--#{$css-ui-var-prefix}duration);
  }

  .event-date {
    display: grid;
    grid-template-areas:
      'first second'
      'first third';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4em;
    color: var(--#{$css-ui-var-prefix}date-color);
    transition: color var(--#{$css-ui-var-prefix}duration);

    & > *{
      line-height: 1.2;
      display: inline-flex;

      &:nth-child(1){
        grid-area: first;
        align-items: center;
        padding-right: 0.2em;
      }

      &:nth-child(2){
        grid-area: second;
        align-items: flex-end;
        opacity: 0.6;
        font-size: 0.3em;
      }

      &:nth-child(3){
        grid-area: third;
        align-items: flex-start;
        font-size: 0.3em;
      }
    }
  }

  .event-title{
    font-size: 1.8em;
    font-weight: 600;
    opacity: 0.8;
    color: var(--#{$css-ui-var-prefix}title-color);
    transition: color var(--#{$css-ui-var-prefix}duration);
  }

  &.border-active,
  &.border-on-active.active,
  &.border-on-hover:hover {
    border-color: var(--#{$css-ui-var-prefix}border-color);
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--#{$css-ui-var-prefix}active-background);
    color: var(--#{$css-ui-var-prefix}active-on-background);

    .event-date {
      color: var(--#{$css-ui-var-prefix}active-date-color);
    }

    .event-title{
      color: var(--#{$css-ui-var-prefix}active-title-color);
    }

    &.border-active,
    &.border-on-active.active,
    &.border-on-hover:hover {
      border-color: var(--#{$css-ui-var-prefix}active-border-color);
    }
  }

  &.mobile-active{
    @include mobile-mode-builder;
  }

  @media (max-width: $threshold-mobile){
    @include mobile-mode-builder;
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    --#{$css-ui-var-prefix}background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-background, #{$background--dark});
    --#{$css-ui-var-prefix}on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-background, #{$on-background--dark});
    --#{$css-ui-var-prefix}title-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-title-color, #{$title-color--dark});
    --#{$css-ui-var-prefix}date-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-date-color, #{$date-color});
    --#{$css-ui-var-prefix}border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-border-color, #{$border-color--dark});
    --#{$css-ui-var-prefix}active-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-background, #{$active-background--dark});
    --#{$css-ui-var-prefix}active-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-on-background, #{$active-on-background--dark});
    --#{$css-ui-var-prefix}active-title-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-title-color, #{$active-title-color});
    --#{$css-ui-var-prefix}active-date-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-date-color, #{$active-date-color});
    --#{$css-ui-var-prefix}active-border-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-border-color, #{$active-border-color--dark});
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
