@use "../../../node_modules/@guebbit/css-toolkit" as guebbit;

$scss-library-class-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "event-long-card" !default;

// main
$color: null !default;
$color--light: guebbit.no-null-var(($color, transparent)) !default;
$color--dark: guebbit.no-null-var(($color, transparent)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;

// LIGHT colors
$background: $color--light !default;
$on-background: guebbit.color-contrast($background) !default;
$date: transparent !default;
$on-date: guebbit.color-contrast($date) !default;
$title-color: inherit !default;
$icon-color: inherit !default;
$shadow-color: guebbit.hex2rgb(#000) !default;

$active-background: $active-color--light !default;
$active-on-background: guebbit.color-contrast($background) !default;
$active-date: $date !default;
$active-on-date: $on-date !default;
$active-title-color: $title-color !default;
$active-icon-color: $icon-color !default;
$active-shadow-color: $shadow-color !default;

// DARK colors
$background--dark: $color--dark !default;
$on-background--dark: guebbit.color-contrast($background) !default;
$date--dark: transparent !default;
$on-date--dark: guebbit.color-contrast($date--dark) !default;
$title-color--dark: inherit !default;
$icon-color--dark: inherit !default;
$shadow-color--dark: guebbit.hex2rgb(#000) !default;

$active-background--dark: $active-color--dark !default;
$active-on-background--dark: guebbit.color-contrast($background) !default;
$active-date--dark: $date !default;
$active-on-date--dark: $on-date !default;
$active-title-color--dark: $title-color !default;
$active-icon-color--dark: $icon-color !default;
$active-shadow-color--dark: $shadow-color !default;

// generic
$height: 200px !default;
$padding: 16px !default;
$border-radius: 6px !default;
$duration: 0.3s !default;
$threshold-mobile: 600px !default;

/**
 * Mobile mode
 */
@mixin mobile-mode-builder{
  flex-wrap: wrap;
  height: auto;

  .card-date,
  .card-image {
    width: 50%;
  }

  .card-content {
    gap: var(--#{$scss-library-var-prefix}padding);
    padding: var(--#{$scss-library-var-prefix}padding);
  }

  .card-actions {
    gap: 0;

    & > * {
      padding: 0.5em;
    }

    &.card-actions-absolute {
      flex-direction: row;
    }
  }
}

/**
 * Class
 */
%#{$scss-library-class-prefix}#{$scss-library-component-name},
.#{$scss-library-class-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-background, #{$background});
  --#{$scss-library-var-prefix}on-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-background, #{$on-background});
  --#{$scss-library-var-prefix}date: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-date, #{$date});
  --#{$scss-library-var-prefix}on-date: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-date, #{$on-date});
  --#{$scss-library-var-prefix}title-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-title-color, #{$title-color});
  --#{$scss-library-var-prefix}icon-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-icon-color, #{$icon-color});
  --#{$scss-library-var-prefix}shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-shadow-color, #{$shadow-color});
  --#{$scss-library-var-prefix}active-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-background, #{$active-background});
  --#{$scss-library-var-prefix}active-on-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-on-background, #{$active-on-background});
  --#{$scss-library-var-prefix}active-date: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-date, #{$active-date});
  --#{$scss-library-var-prefix}active-on-date: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-on-date, #{$active-on-date});
  --#{$scss-library-var-prefix}active-title-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-title-color, #{$active-title-color});
  --#{$scss-library-var-prefix}active-icon-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-icon-color, #{$active-icon-color});
  --#{$scss-library-var-prefix}active-shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-shadow-color, #{$active-shadow-color});
  --#{$scss-library-var-prefix}height: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-height, #{$height});
  --#{$scss-library-var-prefix}padding: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-padding, #{$padding});
  --#{$scss-library-var-prefix}border-radius: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-border-radius, #{$border-radius});
  --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});

  position: relative;
  z-index: 1;
  display: flex;
  height: var(--#{$scss-library-var-prefix}height);
  width: 100%;
  padding: 0;
  border-radius: var(--event-long-card-border-radius, $border-radius);
  background-color: var(--#{$scss-library-var-prefix}background);
  color: var(--#{$scss-library-var-prefix}on-background);
  box-shadow:
          0 2px 4px -1px rgb(var(--#{$scss-library-var-prefix}shadow-color) .2),
          0 4px 5px 0 rgb(var(--#{$scss-library-var-prefix}shadow-color) .14),
          0 1px 10px 0 rgb(var(--#{$scss-library-var-prefix}shadow-color) .12);
  transition:
          background-color var(--#{$scss-library-var-prefix}duration) ease,
          color var(--#{$scss-library-var-prefix}duration) ease,
          box-shadow var(--#{$scss-library-var-prefix}duration) ease;

  .card-title,
  .card-subtitle{
    color: var(--#{$scss-library-var-prefix}title-color);
    transition: color var(--#{$scss-library-var-prefix}duration) ease;
  }

  .card-title{
    font-size: 1.5em;
    font-weight: 600;
  }

  .card-icon {
    font-size: 1.5em;
    width: 1em;
    height: 1em;
    color: var(--#{$scss-library-var-prefix}icon-color);
    fill: currentcolor;
    transition:
            color var(--#{$scss-library-var-prefix}duration) ease,
            transform var(--#{$scss-library-var-prefix}duration) ease;
  }

  .event-date,
  .card-image {
    width: var(--#{$scss-library-var-prefix}height);
    margin: 0;
  }

  .event-date {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: var(--#{$scss-library-var-prefix}date);
    color: var(--#{$scss-library-var-prefix}on-date);
    padding: calc(var(--#{$scss-library-var-prefix}padding) * 0.5) 0 calc(var(--#{$scss-library-var-prefix}padding) * 0.5) 0;
    text-align: center;
    text-transform: uppercase;
    transition:
            background-color var(--#{$scss-library-var-prefix}duration) ease,
            color var(--#{$scss-library-var-prefix}duration) ease;

    & > span {
      display: block;
      line-height: 1;
      font-size: 1.5em;

      &:nth-child(1) {
        font-size: 5em;
        font-weight: 300;
      }

      &:nth-child(2){
        font-size: 2em;
        font-weight: 900;
      }

      &:nth-child(3){
        font-size: 1.2em;
      }

      &:nth-child(4){
        font-size: 0.75em;
      }
    }
  }

  .card-image{
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--#{$scss-library-var-prefix}padding) 2em var(--#{$scss-library-var-prefix}padding) var(--#{$scss-library-var-prefix}padding);
  }

  .card-actions {
    display: flex;
    gap: 1em;

    & > * {
      display: block;
    }

    &.card-actions-absolute {
      padding: 0;
      gap: 0;
      flex-direction: column;

      & > * {
        padding: 0.5em;
      }
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--#{$scss-library-var-prefix}active-background);
    color: var(--#{$scss-library-var-prefix}active-on-background);

    .card-title,
    .card-subtitle{
      color: var(--#{$scss-library-var-prefix}active-title-color);

    }

    .card-icon {
      color: var(--#{$scss-library-var-prefix}active-icon-color);
    }

    .event-date {
      background-color: var(--#{$scss-library-var-prefix}active-date);
      color: var(--#{$scss-library-var-prefix}active-on-date);
    }
  }

  &.mobile-active{
    @include mobile-mode-builder;
  }

  @media (max-width: $threshold-mobile){
    @include mobile-mode-builder;
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$scss-library-class-prefix}#{$scss-library-component-name},
  .#{$scss-library-class-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-background, #{$background--dark});
    --#{$scss-library-var-prefix}on-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-background, #{$on-background--dark});
    --#{$scss-library-var-prefix}date: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-date, #{$date--dark});
    --#{$scss-library-var-prefix}on-date: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-date, #{$on-date--dark});
    --#{$scss-library-var-prefix}title-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-title-color, #{$title-color--dark});
    --#{$scss-library-var-prefix}icon-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-icon-color, #{$icon-color--dark});
    --#{$scss-library-var-prefix}shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-shadow-color, #{$shadow-color--dark});
    --#{$scss-library-var-prefix}active-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-background, #{$active-background--dark});
    --#{$scss-library-var-prefix}active-on-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-on-background, #{$active-on-background--dark});
    --#{$scss-library-var-prefix}active-date: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-date, #{$active-date--dark});
    --#{$scss-library-var-prefix}active-on-date: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-on-date, #{$active-on-date--dark});
    --#{$scss-library-var-prefix}active-title-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-title-color, #{$active-title-color});
    --#{$scss-library-var-prefix}active-icon-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-icon-color, #{$active-icon-color});
    --#{$scss-library-var-prefix}active-shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-shadow-color, #{$active-shadow-color});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
