/* ------------------- @import clause ------------------- */
/* ------------------------------------------------------ */
@import "../../../src/molecules/cards/SimpleCard.css";

/*

@import "../../../src/molecules/cards/SimpleCard.css";

*/

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.image-slash-card {
  @extend .simple-card;

    --button-background: var(--image-slash-card-button-background, rgba(var(----color, transparent)));
  --button-on-background: var(--image-slash-card-button-on-background, rgba(var(----on-color, inherit)));
  --height: var(--image-slash-card-height, 400px);

  flex-direction: row;
  /* WARNING height is necessary only because *border-width* doesn't get % values, only statics */
  min-height: var(--height);
  text-shadow:
          0 2px 4px rgb(var(--shadow-text-color) / var(----shadow-box-1, .2)),
          0 4px 5px rgb(var(--shadow-text-color) / var(----shadow-box-2, .14)),
          0 1px 10px rgb(var(--shadow--textcolor) / var(----shadow-box-3, .12));

  .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-media-wrapper{
    position: relative;
    width: 55%;
    flex-shrink: 0;
    border-radius: var(--border-radius) 0 0 var(--border-radius);

    &::after{
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-style: solid;
      border-width: var(--height) calc(var(--height) * 0.2) 0 0;
      border-color: transparent var(--background) transparent transparent;
    }

    .card-actions {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      flex-direction: column;
      z-index: 2;
      font-size: 1.5em;

      & > * {
        background: var(--button-background);
        color: var(--button-on-background);

        /* TODO dynamic number */
        &:nth-child(1){
          top: 15%;
          right: -15%;
        }

        &:nth-child(2){
          top: 30%;
          right: 30%;
        }

        &:nth-child(3){
          top: 45%;
          right: 90%;
        }

        &:nth-child(n+4){
          display: none;
        }
      }
    }
  }

  &.card-media-right{
    .card-media-wrapper{
      order: 2;
      border-radius: 0 var(--border-radius) var(--border-radius) 0;

      &::after{
        border-width: var(--height) 0 0 calc(var(--height) * 0.2);
        border-color: transparent transparent transparent var(--background);
      }

      .card-actions {
        right: auto;
        left: 0;

        & > * {
          &:nth-child(1){
            left: -15%;
          }

          &:nth-child(2){
            left: 30%;
          }

          &:nth-child(3){
            left: 90%;
          }
        }
      }
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .image-slash-card {
      --button-background: var(--image-slash-card-button-background, rgba(var(----color, transparent)));
  --button-on-background: var(--image-slash-card-button-on-background, rgba(var(----on-color, inherit)));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .image-slash-card {
      --button-background: var(--image-slash-card-button-background, rgba(var(----color, transparent)));
  --button-on-background: var(--image-slash-card-button-on-background, rgba(var(----on-color, inherit)));
  }

}