@use "@guebbit/css-toolkit" as guebbit;
@use "../../utils" as utils;
@use "../../../src/molecules/cards/SimpleCard" as sc;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-root-prefix: "--" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "info-hover-card" !default;

$icon-size: 100px !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  @include sc.apply();

  @include utils.var-builder((
                  (icon-size, $icon-size),
  ), $css-ui-var-prefix, $css-ui-component-name, $css-ui-root-prefix);

  text-align: center;
  transition: all  var(--#{$css-ui-var-prefix}duration) ease;

  .#{$css-ui-class-prefix}icon-wrapper {
    position: relative;
    top: 20%;
    display: inline-block;
    transition: all  var(--#{$css-ui-var-prefix}duration) ease;

    & > * {
      display: block;
      margin: 0 auto;
      font-size: var(--#{$css-ui-var-prefix}icon-size);
      width: 1em;
      height: 1em;
    }
  }

  .#{$css-ui-class-prefix}card-header,
  .#{$css-ui-class-prefix}card-content{
    padding-top: 0;
    transition: all  var(--#{$css-ui-var-prefix}duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .#{$css-ui-class-prefix}card-header{
    top: 20%;
    padding-bottom: 0;
    justify-content: center;
  }

  .#{$css-ui-class-prefix}card-title{
    line-height: 2;
  }

  .#{$css-ui-class-prefix}card-content {
    position: relative;
    bottom:  var(--#{$css-ui-var-prefix}padding);
    padding:  var(--#{$css-ui-var-prefix}padding);
    opacity: 0;
    transform: scale(0);
  }

  &.#{$css-ui-class-prefix}animate-active,
  &.#{$css-ui-class-prefix}animate-on-active.active,
  &.#{$css-ui-class-prefix}animate-on-hover:hover {
    .#{$css-ui-class-prefix}icon-wrapper,
    .#{$css-ui-class-prefix}card-header{
      top: -20%;
    }

    .#{$css-ui-class-prefix}card-content {
      opacity: 1;
      transform: scale(1);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder {
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    @include sc.dark-apply();
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class} {
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
