@use "@guebbit/css-toolkit" as guebbit;
@use "../../utils" as utils;
@use "../../../src/molecules/cards/SimpleCard" as sc;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-root-prefix: "--" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "overflow-card" !default;

$threshold-mobile: 600px !default;
$padding: 48px !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  @include sc.apply();

  .card-media {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    max-height: 200%;
    z-index: 0;
  }

  .#{$css-ui-class-prefix}card-content {
    padding:
            var(--#{$css-ui-var-prefix}padding)
            var(--#{$css-ui-var-prefix}padding)
            var(--#{$css-ui-var-prefix}padding)
            30%;

    & > *:not(:last-child) {
      margin-bottom: calc(var(--#{$css-ui-var-prefix}padding) * 0.75);
    }

    .#{$css-ui-class-prefix}card-title {
      display: inline-block;
      font-size: 2.5em;
      white-space: nowrap;
    }
  }

  @media (max-width: $threshold-mobile) {
    .#{$css-ui-class-prefix}card-media {
      left: 50%;
      z-index: -1;
    }

    .#{$css-ui-class-prefix}card-content {
      padding: calc(var(--#{$css-ui-var-prefix}padding) * 0.5);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder {
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    @include sc.dark-apply();
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class} {
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
