@use "@guebbit/css-toolkit" as guebbit;
@use "../../utils" as utils;
@use "../../../src/molecules/cards/SimpleCard" as sc;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-root-prefix: "--" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "pricing-card" !default;

$price-color: sc.$color--light !default;
$active-price-color: sc.$active-color--light !default;
$price-color--dark: sc.$color--dark !default;
$active-price-color--dark: sc.$active-color--dark !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  @include sc.apply();

  @include utils.var-builder((
                  (price-color, guebbit.extract-colors($price-color), on-color),
                  (active-price-color, guebbit.extract-colors($active-price-color), active-on-color),
  ), $css-ui-var-prefix, $css-ui-component-name, $css-ui-root-prefix);

  align-items: center;
  gap: var(--#{$css-ui-var-prefix}padding);
  padding: calc(var(--#{$css-ui-var-prefix}padding) * 2.5) var(--#{$css-ui-var-prefix}padding);
  font-size: 1.2em;

  .#{$css-ui-class-prefix}card-header,
  .#{$css-ui-class-prefix}card-footer,
  .#{$css-ui-class-prefix}card-content{
    padding: 0;
  }

  .#{$css-ui-class-prefix}card-header,
  .#{$css-ui-class-prefix}card-footer {
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 2.5;
    justify-content: center;
  }

  .#{$css-ui-class-prefix}card-header {
    top: 0;
  }

  .#{$css-ui-class-prefix}card-footer {
    bottom: 0;
  }

  .#{$css-ui-class-prefix}card-title {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  .#{$css-ui-class-prefix}card-price {
    text-align: center;
    color: var(--#{$css-ui-var-prefix}price-color);
    font-weight: 900;
    font-size: 5em;
    // letter-spacing: -0.1em;
    line-height: 0.8;
    transition: color var(--#{$css-ui-var-prefix}duration);

    .#{$css-ui-class-prefix}card-currency {
      margin-right: 8px;
      font-weight: 600;
      font-size: 30%;
      vertical-align: text-top;
    }
  }

  &.#{$css-ui-class-prefix}animate-active,
  &.#{$css-ui-class-prefix}animate-on-active.active,
  &.#{$css-ui-class-prefix}animate-on-hover:hover {
    .#{$css-ui-class-prefix}card-price {
      color: var(--#{$css-ui-var-prefix}active-price-color);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    @include sc.dark-apply();

    @include utils.var-builder((
                    (price-color, guebbit.extract-colors($price-color--dark), on-color),
                    (active-price-color, guebbit.extract-colors($active-price-color--dark), active-on-color),
    ), $css-ui-var-prefix, $css-ui-component-name, $css-ui-root-prefix);
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
