/* ------------------- @import clause ------------------- */
/* ------------------------------------------------------ */
@import "../../../src/molecules/cards/SimpleCard.css";

/*

@import "../../../src/molecules/cards/SimpleCard.css";

*/

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.pricing-card {
  @extend .simple-card;

    --price-color: var(--pricing-card-price-color, rgba(var(----on-color, transparent)));
  --active-price-color: var(--pricing-card-active-price-color, rgba(var(----active-on-color, transparent)));

  align-items: center;
  gap: var(--padding);
  padding: calc(var(--padding) * 2.5) var(--padding);
  font-size: 1.2em;

  .card-header,
  .card-footer,
  .card-content{
    padding: 0;
  }

  .card-header,
  .card-footer {
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 2.5;
    justify-content: center;
  }

  .card-header {
    top: 0;
  }

  .card-footer {
    bottom: 0;
  }

  .card-title {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  .card-price {
    text-align: center;
    color: var(--price-color);
    font-weight: 900;
    font-size: 5em;
    /* letter-spacing: -0.1em; */
    line-height: 0.8;
    transition: color var(--duration);

    .card-currency {
      margin-right: 8px;
      font-weight: 600;
      font-size: 30%;
      vertical-align: text-top;
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    .card-price {
      color: var(--active-price-color);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .pricing-card {
      --price-color: var(--pricing-card-price-color, rgba(var(----on-color, transparent)));
  --active-price-color: var(--pricing-card-active-price-color, rgba(var(----active-on-color, transparent)));

  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .pricing-card {
      --price-color: var(--pricing-card-price-color, rgba(var(----on-color, transparent)));
  --active-price-color: var(--pricing-card-active-price-color, rgba(var(----active-on-color, transparent)));

  }

}