@use '../../../_generics/variables' as globals;

$css-ui-component-name: 'icon-focus-button' !default;

$duration: 0.3s !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';
