@use '../../../_generics' as generics;
@use 'variables' as vars;
@use '../simple-list/variables' as simple-list-vars;
@forward 'variables';

$component-map: ();

%#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name},
.#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
    @include generics.elevation-generator(2);
    @include generics.elevation-transition();
    @include generics.transition-properties(
            (box-shadow, transform, opacity, background, color, border),
        var(--#{vars.$css-ui-class-prefix}duration)
    );
    @extend %#{generics.$css-ui-class-prefix}simple-list !optional;
    @include generics.base-layout(vars.$css-ui-component-prefix);

    transition: all 1s;

    li {
        position: relative;
        justify-content: space-between;
        padding: 0.4em 1em;
        z-index: 0;

        &::after {
            content: '';
            @include generics.position-base-layout(-1, 'absolute');
            @include generics.position-full-layout();
            transition:
                color var(--#{simple-list-vars.$css-ui-component-prefix}duration, 0.3s) ease,
                background-color var(--#{simple-list-vars.$css-ui-component-prefix}duration, 0.3s) ease,
                padding var(--#{simple-list-vars.$css-ui-component-prefix}duration, 0.3s) ease;
        }

        & > * {
            & > svg,
            & > .icon {
                color: currentcolor;
            }
        }

        & > svg,
        & > .icon {
            color: currentcolor;
        }

        &:nth-child(even) {
            &::after {
                background: rgba(var(--#{generics.$css-ui-prefix}main-color) / 0.1);
            }

            &.today {
                &::after {
                    background: rgba(var(--#{generics.$css-ui-prefix}success-color, var(--#{generics.$css-ui-prefix}main-color)) / 0.1);
                }
            }

            &.closed {
                &::after {
                    background: rgba(var(--#{generics.$css-ui-prefix}error-color, var(--#{generics.$css-ui-prefix}main-color)) / 0.1);
                }
            }
        }

        &:nth-child(odd) {
            &::after {
                background: rgba(var(--#{generics.$css-ui-prefix}main-color) / 0.2);
            }

            &.today {
                &::after {
                    background: rgba(var(--#{generics.$css-ui-prefix}success-color, var(--#{generics.$css-ui-prefix}main-color)) / 0.2);
                }
            }

            &.closed {
                &::after {
                    background: rgba(var(--#{generics.$css-ui-prefix}error-color, var(--#{generics.$css-ui-prefix}main-color)) / 0.2);
                }
            }
        }
    }

    &.background-infinite {
        li {
            &::after {
                left: -500%;
                width: 1000%;
            }
        }
    }

    &.animate-active li,
    &.animate-on-active li.active,
    &.animate-on-hover li:hover {
        &::after {
            background: rgba(var(--#{generics.$css-ui-prefix}active-main-color) / 0.4);
        }

        &.today {
            &::after {
                background: rgba(var(--#{generics.$css-ui-prefix}success-color, var(--#{generics.$css-ui-prefix}active-main-color)) / 0.4);
            }
        }

        &.closed {
            &::after {
                background: rgba(var(--#{generics.$css-ui-prefix}error-color, var(--#{generics.$css-ui-prefix}active-main-color)) / 0.4);
            }
        }
    }
}
