@use '../../../_generics/variables' as globals;
@forward '../../../_generics/variables';

$css-ui-component-name: 'reveal-advancing-moon' !default;
$duration: 2s !default;
$easing: cubic-bezier(0.25, 0.46, 0.45, 0.94) !default;
$blur-start: 10px !default;
$blur-end: 0 !default;
$opacity-start: 0.5 !default;
$opacity-end: 1 !default;
$scale-start: 0.6 !default;
$scale-end: 1 !default;
$slide-x-start: -60% !default;
$slide-x-end: 0 !default;
$slide-y-start: 0 !default;
$slide-y-end: 0 !default;
$reveal-filter-factor: 2 !default;
$reveal-transform-factor: 5 !default;
$hide-filter-factor: 10 !default;
$hide-transform-factor: 10 !default;
$css-ui-component-prefix: globals.$css-ui-var-prefix + $css-ui-component-name + '-';

/// Component variables map for generate-vars.
$component-variables-map: (
    duration: $duration,
    easing: $easing,
    blur-start: $blur-start,
    blur-end: $blur-end,
    opacity-start: $opacity-start,
    opacity-end: $opacity-end,
    scale-start: $scale-start,
    scale-end: $scale-end,
    slide-x-start: $slide-x-start,
    slide-x-end: $slide-x-end,
    slide-y-start: $slide-y-start,
    slide-y-end: $slide-y-end,
    reveal-filter-factor: $reveal-filter-factor,
    reveal-transform-factor: $reveal-transform-factor,
    hide-filter-factor: $hide-filter-factor,
    hide-transform-factor: $hide-transform-factor
);