@use "../../../node_modules/@guebbit/css-toolkit" as guebbit;

// ------------------- @import clause -------------------
// ------------------------------------------------------

$scss-library-component-name: "simple-button";
@import "../../../src/atoms/buttons/SimpleButton";
$scss-library-var-prefix: "rollup-";
$scss-library-component-name: "highlight-rollup";
@import "../../../src/atoms/highlights/HighlightRollup";
$scss-library-var-prefix: "popup-";
$scss-library-component-name: "highlight-popup";
@import "../../../src/atoms/highlights/HighlightPopup";

$scss-library-var-prefix: "";
$scss-library-component-name: "expressive-button";

/*
$scss-library-component-name: "expressive-button" !default;

@forward "../../../src/atoms/buttons/SimpleButton";
@use "../../../src/atoms/buttons/SimpleButton" as inherited;
@use "../../../src/atoms/highlights/HighlightRollup" as rollup with (
  $scss-library-var-prefix: inherited.$scss-library-var-prefix + "rollup-",
);
@use "../../../src/atoms/highlights/HighlightPopup" as popup with (
  $scss-library-var-prefix: inherited.$scss-library-var-prefix + "popup-",
);
*/

// ------------------------------------------------------
// ------------------------------------------------------




// main
$special-color: null !default;
$special-color--light: guebbit.no-null-var(($special-color, #000)) !default;
$special-color--dark: guebbit.no-null-var(($special-color, #fff)) !default;
$active-special-color: null !default;
$active-special-color--light: guebbit.no-null-var(($active-special-color, $special-color--light)) !default;
$active-special-color--dark: guebbit.no-null-var(($active-special-color, $special-color--dark)) !default;

// LIGHT theme
$special-on-color: guebbit.color-contrast($special-color--light) !default;
$active-special-on-color: guebbit.color-contrast($active-special-color--light) !default;
$elevation-shadow-color: guebbit.color-shade($color--light, 40%) !default;
$elevation-active-shadow-color: guebbit.color-shade($active-color--light, 40%) !default;

// DARK theme
$special-on-color--dark: guebbit.color-contrast($special-color--dark) !default;
$active-special-on-color--dark: guebbit.color-contrast($active-special-color--dark) !default;
$elevation-shadow-color--dark: guebbit.color-shade($color--dark, 40%) !default;
$elevation-active-shadow-color--dark: guebbit.color-shade($active-color--dark, 40%) !default;

// generic
$elevation-height: 8px !default;


%#{$scss-library-class-prefix}#{$scss-library-component-name},
.#{$scss-library-class-prefix}#{$scss-library-component-name} {
  @extend %#{$scss-library-class-prefix}simple-button;

  --#{$scss-library-var-prefix}special-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-special-color, #{$special-color--light});
  --#{$scss-library-var-prefix}special-on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-special-on-color, #{$special-on-color});
  --#{$scss-library-var-prefix}active-special-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-special-color, #{$active-special-color--light});
  --#{$scss-library-var-prefix}active-special-on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-special-on-color, #{$active-special-on-color});
  --#{$scss-library-var-prefix}elevation-shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-elevation-shadow-color, #{$elevation-shadow-color});
  --#{$scss-library-var-prefix}elevation-active-shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-elevation-active-shadow-color, #{$elevation-active-shadow-color});
  --#{$scss-library-var-prefix}elevation-height: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-elevation-height, #{$elevation-height});
  --#{$scss-library-var-prefix}active-on-background: var(--#{$scss-library-var-prefix}special-on-color);

  &.rollup-button {
    @extend %#{$scss-library-class-prefix}highlight-rollup;

    --#{$scss-library-var-prefix}active-background: var(--#{$scss-library-var-prefix}background);
    --#{$scss-library-var-prefix}rollup-color: var(--#{$scss-library-var-prefix}special-color);
    --#{$scss-library-var-prefix}rollup-active-color: var(--#{$scss-library-var-prefix}active-special-color);
    --#{$scss-library-var-prefix}active-outlined-on-background: var(--#{$scss-library-var-prefix}special-on-color);
    --#{$scss-library-var-prefix}active-border-color: var(--#{$scss-library-var-prefix}special-color);
  }

  &.popup-button {
    @extend %#{$scss-library-class-prefix}highlight-popup;

    --#{$scss-library-var-prefix}popup-color: var(--#{$scss-library-var-prefix}special-color);
    --#{$scss-library-var-prefix}popup-active-color: var(--#{$scss-library-var-prefix}active-special-color);
    --#{$scss-library-var-prefix}popup-border-width: var(--#{$scss-library-var-prefix}outlined-border-width);
    --#{$scss-library-var-prefix}active-outlined-on-background: var(--#{$scss-library-var-prefix}special-on-color);
    --#{$scss-library-var-prefix}active-border-color: var(--#{$scss-library-var-prefix}special-color);

    background-color: transparent !important;

    &.button-outlined{
      border: none !important;

      &::after{
        border-width: var(--#{$scss-library-var-prefix}border-width);
        border-style: solid;
        border-color: var(--#{$scss-library-var-prefix}border-color);
      }
    }

    &.button-rounded{
      &::before,
      &::after{
        border-radius: 28%;
      }
    }

    &.button-circular{
      &::before,
      &::after{
        border-radius: 50%;
      }
    }
  }

  &.strong-elevation{
    box-shadow: 0 var(--#{$scss-library-var-prefix}elevation-height) 0 var(--#{$scss-library-var-prefix}elevation-shadow-color), 0 0 3px rgba(#000, 0.2);

    &.button-outlined{
      border-bottom-color: var(--#{$scss-library-var-prefix}elevation-shadow-color);
    }

    &.animate-active,
    &.animate-on-active.active,
    &.animate-on-hover:hover {
      // shift button downwards by shadow depth amount
      box-shadow: 0 0 0 var(--#{$scss-library-var-prefix}elevation-active-shadow-color), 0 0 0 rgba(#000, 0.2);
      transform: translate3d(0, var(--#{$scss-library-var-prefix}elevation-height), 0);
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    &.button-outlined{
      &::after{
        border-color: var(--#{$scss-library-var-prefix}active-border-color);
      }
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$scss-library-class-prefix}#{$scss-library-component-name},
  .#{$scss-library-class-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}special-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-special-color, #{$special-color--dark});
    --#{$scss-library-var-prefix}special-on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-special-on-color, #{$special-on-color--dark});
    --#{$scss-library-var-prefix}active-special-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-special-color, #{$active-special-color--dark});
    --#{$scss-library-var-prefix}active-special-on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-special-on-color, #{$active-special-on-color--dark});
    --#{$scss-library-var-prefix}elevation-shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-elevation-shadow-color, #{$elevation-shadow-color--dark});
    --#{$scss-library-var-prefix}elevation-active-shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-elevation-active-shadow-color, #{$elevation-active-shadow-color--dark});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}
