/* ------------------- @import clause ------------------- */
/* ------------------------------------------------------ */
@import "../../../src/atoms/buttons/SimpleButton.css";
@import "../../../src/atoms/highlights/HighlightRollup.css";
@import "../../../src/atoms/highlights/HighlightPopup.css";

/*

@import "../../../src/atoms/buttons/SimpleButton.css";

@use "../../../src/atoms/highlights/HighlightRollup" as rollup with (
@use "../../../src/atoms/highlights/HighlightPopup" as popup with (
*/

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

/* Main $variables */

/* LIGHT theme */

/* DARK theme */

/* generic */

.expressive-button {
  @extend .simple-button;

    --expressive-color: var(--expressive-button-expressive-color, rgba(var(----color, 0 0 0)));
  --expressive-on-color: var(--expressive-button-expressive-on-color, rgba(var(----on-color, 255 255 255)));
  --active-expressive-color: var(--expressive-button-active-expressive-color, rgba(var(----active-color, 0 0 0)));
  --active-expressive-on-color: var(--expressive-button-active-expressive-on-color, rgba(var(----active-on-color, 255 255 255)));
  --elevation-height: var(--expressive-button-elevation-height, 8px);

  --elevation-shadow-color: var(--expressive-button-elevation-shadow-color, var(----shadow-color, rgba(0, 0, 0, 0)));
  --active-elevation-shadow-color: var(--expressive-button-active-elevation-shadow-color, var(----active-shadow-color, rgba(0, 0, 0, 0)));
  --active-on-background: var(--expressive-on-color);

  &.rollup-button {
    @extend .highlight-rollup;

    --active-background: var(--background);
    --rollup-color: var(--expressive-color);
    --rollup-active-color: var(--active-expressive-color);
    --active-outlined-on-background: var(--expressive-on-color);
    --active-border-color: var(--expressive-color);
  }

  &.popup-button {
    @extend .highlight-popup;

    --popup-color: var(--expressive-color);
    --popup-active-color: var(--active-expressive-color);
    --popup-border-width: var(--outlined-border-width);
    --active-outlined-on-background: var(--expressive-on-color);
    --active-border-color: var(--expressive-color);

    &.button-outlined{
      border: none !important;

      &::after{
        border-width: var(--border-width);
        border-style: solid;
        border-color: var(--border-color);
      }
    }

    &.button-rounded{
      &::before,
      &::after{
        border-radius: 28%;
      }
    }

    &.button-circular{
      &::before,
      &::after{
        border-radius: 50%;
      }
    }
  }

  &.strong-elevation{
    box-shadow: 0 var(--elevation-height) 0 rgb(var(--elevation-shadow-color) / var(----shadow-level-2, .5)),
                0 0 3px rgb(var(--elevation-shadow-color) / var(----shadow-level-1, .25));

    &.animate-active,
    &.animate-on-active.active,
    &.animate-on-hover:hover {
      /* shift button downwards by shadow depth amount */
      box-shadow: 0 0 0 rgb(var(--elevation-active-shadow-color)), 0 0 0 rgb(0 0 0 / 0.2);
      transform: translate3d(0, var(--elevation-height), 0);
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    &.button-outlined{
      &::after{
        border-color: var(--active-border-color);
      }
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .expressive-button {
      --expressive-color: var(--expressive-button-expressive-color, rgba(var(----color, 255 255 255)));
  --expressive-on-color: var(--expressive-button-expressive-on-color, rgba(var(----on-color, 0 0 0)));
  --active-expressive-color: var(--expressive-button-active-expressive-color, rgba(var(----active-color, 255 255 255)));
  --active-expressive-on-color: var(--expressive-button-active-expressive-on-color, rgba(var(----active-on-color, 0 0 0)));

    --elevation-shadow-color: var(--expressive-button-elevation-shadow-color, var(----shadow-color, rgba(0, 0, 0, 0)));
    --active-elevation-shadow-color: var(--expressive-button-active-elevation-shadow-color, var(----active-shadow-color, rgba(0, 0, 0, 0)));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .expressive-button {
      --expressive-color: var(--expressive-button-expressive-color, rgba(var(----color, 255 255 255)));
  --expressive-on-color: var(--expressive-button-expressive-on-color, rgba(var(----on-color, 0 0 0)));
  --active-expressive-color: var(--expressive-button-active-expressive-color, rgba(var(----active-color, 255 255 255)));
  --active-expressive-on-color: var(--expressive-button-active-expressive-on-color, rgba(var(----active-on-color, 0 0 0)));

    --elevation-shadow-color: var(--expressive-button-elevation-shadow-color, var(----shadow-color, rgba(0, 0, 0, 0)));
    --active-elevation-shadow-color: var(--expressive-button-active-elevation-shadow-color, var(----active-shadow-color, rgba(0, 0, 0, 0)));
  }

}