@use "@guebbit/css-toolkit" as guebbit;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-dark-theme-class: "theme--dark" !default;

// ------------------- @import clause -------------------
// ------------------------------------------------------

$css-ui-component-name: "simple-button";
@import "../../../src/atoms/buttons/SimpleButton";

$css-ui-var-prefix: "";
$css-ui-component-name: "icon-focus-button";

/*
$css-ui-component-name: "icon-focus-button" !default;

@forward "../../../src/atoms/buttons/SimpleButton" with (
  $css-ui-class-prefix: $css-ui-class-prefix !default,
  $css-ui-var-prefix: $css-ui-var-prefix !default,
  $css-ui-component-name: "simple-button",
);
@use "../../../src/atoms/buttons/SimpleButton" as inherited;
*/

// ------------------------------------------------------
// ------------------------------------------------------

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  @extend %#{$css-ui-class-prefix}simple-button;

  padding-right: 8% !important;
  display: block !important;
  overflow: hidden;

  & > *{
    display: block;
    height: 100%;
    transition:
            transform var(--#{$css-ui-var-prefix}duration) ease,
            border var(--#{$css-ui-var-prefix}duration) ease,
            opacity var(--#{$css-ui-var-prefix}duration) ease,
            width var(--#{$css-ui-var-prefix}duration) ease,
            right var(--#{$css-ui-var-prefix}duration) ease;

    &:nth-child(1){
      position: relative;
      right: 0;
      width: 70%;
    }

    &:nth-child(2){
      border-left: var(--#{$css-ui-var-prefix}outlined-border-width) solid var(--#{$css-ui-var-prefix}border-color);
      position: absolute;
      right: 0;
      top: 50%;
      width: 30%;
      transform: translateY(-50%);
    }
  }

  .button-image,
  .button-icon{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    transition: font-size var(--#{$css-ui-var-prefix}duration) ease;
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    & > *{
      &:nth-child(1){
        right: 110%;
        opacity: 0;
      }

      &:nth-child(2){
        border-left-color: var(--#{$css-ui-var-prefix}active-border-color);
        border-width: 0;
        width: 100%;

        .button-icon {
          font-size: 3em;
        }
      }
    }
  }
}
