@use "@guebbit/css-toolkit" as guebbit;
@use "../../utils" as utils;

$css-ui-component-name: "neon-button" !default;

@forward "../../../src/atoms/buttons/SimpleButton";
@use "../../../src/atoms/buttons/SimpleButton" as inherited;

$animation-duration: 1.2s !default;
$active-animation-duration: $animation-duration * 0.5 !default;

%#{inherited.$css-ui-class-prefix}#{$css-ui-component-name},
.#{inherited.$css-ui-class-prefix}#{$css-ui-component-name} {
  @extend %#{inherited.$css-ui-class-prefix}simple-button;

  @include utils.var-builder((
                  (animation-duration, $animation-duration),
                  (active-animation-duration, $active-animation-duration),
  ), inherited.$css-ui-var-prefix, $css-ui-component-name, inherited.$css-ui-root-prefix);

  background-color: var(--#{inherited.$css-ui-var-prefix}outlined-background);
  color: var(--#{inherited.$css-ui-var-prefix}outlined-on-background);
  overflow: hidden;

  & > span{
    position: absolute;
    display: block;

    &:nth-child(1){
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg,transparent, var(--#{inherited.$css-ui-var-prefix}border-color));
      animation: #{inherited.$css-ui-class-prefix}#{$css-ui-component-name}-animation1 var(--#{inherited.$css-ui-var-prefix}animation-duration) linear infinite;
      animation-duration: var(--#{inherited.$css-ui-var-prefix}animation-duration);
    }

    &:nth-child(2){
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg,transparent,var(--#{inherited.$css-ui-var-prefix}border-color));
      animation: #{inherited.$css-ui-class-prefix}#{$css-ui-component-name}-animation2 var(--#{inherited.$css-ui-var-prefix}animation-duration) linear infinite;
      animation-duration: var(--#{inherited.$css-ui-var-prefix}animation-duration);
      animation-delay: calc(var(--#{inherited.$css-ui-var-prefix}animation-duration) * 0.25);
    }

    &:nth-child(3){
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg,transparent,var(--#{inherited.$css-ui-var-prefix}border-color));
      animation: #{inherited.$css-ui-class-prefix}#{$css-ui-component-name}-animation3 var(--#{inherited.$css-ui-var-prefix}animation-duration) linear infinite;
      animation-duration: var(--#{inherited.$css-ui-var-prefix}animation-duration);
      animation-delay: calc(var(--#{inherited.$css-ui-var-prefix}animation-duration) * 0.50);
    }

    &:nth-child(4){
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, var(--#{inherited.$css-ui-var-prefix}border-color));
      animation: #{inherited.$css-ui-class-prefix}#{$css-ui-component-name}-animation4 var(--#{inherited.$css-ui-var-prefix}animation-duration) linear infinite;
      animation-duration: var(--#{inherited.$css-ui-var-prefix}animation-duration);
      animation-delay: calc(var(--#{inherited.$css-ui-var-prefix}animation-duration) * 0.75);
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--#{inherited.$css-ui-var-prefix}active-outlined-background);
    color: var(--#{inherited.$css-ui-var-prefix}active-outlined-on-background);

    & > span {
      &:nth-child(1){
        background: linear-gradient(90deg,transparent, var(--#{inherited.$css-ui-var-prefix}active-border-color));
        animation: #{inherited.$css-ui-class-prefix}#{$css-ui-component-name}-animation1 var(--#{inherited.$css-ui-var-prefix}active-animation-duration) linear infinite;
        animation-duration: var(--#{inherited.$css-ui-var-prefix}active-animation-duration);
      }

      &:nth-child(2){
        background: linear-gradient(180deg,transparent,var(--#{inherited.$css-ui-var-prefix}active-border-color));
        animation-duration: var(--#{inherited.$css-ui-var-prefix}active-animation-duration);
        animation-delay: calc(var(--#{inherited.$css-ui-var-prefix}active-animation-duration) * 0.25);
      }

      &:nth-child(3){
        background: linear-gradient(270deg,transparent,var(--#{inherited.$css-ui-var-prefix}active-border-color));
        animation-duration: var(--#{inherited.$css-ui-var-prefix}active-animation-duration);
        animation-delay: calc(var(--#{inherited.$css-ui-var-prefix}active-animation-duration) * 0.50);
      }

      &:nth-child(4){
        background: linear-gradient(360deg, transparent, var(--#{inherited.$css-ui-var-prefix}active-border-color));
        animation-duration: var(--#{inherited.$css-ui-var-prefix}active-animation-duration);
        animation-delay: calc(var(--#{inherited.$css-ui-var-prefix}active-animation-duration) * 0.75);
      }
    }
  }
}


@keyframes #{inherited.$css-ui-class-prefix}#{$css-ui-component-name}-animation1{
  0%{
    left: -100%;
  }

  50%,
  100%{
    left: 100%;
  }
}

@keyframes #{inherited.$css-ui-class-prefix}#{$css-ui-component-name}-animation2{
  0%{
    top: -100%;
  }

  50%,
  100%{
    top: 100%;
  }
}

@keyframes #{inherited.$css-ui-class-prefix}#{$css-ui-component-name}-animation3{
  0%{
    right: -100%;
  }

  50%,
  100%{
    right: 100%;
  }
}

@keyframes #{inherited.$css-ui-class-prefix}#{$css-ui-component-name}-animation4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}