@use '../../../_generics' as generics;
@use 'variables' as vars;

/// -----------------------------------------------------------------------------
/// Component token map
/// -----------------------------------------------------------------------------
$component-map: (
    size: vars.$size,
    active-size: vars.$active-size,
    degree: vars.$degree,
    active-degree: vars.$active-degree,
    duration: vars.$duration,
    opacity: vars.$opacity
);

@mixin shape-slash-container-architecture($prefix: vars.$css-ui-component-prefix) {
    @include generics.generate-vars($component-map, $prefix);

    @include generics.base-layout($prefix);
    position: absolute;
    left: calc(var(--#{$prefix}size) * -0.25);
    top: 0;
    height: 100%;
    width: calc(var(--#{$prefix}size) * 1.25);
    z-index: -1;
    background-color: rgba(var(--#{vars.$css-ui-var-prefix}main-color, 0 0 0) / var(--#{vars.$css-ui-var-prefix}main-color-opacity, 1));
    opacity: var(--#{$prefix}opacity);
    transform: skewX(var(--#{$prefix}degree));
    transition:
        left var(--#{$prefix}duration),
        right var(--#{$prefix}duration),
        width var(--#{$prefix}duration),
        background-color var(--#{$prefix}duration),
        transform var(--#{$prefix}duration);

    &.#{generics.$css-ui-class-prefix}shape-slash-inverted {
        left: auto;
        right: calc(var(--#{$prefix}size) * -0.25);
        transform: skewX(calc(var(--#{$prefix}degree) * -1));
    }

    @include generics.interaction-states {
        left: calc(var(--#{$prefix}active-size) * -0.25);
        width: calc(var(--#{$prefix}active-size) * 1.25);
        background-color: rgba(var(--#{vars.$css-ui-var-prefix}active-main-color, var(--#{vars.$css-ui-var-prefix}main-color, 0 0 0)) / var(--#{vars.$css-ui-var-prefix}active-main-color-opacity, 1));
        transform: skewX(var(--#{$prefix}active-degree));

        &.#{generics.$css-ui-class-prefix}shape-slash-inverted {
            left: auto;
            right: calc(var(--#{$prefix}active-size) * -0.25);
            transform: skewX(calc(var(--#{$prefix}active-degree) * -1));
        }
    }

}
