@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "circular-progress-bar-svg" !default;
$scss-library-var-prefix: "" !default;

$circular-progress-bar-svg-value: 0 !default;
$circular-progress-bar-svg-color: #000 !default;
$circular-progress-bar-svg-on-color: guebbit.color-contrast($circular-progress-bar-svg-color) !default;
$circular-progress-bar-svg-header-color: transparent !default;
$circular-progress-bar-svg-header-on-color: $circular-progress-bar-svg-color !default;
$circular-progress-bar-svg-body-color: $circular-progress-bar-svg-color !default;
$circular-progress-bar-svg-body-on-color: $circular-progress-bar-svg-on-color !default;
$circular-progress-bar-svg-size: 3% !default;
$circular-progress-bar-svg-wrapper-size: 4% !default;
$circular-progress-bar-svg-duration: 0.5s !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}value: #{$circular-progress-bar-svg-value};
  --#{$scss-library-var-prefix}duration: #{$circular-progress-bar-svg-duration};
  --#{$scss-library-var-prefix}header-color: #{$circular-progress-bar-svg-header-color};
  --#{$scss-library-var-prefix}header-on-color: #{$circular-progress-bar-svg-header-on-color};
  --#{$scss-library-var-prefix}body-color: #{$circular-progress-bar-svg-body-color};
  --#{$scss-library-var-prefix}body-on-color: #{$circular-progress-bar-svg-body-on-color};
  --#{$scss-library-var-prefix}size: #{$circular-progress-bar-svg-size};
  --#{$scss-library-var-prefix}wrapper-size: #{$circular-progress-bar-svg-wrapper-size};

  position:relative;
  z-index: 1;

  .progress-bar-header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--#{$scss-library-var-prefix}header-on-color);
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    z-index: -1;

    &::after,
    &::before,
    img{
      width: 84.5%;
      height: 84.5%;
      border-radius: 50%;
    }

    // shadow
    &::after{
      content: "";
      position: absolute;
      background: var(--#{$scss-library-var-prefix}header-color);
      z-index: -1;
    }

    img{
      z-index: -2;
    }

    &::before{
      counter-reset: value var(--#{$scss-library-var-prefix}value);
      content: counter(value) '%';
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      z-index: 1;
    }

    img{
      object-fit: cover;
    }

    & > div{
      padding: 10%;

      span{
        display:block;
      }
    }
  }

  .progress-bar-body{
    width: 100%;

    & > *{
      fill: none;
      stroke-linecap: round;
      transition:
              stroke var(--#{$scss-library-var-prefix}duration),
              stroke-dasharray var(--#{$scss-library-var-prefix}duration);

      &:first-child{
        stroke-width: var(--#{$scss-library-var-prefix}wrapper-size);
        stroke: var(--#{$scss-library-var-prefix}body-on-color);
      }

      &:last-child{
        stroke: var(--#{$scss-library-var-prefix}body-color);
        stroke-width: var(--#{$scss-library-var-prefix}svg-size);
        stroke-dasharray: var(--value) 100;
      }
    }
  }
}


