@use "../../../index" as guebbit;

$scss-library-class-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "circular-progress-bar-svg" !default;

// main
$color: null !default;
$color--light: guebbit.noNullVar(($color, #000)) !default;
$color--dark: guebbit.noNullVar(($color, #fff)) !default;
$active-color: null !default;
$active-color--light: guebbit.noNullVar(($active-color, $color--light)) !default;
$active-color--dark: guebbit.noNullVar(($active-color, $color--dark)) !default;

// LIGHT theme
$on-color: guebbit.color-contrast($color--light) !default;
$header-color: $color--light !default;
$shadow-color: transparent !default;

$active-on-color: guebbit.color-contrast($active-color--light) !default;
$active-header-color: $active-color--light !default;
$active-shadow-color: $shadow-color !default;

// DARK theme
$on-color--dark: guebbit.color-contrast($color--dark) !default;
$header-color--dark: $color--dark !default;
$shadow-color--dark: transparent !default;

$active-on-color--dark: guebbit.color-contrast($active-color--dark) !default;
$active-header-color--dark: $active-color--dark !default;
$active-shadow-color--dark: $shadow-color--dark !default;

$value: 0 !default;
$size: 3% !default;
$wrapper-size: 4% !default;
$duration: 0.5s !default;

%#{$scss-library-class-prefix}#{$scss-library-component-name},
.#{$scss-library-class-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--light});
  --#{$scss-library-var-prefix}on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-color, #{$on-color});
  --#{$scss-library-var-prefix}header-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-header-color, #{$header-color});
  --#{$scss-library-var-prefix}shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-shadow-color, #{$shadow-color});

  --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-color--light});
  --#{$scss-library-var-prefix}active-on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-on-color, #{$active-on-color});
  --#{$scss-library-var-prefix}active-header-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-header-color, #{$active-header-color});
  --#{$scss-library-var-prefix}active-shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-shadow-color, #{$active-shadow-color});

  --#{$scss-library-var-prefix}value: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-value, #{$value});
  --#{$scss-library-var-prefix}size: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-size, #{$size});
  --#{$scss-library-var-prefix}wrapper-size: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-wrapper-size, #{$wrapper-size});
  --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});

  position:relative;
  z-index: 1;

  .progress-bar-header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--#{$scss-library-var-prefix}header-color);
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    z-index: -1;
    transition: color var(--#{$scss-library-var-prefix}duration);

    &::after,
    &::before,
    img{
      width: 84.5%;
      height: 84.5%;
      border-radius: 50%;
    }

    // shadow
    &::after{
      content: "";
      position: absolute;
      background: var(--#{$scss-library-var-prefix}shadow-color);
      z-index: -1;
      transition: background var(--#{$scss-library-var-prefix}duration);
    }

    img{
      z-index: -2;
    }

    &::before{
      counter-reset: value var(--#{$scss-library-var-prefix}value);
      content: counter(value) '%';
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      z-index: 1;
    }

    img{
      object-fit: cover;
    }

    & > div{
      padding: 10%;

      span{
        display:block;
      }
    }
  }

  .progress-bar-body{
    width: 100%;

    & > *{
      fill: none;
      stroke-linecap: round;
      transition:
              stroke var(--#{$scss-library-var-prefix}duration),
              stroke-dasharray var(--#{$scss-library-var-prefix}duration);

      &:first-child{
        stroke-width: var(--#{$scss-library-var-prefix}wrapper-size);
        stroke: var(--#{$scss-library-var-prefix}on-color);
      }

      &:last-child{
        stroke: var(--#{$scss-library-var-prefix}color);
        stroke-width: var(--#{$scss-library-var-prefix}svg-size);
        stroke-dasharray: var(--value) 100;
      }
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    .progress-bar-header {
      color: var(--#{$scss-library-var-prefix}active-header-color);
      &::after{
        background: var(--#{$scss-library-var-prefix}active-shadow-color);
      }
    }
    .progress-bar-body{
      width: 100%;
      & > *{
        &:first-child{
          stroke: var(--#{$scss-library-var-prefix}active-on-color);
        }

        &:last-child{
          stroke: var(--#{$scss-library-var-prefix}active-color);
        }
      }
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-class-prefix}#{$scss-library-component-name},
  .#{$scss-library-class-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-color, #{$color--dark});
    --#{$scss-library-var-prefix}on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-color, #{$on-color--dark});
    --#{$scss-library-var-prefix}header-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}header-color, #{$header-color--dark});
    --#{$scss-library-var-prefix}shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-shadow-color, #{$shadow-color--dark});

    --#{$scss-library-var-prefix}active-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-color, #{$active-color--dark});
    --#{$scss-library-var-prefix}active-on-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-on-color, #{$active-on-color--dark});
    --#{$scss-library-var-prefix}active-header-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}active-header-color, #{$active-header-color--dark});
    --#{$scss-library-var-prefix}active-shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-shadow-color, #{$active-shadow-color});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder();
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder();
}


