@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "circular-progress-bar-css" !default;
$scss-library-var-prefix: "" !default;

$circular-progress-bar-css-value: 0 !default;
$circular-progress-bar-css-color: #000 !default;
$circular-progress-bar-css-on-color: guebbit.color-contrast($circular-progress-bar-css-color) !default;
$circular-progress-bar-css-background: transparent !default;
$circular-progress-bar-css-text-color: guebbit.color-contrast($circular-progress-bar-css-background) !default;
$circular-progress-bar-css-duration: 0.5s !default;

@property --#{$scss-library-var-prefix}percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@keyframes #{$scss-library-prefix}#{$scss-library-component-name}animation {
  0% { --#{$scss-library-var-prefix}percentage: 0; }
  100% { --#{$scss-library-var-prefix}percentage: var(--#{$scss-library-var-prefix}value); }
}

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}value: #{$circular-progress-bar-css-value};
  --#{$scss-library-var-prefix}color: #{$circular-progress-bar-css-color};
  --#{$scss-library-var-prefix}on-color: #{$circular-progress-bar-css-on-color};
  --#{$scss-library-var-prefix}background: #{$circular-progress-bar-css-background};
  --#{$scss-library-var-prefix}text-color: #{$circular-progress-bar-css-text-color};
  --#{$scss-library-var-prefix}duration: #{$circular-progress-bar-css-duration};
  --#{$scss-library-var-prefix}percentage: var(--#{$scss-library-var-prefix}value);

  width: 100%;
  animation: #{$scss-library-prefix}#{$scss-library-component-name}animation var(--#{$scss-library-var-prefix}duration) 0.2s forwards;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  background-color: var(--#{$scss-library-var-prefix}background);
  color: var(--#{$scss-library-var-prefix}text-color);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--#{$scss-library-var-prefix}color) calc(var(--#{$scss-library-var-prefix}percentage) * 1%), var(--#{$scss-library-var-prefix}on-color) 0);
    // stylelint-disable-next-line
    mask-mode: alpha;
    // stylelint-disable-next-line
    mask: radial-gradient(#0000 55%, #000 0);
    -webkit-mask-mode: alpha;
  }

  &::after {
    counter-reset: percentage var(--#{$scss-library-var-prefix}value);
    content: counter(percentage) '%';
    font-family: Helvetica, Arial, sans-serif;
    font-size: 5em;
  }

  &.numberless-mode {
    &::after {
      content: none;
    }
  }

  &.simplified-mode {
    &::before{
      mask: none;
    }
  }
}