@use '../../../_generics' as generics;
@use 'architecture' as arch;
@use 'variables' as vars;
@forward 'variables';

/// -----------------------------------------------------------------------------
/// Base component block
/// -----------------------------------------------------------------------------
$component-variables-map: (
    tilt: vars.$tilt,
    active-tilt: vars.$active-tilt,
    duration: vars.$duration,
    padding: vars.$padding
);

@layer components {
    %#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name},
    .#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
        @include generics.color-parameters-main();
        @include arch.button-parallelogram-architecture();
    }
}
