@use '../../../_generics/variables' as globals;
@forward '../../../_generics/variables';

$css-ui-component-name: 'highlight-popup' !default;

// -----------------------------------------------------------------------------
// Layout / animation
// -----------------------------------------------------------------------------
$delay: calc(#{globals.$duration} * 0.9) !default;
$border-width: 1px !default;
$padding: 1em 2em !default;
