@use '../../../_generics' as generics;
@use 'architecture' as arch;
@use 'variables' as vars;
@forward 'variables';

// -----------------------------------------------------------------------------
// Component token map
// -----------------------------------------------------------------------------
$component-map: (
    duration: vars.$duration,
    delay: vars.$delay,
    border-width: vars.$width,
    padding: vars.$padding
);

@layer components {
    %#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name},
    .#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
        @include arch.highlight-popup-architecture();
    }

    @keyframes #{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}-animation {
        0% {
            transform: scale(1, 1);
        }

        50% {
            transform: scale(1.1, 1.1);
        }

        100% {
            transform: scale(1, 1);
        }
    }
}
