@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "icon-focus-button" !default;

@forward "../../../components/atoms/buttons/SimpleButton" with (
  $scss-library-prefix: $scss-library-prefix !default,
  $scss-library-var-prefix: $scss-library-var-prefix !default,
  $scss-library-component-name: "simple-button",
);
@use "../../../components/atoms/buttons/SimpleButton" as inherited;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  @extend %#{$scss-library-prefix}simple-button;

  padding-right: 8% !important;
  display: block !important;
  overflow: hidden;

  & > *{
    display: block;
    height: 100%;
    transition:
            transform var(--#{$scss-library-var-prefix}duration) ease,
            border var(--#{$scss-library-var-prefix}duration) ease,
            opacity var(--#{$scss-library-var-prefix}duration) ease,
            width var(--#{$scss-library-var-prefix}duration) ease,
            right var(--#{$scss-library-var-prefix}duration) ease;

    &:nth-child(1){
      position: relative;
      right: 0;
      width: 70%;
    }

    &:nth-child(2){
      border-left-color: var(--#{$scss-library-var-prefix}border-color);
      border-left-width: var(--#{$scss-library-var-prefix}outlined-border-width);
      border-left-style: solid;
      position: absolute;
      right: 0;
      top: 50%;
      width: 30%;
      transform: translateY(-50%);
    }
  }

  .button-image,
  .button-icon{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    transition: font-size var(--#{$scss-library-var-prefix}duration) ease;
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    & > *{
      &:nth-child(1){
        right: 110%;
        opacity: 0;
      }

      &:nth-child(2){
        border-left-color: var(--#{$scss-library-var-prefix}active-border-color);
        border-width: 0;
        width: 100%;

        .button-icon {
          font-size: 3em;
        }
      }
    }
  }
}
