@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "neon-button" !default;

@forward "../../../components/atoms/buttons/SimpleButton" with (
  $scss-library-prefix: $scss-library-prefix !default,
  $scss-library-var-prefix: $scss-library-var-prefix !default,
  $scss-library-dark-theme-class: $scss-library-dark-theme-class !default,
  $scss-library-component-name: "simple-button",
);

$animation-duration: 1.2s !default;
$active-animation-duration: $animation-duration * 0.5 !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  @extend %#{$scss-library-prefix}simple-button;

  --#{$scss-library-var-prefix}animation-duration: #{$animation-duration};
  --#{$scss-library-var-prefix}active-animation-duration: #{$active-animation-duration};

  background-color: var(--#{$scss-library-var-prefix}outlined-background);
  color: var(--#{$scss-library-var-prefix}outlined-on-background);
  overflow: hidden;

  & > span{
    position: absolute;
    display: block;

    &:nth-child(1){
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg,transparent, var(--#{$scss-library-var-prefix}outlined-border-color));
      animation: #{$scss-library-prefix}#{$scss-library-component-name}-animation1 var(--#{$scss-library-var-prefix}animation-duration) linear infinite;
      animation-duration: var(--#{$scss-library-var-prefix}animation-duration);
    }

    &:nth-child(2){
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg,transparent,var(--#{$scss-library-var-prefix}outlined-border-color));
      animation: #{$scss-library-prefix}#{$scss-library-component-name}-animation2 var(--#{$scss-library-var-prefix}animation-duration) linear infinite;
      animation-duration: var(--#{$scss-library-var-prefix}animation-duration);
      animation-delay: calc(var(--#{$scss-library-var-prefix}animation-duration) * 0.25);
    }

    &:nth-child(3){
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg,transparent,var(--#{$scss-library-var-prefix}outlined-border-color));
      animation: #{$scss-library-prefix}#{$scss-library-component-name}-animation3 var(--#{$scss-library-var-prefix}animation-duration) linear infinite;
      animation-duration: var(--#{$scss-library-var-prefix}animation-duration);
      animation-delay: calc(var(--#{$scss-library-var-prefix}animation-duration) * 0.50);
    }

    &:nth-child(4){
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, var(--#{$scss-library-var-prefix}outlined-border-color));
      animation: #{$scss-library-prefix}#{$scss-library-component-name}-animation4 var(--#{$scss-library-var-prefix}animation-duration) linear infinite;
      animation-duration: var(--#{$scss-library-var-prefix}animation-duration);
      animation-delay: calc(var(--#{$scss-library-var-prefix}animation-duration) * 0.75);
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--#{$scss-library-var-prefix}active-outlined-background);
    color: var(--#{$scss-library-var-prefix}active-outlined-on-background);

    & > span {
      &:nth-child(1){
        background: linear-gradient(90deg,transparent, var(--#{$scss-library-var-prefix}active-outlined-border-color));
        animation: #{$scss-library-prefix}#{$scss-library-component-name}-animation1 var(--#{$scss-library-var-prefix}active-animation-duration) linear infinite;
        animation-duration: var(--#{$scss-library-var-prefix}active-animation-duration);
      }

      &:nth-child(2){
        background: linear-gradient(180deg,transparent,var(--#{$scss-library-var-prefix}active-outlined-border-color));
        animation-duration: var(--#{$scss-library-var-prefix}active-animation-duration);
        animation-delay: calc(var(--#{$scss-library-var-prefix}active-animation-duration) * 0.25);
      }

      &:nth-child(3){
        background: linear-gradient(270deg,transparent,var(--#{$scss-library-var-prefix}active-outlined-border-color));
        animation-duration: var(--#{$scss-library-var-prefix}active-animation-duration);
        animation-delay: calc(var(--#{$scss-library-var-prefix}active-animation-duration) * 0.50);
      }

      &:nth-child(4){
        background: linear-gradient(360deg, transparent, var(--#{$scss-library-var-prefix}active-border-color));
        animation-duration: var(--#{$scss-library-var-prefix}active-animation-duration);
        animation-delay: calc(var(--#{$scss-library-var-prefix}active-animation-duration) * 0.75);
      }
    }
  }
}


@keyframes #{$scss-library-prefix}#{$scss-library-component-name}-animation1{
  0%{
    left: -100%;
  }

  50%,
  100%{
    left: 100%;
  }
}

@keyframes #{$scss-library-prefix}#{$scss-library-component-name}-animation2{
  0%{
    top: -100%;
  }

  50%,
  100%{
    top: 100%;
  }
}

@keyframes #{$scss-library-prefix}#{$scss-library-component-name}-animation3{
  0%{
    right: -100%;
  }

  50%,
  100%{
    right: 100%;
  }
}

@keyframes #{$scss-library-prefix}#{$scss-library-component-name}-animation4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}