@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "neon-button" !default;
$scss-library-var-prefix: "" !default;

@forward "../../../components/atoms/buttons/SimpleButton" with (
  $simple-button-duration: 1.2s !default,
  $scss-library-prefix: $scss-library-prefix !default,
  $scss-library-var-prefix: $scss-library-var-prefix !default,
  $scss-library-component-name: "simple-button",
);

$color: #000 !default;
$border-color: $neon-button-color !default;
$active-color: $color !default;
$active-border-color: $active-color !default;
$active-duration: 0.6s !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  @extend %#{$scss-library-prefix}simple-button;
  --#{$scss-library-var-prefix}active-duration: #{$active-duration};
  --#{$scss-library-var-prefix}color: #{$color};
  --#{$scss-library-var-prefix}border-color: #{$border-color};
  --#{$scss-library-var-prefix}active-color: #{$active-color};
  --#{$scss-library-var-prefix}active-border-color: #{$active-border-color};

  background: transparent;
  // color: var(--#{$scss-library-var-prefix}color);
  overflow: hidden;

  & > span{
    position: absolute;
    display: block;

    &:nth-child(1){
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg,transparent, var(--#{$scss-library-var-prefix}border-color));
      animation: neon-button-animation-1 var(--#{$scss-library-var-prefix}duration) linear infinite;
      animation-duration: var(--#{$scss-library-var-prefix}duration);
    }

    &:nth-child(2){
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg,transparent,var(--#{$scss-library-var-prefix}border-color));
      animation: neon-button-animation-2 var(--#{$scss-library-var-prefix}duration) linear infinite;
      animation-duration: var(--#{$scss-library-var-prefix}duration);
      animation-delay: calc(var(--#{$scss-library-var-prefix}duration) * 0.25);
    }

    &:nth-child(3){
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg,transparent,var(--#{$scss-library-var-prefix}border-color));
      animation: neon-button-animation-3 var(--#{$scss-library-var-prefix}duration) linear infinite;
      animation-duration: var(--#{$scss-library-var-prefix}duration);
      animation-delay: calc(var(--#{$scss-library-var-prefix}duration) * 0.50);
    }

    &:nth-child(4){
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, var(--#{$scss-library-var-prefix}border-color));
      animation: neon-button-animation-4 var(--#{$scss-library-var-prefix}duration) linear infinite;
      animation-duration: var(--#{$scss-library-var-prefix}duration);
      animation-delay: calc(var(--#{$scss-library-var-prefix}duration) * 0.75);
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background: transparent;

    & > span {
      &:nth-child(1){
        background: linear-gradient(90deg,transparent, var(--#{$scss-library-var-prefix}active-border-color));
        animation: neon-button-animation-1 var(--#{$scss-library-var-prefix}active-duration) linear infinite;
        animation-duration: var(--#{$scss-library-var-prefix}active-duration);
      }

      &:nth-child(2){
        background: linear-gradient(180deg,transparent,var(--#{$scss-library-var-prefix}active-border-color));
        animation-duration: var(--#{$scss-library-var-prefix}active-duration);
        animation-delay: calc(var(--#{$scss-library-var-prefix}active-duration) * 0.25);
      }

      &:nth-child(3){
        background: linear-gradient(270deg,transparent,var(--#{$scss-library-var-prefix}active-border-color));
        animation-duration: var(--#{$scss-library-var-prefix}active-duration);
        animation-delay: calc(var(--#{$scss-library-var-prefix}active-duration) * 0.50);
      }

      &:nth-child(4){
        background: linear-gradient(360deg, transparent, var(--#{$scss-library-var-prefix}active-border-color));
        animation-duration: var(--#{$scss-library-var-prefix}active-duration);
        animation-delay: calc(var(--#{$scss-library-var-prefix}active-duration) * 0.75);
      }
    }
  }
}


@keyframes neon-button-animation-1{
  0%{
    left: -100%;
  }

  50%,
  100%{
    left: 100%;
  }
}

@keyframes neon-button-animation-2{
  0%{
    top: -100%;
  }

  50%,
  100%{
    top: 100%;
  }
}

@keyframes neon-button-animation-3{
  0%{
    right: -100%;
  }

  50%,
  100%{
    right: 100%;
  }
}

@keyframes neon-button-animation-4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}