@use '../../../_generics' as generics;
@use 'architecture' as arch;
@use 'variables' as vars;
@forward 'variables';


@property --#{vars.$css-ui-var-prefix}#{vars.$css-ui-component-name}-percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

@keyframes #{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}-animation {
    0% {
        --#{vars.$css-ui-component-prefix}percentage: 0;
    }

    100% {
        --#{vars.$css-ui-component-prefix}percentage: var(--#{vars.$css-ui-component-prefix}value);
    }
}

@layer composite-components {
    %#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name},
    .#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
        @include generics.base-parameters-background();
        @include generics.base-parameters-on-background();
        @include arch.circular-progress-bar-css-architecture();
    }
}
