/* Main $variables */

/* LIGHT theme */

/* DARK theme */

/* generic */

.timeline-tree {
    --pillar-color: var(--timeline-tree-pillar-color, rgba(var(----color, 0 0 0)));
  --pillar-on-color: var(--timeline-tree-pillar-on-color, rgba(var(----on-color, 255 255 255)));
  --pillar-icon-shadow: var(--timeline-tree-pillar-icon-shadow, rgba(var(----shadow-color, 0 0 0)));
  --active-pillar-color: var(--timeline-tree-active-pillar-color, rgba(var(----active-color, 0 0 0)));
  --active-pillar-on-color: var(--timeline-tree-active-pillar-on-color, rgba(var(----active-on-color, 255 255 255)));
  --active-pillar-icon-shadow: var(--timeline-tree-active-pillar-icon-shadow, rgba(var(----active-shadow-color, 0 0 0)));
  --slot-color: var(--timeline-tree-slot-color, transparent);
  --slot-on-color: var(--timeline-tree-slot-on-color, inherit);
  --active-slot-color: var(--timeline-tree-active-slot-color, transparent);
  --active-slot-on-color: var(--timeline-tree-active-slot-on-color, inherit);
  --pillar-line-color: var(--timeline-tree-pillar-line-color, rgba(var(----color, 0 0 0 / 0.3)));
  --pillar-icon-size: var(--timeline-tree-pillar-icon-size, 40px);
  --pillar-line-size: var(--timeline-tree-pillar-line-size, 4px);
  --pillar-distance: var(--timeline-tree-pillar-distance, $pillar-distance);
  --slot-distance: var(--timeline-tree-slot-distance, 24px);
  --duration: var(--timeline-tree-duration, 0.3s);

  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--slot-distance);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: var(--pillar-distance);
    height: 100%;
    width: var(--pillar-line-size);
    background-color: var(--pillar-line-color);
    z-index: 1;
  }

  .timeline-tree-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--pillar-icon-size);
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--pillar-on-color);
    background-color: var(--pillar-color);
    text-shadow: 2px 2px 4px rgb(var(--pillar-icon-shadow) / 0.3);
    z-index: 2;
    transition:
      color var(--duration),
      background-color var(--duration),
      text-shadow var(--duration);

    & > * {
      max-height: 80%;
      max-width: 80%;
      font-size: 80%;
      fill: currentcolor;
    }

    & > svg{
      filter: drop-shadow(2px 2px 4px rgb(0 255 0 / 0.3));
    }
  }

  .timeline-tree-item {
    position: relative;
    background-color: var(--slot-color);
    color: var(--slot-on-color);
    transition:
            color var(--duration),
            background-color var(--duration);
  }

  .timeline-tree-slot {
    position: relative;
    padding-left: calc(var(--pillar-icon-size) + var(--pillar-distance));

    /* slot date can be put inside card (and have custom CSS) or outside and have this CSS */
    & > .timeline-tree-slot-date {
      display: block;
      margin-top: calc(var(--slot-distance) * 0.5);
    }
  }

  &.timeline-with-balloon {
    .timeline-tree-item {
      &::before {
        content: '';
        position: absolute;
        top: 1em;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right-color: var(--slot-color);
        transition: border-color var(--duration);
      }
    }
  }

  &.timeline-with-line {
    .timeline-tree-slot{
      &::before {
        content: '';
        position: absolute;
        left: calc(var(--pillar-icon-size) - var(--slot-distance) + 2px);
        top: var(--pillar-distance);
        height: var(--pillar-line-size);
        width: var(--pillar-icon-size);
        background-color: var(--pillar-color);
        z-index: 1;
      }
    }
  }

  &.timeline-with-border{
    gap: 0;

    .timeline-tree-icon{
      top: 50%;
      transform: translateY(-50%);
    }

    .timeline-tree-item {
      background-color: transparent;
    }

    .timeline-tree-slot{
      padding-top: var(--slot-distance);
      padding-bottom: var(--slot-distance);

      &::before{
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        margin-left: calc(var(--pillar-distance) * -1);
        width: calc(100% - var(--pillar-distance) - var(--pillar-line-size));
        height: var(--pillar-line-size);
        background-color: var(--pillar-color);
      }

      & > .timeline-tree-slot-date {
        margin-top: 0;
      }

      &:last-child{
        &::before{
          content: none;
        }
      }
    }
  }

  /* DESKTOP ONLY */
  &.timeline-tree-alternate{
    @media only screen and (min-width: $threshold-mobile) {
      .timeline-tree-icon,
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }

      .timeline-tree-item {
        margin-left: 0;
        width: calc(50% - var(--pillar-icon-size));

        &::before {
          left: 100%;
          border-color: transparent;
          border-left-color: var(--slot-color);
          transition: border-color var(--duration);
        }
      }

      .timeline-tree-slot {
        padding-left: 0;
        /* padding-right: calc(var(--pillar-icon-size) + var(--pillar-distance)); */

        /* slot date can be put inside card (and have custom CSS) or outside and have this CSS */
        & > .timeline-tree-slot-date {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 50%;
          margin: 0;
          padding-left: var(--pillar-icon-size);
          z-index: 0;
        }

        &:nth-child(even) {
          & > .timeline-tree-slot-date {
            right: auto;
            left: 0;
            text-align: right;
            padding-left: 0;
            padding-right: var(--pillar-icon-size);
          }

          .timeline-tree-item {
            margin-left: auto;
          }
        }
      }

      &.timeline-with-balloon {
        .timeline-tree-slot {
          &:nth-child(even) {
            .timeline-tree-item {
              &::before {
                left: auto;
                right: 100%;
                border-left-color: transparent;
                border-right-color: var(--slot-color);
              }
            }
          }
        }
      }

      &.timeline-with-line {
        .timeline-tree-slot{
          &::before {
            left: auto;
            right: 50%;
          }

          &:nth-child(even) {
            &::before{
              right: auto;
              left: 50%;
            }
          }
        }
      }
    }
  }

  &.timeline-tree-slot.animate-active,
  &.animate-on-active .timeline-tree-slot.active,
  &.animate-on-hover .timeline-tree-slot:hover {
    --slot-color: var(--active-slot-color);
    --slot-on-color: var(--active-slot-on-color);
    --pillar-on-color: var(--active-pillar-on-color);
    --pillar-color: var(--active-pillar-color);
    --pillar-icon-shadow: var(--active-pillar-icon-shadow);
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .timeline-tree {
      --pillar-color: var(--timeline-tree-pillar-color, rgba(var(----color, 255 255 255)));
  --pillar-on-color: var(--timeline-tree-pillar-on-color, rgba(var(----on-color, 0 0 0)));
  --pillar-icon-shadow: var(--timeline-tree-pillar-icon-shadow, var(----shadow-color, 0 0 0));
  --active-pillar-color: var(--timeline-tree-active-pillar-color, rgba(var(----active-color, 255 255 255)));
  --active-pillar-on-color: var(--timeline-tree-active-pillar-on-color, rgba(var(----active-on-color, 0 0 0)));
  --active-pillar-icon-shadow: var(--timeline-tree-active-pillar-icon-shadow, rgba(var(----active-shadow-color, 0 0 0)));
  --slot-color: var(--timeline-tree-slot-color, transparent);
  --slot-on-color: var(--timeline-tree-slot-on-color, inherit);
  --active-slot-color: var(--timeline-tree-active-slot-color, transparent);
  --active-slot-on-color: var(--timeline-tree-active-slot-on-color, inherit);
  --pillar-line-color: var(--timeline-tree-pillar-line-color, rgba(var(----color, 255 255 255 / 0.3)));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .timeline-tree {
      --pillar-color: var(--timeline-tree-pillar-color, rgba(var(----color, 255 255 255)));
  --pillar-on-color: var(--timeline-tree-pillar-on-color, rgba(var(----on-color, 0 0 0)));
  --pillar-icon-shadow: var(--timeline-tree-pillar-icon-shadow, var(----shadow-color, 0 0 0));
  --active-pillar-color: var(--timeline-tree-active-pillar-color, rgba(var(----active-color, 255 255 255)));
  --active-pillar-on-color: var(--timeline-tree-active-pillar-on-color, rgba(var(----active-on-color, 0 0 0)));
  --active-pillar-icon-shadow: var(--timeline-tree-active-pillar-icon-shadow, rgba(var(----active-shadow-color, 0 0 0)));
  --slot-color: var(--timeline-tree-slot-color, transparent);
  --slot-on-color: var(--timeline-tree-slot-on-color, inherit);
  --active-slot-color: var(--timeline-tree-active-slot-color, transparent);
  --active-slot-on-color: var(--timeline-tree-active-slot-on-color, inherit);
  --pillar-line-color: var(--timeline-tree-pillar-line-color, rgba(var(----color, 255 255 255 / 0.3)));
  }

}