// =============================================================================
// BookFrontLoad – Component Entry
// =============================================================================
// Book pages flipping animation (front-view).
// Follows the same modular architecture as SimpleButton.
//
// Usage (standalone):
//   @use "src/atoms/animations/book-front-load";
// =============================================================================

@use '../../../_generics' as generics;
@use 'variables' as vars;
@forward 'variables';


// -----------------------------------------------------------------------------
// Component token map
// -----------------------------------------------------------------------------
$component-map: (
    size:         vars.$size,
    duration:     vars.$duration,
);

%#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name},
.#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
    @include generics.generate-vars($component-map, vars.$css-ui-component-prefix);

    @include generics.base-layout(vars.$css-ui-component-prefix);
    position: relative;
    border: 0.05em solid var(--#{generics.$css-ui-prefix}main-color, currentColor);
    background: var(--#{generics.$css-ui-prefix}main-color, currentColor);
    font-size: var(--#{generics.$css-ui-prefix}#{vars.$css-ui-component-name}-size);
    width: 1em;
    height: 0.6em;
    transform: translateY(0);

    & > * {
        position: absolute;
        left: 50%;
        top: -0.05em;
        margin: 0 auto;
        border-top: 0.05em solid var(--#{generics.$css-ui-prefix}main-color, currentColor);
        border-bottom: 0.05em solid var(--#{generics.$css-ui-prefix}main-color, currentColor);
        border-right: 0.05em solid var(--#{generics.$css-ui-prefix}main-color, currentColor);
        width: 0.5em;
        height: 0.6em;
        animation: book-front-load-animation var(--#{generics.$css-ui-prefix}#{vars.$css-ui-component-name}-duration) infinite linear;
        animation-fill-mode: forwards;
        transform-origin: 0 50%;

        @for $i from 1 through vars.$number {
            &:nth-child(#{$i}) {
                z-index: -$i;
                animation-delay: vars.$duration * vars.$multiplier * ($i - 1);
            }
        }
    }
}

@keyframes book-front-load-animation {
    0% {
        background: var(--#{generics.$css-ui-prefix}main-color, currentColor);
        transform: perspective(600px) rotateY(-0deg);
    }

    20% {
        background: var(--#{generics.$css-ui-prefix}main-color, currentColor);
    }

    30% {
        transform: perspective(200px) rotateY(-90deg);
        background: var(--#{generics.$css-ui-prefix}main-color, currentColor);
    }

    60% {
        transform: perspective(200px) rotateY(-180deg);
    }

    100% {
        transform: perspective(200px) rotateY(-180deg);
    }
}
