@use "@guebbit/css-toolkit" as guebbit;
@use "../../utils" as utils;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-root-prefix: "--" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "circular-progress-bar-svg" !default;

// Main $variables
$color: null !default;
$color--light: guebbit.no-null-var(($color, #000)) !default;
$color--dark: guebbit.no-null-var(($color, #fff)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;

// LIGHT theme
$on-color: guebbit.color-contrast($color--light) !default;
$number-color: $color--light !default;
$shadow-color: transparent !default;

$active-on-color: guebbit.color-contrast($active-color--light) !default;
$active-number-color: $active-color--light !default;
$active-shadow-color: $shadow-color !default;

// DARK theme
$on-color--dark: guebbit.color-contrast($color--dark) !default;
$number-color--dark: $color--dark !default;
$shadow-color--dark: transparent !default;

$active-on-color--dark: guebbit.color-contrast($active-color--dark) !default;
$active-number-color--dark: $active-color--dark !default;
$active-shadow-color--dark: $shadow-color--dark !default;

$value: 0 !default;
$size: 3% !default;
$wrapper-size: 4% !default;
$duration: 0.5s !default;

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  @include utils.var-builder((
                  (color, guebbit.extract-colors($color--light), color),
                  (on-color, guebbit.extract-colors($on-color), on-color),
                  (number-color, guebbit.extract-colors($number-color), color),
                  (active-color, guebbit.extract-colors($active-color), active-color),
                  (active-on-color, guebbit.extract-colors($active-on-color), active-on-color),
                  (active-number-color, guebbit.extract-colors($active-number-color), active-color),

                  (value, $value),
                  (size, $size),
                  (wrapper-size, $wrapper-size),
                  (duration, $duration),
  ), $css-ui-var-prefix, $css-ui-component-name, $css-ui-root-prefix);


  position:relative;
  z-index: 1;

  .progress-bar-header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--#{$css-ui-var-prefix}color);
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    z-index: -1;
    transition: color var(--#{$css-ui-var-prefix}duration);

    &::after,
    &::before,
    img{
      width: 84.5%;
      height: 84.5%;
      border-radius: 50%;
    }

    // shadow
    &::after{
      content: "";
      position: absolute;
      // background: var(--#{$css-ui-var-prefix}shadow-color);
      z-index: -1;
      transition: background var(--#{$css-ui-var-prefix}duration);
    }

    img{
      z-index: -2;
      object-fit: cover;
    }

    &::before{
      counter-reset: value var(--#{$css-ui-var-prefix}value);
      content: counter(value) '%';
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      z-index: 1;
    }

    & > div{
      padding: 10%;

      span{
        display:block;
      }
    }
  }

  .progress-bar-body{
    width: 100%;

    & > *{
      fill: none;
      stroke-linecap: round;
      transition:
              stroke var(--#{$css-ui-var-prefix}duration),
              stroke-dasharray var(--#{$css-ui-var-prefix}duration);

      &:first-child{
        stroke-width: var(--#{$css-ui-var-prefix}wrapper-size);
        stroke: var(--#{$css-ui-var-prefix}on-color);
      }

      &:last-child{
        stroke: var(--#{$css-ui-var-prefix}color);
        stroke-width: var(--#{$css-ui-var-prefix}svg-size);
        stroke-dasharray: var(--value) 100;
      }
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    .progress-bar-header {
      color: var(--#{$css-ui-var-prefix}active-number-color);

      &::after{
        background: var(--#{$css-ui-var-prefix}active-shadow-color);
      }
    }

    .progress-bar-body{
      width: 100%;

      & > *{
        &:first-child{
          stroke: var(--#{$css-ui-var-prefix}active-on-color);
        }

        &:last-child{
          stroke: var(--#{$css-ui-var-prefix}active-color);
        }
      }
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    @include utils.var-builder((
                    (color, guebbit.extract-colors($color--dark), color),
                    (on-color, guebbit.extract-colors($on-color--dark), on-color),
                    (number-color, guebbit.extract-colors($number-color--dark), color),
                    (active-color, guebbit.extract-colors($active-color--dark), active-color),
                    (active-on-color, guebbit.extract-colors($active-on-color--dark), active-on-color),
                    (active-number-color, guebbit.extract-colors($active-number-color--dark), active-color),
    ), $css-ui-var-prefix, $css-ui-component-name, $css-ui-root-prefix);
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}


