@use "../../../node_modules/@guebbit/css-toolkit" as guebbit;

$css-ui-class-prefix: "" !default;
$css-ui-var-prefix: "" !default;
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-component-name: "circular-progress-bar-css" !default;

// main
$color: null !default;
$color--light: guebbit.no-null-var(($color, #000)) !default;
$color--dark: guebbit.no-null-var(($color, #fff)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;
$background: null !default;
$background--light: guebbit.no-null-var(($background, #fff)) !default;
$background--dark: guebbit.no-null-var(($background, #2B2A33)) !default;

// LIGHT theme
$on-color: guebbit.color-contrast($background--light) !default;
$active-on-color: $on-color !default;

// DARK theme
$on-color--dark: guebbit.color-contrast($background--dark) !default;
$active-on-color--dark: $on-color--dark !default;

// generic
$percentage: 0 !default;
$value: 0 !default;
$duration: 0.5s !default;

@property --#{$css-ui-var-prefix}percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@keyframes #{$css-ui-class-prefix}#{$css-ui-component-name}-animation {
  0% { --#{$css-ui-var-prefix}percentage: 0; }
  100% { --#{$css-ui-var-prefix}percentage: var(--#{$css-ui-var-prefix}value); }
}

%#{$css-ui-class-prefix}#{$css-ui-component-name},
.#{$css-ui-class-prefix}#{$css-ui-component-name} {
  --#{$css-ui-var-prefix}value: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-value, #{$value});
  --#{$css-ui-var-prefix}percentage: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-percentage, #{$percentage});
  --#{$css-ui-var-prefix}duration: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-duration, #{$duration});
  --#{$css-ui-var-prefix}color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color, #{$color--light});
  --#{$css-ui-var-prefix}active-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-color, #{$active-color--light});
  --#{$css-ui-var-prefix}on-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-color, #{$on-color});
  --#{$css-ui-var-prefix}background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-background, #{$background--light});

  width: 100%;
  animation: #{$css-ui-class-prefix}#{$css-ui-component-name}-animation var(--#{$css-ui-var-prefix}duration) 0.2s forwards;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  background-color: var(--#{$css-ui-var-prefix}background);
  color: var(--#{$css-ui-var-prefix}on-color);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--#{$css-ui-var-prefix}color) calc(var(--#{$css-ui-var-prefix}percentage) * 1%), var(--#{$css-ui-var-prefix}on-color) 0);
    // stylelint-disable-next-line
    mask-mode: alpha;
    // stylelint-disable-next-line
    mask: radial-gradient(#0000 55%, #000 0);
    -webkit-mask-mode: alpha;
  }

  &::after {
    counter-reset: percentage var(--#{$css-ui-var-prefix}value);
    content: counter(percentage) '%';
    font-family: Helvetica, Arial, sans-serif;
    font-size: 5em;
  }

  &.numberless-mode {
    &::after {
      content: none;
    }
  }

  &.simplified-mode {
    &::before{
      mask: none;
    }
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background-color: var(--#{$css-ui-var-prefix}active-background);
    color: var(--#{$css-ui-var-prefix}active-on-color);

    &::before {
      background: conic-gradient(var(--#{$css-ui-var-prefix}active-color) calc(var(--#{$css-ui-var-prefix}percentage) * 1%), var(--#{$css-ui-var-prefix}active-on-color) 0);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$css-ui-class-prefix}#{$css-ui-component-name},
  .#{$css-ui-class-prefix}#{$css-ui-component-name} {
    --#{$css-ui-var-prefix}color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-color, #{$color--dark});
    --#{$css-ui-var-prefix}active-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-active-color, #{$active-color--dark});
    --#{$css-ui-var-prefix}on-color: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-on-color, #{$on-color--dark});
    --#{$css-ui-var-prefix}background: var(--#{$css-ui-var-prefix}#{$css-ui-component-name}-background, #{$background--dark});
  }
}

/**
 * By class
 */
.#{$css-ui-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}