@use '../../../_generics/variables' as globals;
@forward '../../../_generics/variables';

$css-ui-component-name: 'animation-rotating-squares' !default;
$size: 200px !default;
$border-gap: 0 !default;
$border-width: 0.5em !default;
$border-radius: 2px !default;
$duration: 2s !default;
$css-ui-component-prefix: globals.$css-ui-var-prefix + $css-ui-component-name + '-';
