@use '../../../_generics/variables' as globals;
@forward '../../../_generics/variables';

$css-ui-component-name: 'rotating-squares' !default;

$size: 200px !default;
$border-size: 5px !default;
$duration: 2s !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';
