@use "../../../index" as guebbit;
@use "components/molecules/lists/SimpleList";

$scss-library-prefix: "" !default;
$scss-library-component-name: "opening-hours-list" !default;
$scss-library-var-prefix: "" !default;

// regular
$neutral-color: guebbit.$black !default;
$neutral-on-color: guebbit.color-contrast($neutral-color) !default;
$today-color: guebbit.$green-500 !default;
$today-on-color: guebbit.color-contrast($today-color) !default;
$closed-color: guebbit.$red-500 !default;
$closed-on-color: guebbit.color-contrast($closed-color) !default;

$neutral-even-color: rgba($neutral-color, 0.1) !default;
$neutral-even-on-color: guebbit.color-contrast($neutral-even-color) !default;
$today-even-color: rgba($today-color, 0.1) !default;
$today-even-on-color: guebbit.color-contrast($today-even-color) !default;
$closed-even-color: rgba($closed-color, 0.1) !default;
$closed-even-on-color: guebbit.color-contrast($closed-even-color) !default;

$neutral-odd-color: rgba($neutral-color, 0.2) !default;
$neutral-odd-on-color: guebbit.color-contrast($neutral-odd-color) !default;
$today-odd-color: rgba($today-color, 0.2) !default;
$today-odd-on-color: guebbit.color-contrast($today-odd-color) !default;
$closed-odd-color: rgba($closed-color, 0.2) !default;
$closed-odd-on-color: guebbit.color-contrast($closed-odd-color) !default;

// active
$active-neutral-color: $neutral-color;
$active-neutral-on-color: $neutral-on-color !default;
$active-today-color: $today-color;
$active-today-on-color: $today-on-color !default;
$active-closed-color: $closed-color;
$active-closed-on-color: $closed-on-color !default;

$active-neutral-even-color: rgba($active-neutral-color, 0.4) !default;
$active-neutral-even-on-color: guebbit.color-contrast($active-neutral-even-color) !default;
$active-today-even-color: rgba($active-today-color, 0.4) !default;
$active-today-even-on-color: guebbit.color-contrast($active-today-even-color) !default;
$active-closed-even-color: rgba($active-closed-color, 0.4) !default;
$active-closed-even-on-color: guebbit.color-contrast($active-closed-even-color) !default;

$active-neutral-odd-color: rgba($active-neutral-color, 0.6) !default;
$active-neutral-odd-on-color: guebbit.color-contrast($active-neutral-odd-color) !default;
$active-today-odd-color: rgba($active-today-color, 0.6) !default;
$active-today-odd-on-color: guebbit.color-contrast($active-today-odd-color) !default;
$active-closed-odd-color: rgba($active-closed-color, 0.6) !default;
$active-closed-odd-on-color: guebbit.color-contrast($active-closed-odd-color) !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}neutral-even-color: #{$neutral-even-color};
  --#{$scss-library-var-prefix}neutral-even-on-color: #{$neutral-even-on-color};
  --#{$scss-library-var-prefix}today-even-color: #{$today-even-color};
  --#{$scss-library-var-prefix}today-even-on-color: #{$today-even-on-color};
  --#{$scss-library-var-prefix}closed-even-color: #{$closed-even-color};
  --#{$scss-library-var-prefix}closed-even-on-color: #{$closed-even-on-color};
  --#{$scss-library-var-prefix}neutral-odd-color: #{$neutral-odd-color};
  --#{$scss-library-var-prefix}neutral-odd-on-color: #{$neutral-odd-on-color};
  --#{$scss-library-var-prefix}today-odd-color: #{$today-odd-color};
  --#{$scss-library-var-prefix}today-odd-on-color: #{$today-odd-on-color};
  --#{$scss-library-var-prefix}closed-odd-color: #{$closed-odd-color};
  --#{$scss-library-var-prefix}closed-odd-on-color: #{$closed-odd-on-color};
  --#{$scss-library-var-prefix}active-neutral-even-color: #{$active-neutral-even-color};
  --#{$scss-library-var-prefix}active-neutral-even-on-color: #{$active-neutral-even-on-color};
  --#{$scss-library-var-prefix}active-today-even-color: #{$active-today-even-color};
  --#{$scss-library-var-prefix}active-today-even-on-color: #{$active-today-even-on-color};
  --#{$scss-library-var-prefix}active-closed-even-color: #{$active-closed-even-color};
  --#{$scss-library-var-prefix}active-closed-even-on-color: #{$active-closed-even-on-color};
  --#{$scss-library-var-prefix}active-neutral-odd-color: #{$active-neutral-odd-color};
  --#{$scss-library-var-prefix}active-neutral-odd-on-color: #{$active-neutral-odd-on-color};
  --#{$scss-library-var-prefix}active-today-odd-color: #{$active-today-odd-color};
  --#{$scss-library-var-prefix}active-today-odd-on-color: #{$active-today-odd-on-color};
  --#{$scss-library-var-prefix}active-closed-odd-color: #{$active-closed-odd-color};
  --#{$scss-library-var-prefix}active-closed-odd-on-color: #{$active-closed-odd-on-color};

  @extend %#{$scss-library-prefix}simple-list;

  li{
    position: relative;
    justify-content: space-between;
    padding: 0.4em 1em;
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    & > * {
      & > svg,
      & > .icon {
        color: currentcolor;
      }
    }

    & > svg,
    & > .icon {
      color: currentcolor;
    }

    &:nth-child(even){
      color: var(--#{$scss-library-var-prefix}neutral-even-on-color);
      &::after {
        background: var(--#{$scss-library-var-prefix}neutral-even-color);
      }

      &.today {
        color: var(--#{$scss-library-var-prefix}today-even-on-color);
        &::after {
          background: var(--#{$scss-library-var-prefix}today-even-color);
        }
      }

      &.closed {
        color: var(--#{$scss-library-var-prefix}closed-even-on-color);
        &::after {
          background: var(--#{$scss-library-var-prefix}closed-even-color);
        }
      }
    }

    &:nth-child(odd){
      color: var(--#{$scss-library-var-prefix}neutral-odd-on-color);
      &::after {
        background: var(--#{$scss-library-var-prefix}neutral-odd-color);
      }

      &.today {
        color: var(--#{$scss-library-var-prefix}today-odd-on-color);
        &::after {
          background: var(--#{$scss-library-var-prefix}today-odd-color);
        }
      }

      &.closed {
        color: var(--#{$scss-library-var-prefix}closed-odd-on-color);
        &::after {
          background: var(--#{$scss-library-var-prefix}closed-odd-color);
        }
      }
    }
  }

  &.background-infinite{
    li{
      &::after {
        left: -500%;
        width: 1000%;
      }
    }
  }

  &.animate-active li,
  &.animate-on-active li.active,
  &.animate-on-hover li:hover {
    &:nth-child(even){
      color: var(--#{$scss-library-var-prefix}active-neutral-even-on-color);
      &::after {
        background: var(--#{$scss-library-var-prefix}active-neutral-even-color);
      }

      &.today {
        color: var(--#{$scss-library-var-prefix}active-today-even-on-color);
        &::after {
          background: var(--#{$scss-library-var-prefix}active-today-even-color);
        }
      }

      &.closed {
        color: var(--#{$scss-library-var-prefix}active-closed-even-on-color);
        &::after {
          background: var(--#{$scss-library-var-prefix}active-closed-even-color);
        }
      }
    }

    &:nth-child(odd){
      color: var(--#{$scss-library-var-prefix}active-neutral-odd-on-color);
      &::after {
        background: var(--#{$scss-library-var-prefix}active-neutral-odd-color);
      }

      &.today {
        color: var(--#{$scss-library-var-prefix}active-today-odd-on-color);
        &::after {
          background: var(--#{$scss-library-var-prefix}active-today-odd-color);
        }
      }

      &.closed {
        color: var(--#{$scss-library-var-prefix}active-closed-odd-on-color);
        &::after {
          background: var(--#{$scss-library-var-prefix}active-closed-odd-color);
        }
      }
    }
  }
}