@use "sass:color";
@use "../../../index" as guebbit;

$scss-library-class-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "simple-list" !default;

// main
$color: null !default;
$color--light: guebbit.noNullVar(($color, transparent)) !default;
$color--dark: guebbit.noNullVar(($color, transparent)) !default;
$active-color: null !default;
$active-color--light: guebbit.noNullVar(($active-color, $color--light)) !default;
$active-color--dark: guebbit.noNullVar(($active-color, $color--dark)) !default;

// LIGHT theme
$background: $color--light !default;
$on-background: guebbit.color-contrast($background) !default;
$icon-color: inherit !default;
$shadow-color: guebbit.hex2rgb(#000) !default;

$active-background: $active-color !default;
$active-on-background: guebbit.color-contrast($active-background) !default;
$active-icon-color: inherit !default;
$active-shadow-color: $shadow-color !default;

// DARK theme
$background--dark: $color--dark !default;
$on-background--dark: guebbit.color-contrast($background--dark) !default;
$icon-color--dark: inherit !default;
$shadow-color--dark: guebbit.hex2rgb(#000) !default;

$active-background--dark: $active-color--dark !default;
$active-on-background--dark: guebbit.color-contrast($active-background--dark) !default;
$active-icon-color--dark: inherit !default;
$active-shadow-color--dark: $shadow-color--dark !default;

// generic
$margin: 0 !default;
$padding: 0.5em !default;
$duration: 0.3s !default;

%#{$scss-library-class-prefix}#{$scss-library-component-name},
.#{$scss-library-class-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-background, #{$background});
  --#{$scss-library-var-prefix}on-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-background, #{$on-background});
  --#{$scss-library-var-prefix}icon-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-icon-color, #{$icon-color});
  --#{$scss-library-var-prefix}shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-shadow-color, #{$shadow-color});
  --#{$scss-library-var-prefix}active-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-background, #{$active-background});
  --#{$scss-library-var-prefix}active-on-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-on-background, #{$active-on-background});
  --#{$scss-library-var-prefix}active-icon-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-icon-color, #{$active-icon-color});
  --#{$scss-library-var-prefix}active-shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-shadow-color, #{$active-shadow-color});
  --#{$scss-library-var-prefix}margin: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-margin, #{$margin});
  --#{$scss-library-var-prefix}padding: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-padding, #{$padding});
  --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});

  font-size: 1.2rem;

  & > li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: var(--#{$scss-library-var-prefix}background);
    color: var(--#{$scss-library-var-prefix}on-background);
    list-style: none;
    line-height: 2;
    margin: var(--#{$scss-library-var-prefix}margin);
    padding: var(--#{$scss-library-var-prefix}padding) calc(var(--#{$scss-library-var-prefix}padding) * 2);
    transition:
            color var(--#{$scss-library-var-prefix}duration) ease,
            background-color var(--#{$scss-library-var-prefix}duration) ease,
            padding var(--#{$scss-library-var-prefix}duration) ease;
    z-index: 1;

    //&:after{
    //  content: "";
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  width: 100%;
    //  height: 100%;
    //  background: var(--#{$scss-library-var-prefix}active-color);
    //  opacity: 0;
    //  z-index: -1;
    //  transition: opacity var(--#{$scss-library-var-prefix}duration) ease;
    //}

    // possible container (a, span, etc wrapper)
    & > * {
      text-decoration: none;
      color: inherit;
      display: inline-flex;
      align-items: center;
      gap: 1em;
    }

    .icon,
    img {
      speak: none;
      flex-shrink: 0;
    }

    svg,
    .icon{
      color: var(--#{$scss-library-var-prefix}icon-color);
    }

    svg {
      height: 1em;
      width: 1em;
    }

    .icon{
      font-size: 1.5em;
      fill: currentcolor;
      transition: all var(--#{$scss-library-var-prefix}duration) ease;
    }

    img{
      width: 2em;
    }

    // sublist
    ul {
      margin-top: -0.5em;
      margin-left: 1em;
      padding-left: 1em;
    }
  }

  &.horizontal-list {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &.with-shadow{
    & > li {
      box-shadow:
              0 2px 4px -1px rgb(var(--#{$scss-library-var-prefix}shadow-color) .2),
              0 4px 5px 0 rgb(var(--#{$scss-library-var-prefix}shadow-color) .14),
              0 1px 10px 0 rgb(var(--#{$scss-library-var-prefix}shadow-color) .12);
    }

    li.animate-active,
    &.animate-on-active li.active,
    &.animate-on-hover li:hover {
      box-shadow:
              0 2px 4px -1px rgb(var(--#{$scss-library-var-prefix}active-shadow-color) .2),
              0 4px 5px 0 rgb(var(--#{$scss-library-var-prefix}active-shadow-color) .14),
              0 1px 10px 0 rgb(var(--#{$scss-library-var-prefix}active-shadow-color) .12);
    }
  }

  &.spring-list {
    & > li {
      display: inline-flex;
      min-width: 55%;
      padding-left: 5vmin;
      padding-right: 5vmin;
    }

    li.animate-active,
    &.animate-on-active li.active,
    &.animate-on-hover li:hover {
      padding-left: 10vmin;
      padding-right: 10vmin;
    }
  }

  li.animate-active,
  &.animate-on-active li.active,
  &.animate-on-hover li:hover {
    background-color: var(--#{$scss-library-var-prefix}active-background);
    color: var(--#{$scss-library-var-prefix}active-on-background);

    //&::after{
    //  opacity: 1;
    //}

    // to dodge sublists
    & > * {
      & > svg,
      & > .icon {
        color: var(--#{$scss-library-var-prefix}active-icon-color);
      }
    }

    & > svg,
    & > .icon {
      color: var(--#{$scss-library-var-prefix}active-icon-color);
    }

    &.spring-list {
      & > li {
        padding-left: 10vmin;
        padding-right: 10vmin;
      }
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder(){
  %#{$scss-library-class-prefix}#{$scss-library-component-name},
  .#{$scss-library-class-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-background, #{$background--dark});
    --#{$scss-library-var-prefix}on-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-background, #{$on-background--dark});
    --#{$scss-library-var-prefix}icon-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-icon-color, #{$icon-color--dark});
    --#{$scss-library-var-prefix}shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-shadow-color, #{$shadow-color--dark});
    --#{$scss-library-var-prefix}active-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-background, #{$active-background--dark});
    --#{$scss-library-var-prefix}active-on-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-on-background, #{$active-on-background--dark});
    --#{$scss-library-var-prefix}active-icon-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-icon-color, #{$active-icon-color});
    --#{$scss-library-var-prefix}active-shadow-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-shadow-color, #{$active-shadow-color});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}