@use '../../../_generics/variables' as globals;

$css-ui-component-name: 'timeline-tree' !default;

$pillar-icon-size: 40px !default;
$pillar-line-size: 4px !default;
// $pillar-icon-size * 0.5 - $pillar-line-size * 0.5 = 40px * 0.5 - 4px * 0.5 = 18px
$pillar-distance: 18px !default;
$slot-distance: 24px !default;
$duration: 0.3s !default;
$balloon-opacity: 0.1 !default;
$threshold-mobile: 600px !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';
