@use '../../../_generics' as generics;
@use 'variables' as vars;

$component-variables-map: (
    duration: vars.$duration,
    easing: vars.$easing,
    blur-start: vars.$blur-start,
    blur-end: vars.$blur-end,
    opacity-start: vars.$opacity-start,
    opacity-end: vars.$opacity-end,
    scale-start: vars.$scale-start,
    scale-end: vars.$scale-end,
    slide-x-start: vars.$slide-x-start,
    slide-x-end: vars.$slide-x-end,
    slide-y-start: vars.$slide-y-start,
    slide-y-end: vars.$slide-y-end,
    reveal-filter-factor: vars.$reveal-filter-factor,
    reveal-transform-factor: vars.$reveal-transform-factor,
    hide-filter-factor: vars.$hide-filter-factor,
    hide-transform-factor: vars.$hide-transform-factor
);

@mixin advancing-moon-architecture($prefix, $color-map: $component-variables-map) {
    @include generics.generate-vars($color-map, $prefix);

    @include generics.base-layout($prefix);
    opacity: var(--#{$prefix}opacity-start);
    filter: blur(var(--#{$prefix}blur-start));
    transform: translate(var(--#{$prefix}slide-x-start), var(--#{$prefix}slide-y-start)) scale(var(--#{$prefix}scale-start));
    transition:
        filter calc(var(--#{$prefix}duration) * var(--#{$prefix}hide-filter-factor)) var(--#{$prefix}easing),
        opacity var(--#{$prefix}duration) var(--#{$prefix}easing),
        transform calc(var(--#{$prefix}duration) * var(--#{$prefix}hide-transform-factor)) var(--#{$prefix}easing);

    &.animation-inverted {
        opacity: var(--#{$prefix}opacity-end);
        filter: blur(var(--#{$prefix}blur-end));
        transform: translate(var(--#{$prefix}slide-x-end), var(--#{$prefix}slide-y-end)) scale(var(--#{$prefix}scale-end));
    }

    @include generics.interaction-states {
        opacity: var(--#{$prefix}opacity-end);
        filter: blur(var(--#{$prefix}blur-end));
        transform: translate(var(--#{$prefix}slide-x-end), var(--#{$prefix}slide-y-end)) scale(var(--#{$prefix}scale-end));
        transition:
            filter calc(var(--#{$prefix}duration) * var(--#{$prefix}reveal-filter-factor)) var(--#{$prefix}easing),
            opacity var(--#{$prefix}duration) var(--#{$prefix}easing),
            transform calc(var(--#{$prefix}duration) * var(--#{$prefix}reveal-transform-factor)) var(--#{$prefix}easing);

        &.animation-inverted {
            opacity: var(--#{$prefix}opacity-start);
            filter: blur(var(--#{$prefix}blur-start));
            transform: translate(var(--#{$prefix}slide-x-start), var(--#{$prefix}slide-y-start)) scale(var(--#{$prefix}scale-start));
        }
    }
}
