@use '../../../_generics' as generics;
@use 'variables' as vars;
@forward 'variables';

// -----------------------------------------------------------------------------
// Component token map
// -----------------------------------------------------------------------------
$component-map: (
    duration: vars.$duration,
    easing: vars.$easing,
    blur-start: vars.$blur-start,
    blur-end: vars.$blur-end,
    opacity-start: vars.$opacity-start,
    opacity-end: vars.$opacity-end,
    scale-start: vars.$scale-start,
    scale-end: vars.$scale-end,
    slide-x-start: vars.$slide-x-start,
    slide-x-end: vars.$slide-x-end,
    slide-y-start: vars.$slide-y-start,
    slide-y-end: vars.$slide-y-end,
    reveal-filter-factor: vars.$reveal-filter-factor,
    reveal-transform-factor: vars.$reveal-transform-factor,
    hide-filter-factor: vars.$hide-filter-factor,
    hide-transform-factor: vars.$hide-transform-factor
);

%#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name},
.#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
    @include generics.generate-vars($component-map, vars.$css-ui-component-prefix);

    @include generics.base-layout(vars.$css-ui-component-prefix);
    opacity: var(--#{vars.$css-ui-component-prefix}opacity-start);
    filter: blur(var(--#{vars.$css-ui-component-prefix}blur-start));
    transform: translate(var(--#{vars.$css-ui-component-prefix}slide-x-start), var(--#{vars.$css-ui-component-prefix}slide-y-start)) scale(var(--#{vars.$css-ui-component-prefix}scale-start));
    transition:
        filter calc(var(--#{vars.$css-ui-component-prefix}duration) * var(--#{vars.$css-ui-component-prefix}hide-filter-factor)) var(--#{vars.$css-ui-component-prefix}easing),
        opacity var(--#{vars.$css-ui-component-prefix}duration) var(--#{vars.$css-ui-component-prefix}easing),
        transform calc(var(--#{vars.$css-ui-component-prefix}duration) * var(--#{vars.$css-ui-component-prefix}hide-transform-factor)) var(--#{vars.$css-ui-component-prefix}easing);

    &.animation-inverted {
        opacity: var(--#{vars.$css-ui-component-prefix}opacity-end);
        filter: blur(var(--#{vars.$css-ui-component-prefix}blur-end));
        transform: translate(var(--#{vars.$css-ui-component-prefix}slide-x-end), var(--#{vars.$css-ui-component-prefix}slide-y-end)) scale(var(--#{vars.$css-ui-component-prefix}scale-end));
    }

    @include generics.interaction-states {
        opacity: var(--#{vars.$css-ui-component-prefix}opacity-end);
        filter: blur(var(--#{vars.$css-ui-component-prefix}blur-end));
        transform: translate(var(--#{vars.$css-ui-component-prefix}slide-x-end), var(--#{vars.$css-ui-component-prefix}slide-y-end)) scale(var(--#{vars.$css-ui-component-prefix}scale-end));
        transition:
            filter calc(var(--#{vars.$css-ui-component-prefix}duration) * var(--#{vars.$css-ui-component-prefix}reveal-filter-factor)) var(--#{vars.$css-ui-component-prefix}easing),
            opacity var(--#{vars.$css-ui-component-prefix}duration) var(--#{vars.$css-ui-component-prefix}easing),
            transform calc(var(--#{vars.$css-ui-component-prefix}duration) * var(--#{vars.$css-ui-component-prefix}reveal-transform-factor)) var(--#{vars.$css-ui-component-prefix}easing);

        &.animation-inverted {
            opacity: var(--#{vars.$css-ui-component-prefix}opacity-start);
            filter: blur(var(--#{vars.$css-ui-component-prefix}blur-start));
            transform: translate(var(--#{vars.$css-ui-component-prefix}slide-x-start), var(--#{vars.$css-ui-component-prefix}slide-y-start)) scale(var(--#{vars.$css-ui-component-prefix}scale-start));
        }
    }
}
