@use '../../../_generics/variables' as globals;

// Forward global variables for backward compatibility with files using @import
@forward '../../../_generics/variables';

$css-ui-component-name: 'cyberpunk-button' !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';

// -----------------------------------------------------------------------------
// Generic / layout
// -----------------------------------------------------------------------------
$duration: 1s !default;
