@use '@guebbit/css-toolkit' as guebbit;
@use '../src/styles/tools/theme-builder' as theme-builder;

/**
 * Main settings
 */
$css-ui-dark-theme-class: 'theme--dark' !default;
$css-ui-var-prefix: '' !default;
$css-ui-root-prefix: 'g-theme-' !default;
$css-ui-base-prefix: '' !default;
$css-ui-semantic-prefix: '' !default;
$css-ui-component-prefix: '' !default;
$css-ui-state-prefix: '' !default;

/**
 * SCSS Semantic variables (theme colors)
 */
$primary-color: #ff9800 !default;
$secondary-color: #00bcd4 !default;
$primary-color--dark: #00bcd4 !default;
$secondary-color--dark: #ff9800 !default;

$theme-colors: (
    'primary': guebbit.create-collection($primary-color),
    'secondary': guebbit.create-collection($secondary-color)
);

$theme-colors-dark: (
    'primary': guebbit.create-collection($primary-color--dark),
    'secondary': guebbit.create-collection($secondary-color--dark)
);

/**
 * CSS Semantic variables
 */
:root {
  /**
 * Add all the base colors to the root
 */
  @include guebbit.create-colors-vars(guebbit.$colors-collection, $css-ui-var-prefix + $css-ui-root-prefix);

  /**
 * Add the semantic colors to the root
 */
  @include guebbit.create-colors-vars($theme-colors, $css-ui-var-prefix + $css-ui-semantic-prefix);

  /**
 * Generic semantic colors
 */
  --#{$css-ui-var-prefix}#{$css-ui-semantic-prefix}shade-black: var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}neutral-0);
  --#{$css-ui-var-prefix}#{$css-ui-semantic-prefix}shade-white: var(--#{$css-ui-var-prefix}#{$css-ui-root-prefix}neutral-1000);
  --#{$css-ui-var-prefix}#{$css-ui-semantic-prefix}shadow-color: var(--#{$css-ui-var-prefix}#{$css-ui-semantic-prefix}shade-black);
  --#{$css-ui-var-prefix}#{$css-ui-semantic-prefix}shadow-opacity: 0.2;
  --#{$css-ui-var-prefix}#{$css-ui-semantic-prefix}global-background: var(--#{$css-ui-var-prefix}#{$css-ui-semantic-prefix}shade-white);
  --#{$css-ui-var-prefix}#{$css-ui-semantic-prefix}global-on-background: var(--#{$css-ui-var-prefix}#{$css-ui-semantic-prefix}shade-black);

  /**
 * Dark theme color variables
 */
  @include theme-builder.apply-dark-theme {
    @include guebbit.create-colors-vars($theme-colors-dark, $css-ui-var-prefix + $css-ui-semantic-prefix);
  }
}
