@use "sass:math";
@import "index";

$white-color: #fff;
$black-color: #000;
$background-color: #aaa;

$scss-library-prefix: "" !default;
.#{$scss-library-prefix}xxxxxxxxxxxxxxx {
  // ---
}

body{
  background: $background-color;
}

// TODO mettere ::: raw <code> ::: ovunque
// TODO mettere variabili css ai vari item
// TODO mettere $scss-library-prefix: "" !default; ovunque (in vue-library metterò guebbit-vue-?)
// TODO mettere abstract\silent class per ogni metodo? %....


// https://css-tricks.com/snippets/css/a-guide-to-flexbox/
// https://css-tricks.com/understanding-flex-grow-flex-shrink-and-flex-basis/
// https://guebbit.com/admin/login.php?k=29b5d51b87944c4762e19990


@import "components/molecules/cards/SimpleCard";

$card-panel-container-width: 70% !default;
$card-panel-padding: 24px !default;
$card-panel-shadow-color: $background-color !default;
$card-panel-shadow-corner: 25px !default;
$card-panel-shadow: (inset 0 0 $card-panel-shadow-corner $card-panel-shadow-corner $card-panel-shadow-color, inset 0 0 $card-panel-shadow-corner $card-panel-shadow-corner $card-panel-shadow-color);




.card-panel{
  @extend %simple-card;

  // TODO
  text-shadow: #fff 1px 0 10px;

  .container-static,
  .container-absolute {
    width: var(--card-panel-container-width, $card-panel-container-width);
  }

  .container-static {
    position: relative;
    z-index: 1;
    padding: var(--card-panel-padding, $card-panel-padding);
  }

  .container-absolute{
    position: absolute;
    top: 0;
    height: 100%;

    & > * {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }

  & > * {
    &:first-child{
      &.container-absolute{
        left: 0;
      }
    }

    // correction if container order is switched
    &:last-child{
      &.container-static{
        margin-right: 0;
        margin-left: auto;
        text-align: right;

        .card-actions {
          flex-direction: row-reverse;
        }
      }

      &.container-absolute{
        right: 0;
      }
    }
  }

  &.card-shadow {
    &::after{
      z-index: 0;
    }
  }

  &.card-absolute-shadow{
    .container-absolute{
      box-shadow: var(--card-panel-shadow, $card-panel-shadow);
      height: calc(100% + $card-panel-shadow-corner);
      width: calc(var(--card-panel-container-width, $card-panel-container-width) + var(--card-panel-shadow-corner, $card-panel-shadow-corner));

      &:first-child{
        left: calc(var(--card-panel-shadow-corner, $card-panel-shadow-corner) * -1);
      }

      &:last-child{
        right: calc(var(--card-panel-shadow-corner, $card-panel-shadow-corner) * -1);
      }
    }
  }
}






$pricing-card-shadow-color: red !default;
$pricing-card-shadow-elevated:
        0 11px 15px -7px rgba($pricing-card-shadow-color, 0.2),
        0 24px 38px 3px rgba($pricing-card-shadow-color, 0.14),
        0 9px 46px 8px rgba($pricing-card-shadow-color, 0.12) !default;

.hyperplexed-card{
  // @extend %simple-card;

  --hyperplexed-card-primary: #ff6f00;
  --hyperplexed-card-secondary: #ffeb3b;
  --hyperplexed-card-background: #FFF;
  --hyperplexed-card-text: #3c3c3c;
  --hyperplexed-card-height: 400px;
  --hyperplexed-card-width: 500px;


  margin: 0 auto;
  height: var(--hyperplexed-card-height);
  pointer-events: initial;
  width: 100%;
  max-width: var(--hyperplexed-card-width);
  color: var(--hyperplexed-card-text);

  .card-image,
  .card-content {
    position: relative;
    height: 100%;
    display: inline-block;
    background-color: var(--hyperplexed-card-background);
    vertical-align: top;
    width: 50%;
  }

  .card-image{
    background-image: linear-gradient(45deg, var(--hyperplexed-card-secondary), var(--hyperplexed-card-primary));
    box-shadow: var(--pricing-card-shadow-elevated, $pricing-card-shadow-elevated);
    z-index: 1;

     & > *{
      position: absolute;
      top: 50%;
      left: -10%;
      transform: translateY(-50%);
      z-index: 2;
      min-width: 80%;
      box-shadow: var(--pricing-card-shadow-elevated, $pricing-card-shadow-elevated);
      border-radius: 50%;
    }
  }

  .card-content{
    z-index: 2;
    overflow: hidden;
    height: calc(100% + 48px);
    margin-top: -24px;
    box-shadow: var(--pricing-card-shadow-elevated, $pricing-card-shadow-elevated);
  }
}

$resume-card-color: $primary-color;

$resume-card-color: #000 !default;
$resume-card-padding: 24px !default;
$resume-card-border: 4px !default;

.resumeCard{
  @extend %simple-card;

  flex-direction: row;
  align-items: center;
  gap: calc(var(--resume-card-padding, $resume-card-padding) * 2);
  padding: calc(var(--resume-card-padding, $resume-card-padding) * 2) 0;
  box-shadow: none;


  .card-header {
    white-space: nowrap;
    justify-content: center;
    font-size: 1.2em;
  }
  
  .card-content{
    position: relative;

    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - var(--resume-card-padding, $resume-card-padding) * 2);
      height: calc(var(--resume-card-border, $resume-card-border) * 0.5);
      background-color: $resume-card-color;
    }
  }

  .card-title{
    display: flex;
    align-items: center;
    justify-content: center;

    small{
      border-left: var(--resume-card-border, $resume-card-border) solid $resume-card-color;
      margin-left: var(--resume-card-padding, $resume-card-padding);
      padding-left: var(--resume-card-padding, $resume-card-padding);
      font-size: 0.5em;
    }
  }

  &.list-mode {
    padding: calc(var(--resume-card-padding, $resume-card-padding) * 3) 0;

    .card-content {
      position: relative;

      &::after {
        content: none;
      }
    }

    & + .resumeCard{
      &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 4px;
        background-color: rgba($primary-color, 0.25);
      }
    }
  }
}


$chess-panel: 400px !default;

.chess-panel{
  display: flex;
  flex-wrap: wrap;
  & > * {
    width: 50%;
    height: $chess-panel;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
  }
  & > img {
    object-fit: cover;
  }

  &.four-per-row{
    & > * {
      width: 25%;
    }
  }
}