@use "sass:math";
@import "index";

$white-color: #fff;
$black-color: #000;

$scss-library-prefix: "" !default;
.#{$scss-library-prefix}xxxxxxxxxxxxxxx {
  // ---
}


// TODO mettere ::: raw <code> ::: ovunque
// TODO mettere variabili css ai vari item
// TODO mettere $scss-library-prefix: "" !default; ovunque (in vue-library metterò guebbit-vue-?)
// TODO mettere abstract\silent class per ogni metodo? %....

// TODO IMPORTANT: card-shadow, card-boxshadow, card-overlay, etc


// https://css-tricks.com/snippets/css/a-guide-to-flexbox/
// https://css-tricks.com/understanding-flex-grow-flex-shrink-and-flex-basis/
// https://guebbit.com/admin/login.php?k=29b5d51b87944c4762e19990

@import "components/molecules/cards/SimpleCard";

.hyperplexed-card{
  // @extend %simple-card;

  --hyperplexed-card-primary: #ff6f00;
  --hyperplexed-card-secondary: #ffeb3b;
  --hyperplexed-card-background: #FFFFFF;
  --hyperplexed-card-text: #3c3c3c;
  --hyperplexed-card-height: 400px;
  --hyperplexed-card-width: 500px;


  margin: 0 auto;
  height: var(--hyperplexed-card-height);
  pointer-events: initial;
  width: 100%;
  max-width: var(--hyperplexed-card-width);
  color: var(--hyperplexed-card-text);

  .card-left,
  .card-right {
    position: relative;
    height: 100%;
    display: inline-block;
    background-color: var(--hyperplexed-card-background);
    vertical-align: top;
    width: 50%;
  }

  .card-left{
    background-image: linear-gradient(45deg, var(--hyperplexed-card-secondary), var(--hyperplexed-card-primary));
    box-shadow: rgba(#000, 0.19) 0 10px 30px,
    rgba(#000, 0.23) 0 6px 10px;
    z-index: 1;

    .card-image{
      position: absolute;
      top: 50%;
      left: -10%;
      transform: translateY(-50%);
      z-index: 2;
      min-width: 80%;
      box-shadow: rgba(#000, 0.19) 0 10px 30px,
      rgba(#000, 0.23) 0 6px 10px;
      border-radius: 50%;
    }

    .card-side-text{
      position: absolute;
      bottom: 0.25em;
      right: -0.5em;
      transform: rotate(-90deg);
      color: rgba(#FFFFFF, 0.2);  // TODO
      font-size: 7em;
      font-weight: 700;
    }
  }

  .card-right{
    z-index: 2;
    overflow: hidden;
    height: calc(100% + 48px);
    margin-top: -24px;
    box-shadow: rgba(#000, 0.19) 0 10px 30px,
    rgba(#000, 0.23) 0 6px 10px;

    .card-colored-angle{
      position: absolute;
      bottom: 0;
      right: 0;
      height: 50px;
      width: 50px;

      &:before,
      &:after{
        background-color: var(--hyperplexed-card-primary);
        content: '';
        height: calc(var(--hyperplexed-card-height) / 2);
        position: absolute;
      }

      &:after{
        box-shadow: rgba(#000, 0.19) 0 10px 30px,
        rgba(#000, 0.23) 0 6px 10px;
        left: 0;
        top: -100%;
        transform: rotate(45deg);
        width: calc(var(--hyperplexed-card-width) / 10);
      }
    }
  }
}

$resume-card-color: $primary-color;

$resume-card-color: #000 !default;
$resume-card-padding: 24px !default;
$resume-card-border: 4px !default;

.resumeCard{
  @extend %simple-card;

  flex-direction: row;
  align-items: center;
  gap: calc(var(--resume-card-padding, $resume-card-padding) * 2);
  padding: calc(var(--resume-card-padding, $resume-card-padding) * 2) 0;
  box-shadow: none;


  .card-header {
    white-space: nowrap;
    justify-content: center;
    font-size: 1.2em;
  }
  
  .card-content{
    position: relative;

    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - var(--resume-card-padding, $resume-card-padding) * 2);
      height: calc(var(--resume-card-border, $resume-card-border) * 0.5);
      background-color: $resume-card-color;
    }

    .card-actions{
      margin-top: var(--resume-card-padding, $resume-card-padding);
    }
  }

  .card-title{
    display: flex;
    align-items: center;
    justify-content: center;

    small{
      border-left: var(--resume-card-border, $resume-card-border) solid $resume-card-color;
      margin-left: var(--resume-card-padding, $resume-card-padding);
      padding-left: var(--resume-card-padding, $resume-card-padding);
      font-size: 0.5em;
    }
  }

  &.list-mode {
    padding: calc(var(--resume-card-padding, $resume-card-padding) * 3) 0;

    .card-content {
      position: relative;

      &::after {
        content: none;
      }
    }

    & + .resumeCard{
      &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 4px;
        background-color: rgba($primary-color, 0.25);
      }
    }
  }
}