@use "sass:math";
@import "index";

$white-color: #fff;
$black-color: #000;

$scss-library-prefix: "" !default;
.#{$scss-library-prefix}xxxxxxxxxxxxxxx {
  //
}

// TODO mettere ::: raw <code> ::: ovunque
// TODO mettere $scss-library-prefix: "" !default; ovunque (in vue-library metterò guebbit-vue-?)

