@mixin var-builder($parameters, $css-ui-var-prefix, $css-ui-component-name, $css-ui-root-prefix) {
  @each $property, $value, $theme, $rgb in $parameters {
    $use-rgb: if($rgb != null, $rgb, true);
    $component-var-name: --#{$css-ui-var-prefix}#{$css-ui-component-name}-#{$property};
    $property-value: #{$value};

    @if $theme == '' and $use-rgb {
      $property-value: rgba(#{$value});
    }
    @else if $theme {
      $theme-var-name: --#{$css-ui-var-prefix}#{$css-ui-root-prefix}#{$theme};
      $property-value: var(#{$theme-var-name}, #{$value});

      @if $use-rgb {
        $property-value: rgba(var(#{$theme-var-name}, #{$value}));
      }
    }

    --#{$css-ui-var-prefix}#{$property}: var(#{$component-var-name}, #{$property-value});
  }
}
