:root {
  --g-theme-color: transparent;
  --g-theme-on-color: inherit;
  --g-theme-shadow-color: 0 0 0;
  --g-theme-active-color: transparent;
  --g-theme-active-on-color: inherit;
  --g-theme-active-shadow-color: 0 0 0;
  --g-theme-global-background: 255 255 255;
  --g-theme-global-on-background: 0 0 0;
  --g-theme-shadow-level-1: 0.25;
  --g-theme-shadow-level-2: 0.5;
  --g-theme-shadow-level-3: 0.75;
  --g-theme-shadow-box-1: 0.2;
  --g-theme-shadow-box-2: 0.14;
  --g-theme-shadow-box-3: 0.12;
}

.theme--dark {
  --g-theme-color: transparent;
  --g-theme-on-color: inherit;
  --g-theme-shadow-color: 0 0 0;
  --g-theme-active-color: transparent;
  --g-theme-active-on-color: inherit;
  --g-theme-active-shadow-color: 0 0 0;
  --g-theme-global-background: 0 0 0;
  --g-theme-global-on-background: 255 255 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --g-theme-color: transparent;
    --g-theme-on-color: inherit;
    --g-theme-shadow-color: 0 0 0;
    --g-theme-active-color: transparent;
    --g-theme-active-on-color: inherit;
    --g-theme-active-shadow-color: 0 0 0;
    --g-theme-global-background: 0 0 0;
    --g-theme-global-on-background: 255 255 255;
  }
}
