@use '../../../_generics' as generics;
@use 'variables' as vars;

$component-map: (
    duration: vars.$duration
);

@mixin credit-card-architecture($prefix: vars.$css-ui-component-prefix) {
    @include generics.generate-vars($component-map, $prefix);

    @include generics.base-layout($prefix);

    width: 100%;

    .#{generics.$css-ui-class-prefix}credit-card-true {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 63%;
        transform-style: preserve-3d;
        transition:
            transform var(--#{$prefix}duration),
            transform var(--#{$prefix}duration);
        cursor: pointer;
    }

    .#{generics.$css-ui-class-prefix}credit-card-front,
    .#{generics.$css-ui-class-prefix}credit-card-back {
        overflow: hidden;
        width: 100%;
        border-radius: 22px;
    }

    .#{generics.$css-ui-class-prefix}credit-card-front,
    .#{generics.$css-ui-class-prefix}back-card {
        fill: generics.base-parameter-rgba(main-color, $opacity-token: false);
    }

    .#{generics.$css-ui-class-prefix}bottom-card {
        fill: generics.base-parameter-rgba(main-color, $opacity-token: false, $opacity-fallback: 0.2);
    }

    .#{generics.$css-ui-class-prefix}front,
    .#{generics.$css-ui-class-prefix}back {
        position: absolute;
        width: 100%;
        backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;
    }

    .#{generics.$css-ui-class-prefix}back {
        transform: rotateY(180deg);
    }

    .#{generics.$css-ui-class-prefix}credit-card-logo {
        position: absolute;
        right: 15px;
        top: 20px;
        max-width: 40%;
        max-height: 25%;
    }

    .#{generics.$css-ui-class-prefix}svg-label-name {
        text-transform: uppercase;
    }

    .#{generics.$css-ui-class-prefix}credit-card-front {
        .#{generics.$css-ui-class-prefix}st2 {
            fill: generics.base-parameter-rgba(on-main-color, $color-fallback: var(--#{vars.$css-ui-var-prefix}main-color), $opacity-token: false);
        }

        .#{generics.$css-ui-class-prefix}st3 {
            font-family: 'Source Code Pro', monospace;
            font-weight: 600;
        }

        .#{generics.$css-ui-class-prefix}st4 {
            font-size: 54.7817px;
        }

        .#{generics.$css-ui-class-prefix}st5 {
            font-family: 'Source Code Pro', monospace;
            font-weight: 400;
        }

        .#{generics.$css-ui-class-prefix}st6 {
            font-size: 33.1112px;
        }

        .#{generics.$css-ui-class-prefix}st7 {
            opacity: 0.6;
            fill: generics.base-parameter-rgba(on-main-color, $color-fallback: var(--#{vars.$css-ui-var-prefix}main-color), $opacity-token: false);
        }

        .#{generics.$css-ui-class-prefix}st8 {
            font-size: 24px;
        }

        .#{generics.$css-ui-class-prefix}st9 {
            font-size: 36.5498px;
        }

        .#{generics.$css-ui-class-prefix}st10 {
            font-family: 'Source Code Pro', monospace;
            font-weight: 300;
        }

        .#{generics.$css-ui-class-prefix}st11 {
            font-size: 16.1716px;
        }

        .#{generics.$css-ui-class-prefix}st12 {
            fill: generics.base-parameter-rgba(on-main-color, $color-fallback: var(--#{vars.$css-ui-var-prefix}main-color), $opacity-token: false);
        }
    }

    .#{generics.$css-ui-class-prefix}credit-card-chip {
        .#{generics.$css-ui-class-prefix}st2 {
            fill: generics.base-parameter-rgba(main-color, $opacity-token: false);
        }
    }

    .#{generics.$css-ui-class-prefix}credit-card-back {
        fill: generics.base-parameter-rgba(on-main-color, $color-fallback: var(--#{vars.$css-ui-var-prefix}main-color), $opacity-token: false);

        .#{generics.$css-ui-class-prefix}st0 {
            fill: none;
            stroke: generics.base-parameter-rgba(on-main-color, $color-fallback: var(--#{vars.$css-ui-var-prefix}main-color), $opacity-token: false);
            stroke-miterlimit: 10;
        }

        .#{generics.$css-ui-class-prefix}st2 {
            fill: #111;
        }

        .#{generics.$css-ui-class-prefix}st3 {
            fill: #f2f2f2;
        }

        .#{generics.$css-ui-class-prefix}owner-name-back {
            fill: #212121;
        }

        .#{generics.$css-ui-class-prefix}st4 {
            fill: #d8d2db;
        }

        .#{generics.$css-ui-class-prefix}st5 {
            fill: #c4c4c4;
        }

        .#{generics.$css-ui-class-prefix}st6 {
            font-family: 'Source Code Pro', monospace;
            font-weight: 400;
        }

        .#{generics.$css-ui-class-prefix}st7 {
            font-size: 27px;
        }

        .#{generics.$css-ui-class-prefix}st8 {
            opacity: 0.6;
        }

        .#{generics.$css-ui-class-prefix}st9 {
            fill: generics.base-parameter-rgba(on-main-color, $color-fallback: var(--#{vars.$css-ui-var-prefix}main-color), $opacity-token: false);
        }

        .#{generics.$css-ui-class-prefix}st10 {
            font-size: 24px;
        }

        .#{generics.$css-ui-class-prefix}st11 {
            fill: #eaeaea;
        }

        .#{generics.$css-ui-class-prefix}st12 {
            font-family: 'Rock Salt', cursive;
        }

        .#{generics.$css-ui-class-prefix}st13 {
            font-size: 37.769px;
        }
    }

    &.#{generics.$css-ui-class-prefix}card-email-mode {
        .#{generics.$css-ui-class-prefix}svg-label-identification {
            font-size: 32px;
        }

        .#{generics.$css-ui-class-prefix}svg-label-expiration,
        .#{generics.$css-ui-class-prefix}svg-value-expiration,
        .#{generics.$css-ui-class-prefix}svg-label-security,
        .#{generics.$css-ui-class-prefix}svg-value-security {
            display: none;
        }
    }

    @include generics.interaction-states() {
        .#{generics.$css-ui-class-prefix}credit-card-true {
            transform: rotateY(180deg);
        }
    }

}
