@use '../../../_generics' as generics;
@use 'architecture' as arch;
@use 'variables' as vars;
@forward 'variables';

// -----------------------------------------------------------------------------
// Component token map
// -----------------------------------------------------------------------------
$component-map: (
    duration: vars.$duration,
    opacity: vars.$opacity,
    rotation: vars.$rotation,
    position-top: vars.$position-top,
    active-opacity: vars.$active-opacity,
    active-rotation: vars.$active-rotation,
    active-position-top: vars.$active-position-top
);

@layer components {
    %#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name},
    .#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
        @include arch.effect-mirror-reflection-architecture();
    }

    .#{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}-animate-active,
    .#{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}-animate-on-active.active,
    .#{generics.$css-ui-class-prefix}#{vars.$css-ui-component-name}-animate-on-hover:hover {
        .#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
            top: var(--#{vars.$css-ui-prefix}#{vars.$css-ui-component-name}-active-position-top);
            opacity: var(--#{vars.$css-ui-prefix}#{vars.$css-ui-component-name}-active-opacity);
            transform: var(--#{vars.$css-ui-prefix}#{vars.$css-ui-component-name}-active-rotation);
            background: linear-gradient(to top, transparent, rgba(var(--#{vars.$css-ui-prefix}active-main-color, var(--#{vars.$css-ui-prefix}main-color, 0 0 0)) / var(--#{vars.$css-ui-prefix}active-main-color-opacity, 1)) 15%, rgba(var(--#{vars.$css-ui-prefix}active-main-color, var(--#{vars.$css-ui-prefix}main-color, 0 0 0)) / var(--#{vars.$css-ui-prefix}active-main-color-opacity, 1)));
        }
    }
}
