@use "../../../index" as guebbit;

$scss-library-component-name: "action-panel" !default;

@forward "../../../components/molecules/panels/SimplePanel";
@use "../../../components/molecules/panels/SimplePanel" as inherited;

$padding: 24px !default;

%#{inherited.$scss-library-class-prefix}#{$scss-library-component-name},
.#{inherited.$scss-library-class-prefix}#{$scss-library-component-name} {
  @extend %#{inherited.$scss-library-class-prefix}simple-panel, .shadow-text-mode;
  --#{inherited.$scss-library-var-prefix}padding: var(--#{inherited.$scss-library-var-prefix}#{$scss-library-component-name}-padding, #{$padding});

  .panel-content{
    padding: var(--#{inherited.$scss-library-var-prefix}padding);
    & > *{
      &:not(:last-child) {
        margin-bottom: var(--#{inherited.$scss-library-var-prefix}padding);
      }
    }
  }

  .panel-title {
    position: relative;
    line-height: 1.4;
    font-size: 1.5em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
  }

  .panel-actions {
    display: flex;
    gap: calc(var(--#{inherited.$scss-library-var-prefix}padding) * 0.5);
    flex-wrap: wrap;
  }

  &.panel-left-actions,
  &.panel-right-actions{
    .panel-content{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--#{inherited.$scss-library-var-prefix}padding);
    }
  }

  &.panel-right-actions{
    .panel-content{
      flex-direction: row-reverse;
    }
  }
}