$action-panel-mobile-threshold: 600px !default;
$action-panel-shadow-color: #000 !default;
$action-panel-padding: 24px !default;


.hero-panel.action-panel {
  padding: $action-panel-padding $action-panel-padding * 2;

  .panel-content {
    & > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: $action-panel-padding * 2;

      @media (max-width: $action-panel-mobile-threshold) {
        justify-content: center;
      }
    }
  }

  .panel-title,
  .panel-text {
    position: relative;
  }

  .panel-title {
    line-height: 1.4;
    font-size: 2.5em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;

    @media (max-width: $action-panel-mobile-threshold) {
      font-size: 2em;
    }
  }

  .card-actions{
    display: flex;
    gap: $action-panel-padding * 0.5;
    flex-wrap: wrap;
  }

  &.shadow-active {
    .panel-title,
    .panel-text {
      text-shadow: 1px -1px 1em $action-panel-shadow-color;
    }
  }

  &.action-panel-align-actions-center {
    .card-actions{
      justify-content: center;
    }
  }

  &.action-panel-align-actions-right {
    .card-actions{
      justify-content: flex-end;
    }
  }

  &.action-panel-align-left{
    .panel-content{
      & > div {
        flex-direction: row;
        align-items: center;
      }
    }

    .card-actions{
      justify-content: flex-end;
    }
  }

  &.action-panel-align-right{
    .panel-content{
      & > div {
        flex-direction: row-reverse;
        align-items: center;
      }
    }
  }
}