// TODO REMOVE overflow: hidden FROM &.aspect-ratio-mode  (for future mid-section or overflowing content)
$scss-library-prefix: "" !default;
$hero-panel-shadow-opacity: 0.4 !default;
$hero-panel-shadow-color: #000 !default;

%#{$scss-library-prefix}hero-panel,
.#{$scss-library-prefix}hero-panel {
  position: relative;
  z-index: 1;
  display: flex;

  .panel-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;

    & > * {
      width: 100%;
      margin: 0 auto;
    }
  }

  .panel-background {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    &:not(.media-css-element) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }

    &.media-css-element {
      // background-image: url('XXX');
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: scroll;
      background-size: cover;
    }

    &.media-iframe-container{
      iframe {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
      }
    }
  }

  .panel-shadow {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &.full-page{
    height: 100vh;
  }

  &.shadow-active {
    .panel-shadow {
      display: block;
      opacity: var(--hero-panel-shadow-opacity, $hero-panel-shadow-opacity);
      background: var(--hero-panel-shadow-color, $hero-panel-shadow-color);
    }
  }

  // centered
  &.centered-mode{
    align-items: center;
    justify-content: center;

    .panel-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // bottom
  &.bottom-mode {
    align-items: flex-end;

    .panel-content {
      display: flex;
      align-items: flex-end;
    }
  }

  &.wallpaper-mode{
    .panel-content{
      position: absolute;
      top: 0;
    }

    .panel-background{
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }
}