@use "../../../index" as guebbit;

$scss-library-class-prefix: "" !default;
$scss-library-var-prefix: "" !default;
$scss-library-dark-theme-class: "theme--dark" !default;
$scss-library-component-name: "simple-typography" !default;

// main
$color: null !default;
$color--light: guebbit.no-null-var(($color, transparent)) !default;
$color--dark: guebbit.no-null-var(($color, transparent)) !default;
$active-color: null !default;
$active-color--light: guebbit.no-null-var(($active-color, $color--light)) !default;
$active-color--dark: guebbit.no-null-var(($active-color, $color--dark)) !default;

// LIGHT theme
$background: $color--light !default;
$on-background: guebbit.color-contrast($background) !default;
$category-color: inherit !default;
$title-color: inherit !default;

$active-background: $active-color--light !default;
$active-on-background: guebbit.color-contrast($active-background) !default;
$active-category-color: $category-color !default;
$active-title-color: $title-color !default;

// DARK theme
$background--dark: $color--dark !default;
$on-background--dark: guebbit.color-contrast($background--dark) !default;
$category-color--dark: inherit !default;
$title-color--dark: inherit !default;

$active-background--dark: $active-color--dark !default;
$active-on-background--dark: guebbit.color-contrast($active-background--dark) !default;
$active-category-color--dark: $category-color !default;
$active-title-color--dark: $title-color !default;

$duration: 0.3s !default;


%#{$scss-library-class-prefix}#{$scss-library-component-name},
.#{$scss-library-class-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-background, #{$background});
  --#{$scss-library-var-prefix}on-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-background, #{$on-background});
  --#{$scss-library-var-prefix}category-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-category-color, #{$category-color});
  --#{$scss-library-var-prefix}title-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-title-color, #{$title-color});
  --#{$scss-library-var-prefix}active-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-background, #{$active-background});
  --#{$scss-library-var-prefix}active-on-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-on-background, #{$active-on-background});
  --#{$scss-library-var-prefix}active-category-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-category-color, #{$active-category-color});
  --#{$scss-library-var-prefix}active-title-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-title-color, #{$active-title-color});
  --#{$scss-library-var-prefix}duration: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-duration, #{$duration});

  margin: 0 auto;
  background-color: var(--#{$scss-library-var-prefix}background);
  color: var(--#{$scss-library-var-prefix}on-background);
  line-height: 1.2;
  transition:
          background-color var(--#{$scss-library-var-prefix}duration),
          color var(--#{$scss-library-var-prefix}duration);

  .panel-category,
  .panel-title {
    transition:
            background-color var(--#{$scss-library-var-prefix}duration),
            color var(--#{$scss-library-var-prefix}duration);
  }

  .panel-category {
    position: relative;
    font-weight: 700;
    font-size: 1.5em;
    padding: 0 0 0 2.5em;
    margin-bottom: 0.2em;
    color: var(--#{$scss-library-var-prefix}category-color);
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 2em;
      height: 0.25em;
      border-radius: 12px;
      background-color: var(--#{$scss-library-var-prefix}category-color);
      z-index: -1;
      transition: background-color var(--#{$scss-library-var-prefix}duration);
    }
  }

  .panel-title {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 0.75em;
    line-height: 1.4;
    color: var(--#{$scss-library-var-prefix}title-color);
  }

  .panel-text {
    margin-bottom: 1.2em;
  }

  &.animate-active,
  &.animate-on-active.active,
  &.animate-on-hover:hover {
    background: var(--#{$scss-library-var-prefix}active-background);
    color: var(--#{$scss-library-var-prefix}active-on-background);

    .panel-category {
      color: var(--#{$scss-library-var-prefix}active-category-color);

      &::after {
        background: var(--#{$scss-library-var-prefix}active-category-color);
      }
    }

    .panel-title {
      color: var(--#{$scss-library-var-prefix}active-title-color);
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */
@mixin theme-dark-builder{
  %#{$scss-library-class-prefix}#{$scss-library-component-name},
  .#{$scss-library-class-prefix}#{$scss-library-component-name} {
    --#{$scss-library-var-prefix}background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-background, #{$background--dark});
    --#{$scss-library-var-prefix}on-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-on-background, #{$on-background--dark});
    --#{$scss-library-var-prefix}category-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-category-color, #{$category-color--dark});
    --#{$scss-library-var-prefix}title-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-title-color, #{$title-color--dark});
    --#{$scss-library-var-prefix}active-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-background, #{$active-background--dark});
    --#{$scss-library-var-prefix}active-on-background: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-on-background, #{$active-on-background--dark});
    --#{$scss-library-var-prefix}active-category-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-category-color, #{$active-category-color--dark});
    --#{$scss-library-var-prefix}active-title-color: var(--#{$scss-library-var-prefix}#{$scss-library-component-name}-active-title-color, #{$active-title-color});
  }
}

/**
 * By class
 */
.#{$scss-library-dark-theme-class}{
  @include theme-dark-builder;
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  @include theme-dark-builder;
}