@use "../../../index" as guebbit;

$scss-library-prefix: "" !default;
$scss-library-component-name: "typography-panel" !default;
$scss-library-var-prefix: "" !default;

$typography-color: transparent !default;
$typography-on-color: inherit !default;

$typography-category-color: $typography-color !default;
$typography-category-on-color: $typography-on-color !default;
$typography-title-color: $typography-color !default;
$typography-title-on-color: $typography-on-color !default;
$typography-text-color: $typography-color !default;
$typography-text-on-color: $typography-on-color !default;
$typography-size: 16px !default;

%#{$scss-library-prefix}#{$scss-library-component-name},
.#{$scss-library-prefix}#{$scss-library-component-name} {
  --#{$scss-library-var-prefix}category-color: #{$typography-category-color};
  --#{$scss-library-var-prefix}category-on-color: #{$typography-category-on-color};
  --#{$scss-library-var-prefix}title-color: #{$typography-title-color};
  --#{$scss-library-var-prefix}title-on-color: #{$typography-title-on-color};
  --#{$scss-library-var-prefix}text-color: #{$typography-text-color};
  --#{$scss-library-var-prefix}text-on-color: #{$typography-text-on-color};
  --#{$scss-library-var-prefix}size: #{$typography-size};

  margin: 0 auto;
  font-size: var(--#{$scss-library-var-prefix}size);
  line-height: 1.2;

  .panel-category {
    position: relative;
    font-weight: 700;
    font-size: 1.5em;
    padding: 0.5em 5em 0.5em 5em;
    margin-bottom: 0.2em;
    background: var(--#{$scss-library-var-prefix}category-color);
    color: var(--#{$scss-library-var-prefix}category-on-color);
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      left: 0.5em;
      top: 50%;
      transform: translateY(-50%);
      width: 4em;
      height: 0.25em;
      border-radius: 12px;
      background: var(--#{$scss-library-var-prefix}category-on-color);
      z-index: -1;
    }
  }

  .panel-title {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 0.75em;
    line-height: 1.4;
    background: var(--#{$scss-library-var-prefix}title-color);
    color: var(--#{$scss-library-var-prefix}title-on-color);
  }

  .panel-text {
    margin-bottom: 1.2em;
    background: var(--#{$scss-library-var-prefix}text-color);
    color: var(--#{$scss-library-var-prefix}text-on-color);
  }
}
