/* Main $variables */

/* LIGHT theme */

/* DARK theme */

/* generic */

.simple-list {
    --background: var(--simple-list-background, transparent);
  --on-background: var(--simple-list-on-background, rgba(var(----color, inherit)));
  --icon-color: var(--simple-list-icon-color, var(----shadow-color, inherit));
  --shadow-color: var(--simple-list-shadow-color, var(----active-shadow-color, 0 0 0));
  --active-background: var(--simple-list-active-background, transparent);
  --active-on-background: var(--simple-list-active-on-background, rgba(var(----active-color, inherit)));
  --active-icon-color: var(--simple-list-active-icon-color, var(----shadow-color, inherit));
  --active-shadow-color: var(--simple-list-active-shadow-color, var(----active-shadow-color, 0 0 0));
  --margin: var(--simple-list-margin, 0);
  --padding: var(--simple-list-padding, 0.5em);
  --duration: var(--simple-list-duration, 0.3s);

  font-size: 1.2rem;

  & > li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: var(--background);
    color: var(--on-background);
    list-style: none;
    line-height: 2;
    margin: var(--margin);
    padding: var(--padding) calc(var(--padding) * 2);
    transition:
            fill var(--duration) ease,
            color var(--duration) ease,
            background-color var(--duration) ease,
            padding var(--duration) ease;
    z-index: 1;

    /* &:after{ */
    /* content: ""; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* background: var(--active-color); */
    /* opacity: 0; */
    /* z-index: -1; */
    /* transition: opacity var(--duration) ease; */
    /* } */

    /* possible container (a, span, etc wrapper) */
    & > * {
      text-decoration: none;
      color: inherit;
      display: inline-flex;
      align-items: center;
      gap: 1em;
    }

    .icon,
    img {
      speak: none;
      flex-shrink: 0;
    }

    svg,
    .icon{
      color: var(--icon-color);
    }

    svg {
      height: 1em;
      width: 1em;
    }

    .icon{
      font-size: 1.5em;
      fill: currentcolor;
    }

    img{
      width: 2em;
    }

    /* sublist */
    ul {
      margin-top: -0.5em;
      margin-left: 1em;
      padding-left: 1em;
    }
  }

  &.horizontal-list {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &.with-shadow{
    & > li {
      box-shadow:
              0 2px 4px -1px rgb(var(--shadow-color) / var(----shadow-box-1, .2)),
              0 4px 5px 0 rgb(var(--shadow-color) / var(----shadow-box-2, .14)),
              0 1px 10px 0 rgb(var(--shadow-color) / var(----shadow-box-3, .12));
    }

    li.animate-active,
    &.animate-on-active li.active,
    &.animate-on-hover li:hover {
      box-shadow:
              0 2px 4px -1px rgb(var(--active-shadow-color) / var(----shadow-box-1, .2)),
              0 4px 5px 0 rgb(var(--active-shadow-color) / var(----shadow-box-2, .14)),
              0 1px 10px 0 rgb(var(--active-shadow-color) / var(----shadow-box-3, .12));
    }
  }

  &.spring-list {
    & > li {
      display: inline-flex;
      min-width: 55%;
      padding-left: 5vmin;
      padding-right: 5vmin;
    }

    li.animate-active,
    &.animate-on-active li.active,
    &.animate-on-hover li:hover {
      padding-left: 10vmin;
      padding-right: 10vmin;
    }
  }

  li.animate-active,
  &.animate-on-active li.active,
  &.animate-on-hover li:hover {
    background-color: var(--active-background);
    color: var(--active-on-background);

    /* &::after{ */
    /* opacity: 1; */
    /* } */

    /* to dodge sublists */
    & > * {
      & > svg,
      & > .icon {
        color: var(--active-icon-color);
      }
    }

    & > svg,
    & > .icon {
      color: var(--active-icon-color);
    }

    &.spring-list {
      & > li {
        padding-left: 10vmin;
        padding-right: 10vmin;
      }
    }
  }
}

/**
 * Dark Theme (changes from default variables)
 */

/**
 * By class
 */
.theme--dark{
  
  .simple-list {
      --background: var(--simple-list-background, transparent);
  --on-background: var(--simple-list-on-background, rgba(var(----color, inherit)));
  --icon-color: var(--simple-list-icon-color, var(----shadow-color, inherit));
  --shadow-color: var(--simple-list-shadow-color, var(----active-shadow-color, 0 0 0));
  --active-background: var(--simple-list-active-background, transparent);
  --active-on-background: var(--simple-list-active-on-background, rgba(var(----active-color, inherit)));
  --active-icon-color: var(--simple-list-active-icon-color, var(----shadow-color, inherit));
  --active-shadow-color: var(--simple-list-active-shadow-color, var(----active-shadow-color, 0 0 0));
  }

}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  
  .simple-list {
      --background: var(--simple-list-background, transparent);
  --on-background: var(--simple-list-on-background, rgba(var(----color, inherit)));
  --icon-color: var(--simple-list-icon-color, var(----shadow-color, inherit));
  --shadow-color: var(--simple-list-shadow-color, var(----active-shadow-color, 0 0 0));
  --active-background: var(--simple-list-active-background, transparent);
  --active-on-background: var(--simple-list-active-on-background, rgba(var(----active-color, inherit)));
  --active-icon-color: var(--simple-list-active-icon-color, var(----shadow-color, inherit));
  --active-shadow-color: var(--simple-list-active-shadow-color, var(----active-shadow-color, 0 0 0));
  }

}