@use '../../../_generics/variables' as globals;
@forward '../../../_generics/variables';

$css-ui-component-name: 'event-minimal-card' !default;

$border-size: 2px !default;
$padding: 6px !default;
$threshold-mobile: 600px !default;

$css-ui-component-prefix: globals.$css-ui-prefix + $css-ui-component-name + '-';
