@use '../../../_generics/variables' as globals;
@forward '../../../_generics/variables';

$css-ui-component-name: 'scroll-down-arrow' !default;

$size: 2em !default;
$animation-duration: 3s !default;
$active-animation-duration: $animation-duration * 0.5 !default;
