@use '../../../_generics' as generics;
@use '../../../molecules/cards/simple-card/architecture' as simple-card-arch;
@use '../../../molecules/cards/simple-card/variables' as simple-card-vars;
@use 'variables' as vars;

$component-map: ();

$simple-card-color-map: (
    border-width: simple-card-vars.$border-width,
    border-radius: simple-card-vars.$border-radius,
    rounded-border-radius: simple-card-vars.$rounded-border-radius,
    image-border-radius: simple-card-vars.$image-border-radius,
    image-aspect-ratio: simple-card-vars.$image-aspect-ratio,
    divider-height: simple-card-vars.$divider-height,
    alert-size: simple-card-vars.$alert-size,
    padding: simple-card-vars.$padding,
    overlay-opacity: simple-card-vars.$overlay-opacity,
    active-overlay-opacity: simple-card-vars.$active-overlay-opacity
);

@mixin pricing-card-architecture() {
    @include generics.generate-vars($simple-card-color-map, vars.$css-ui-component-prefix);
    @include simple-card-arch.simple-card-architecture(vars.$css-ui-component-prefix, $simple-card-color-map);
    @include generics.generate-vars($component-map, vars.$css-ui-component-prefix);
    @include generics.base-layout(vars.$css-ui-component-prefix);

    align-items: center;
    gap: var(--#{vars.$css-ui-component-prefix}padding, #{simple-card-vars.$padding});
    padding: calc(var(--#{vars.$css-ui-component-prefix}padding, #{simple-card-vars.$padding}) * 2.5) var(--#{vars.$css-ui-component-prefix}padding, #{simple-card-vars.$padding});
    font-size: 1.2em;

    .card-header,
    .card-footer,
    .card-content {
        padding: 0;
    }

    .card-header,
    .card-footer {
        position: absolute;
        left: 0;
        width: 100%;
        line-height: 2.5;
        justify-content: center;
    }

    .card-header {
        top: 0;
    }

    .card-footer {
        bottom: 0;
    }

    .card-title {
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 0.5em;
    }

    .card-price {
        text-align: center;
        color: rgba(var(--#{vars.$css-ui-prefix}main-color) / 1);
        font-weight: 900;
        font-size: 5em;
        line-height: 0.8;
        transition: color var(--#{vars.$css-ui-prefix}duration, 0.3s);

        .card-currency {
            margin-right: 8px;
            font-weight: 600;
            font-size: 30%;
            vertical-align: text-top;
        }
    }

    @include generics.interaction-states {
        .card-price {
            color: rgba(var(--#{vars.$css-ui-prefix}active-main-color) / 1);
        }
    }

}
