@use '../../../_generics' as generics;
@use 'variables' as vars;
@forward 'variables';

$component-map: ();

%#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name},
.#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
    @extend %#{generics.$css-ui-class-prefix}simple-card !optional;
    @include generics.generate-vars($component-map, vars.$css-ui-component-prefix);
    @include generics.base-layout(vars.$css-ui-component-prefix);

    align-items: center;
    gap: var(--simple-card-padding, 24px);
    padding: calc(var(--simple-card-padding, 24px) * 2.5) var(--simple-card-padding, 24px);
    font-size: 1.2em;

    .card-header,
    .card-footer,
    .card-content {
        padding: 0;
    }

    .card-header,
    .card-footer {
        position: absolute;
        left: 0;
        width: 100%;
        line-height: 2.5;
        justify-content: center;
    }

    .card-header {
        top: 0;
    }

    .card-footer {
        bottom: 0;
    }

    .card-title {
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 0.5em;
    }

    .card-price {
        text-align: center;
        color: rgba(var(--#{generics.$css-ui-prefix}main-color) / 1);
        font-weight: 900;
        font-size: 5em;
        line-height: 0.8;
        transition: color var(--simple-card-duration, 0.3s);

        .card-currency {
            margin-right: 8px;
            font-weight: 600;
            font-size: 30%;
            vertical-align: text-top;
        }
    }

    @include generics.interaction-states {
        .card-price {
            color: rgba(var(--#{generics.$css-ui-prefix}active-main-color) / 1);
        }
    }
}
