@use 'architecture' as arch;
@use 'variables' as vars;
@forward 'variables';

$component-map: (
    value: vars.$value,
    size: vars.$size,
    wrapper-size: vars.$wrapper-size,
    duration: vars.$duration
);

@layer composite-components {
    %#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name},
    .#{vars.$css-ui-class-prefix}#{vars.$css-ui-component-name} {
        @include arch.circular-progress-bar-svg-architecture();
    }
}
